Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

changes as per commets
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/TagsAddRemove.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Tag.constants.ts
Due: lint-staged

Update eks.md
  openmetadata-docs/content/deployment/kubernetes/eks.md
Due: none

Update gke.md
  openmetadata-docs/content/deployment/kubernetes/gke.md
Due: none

Update on-prem.md
  openmetadata-docs/content/deployment/kubernetes/on-prem.md
Due: none

fix: glossary feedback
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermReferencesModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

add default created ingestion pipelines
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/IngestionPipelineUtils.java
Due: google-style-java

Add Looker Sample Data (#11047)
  ingestion/examples/sample_data/looker/charts.json
  ingestion/examples/sample_data/looker/dashboardDataModels.json
  ingestion/examples/sample_data/looker/dashboards.json
  ingestion/examples/sample_data/looker/service.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Due: none

Add location migration queries (#11030)
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
Due: none

unit test fixes
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.tsx
Due: lint-staged

fix: cypress tests
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
Due: lint-staged

fix: limit suggestions to 3 items per type
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Due: lint-staged

did data quality UI improvements added test-case details page for better view of test-case results
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestCaseDetailsPage/TestCaseDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestCaseDetailsPage/TestCaseDetailsPage.style.less
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Due: lint-staged

address the feedback
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/table-queries.style.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Due: lint-staged

changes as per comment
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
Due: none

translation-sync
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

updated label from users to used by
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Due: lint-staged

Fixed unit test failures and fixed bugs
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.tsx
Due: lint-staged

fix cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
Due: lint-staged

fix breadcrumbs on the glossary
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

Fixed errors on column profiler page
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
Due: lint-staged

addressing comments
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/table-queries.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
Due: lint-staged

fix: glossary button styling
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
Due: lint-staged

fix: glossary button styling
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
Due: lint-staged

fix glossary breadcrumb issue
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

update databaseSchema page layout
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
Due: lint-staged

fix code smells
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/AssetsTabs.component.tsx
Due: lint-staged

fix code smells
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

fix unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
Due: lint-staged

fix: improve search experience (#10892)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/nothing_here.svg
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.utils.ts
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchProvider.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchProvider/GlobalSearchSuggestions/GlobalSearchSuggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Due: lint-staged

fix unit tests failing
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

fix: added on cancel for dialog
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
Due: lint-staged

Test: Add Tableau E2E test
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/tests/cli_e2e/README.md
  ingestion/tests/cli_e2e/base/__init__.py
  ingestion/tests/cli_e2e/base/test_cli.py
  ingestion/tests/cli_e2e/base/test_cli_dashboard.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/base/test_cli_dbt.py
  ingestion/tests/cli_e2e/common/__init__.py
  ingestion/tests/cli_e2e/common/test_cli_dashboard.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/dashboard/tableau/redshift.yaml
  ingestion/tests/cli_e2e/dashboard/tableau/tableau.yaml
  ingestion/tests/cli_e2e/test_cli_bigquery.py
  ingestion/tests/cli_e2e/test_cli_dbt_redshift.py
  ingestion/tests/cli_e2e/test_cli_mssql.py
  ingestion/tests/cli_e2e/test_cli_mysql.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
  ingestion/tests/cli_e2e/test_cli_tableau.py
  ingestion/tests/cli_e2e/test_cli_vertica.py
Due: none

fix(ui):Popover should be on the right side (#10990)
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
Due: lint-staged

ui: integrated add query flow (#10978)
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/tableProfiler.less
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCardExtraOption/QueryCardExtraOption.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCardExtraOption/QueryCardExtraOption.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCardExtraOption/QueryCardExtraOption.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryFilters/QueryFilters.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryFilters/QueryFilters.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueryRightPanel/TableQueryRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/table-queries.style.less
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/QueryPage/QueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/queryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/code-mirror.less
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Due: lint-staged

Update docs
  openmetadata-docs/content/connectors/dashboard/domo-dashboard/airflow.md
  openmetadata-docs/content/connectors/dashboard/domo-dashboard/cli.md
  openmetadata-docs/content/connectors/dashboard/looker/airflow.md
  openmetadata-docs/content/connectors/dashboard/looker/cli.md
  openmetadata-docs/content/connectors/dashboard/metabase/airflow.md
  openmetadata-docs/content/connectors/dashboard/metabase/cli.md
  openmetadata-docs/content/connectors/dashboard/mode/airflow.md
  openmetadata-docs/content/connectors/dashboard/mode/cli.md
  openmetadata-docs/content/connectors/dashboard/powerbi/airflow.md
  openmetadata-docs/content/connectors/dashboard/powerbi/cli.md
  openmetadata-docs/content/connectors/dashboard/quicksight/airflow.md
  openmetadata-docs/content/connectors/dashboard/quicksight/cli.md
  openmetadata-docs/content/connectors/dashboard/redash/airflow.md
  openmetadata-docs/content/connectors/dashboard/redash/cli.md
  openmetadata-docs/content/connectors/dashboard/superset/airflow.md
  openmetadata-docs/content/connectors/dashboard/superset/cli.md
  openmetadata-docs/content/connectors/dashboard/tableau/airflow.md
  openmetadata-docs/content/connectors/dashboard/tableau/cli.md
Due: none

provider added
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/metadata/MetadataServiceResource.java
  openmetadata-service/src/main/resources/json/data/metadataService/OpenmetadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
Due: google-style-java

provider added
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Due: google-style-java

feat#10187: added functionality for selection of custom date range for the timestamp (#11041)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DropDown.svg
  openmetadata-ui/src/main/resources/ui/src/components/DatePickerMenu/DatePickerMenu.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatePickerMenu/DatePickerMenu.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/TableProfilerChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatePickerMenuUtils.tsx
Due: lint-staged

UI improvements and minor fixes
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EmailConfigForm/EmailConfigForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/EditAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/ChangePasswordForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.less
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/auth.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/AddTestSuiteForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/reset-password/reset-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/basic-signup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddTeamForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AnnouncementsUtils.ts
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
