Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

improve UI messages (#14928)
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/FilterErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/FilterTablePlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/placeholder.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.tsx
Due: lint-staged

MINOR - Revert #14468 - DuckDB Connector (#14934)
  ingestion/src/metadata/ingestion/source/database/duckdb/__init__.py
  ingestion/src/metadata/ingestion/source/database/duckdb/connection.py
  ingestion/src/metadata/ingestion/source/database/duckdb/metadata.py
  ingestion/src/metadata/ingestion/source/database/duckdb/queries.py
  ingestion/src/metadata/ingestion/source/database/duckdb/utils.py
  openmetadata-service/src/main/resources/json/data/testConnections/database/duckdb.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/duckdbConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-duckdb.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.ts
Due: lint-staged

Minor: worked on incident manager feedback, cypress failure and miner bugs
  openmetadata-ui/src/main/resources/ui/cypress/common/DataInsightUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/IncidentManager.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProviderContext.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/EmptyGraphPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Due: lint-staged

add missing inputs for test suite action
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
Due: lint-staged

improve cypress test coverage for alert CRUD flow
  openmetadata-ui/src/main/resources/ui/cypress/common/AlertUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/Alert.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/EntityConstant.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/NotificationAlerts.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/ObservabilityAlerts.spec.js
Due: lint-staged

MINOR - Run Collate CI only on main
  .github/workflows/maven-build-collate.yml
Due: none

Add tooltip for filter and action options for better readability of long filter names
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
Due: lint-staged

MINOR - Run Collate CI only on main (#14937)
  .github/workflows/maven-build-collate.yml
Due: none

Remove TODO
  ingestion/src/metadata/ingestion/ometa/mixins/suggestions_mixin.py
Due: none

Knowledge Center SearchFIx (#14935)
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Due: google-style-java

fix #14705: add fall back method to compute metric without sum if overflow (#14896)
  ingestion/src/metadata/profiler/interface/profiler_interface_factory.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/db2/__init__.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/db2/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
Due: none

fixed failing unit test
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.test.tsx
Due: lint-staged

fix description modal not closing after api call hit (#14933)
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/Assignees.tsx
Due: lint-staged

Fix Failing Test
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
Due: google-style-java

fix filtering
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
Due: google-style-java

[Fixes] Patch Minor Fixes (#14919)
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
Due: google-style-java

fix debounce not working for AsyncSelect
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelect/AsyncSelect.tsx
Due: lint-staged

Fix feedResourceTest
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
Due: google-style-java

remove wildcards from search
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
Due: lint-staged

minor change
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
Due: lint-staged

remove wildcard from global search
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Due: lint-staged

fix unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.test.tsx
Due: lint-staged

Fix aggregations and pagination
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
Due: google-style-java

Data Insight Report Link Fix
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/resources/emailTemplates/dataInsightReport.ftl
Due: google-style-java

Data Insight Report Link Fix (#14939)
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/resources/emailTemplates/dataInsightReport.ftl
Due: google-style-java

add cypress to validate schedule
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/Owner.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/ServiceIngestion.spec.ts
Due: lint-staged

Added e2e db in yaml
  ingestion/tests/cli_e2e/database/athena/athena.yaml
Due: none

Make the Data Insights Pipeline as User
  bootstrap/sql/migrations/native/1.3.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/schemaChanges.sql
Due: none

[Fix] Migrate Ingestion pipeline for Data Insights to be of user provider type (#14942)
  bootstrap/sql/migrations/native/1.3.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/schemaChanges.sql
Due: none

fix failing cyp tests
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
Due: lint-staged

Minor: worked on incident manager feedback, cypress failure and miner bugs (#14936)
  openmetadata-ui/src/main/resources/ui/cypress/common/DataInsightUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/IncidentManager.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProviderContext.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/EmptyGraphPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/TestCaseStatus/TestCaseIncidentManagerStatus.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Due: lint-staged

Modify precision for histogram
  ingestion/tests/cli_e2e/test_cli_mssql.py
  ingestion/tests/cli_e2e/test_cli_redshift.py
Due: none

MINOR: Fix E2E failures (#14940)
  ingestion/tests/cli_e2e/database/athena/athena.yaml
  ingestion/tests/cli_e2e/test_cli_mssql.py
  ingestion/tests/cli_e2e/test_cli_redshift.py
Due: none

Add Stress test config
  ingestion/pipelines/extended_sample_data.yaml
  ingestion/src/metadata/ingestion/source/database/extended_sample_data.py
Due: none

Add Nested glossary to extended sample data
  ingestion/pipelines/extended_sample_data.yaml
  ingestion/src/metadata/ingestion/source/database/extended_sample_data.py
Due: none

Fix Lint
  ingestion/src/metadata/ingestion/source/database/extended_sample_data.py
Due: none

Fix lint
  ingestion/src/metadata/ingestion/source/database/extended_sample_data.py
Due: none

skip ml flow schedule spec
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/MlFlowIngestionClass.ts
Due: lint-staged

Add Regex for Entity FQn matches
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
Due: google-style-java

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
