Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/hadialqattan/pycln
    rev: v1.2.4
    hooks:
      - id: pycln
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 100 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

refactor: moved IndexMapping to singleton class
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/MappingMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-spec/pom.xml
  openmetadata-spec/src/main/java/org/openmetadata/schema/exception/JsonParsingException.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/utils/JsonUtils.java
  openmetadata-spec/src/main/java/org/openmetadata/search/IndexMapping.java
  openmetadata-spec/src/main/java/org/openmetadata/search/IndexMappingLoader.java
Due: google-style-java

refactor: added prefix support for other connectors - superset, tableau, etc
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/mode/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qlikcloud/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/qliksense/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/sigma/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Due: none

fix: #21872 Freshness test displays 0 for negative values (#21880)
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
Due: lint-staged

Improve bulk loading in Table, DatabaseSchema
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TopicRepository.java
Due: google-style-java

refactor: added migration for prefix change and fix dbServicePrefixes field description
  bootstrap/sql/migrations/native/1.8.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.1/postgres/schemaChanges.sql
  openmetadata-docs/content/v1.8.x-SNAPSHOT/main-concepts/metadata-standard/schemas/metadataIngestion/dashboardServiceMetadataPipeline.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/dashboardServiceMetadataPipeline.ts
Due: lint-staged

refactor: added prefix changes in superset db source
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/workflows/metadata.md
Due: none

Improve bulk loading in all entities
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseSchemaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
Due: google-style-java

doc: add prefix in tableau doc
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/dashboard/tableau/yaml.md
Due: none

Add Whats New for 1.8.0 release
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

Scim Bot can update display name (#21879)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v180/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v180/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v180/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CompiledRule.java
  openmetadata-service/src/main/resources/json/data/policy/ApplicationBotPolicy.json
  openmetadata-service/src/main/resources/json/data/policy/AutoClassificationBotPolicy.json
  openmetadata-service/src/main/resources/json/data/policy/DefaultBotPolicy.json
  openmetadata-service/src/main/resources/json/data/policy/IngestionBotPolicy.json
  openmetadata-service/src/main/resources/json/data/policy/LineageBotPolicy.json
  openmetadata-service/src/main/resources/json/data/policy/ProfilerBotPolicy.json
  openmetadata-service/src/main/resources/json/data/policy/QualityBotPolicy.json
  openmetadata-service/src/main/resources/json/data/policy/UsageBotPolicy.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Due: google-style-java

Doc: fix client to Go (#21885)
  openmetadata-docs/content/v1.8.x-SNAPSHOT/sdk/go/index.md
Due: none

update release notes from github
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewModalV1.tsx
  release-notes/release-1-8-0/changelog.md
  release-notes/release-1-8-0/manifest.json
Due: lint-staged

Fix markdown styling
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

Remove Consolidate and revert changes for move operation
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
Due: google-style-java

show display name instead of name for custom props
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Due: lint-staged

fixed test cases
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoPilot.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ApiServiceRest.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/MlFlowIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
Due: lint-staged

MINOR: Fix pytests jaraco
  ingestion/setup.py
Due: none

Add certification to what's new
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

Improved Change Description and Versioning for move operation
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
Due: google-style-java

fix: JsonUtils import
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v180/MigrationUtil.java
Due: google-style-java

style: ran java linting
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v180/MigrationUtil.java
Due: google-style-java

refactor code
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/CustomiseHomeModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/CustomiseHomeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/customise-home-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/HeaderTheme.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/header-theme.less
  openmetadata-ui/src/main/resources/ui/src/hooks/currentUserStore/useCurrentUserStore.ts
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
Due: lint-staged

minor refector
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/currentUserStore/useCurrentUserStore.ts
Due: lint-staged

fix asset count issue
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
Due: lint-staged

fixed the workflow issue (#21884)
  .github/workflows/py-operator-build-test.yml
Due: none

MINOR: Fix pytests jaraco (#21894)
  ingestion/setup.py
Due: none

fix asset count issue (#21896)
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
Due: lint-staged

fix: init indexmapper in operations
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Due: google-style-java

fixed tooltip
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerItem/OwnerItem.tsx
Due: lint-staged

remove extra space visible in glossary term
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/GenericTab.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/tabs.less
Due: lint-staged

feat(ui): customise home page banner (#21793)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/add-square.svg
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/CustomiseHomeModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/CustomiseHomeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/customise-home-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/customise-landing-page-header.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/customize-my-data.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/HeaderTheme.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/HeaderTheme.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/HeaderTheme/header-theme.less
  openmetadata-ui/src/main/resources/ui/src/constants/Mydata.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Due: lint-staged

revert PR
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/GenericTab.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/tabs.less
Due: lint-staged

remove extra space in glossary term
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/GenericTab.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/tabs.less
Due: lint-staged

update styles
  openmetadata-ui/src/main/resources/ui/src/styles/components/tabs.less
Due: none

fix locale
  openmetadata-ui/src/main/resources/ui/src/assets/svg/curated-assets-not-found-placeholder.svg
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none
