Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

[UI] Data Insight Layout looks broken in case of large number of assets #13803
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightDetail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/EntitySummaryProgressBar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsightSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsight.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Due: lint-staged

move height to constant variable in cost file
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DailyActiveUsersChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Due: lint-staged

Fix #13699 - Add separator for Storage Container manifest
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
  ingestion/src/metadata/readers/dataframe/models.py
  ingestion/tests/unit/resources/datalake/transactions_separator.csv
  openmetadata-docs/content/partials/v1.2/connectors/storage/manifest.md
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/containerMetadataConfig.json
Due: none

Fix #13906 - Fix add_mlmodel_lineage description field
  ingestion/src/metadata/readers/dataframe/dsv.py
  ingestion/src/metadata/readers/dataframe/reader_factory.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/readers/test_df_reader.py
Due: none

Add separator
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/manifestMetadataConfig.json
Due: none

Add separator
  ingestion/src/metadata/ingestion/source/storage/storage_service.py
Due: none

fixed DI cypress
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Applications/ApplicationCard/ApplicationCard.component.tsx
Due: lint-staged

fix: openmetadata-service/pom.xml to reduce vulnerabilities (#13888)
  openmetadata-service/pom.xml
Due: none

put correct dataset only (#13369)
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
Due: none

Filter unnecessary jars and only look for openmetadata jars to register data json files (#13536)
  common/src/main/java/org/openmetadata/common/utils/CommonUtil.java
  openmetadata-service/src/main/resources/json/data/document/activityFeed.json
  openmetadata-service/src/main/resources/json/data/document/announcements.json
  openmetadata-service/src/main/resources/json/data/document/following.json
  openmetadata-service/src/main/resources/json/data/document/kpi.json
  openmetadata-service/src/main/resources/json/data/document/myData.json
  openmetadata-service/src/main/resources/json/data/document/totalAssets.json
Due: google-style-java

fix: use aggregation search instead of suggest query (#13861)
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/searchAPI.test.ts
  openmetadata-ui/src/main/resources/ui/src/rest/searchAPI.ts
Due: lint-staged

fix: domain assignment for glossary term (#13793)
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Due: lint-staged

fix: add application enable disable state (#13854)
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/ApplicationCard/ApplicationCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/ApplicationCard/ApplicationCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Applications/MarketPlaceAppDetails/MarketPlaceAppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Application/ApplicationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewer/LogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/applicationAPI.ts
Due: lint-staged

fix(ui): table data issue in entity table lineage sidebar (#13893)
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.interface.ts
Due: lint-staged

fix(chore): UI feedback fixes (#13859)
  openmetadata-ui/src/main/resources/ui/src/components/Form/Form.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Form/FormItemLabel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Form/FormItemLabel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/StyleModal/StyleModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

fix(ui): fix search not working in roles input in user profile page (#13897)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileRoles/UserProfileRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

fix tour page not showing (#13902)
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Due: lint-staged

Fixes 13688: Trino Profiler Bugs (#13853)
  ingestion/src/metadata/ingestion/source/database/trino/metadata.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/trino/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/mean.py
  ingestion/src/metadata/profiler/metrics/static/min.py
  ingestion/src/metadata/profiler/metrics/static/stddev.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/trino/sampler.py
Due: none

Fix Trino Dialect Import issue (#13869)
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
Due: none

Remove Migration Extension Path Env (#13908)
  conf/openmetadata.yaml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
Due: none

Added cost analysis producer in DI (#13872)
  ingestion/src/metadata/data_insight/producer/cost_analysis_producer.py
  ingestion/src/metadata/data_insight/producer/entity_producer.py
  ingestion/src/metadata/data_insight/producer/producer_factory.py
  ingestion/src/metadata/data_insight/producer/web_analytics_producer.py
Due: none

Update Dockerfiles to run OMD as non-root user (#13726)
  docker/development/Dockerfile
  docker/docker-compose-quickstart/Dockerfile
Due: none

fix(ui): supported to see all personas in the user profile dropdown (#13915)
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/app-bar.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Users/UserProfileIcon/UserProfileIcon.component.tsx
Due: lint-staged

fix(ui): supported tooltip descriptions for domain types (#13909)
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/domain.less
  openmetadata-ui/src/main/resources/ui/src/components/Form/FormItemLabel.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Domain.constants.ts
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

:tada: Init (#13918)
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
Due: lint-staged

fix import
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
Due: lint-staged

fixed failing unit test
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.test.tsx
Due: lint-staged

fix: handle lower and upper case name (#13778)
  ingestion/src/metadata/profiler/metrics/system/queries/snowflake.py
  ingestion/tests/unit/profiler/conftest.py
  ingestion/tests/unit/profiler/test_utils.py
Due: none

Fix databricks lineage with unity catalog (#13786)
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/lineage.py
  ingestion/src/metadata/ingestion/source/database/postgres/pgspider/lineage.py
Due: none

fix: handle null aggregation bucket (#13791)
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUsedvsUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchAggregatedUsedvsUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchEntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchEntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchMostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchMostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchPageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchServicesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchTotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchTotalEntitiesByTierAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUsedvsUnusedAssetsCountAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchAggregatedUsedvsUnusedAssetsSizeAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchEntitiesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchEntitiesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchMostActiveUsersAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchMostViewedEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchPageViewsByEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchServicesDescriptionAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchServicesOwnerAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchTotalEntitiesAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchTotalEntitiesByTierAggregator.java
Due: google-style-java

fix: catch not Either type in workflow and return explicit error message (#13796)
  ingestion/src/metadata/ingestion/api/step.py
  ingestion/tests/unit/workflow/test_base_workflow.py
Due: none

fix: handle postgres migration error (#13844)
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v120/MigrationUtil.java
Due: google-style-java

fix: paginating test cases with testSuiteId filter (#13886)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Due: google-style-java

fix: remove RESULT_SCAN dep. (#13904)
  ingestion/src/metadata/profiler/metrics/system/queries/snowflake.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/utils/profiler_utils.py
Due: none

Move pandas top level import
  ingestion/src/metadata/profiler/processor/sample_data_handler.py
  ingestion/tests/cli_e2e/test_cli_athena.py
  ingestion/tests/cli_e2e/test_cli_datalake_s3.py
  ingestion/tests/cli_e2e/test_cli_redshift.py
Due: none

py format
  ingestion/src/metadata/profiler/processor/sample_data_handler.py
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
