Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Update Users, Admins and tags page with new roles and policy (#7050)
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/non-admin-action/NonAdminAction.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Due: lint-staged

Clean up lingering code related to defaultRole field in Role entity
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/CollectionDAO.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/RoleRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/RoleResource.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/teams/TeamResourceTest.java
Due: google-style-java

Fix #6645: Remove required fields from mssql
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/mssqlConnection.json
  ingestion/src/metadata/utils/source_connections.py
Due: none

fix unit tests
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.test.tsx
Due: lint-staged

Update v004__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v004__create_db_connection_info.sql
Due: none

fixed failing cypress tests
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Glossary.spec.js
Due: lint-staged

Fixed minor errors in test suite workflow
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/src/metadata/test_suite/validations/table/table_column_count_to_be_between.py
  ingestion/tests/integration/test_suite/test_e2e_workflow.py
  ingestion/tests/integration/test_suite/test_workflow.py
  ingestion/tests/unit/test_suite/test_validations.py
Due: none

Fix: Based on comments
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/athenaConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
  ingestion/examples/workflows/athena.yaml
  ingestion/examples/workflows/hive.yaml
  ingestion/src/metadata/utils/connections.py
Due: none

Redshift Mark Partitioned Tables (#7063)
  ingestion/src/metadata/ingestion/source/database/redshift.py
  ingestion/src/metadata/utils/sql_queries.py
  ingestion/tests/unit/topology/database/test_redshift.py
  openmetadata-docs/content/openmetadata/connectors/database/redshift/airflow.md
  openmetadata-docs/content/openmetadata/connectors/database/redshift/cli.md
  openmetadata-docs/content/openmetadata/connectors/database/redshift/index.md
Due: none

Clean up profile and test data when migrating from 0.11 to 0.12 (#7039)
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v004__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v004__create_db_connection_info.sql
Due: none

Update Glossary with new roles and policy
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/Glossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
Due: lint-staged

fix duplicate import
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
Due: lint-staged

Fix test failure
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/Glossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPage.test.tsx
Due: lint-staged

Clicking on browser notification for chrome will now open new window
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
Due: lint-staged

Fixed issue Update Right panel content for add test-suite workflow, and icon for test suite #7043
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-test-suite.svg
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/rightPanelData.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Due: lint-staged

fix tests
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
Due: lint-staged

Fix unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/Glossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/SummaryDetail.tsx
Due: lint-staged

updated link redirection path for add test
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
Due: lint-staged

Change the Announcement Card style as per new moc
  openmetadata-ui/src/main/resources/ui/src/assets/svg/announcements-orange.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardFooter/FeedCardFooter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/AnnouncementThreads.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/AnnouncementBadge.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/Badge.less
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Due: lint-staged

fixed failing unit test
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
Due: lint-staged

Clean up lingering code related to defaultRole field in Role entity (#7064)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/CollectionDAO.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/RoleRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/RoleResource.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/teams/TeamResourceTest.java
Due: google-style-java

Fix tests
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
Due: lint-staged

Add partial support for BQ partitioned table (#7066)
  ingestion/src/metadata/interfaces/sqa_interface.py
  ingestion/src/metadata/orm_profiler/api/models.py
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/src/metadata/orm_profiler/profiler/handle_partition.py
  ingestion/src/metadata/test_suite/api/workflow.py
  ingestion/src/metadata/test_suite/validations/table/table_column_count_to_be_between.py
  ingestion/tests/integration/test_suite/test_e2e_workflow.py
  ingestion/tests/integration/test_suite/test_workflow.py
  ingestion/tests/unit/test_suite/test_validations.py
Due: none

Refactor(UI): Global settings Teams page refactoring and roles and policies update. (#7032)
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/Teams.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
Due: lint-staged

Clicking on browser notification for chrome will now open new window (#7068)
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
Due: lint-staged

Fixed issue Update Right panel content for add test-suite workflow, and icon for test suite #7043 (#7069)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/icon-test-suite.svg
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/rightPanelData.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Due: lint-staged

remove test which is not valid any longer
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
Due: lint-staged

Fix entity permission (#7052)
  openmetadata-ui/src/main/resources/ui/.vscode/extensions.json
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTest/DataQualityTest.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTest/DataQualityTest.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/HelperTextUtil.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/button.less
  openmetadata-ui/src/main/resources/ui/src/utils/PermissionsUtils.ts
Due: lint-staged

Update Glossary with new roles and policy (#7067)
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/Glossary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/SummaryDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
Due: lint-staged

Fix#6929: docker-compose services should wait until OpenMetadata DB is created (#7025)
  conf/openmetadata.yaml
  docker/airflow/Dockerfile
  docker/local-metadata/docker-compose-dev-postgres.yml
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose.yml
  docker/metadata/openmetadata-start.sh
  ingestion/Dockerfile
  ingestion/Dockerfile_local
  ingestion/ingestion_dependency.sh
Due: none

Fixes #7072 - Remove life cycle policies
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/PolicyRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/policies/PolicyResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/policyevaluator/PolicyCache.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/policyevaluator/SubjectContext.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/EntityUtil.java
  catalog-rest-service/src/main/resources/json/data/policy/DataConsumerPolicy.json
  catalog-rest-service/src/main/resources/json/data/policy/DataStewardPolicy.json
  catalog-rest-service/src/main/resources/json/data/policy/OrganizationPolicy.json
  catalog-rest-service/src/main/resources/json/data/policy/TeamOnlyPolicy.json
  catalog-rest-service/src/main/resources/json/schema/api/policies/createPolicy.json
  catalog-rest-service/src/main/resources/json/schema/entity/policies/accessControl/rule.json
  catalog-rest-service/src/main/resources/json/schema/entity/policies/filters.json
  catalog-rest-service/src/main/resources/json/schema/entity/policies/lifecycle/deleteAction.json
  catalog-rest-service/src/main/resources/json/schema/entity/policies/lifecycle/moveAction.json
  catalog-rest-service/src/main/resources/json/schema/entity/policies/lifecycle/rule.json
  catalog-rest-service/src/main/resources/json/schema/entity/policies/policy.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/permissions/PermissionsResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/policies/PolicyResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/teams/TeamResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/security/policyevaluator/SubjectContextTest.java
  ingestion-core/src/metadata/_version.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  openmetadata-docs/content/main-concepts/metadata-standard/schemas/api/policies/createPolicy.md
  openmetadata-docs/content/main-concepts/metadata-standard/schemas/entity/policies/policy.md
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/policies.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/Roles.mock.ts
Due: google-style-java, lint-staged

Remove policy sink
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
Due: none

Remove OMetaPolicy
  ingestion/src/metadata/ingestion/models/ometa_policy.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
Due: none

Fix #6945: Add session query tag for usage (#7060)
  ingestion/src/metadata/ingestion/source/database/snowflake_query_parser.py
Due: none

Fix #6645: Remove required fields from mssql (#7065)
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/mssqlConnection.json
  ingestion/src/metadata/utils/source_connections.py
Due: none

Athena with aws session token
  ingestion/src/metadata/utils/source_connections.py
Due: none

add supports query comment property to the required db services
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/connectionBasicType.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/bigQueryConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/clickhouseConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/db2Connection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/druidConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/mariaDBConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/mssqlConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/oracleConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/pinotDBConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/prestoConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/redshiftConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/salesforceConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/singleStoreConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/sqliteConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/verticaConnection.json
  ingestion/src/metadata/utils/connections.py
Due: none

Handle internal runtime errors when validating workflows (#7049)
  ingestion/src/metadata/ingestion/api/parser.py
Due: none

Add missing healthcheck to docker-compose-postgres
  docker/metadata/docker-compose-postgres.yml
Due: none
