Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

change logic of search handling
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SearchBarComponent/SearchBar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SearchBarComponent/Searchbar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/OnlineUsersPage/OnlineUsersPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserListPage/UserListPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/searchAPI.ts
Due: lint-staged

Add support of onUpdate for knowledge center domain update
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
Due: lint-staged

chore(ui): remove checker from vite dev mode due to memory issues
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/vite.config.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

Center node after expand
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNodeV1.component.tsx
Due: lint-staged

Addressed comms
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_utils.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Due: google-style-java

removed not required tests
  ingestion/tests/unit/test_dbt.py
Due: none

Added tests
  ingestion/tests/unit/test_dbt.py
Due: none

commit progress
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ExtensionPointTypes.ts
Due: lint-staged

mvn spotless
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

Fixed tests due to sqlite now supporting stddev
  ingestion/tests/unit/profiler/pandas/test_datalake_metrics.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/sqlalchemy/test_profiler.py
Due: none

Fix Snowflake and BigQuery CLI e2e tests (#24217)
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
  ingestion/src/metadata/utils/credentials.py
  ingestion/tests/cli_e2e/base/test_cli.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/unit/data_quality/validations/runtime_param_setter/test_table_diff_params_setter.py
  ingestion/tests/unit/utils/test_credentials.py
Due: none

Create ChangeEvents for SSO user operations to enable EventSubscription notifications (#24209)
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Due: google-style-java

Revert "Create ChangeEvents for SSO user operations to enable EventSubscription notifications (#24209)"
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Due: google-style-java

chore(release): Prepare Branch for `1.10.6`
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-mcp/pom.xml
  openmetadata-sdk/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui-core-components/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Due: none

Feature/dimensionality column values stddev to be between (#24235)
  ingestion/src/metadata/data_quality/validations/column/base/columnValueStdDevToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/pandas/columnValueStdDevToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/sqlalchemy/columnValueStdDevToBeBetween.py
  ingestion/src/metadata/profiler/metrics/static/stddev.py
  ingestion/tests/unit/conftest.py
  ingestion/tests/unit/profiler/pandas/test_datalake_metrics.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/sqlalchemy/test_metrics.py
  ingestion/tests/unit/profiler/sqlalchemy/test_profiler.py
  ingestion/tests/unit/test_suite/conftest.py
  ingestion/tests/unit/test_suite/test_validations_databases.py
  ingestion/tests/unit/test_suite/test_validations_datalake.py
Due: none

Add testCase description to TestCase notifications
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/channels/gchat/GChatCardAssembler.java
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/channels/slack/SlackBlockAssembler.java
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/channels/teams/TeamsCardAssembler.java
  openmetadata-service/src/main/resources/json/data/notifications/templates/system-notification-entity-updated.json
Due: google-style-java

Migrated ES/OS bulk and index sinks
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
Due: google-style-java

feat: enhance test case dimensions functionality and routing
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/DimensionalityTab/DimensionalityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Due: lint-staged

dep: setuptools version to 78.1.1 (#24206)
  ingestion/setup.py
Due: none

add delete modal with mui
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteModal/DeleteModalMUI.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteModal/DeleteModalMUI.tsx
Due: lint-staged

Feature/dimensionality column values to be at expected location (#24239)
  ingestion/src/metadata/data_quality/validations/column/base/columnValuesToBeAtExpectedLocation.py
  ingestion/src/metadata/data_quality/validations/impact_score.py
  ingestion/tests/unit/test_suite/conftest.py
  ingestion/tests/unit/test_suite/test_validations_databases.py
  ingestion/tests/unit/test_suite/test_validations_datalake.py
Due: none

fix tests
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResource.java
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageControlButtons/LineageControlButtons.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/entity-lineage.style.less
  openmetadata-ui/src/main/resources/ui/src/components/common/TitleBreadcrumb/title-breadcrumb.less
  openmetadata-ui/src/main/resources/ui/src/pages/PlatformLineage/platform-lineage.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: google-style-java, lint-staged

Set `python-version` as string in validate-jsons-yamls.yml
  .github/workflows/validate-jsons-yamls.yml
Due: none

fix domain/dataProduct filter
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APIEndpointIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DataProductIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DomainIndex.java
  openmetadata-spec/src/main/resources/elasticsearch/en/domain_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/domain_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/domain_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/domain_index_mapping.json
Due: google-style-java

Implement API to retrieve all dimensional test results for a dimensional column
  bootstrap/sql/migrations/native/1.11.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.11.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseDimensionResultRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseDimensionResultResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Due: google-style-java

Fix: Filter out dataProduct and domain from knowledge center data asset selection (#24214)
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetAsyncSelectList/DataAssetAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
Due: lint-staged

feat: update DimensionalityTab layout and enhance select component styling
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/DimensionalityTab/DimensionalityTab.tsx
Due: lint-staged

Minor fix to run tests only defined in OpenMetadata
  ingestion/src/metadata/sdk/data_quality/runner.py
Due: none

Remove local openmetadata reference
  examples/python-sdk/data-quality/notebooks/test_dataframe.ipynb
  examples/python-sdk/data-quality/notebooks/test_workflow.ipynb
Due: none

Brief documentation of installation requirements
  ingestion/setup.py
  ingestion/src/metadata/readers/dataframe/parquet.py
  ingestion/src/metadata/sdk/README.md
  ingestion/src/metadata/sdk/examples/dataframe_validation_example.py
  ingestion/src/metadata/sdk/examples/dq_as_code_example.py
Due: none

Install `griffe2md` and fix docstrings
  ingestion/setup.py
  ingestion/src/metadata/sdk/data_quality/dataframes/dataframe_validator.py
  ingestion/src/metadata/sdk/data_quality/dataframes/validation_results.py
  ingestion/src/metadata/sdk/data_quality/runner.py
  ingestion/src/metadata/sdk/data_quality/tests/__init__.py
  ingestion/src/metadata/sdk/data_quality/tests/column_tests.py
  ingestion/src/metadata/sdk/data_quality/tests/table_tests.py
Due: none

Add full example to Data Quality as Code
  examples/python-sdk/data-quality/.gitignore
  examples/python-sdk/data-quality/README.md
  examples/python-sdk/data-quality/docker-compose.yml
  examples/python-sdk/data-quality/notebooks/test_dataframe.ipynb
  examples/python-sdk/data-quality/notebooks/test_workflow.ipynb
  examples/python-sdk/data-quality/pg_scripts/init.sh
  examples/python-sdk/data-quality/public/setup/metadata-config.png
  examples/python-sdk/data-quality/public/setup/new-database-page.png
  examples/python-sdk/data-quality/public/setup/services-settings-page.png
  examples/python-sdk/data-quality/public/setup/taxi-yellow-table.png
  examples/python-sdk/data-quality/public/test_dataframe/jupyter-notebook-report.png
  examples/python-sdk/data-quality/public/test_dataframe/taxi-yellow-data-quality.png
  examples/python-sdk/data-quality/public/test_workflow/jupyter-notebook-report.png
  examples/python-sdk/data-quality/public/test_workflow/table-data-quality.png
  examples/python-sdk/data-quality/public/test_workflow/taxi-yellow-data-quality.png
  examples/python-sdk/data-quality/start
Due: none

Fix writing, grammar and typos
  examples/python-sdk/data-quality/README.md
  examples/python-sdk/data-quality/notebooks/test_dataframe.ipynb
  examples/python-sdk/data-quality/notebooks/test_workflow.ipynb
Due: none

Fix #2324: Enable Parallel Execution for Query Runner App
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceMapper.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.json
Due: google-style-java

Cherry picking #23867 , #24038 Updated with branch changes
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/DefaultRecreateHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityReindexContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/RecreateIndexHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/ReindexContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexAppTest.java
Due: google-style-java

Bulk APIs for create/update data assets
  add_create_methods.py
  add_remaining_create_methods.py
  add_service_create_methods.py
  create_pure_fluent_sdk.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/mapper/EntityUpdateMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apis/APICollectionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apis/APIEndpointResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/mlmodels/MlModelResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/searchindex/SearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/storages/ContainerResource.java
  openmetadata-service/src/main/resources/json/data/policy/IngestionBotPolicy.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APICollectionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APIEndpointResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dashboards/DashboardResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/StoredProcedureResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/mlmodels/MlModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/bulkEntityPatch.json
  openmetadata-spec/src/main/resources/json/schema/api/data/bulkUpdateContainer.json
  openmetadata-spec/src/main/resources/json/schema/api/data/bulkUpdateDashboard.json
  openmetadata-spec/src/main/resources/json/schema/api/data/bulkUpdateTable.json
  openmetadata-spec/src/main/resources/json/schema/api/data/bulkUpdateTopic.json
  openmetadata-spec/src/main/resources/json/schema/entity/policies/accessControl/resourceDescriptor.json
Due: google-style-java

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
