Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

playwright: Skip logs viewer e2e tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LogsViewer.spec.ts
Due: lint-staged

fix(docker): use openmetadata-fuseki container name for the dev rdf profile
  docker/development/docker-compose.yml
Due: none

Add new agents icons
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/alert-circle.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/alert-triangle.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/asset.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/book.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/bulb.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/check.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/chevron-down.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/chevron-right.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/clock.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/close.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/code.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/copy.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/database.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/grid.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/layers.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/lineage.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/logs.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/more-vertical.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/play.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/plus.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/run-failed.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/run-partial.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/run-running.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/run-skipped.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/run-success.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/shield.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/sparkle.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/terminal.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/agents/zap.svg
Due: none

Update localization changes
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: none

playwright: Skip logs viewer e2e tests (#29709)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LogsViewer.spec.ts
Due: lint-staged

Update the agents list and details components to match the design
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/AgentIcons.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/agents-preview.css
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentGroup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentOverflowMenu.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/DeploymentSummaryCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/MetadataAgentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/RunGlyph.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/RunHistoryDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/RunStepRow.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/shared/Metric.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/shared/ProgressBar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/shared/StatusPill.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/hooks/useMetadataAgents.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/utils/agents.utils.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/ingestion.less
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Due: lint-staged

fix(ui): sync Suggestions effect deps with fetchSearchData
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
Due: lint-staged

fix flaky bulk import
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
Due: lint-staged

playwright(fix): replace performAdminLogin with getDefaultAdminAPIContext in GlossaryRelations* beforeAll
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryRelationsGraph.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryRelationsGraphPerf.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryTermRelationsGraphNested.spec.ts
Due: lint-staged

fix(governance): address PR review — log swallowed exceptions, declare report_all_failures, keep admin fallback
  ingestion/src/metadata/ingestion/api/step.py
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/CreateTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TaskRepository.java
Due: google-style-java

addressing comment
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQualityDashboard/data-quality-dashboard.style.less
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQualityDashboard/useDataQualityDashboardFilters.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryDonut.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPieChartCard/summary-pie-chart-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/FilterChip.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCaseListTableHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/useTestCaseListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuiteListPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuitesTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuitesTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManagerTable.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManagerTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/useIncidentManagerListPage.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/useIncidentManagerListPage.ts
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionList/TestDefinitionList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageMenuButton/ManageMenuButton.test.tsx
Due: lint-staged

playwright(fix): apply ui-checkstyle formatting to GlossaryRelations* specs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryRelationsGraph.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryRelationsGraphPerf.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryTermRelationsGraphNested.spec.ts
Due: lint-staged

make style change
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/EntityHealthStatusPieChartWidget/EntityHealthStatusPieChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuiteListPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/useIncidentManagerListPage.test.ts
Due: lint-staged

fix(reindex): unwedge orchestrator and recover stale Quartz job on crash (#28699)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/distributed/DistributedSearchIndexExecutor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/distributed/DistributedSearchIndexExecutorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/scheduler/AppSchedulerTest.java
Due: google-style-java

fixed minor issues
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/CreateMemoryModal/CreateMemoryModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetFilterPopover.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetFilterPopover.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetPicker.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetPickerShell.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetPickerShell.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterMemoriesPage/ContextCenterMemoriesPage.tsx
Due: lint-staged

minor fix
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterMemoriesPage/ContextCenterMemoriesPage.tsx
Due: lint-staged

fix(ai-governance): address framework coverage review
  openmetadata-service/src/main/java/org/openmetadata/service/resources/ai/FrameworkCoverageComputer.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/ai/PolicyEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/ai/FrameworkCoverageComputerTest.java
Due: google-style-java

test(e2e): fall back to metric name when FQN not yet populated
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/MetricClass.ts
Due: lint-staged

fix(mcp): paginate get_entity_details columns so wide entities return data instead of an empty oversized stub (#29707)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/mcp/McpTestUtils.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/mcp/McpToolsValidationIT.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetEntityTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/GetEntityToolTest.java
Due: google-style-java

fixed minor isses
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsContainer/DataProductsContainer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTypeWidget/DomainTypeWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/BookMarkWidget/BookMarkWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageDetailRightPanel/KnowledgePageDetailRightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageListRightPanel/KnowledgePageListRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageListRightPanel/KnowledgePageListRightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/RelatedDataAssets/RelatedDataAssets.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: lint-staged

review feedback: guarantee paging progress on oversized columns, honest hasMoreColumns, explicit columnLimit=0, unambiguous columnsMessage
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetEntityTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/GetEntityToolTest.java
Due: google-style-java

lint fix
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/BookMarkWidget/BookMarkWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageListRightPanel/KnowledgePageListRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageListRightPanel/KnowledgePageListRightPanel.tsx
Due: lint-staged

fix(workflows): treat expiryTimer.transitionId as a declared user-approval transition
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowDefinitionRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/WorkflowDefinitionGraphValidationTest.java
Due: google-style-java

fix(workflows): @SuppressWarnings on the two split helper methods
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowDefinitionRepository.java
Due: google-style-java

test(workflows): restore NodeFactoryRegistry singleton state after AI automation test
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/NodeFactoryRegistry.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/NodeFactoryAIAutomationTest.java
Due: google-style-java

test(workflows): scope NodeFactoryRegistry.getExtension to package-private
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/NodeFactoryRegistry.java
Due: google-style-java

fix: reconcile vector-search code with upstream after main merge
  openmetadata-service/src/main/java/org/openmetadata/service/search/vector/ElasticSearchVectorService.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSinkBehaviorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchRepositoryBehaviorTest.java
Due: google-style-java

chore(ui): regenerate TS types after main merge
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/elasticSearchConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Due: lint-staged

feat(playwright): E2E tests for Context Center Archive Page lifecycle (#29677)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterArchivePage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/ContextCenterUtil.ts
Due: lint-staged

Use query store for mssql lineage and usage with dmv fallback
  ingestion/src/metadata/ingestion/source/database/mssql/connection.py
  ingestion/src/metadata/ingestion/source/database/mssql/lineage.py
  ingestion/src/metadata/ingestion/source/database/mssql/models.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/src/metadata/ingestion/source/database/mssql/query_parser.py
  ingestion/src/metadata/ingestion/source/database/mssql/usage.py
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
Due: none

Fix type by accepting optional engine in query store probe
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
Due: none

Add unit tests for mssql query store auto-detection
  ingestion/tests/unit/topology/database/test_mssql.py
Due: none

docs: clarify sort comment does not assert caller map type
  openmetadata-service/src/main/java/org/openmetadata/service/search/ColumnMetadataGrouper.java
Due: google-style-java

docs: tighten sort comment and make test comments generic
  openmetadata-service/src/main/java/org/openmetadata/service/search/ColumnMetadataGrouper.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/ColumnMetadataGrouperTest.java
Due: google-style-java

docs: reword sort comment to say iteration order is not guaranteed
  openmetadata-service/src/main/java/org/openmetadata/service/search/ColumnMetadataGrouper.java
Due: google-style-java

fix(data-quality): address PR review comments on DQ widgets/table/chart + stale-response test
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/DataAssetsCoveragePieChartWidget/DataAssetsCoveragePieChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/EntityHealthStatusPieChartWidget/EntityHealthStatusPieChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/TestCaseStatusPieChartWidget/TestCaseStatusPieChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/useTestSuitesListPage.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionList/TestDefinitionTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Visualisations/Chart/CustomAreaChart.component.tsx
Due: lint-staged

fix checkstyle
  openmetadata-ui/src/main/resources/ui/src/components/common/NavigationBlocker/NavigationBlocker.test.tsx
Due: lint-staged
