Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Update ingestion/src/metadata/ingestion/source/database/pinotdb/connection.py
  ingestion/src/metadata/ingestion/source/database/pinotdb/connection.py
Due: none

MINOR: Fix MSSQL SP Lineage Issue
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
Due: none

added comment regarding private key
  ingestion/tests/unit/topology/database/test_bigtable.py
Due: none

added comments regarding column families
  ingestion/src/metadata/ingestion/source/database/bigtable/metadata.py
Due: none

enclose get_schema_name_list in `try/except/else`
  ingestion/src/metadata/ingestion/source/database/bigtable/metadata.py
Due: none

format
  ingestion/src/metadata/ingestion/source/database/bigtable/metadata.py
Due: none

streamlined get_schema_name_list to include all logic in the try block
  ingestion/src/metadata/ingestion/source/database/bigtable/metadata.py
Due: none

Added alation filter pattern docs (#15036)
  openmetadata-docs/content/v1.2.x/connectors/metadata/alation/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/alation/index.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/alation/yaml.md
Due: none

Fixed service entities topology (#15127)
  ingestion/src/metadata/ingestion/api/topology_runner.py
Due: none

MINOR: Fix MSSQL SP Lineage Issue (#15155)
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
Due: none

MINOR: Fix superset query to fetch columns (#15153)
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/queries.py
Due: none

Update tableCustomSQLQuery.json
  openmetadata-service/src/main/resources/json/data/tests/tableCustomSQLQuery.json
Due: none

Update AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
Due: google-style-java

Minor: added unit test for UI component part 3 (#15151)
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
Due: lint-staged

Fixed sagemaker either
  ingestion/src/metadata/ingestion/source/mlmodel/sagemaker/metadata.py
Due: none

test: unit test case of persona details card (#15150)
  openmetadata-ui/src/main/resources/ui/src/components/Persona/PersonaDetailsCard/PersonaDetailsCard.test.tsx
Due: lint-staged

change the threads from table to schemas
  ingestion/src/metadata/ingestion/source/database/database_service.py
Due: none

fix unit tests
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/@types/react-router-dom.d.ts
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

Fixed sagemaker either (#15156)
  ingestion/src/metadata/ingestion/source/mlmodel/sagemaker/metadata.py
Due: none

MINOR - DQ incident severity classifier (#15149)
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/incidentSeverityClassifier/IncidentSeverityClassifierInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/incidentSeverityClassifier/LogisticRegressionIncidentSeverityClassifier.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/src/main/resources/json/schema/configuration/dataQualityConfiguration.json
Due: google-style-java

fix: lineage cypress fix
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Lineage.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeSuggestions.component.tsx
Due: lint-staged

ISSUE-15100: add tooltip for field Text type
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/TestCaseForm.tsx
Due: lint-staged

fixes #12591: add BigTable (#15122)
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/bigtable.yaml
  ingestion/src/metadata/ingestion/source/database/bigtable/__init__.py
  ingestion/src/metadata/ingestion/source/database/bigtable/client.py
  ingestion/src/metadata/ingestion/source/database/bigtable/connection.py
  ingestion/src/metadata/ingestion/source/database/bigtable/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigtable/models.py
  ingestion/src/metadata/ingestion/source/database/common_nosql_source.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/topology/database/test_bigtable.py
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/BigTableConnectionClassConverter.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/resources/json/data/testConnections/database/bigtable.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/bigTableConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/BigTable.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-bigtable.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: google-style-java, lint-staged

test: unit test case of quality tab
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/QualityTab/QualityTab.test.tsx
Due: lint-staged

#14881: PinotDB Docs (#14882)
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/pinotDBConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/PinotDB.md
Due: none

code refactor
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/QualityTab/QualityTab.test.tsx
Due: lint-staged

code refactor
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/QualityTab/QualityTab.component.tsx
Due: lint-staged

chore(release): Bump Ingestion Libraries version to `1.3.0.1`
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
Due: none

Added cache cleanup
  ingestion/src/metadata/data_insight/processor/reports/cost_analysis_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/reports/data_processor.py
  ingestion/src/metadata/data_insight/producer/cost_analysis_producer.py
  ingestion/src/metadata/data_insight/source/metadata.py
Due: none

Fix #15112: Fix metabase lineage via api
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
Due: none

Docs: Edits to Chrome Ext & Releases
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/browser-ext.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/browser-ext.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/content/v1.3.x/releases/releases/index.md
Due: none

fix pytests
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
Due: none

Docs: Edits to Chrome Ext & Releases
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/index.md
Due: none

Docs: Edits to Chrome Ext & Releases (#15168)
  openmetadata-docs/content/v1.2.x/how-to-guides/user-guide-data-users/browser-ext.md
  openmetadata-docs/content/v1.2.x/menu.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/browser-ext.md
  openmetadata-docs/content/v1.3.x/how-to-guides/user-guide-data-users/index.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/content/v1.3.x/releases/releases/index.md
Due: none

Minor: fixed AUT failure of main branch
  openmetadata-ui/src/main/resources/ui/cypress/common/DataInsightUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/MyData.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexApplication.spec.ts
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
