Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Update maven-build.yml (#20350)
  .github/workflows/maven-build.yml
Due: none

MINOR: Fix ChangeSummary NullPointerException (#20300)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
Due: google-style-java

update yarn.lock to fix the issue from --frozen-lockfile (#20352)
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Add Allowed Domains (#20329)
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationException.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-spec/src/main/resources/json/schema/configuration/authorizerConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/authorizerConfiguration.ts
Due: google-style-java, lint-staged

ci: create a junit test report for CI (#20257)
  .github/workflows/maven-build.yml
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/package.json
Due: lint-staged

Adds new param to docker files (#20338)
  docker/development/docker-compose-gcp.yml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
Due: none

fix comment editor issue (#20362)
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/ActivityFeedcardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/CommentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
Due: lint-staged

MINOR: fix: application triggers in day-1 (#20324)
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppImpl.java
Due: google-style-java

Bug fix for user profile page for Mentions Tab rendering and Diff View issue (#20351)
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DiffViewNew.tsx
Due: lint-staged

Revert "Fixes #17660: Oracle handle quotes for lowercase columns in workflow agents (#20309)" (#20364)
  ingestion/src/metadata/profiler/orm/converter/base.py
  ingestion/tests/cli_e2e/test_cli_oracle.py
Due: none

Docs: Release Hyper Link Correction (#20365)
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/partials/v1.7/releases/latest.md
  openmetadata-docs/content/v1.6.x/releases/releases/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/releases/releases/index.md
Due: none

fix(ui): potential fix for okta login, clear state for avoid login errors (#20379)
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
Due: lint-staged

MINOR: fix: use current change summary (#20344)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Due: google-style-java

Fix: Tableau CustomSQL datasource SQL not shown (#20377)
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Due: none

fix(ui): fixes for search settings with ranking (#20359)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/searchSettingUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/EntitySeachSettings/EntitySearchSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/EntitySeachSettings/entity-search-settings.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldConfiguration/FieldConfiguration.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldConfiguration/fieldConfiguration.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/FieldValueBoostList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/FieldValueBoostList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/field-value-boost-list.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostModal/FieldValueBoostModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/SearchPreview/SearchPreview.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/SearchPreview/search-preview.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoost/TermBoost.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoost/TermBoost.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoost/term-boost.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoostList/TermBoostList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/SettingItemCard/SettingItemCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/SettingItemCard/setting-item-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/common/CollapseHeader/CollapseHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CollapseHeader/CollapseHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CollapseHeader/collapse-header.less
  openmetadata-ui/src/main/resources/ui/src/constants/SearchSettings.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingCategory/GlobalSettingCategoryPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/global-setting-page.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/SearchSettingsPage/SearchSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchSettingsPage/search-settings.less
Due: lint-staged

Playwright: Fix the AUT failures occurring due to entity header and service agents default tab changes (#20361)
  openmetadata-ui/src/main/resources/ui/playwright/constant/conditionalPermissions.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SchemaSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ApiServiceRest.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/NotificationAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ObservabilityAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/MySqlIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/PostgresIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/RedshiftWithDBTIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/autoClassification.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/observabilityAlert.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/service.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
Due: lint-staged

catch exception (#20356)
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
Due: google-style-java

issue-20345: powerbi process workspace efficiently (#20346)
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Due: none

fix: workflow definition migrations (#20357)
  bootstrap/sql/migrations/native/1.7.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.7.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.7.0/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.7.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/PeriodicBatchEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/builders/FieldExtensionBuilder.java
Due: google-style-java

Docs: GCP Partial Creation and Addition (#20349)
  openmetadata-docs/content/partials/v1.6/connectors/yaml/common/gcp-config-def.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/common/gcp-config.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/common/gcp-config-def.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/common/gcp-config.md
  openmetadata-docs/content/v1.6.x/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/bigtable/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/gcs-datalake/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/ml-model/vertexai/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/storage/gcs/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigtable/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/gcs-datalake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ml-model/vertexai/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/storage/gcs/yaml.md
Due: none

Docs: RBAC Search Doc Updated (#20378)
  openmetadata-docs/content/v1.6.x/how-to-guides/admin-guide/roles-policies/authorization.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/admin-guide/roles-policies/authorization.md
  openmetadata-docs/images/v1.6/how-to-guides/roles-policies/rbac-search.png
  openmetadata-docs/images/v1.7/how-to-guides/roles-policies/rbac-search.png
Due: none

Feat : Notification Update for glossary term approval (#20382)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab.less
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.test.tsx
Due: lint-staged

Docs: Docker Example Removal from Docker (#20396)
  openmetadata-docs/content/v1.6.x/deployment/backup-restore-metadata.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/backup-restore-metadata.md
Due: none

Docs: Aws Partial Addition in Connectors (#20342)
  openmetadata-docs/content/partials/v1.6/connectors/yaml/common/aws-config-def.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/common/aws-config.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/common/aws-config-def.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/common/aws-config.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/quicksight/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/dynamodb/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/glue/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/database/s3-datalake/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/ingestion/workflows/dbt/ingest-dbt-yaml.md
  openmetadata-docs/content/v1.6.x/connectors/messaging/kinesis/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/ml-model/sagemaker/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/glue-pipeline/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/storage/s3/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/quicksight/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/dynamodb/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/glue/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/s3-datalake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/dbt/ingest-dbt-yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/messaging/kinesis/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ml-model/sagemaker/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/glue-pipeline/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/storage/s3/yaml.md
Due: none

Docs: Azure Partial Creation and Addition (#20363)
  openmetadata-docs/content/partials/v1.6/connectors/yaml/common/azure-config-def.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/common/azure-config.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/common/azure-config-def.md
  openmetadata-docs/content/partials/v1.7/connectors/yaml/common/azure-config.md
  openmetadata-docs/content/v1.6.x/connectors/database/adls-datalake/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/datafactory/yaml.md
  openmetadata-docs/content/v1.6.x/connectors/storage/adls/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/adls-datalake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/datafactory/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/storage/adls/yaml.md
Due: none

Minor : Fix issue with soft delete and restore (#20336)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Due: google-style-java

MINOR: chore: added missing timestamp indexes for time series tables (#20373)
  bootstrap/sql/migrations/native/1.6.7/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.7/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.7/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.7/postgres/schemaChanges.sql
Due: none

feat: add created by for test case entities (#20304)
  bootstrap/sql/migrations/native/1.7.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.7.0/postgres/postDataMigrationSQLScript.sql
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseMapper.java
  openmetadata-spec/src/main/resources/json/schema/tests/testCase.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/NotificationAlerts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/service.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testCase.ts
Due: google-style-java, lint-staged

error placeholder bg fix (#20394)
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/CreateErrorPlaceHolder.tsx
Due: lint-staged

Adds missing permissions on alerts (#20387)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
Due: google-style-java

MINOR: Fix mariadb profiling with Time datatype (#20376)
  ingestion/src/metadata/profiler/orm/converter/converter_registry.py
  ingestion/src/metadata/profiler/orm/converter/mariadb/converter.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/orm/types/custom_time.py
Due: none

fix(test): customize navigation playwright (#20388)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
Due: lint-staged

fix: DBT GCS Integration fails when BigQuery multi-project config is used (#20372)
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/utils/credentials.py
Due: none
