Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Addressed comments
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
Due: lint-staged

Fix Vector Bulk Processor size
  openmetadata-service/src/main/java/org/openmetadata/service/search/VectorBulkProcessor.java
Due: google-style-java

Fix Payload Size issue, increase bufer
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClusterMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

Handle single entitiy with > 10 mb
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSink.java
Due: google-style-java

fix lint issue
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
Due: lint-staged

addressed PR comment
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/AuditLogs.spec.ts
Due: lint-staged

Fix s3 source test
  ingestion/tests/unit/topology/storage/test_s3_storage.py
Due: none

refactor: extract tag removal logic to helper method, use Set lookup
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Due: google-style-java

MINOR: Remove unrelated cross db not supported log message from common lineage source (#27253)
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
Due: none

fix: enable subprocess coverage tracking for CLI E2E tests
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/pyproject.toml
Due: none

Fixed SSODoc Panel bugs
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/auth0SSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/aws-cognito.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/awsCognitoSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/azureSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/customOidcSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/googleSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/ldapSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/oktaSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/samlSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SSOConfigurationForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/sso-configuration-form.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSODocPanel/SSODocPanel.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSODocPanel/SSODocPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSODocPanel/sso-doc-panel.less
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/ServiceDocPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/service-doc-panel.less
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Due: lint-staged

Single entity push
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSink.java
Due: google-style-java

feat: updated imports to point to generated files
  ingestion/src/metadata/data_quality/runner/base_test_suite_source.py
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
  ingestion/src/metadata/sampler/config.py
  ingestion/src/metadata/sampler/models.py
  ingestion/tests/unit/observability/profiler/pandas/test_sample.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/azuresql/test_azuresql_sampling.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/bigquery/test_bigquery_sampling.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/postgres/test_postgres_sampling.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/snowflake/test_snowflake_sampling.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/test_runner.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/test_sample.py
Due: none

Add stopped state support for pipeline status and stop/cancel AI agents (#27098)
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/MeteredPipelineServiceClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/PipelineStatusUtils.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClientInterface.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/AppStopRunModal.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/StopScheduleRun/StopScheduleRunModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/StopScheduleRun/StopScheduleRunModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/StopScheduleRun/StopScheduleRunModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppRunsHistory/AppRunsHistory.component.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/applicationAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionLogs/LogsUtils.ts
Due: google-style-java, lint-staged

fix(search): extract column metadata from _source in tag filter path, eliminating Phase 2 ES query
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ColumnGridResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchColumnAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchColumnAggregator.java
Due: google-style-java

Removing reduce css animations
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
Due: lint-staged

Fix task field validation to use exhaustive switch and add tests for all TaskTypes
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/FeedResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
Due: google-style-java

Fixes #25063: Add server-side tag filtering for table columns via ColumnResource API
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/tableAPI.ts
Due: google-style-java, lint-staged

feat: added dynamic sampler resolution logic
  ingestion/src/metadata/ingestion/source/database/athena/service_spec.py
  ingestion/src/metadata/ingestion/source/database/hive/service_spec.py
  ingestion/src/metadata/ingestion/source/database/impala/service_spec.py
  ingestion/src/metadata/ingestion/source/database/presto/service_spec.py
  ingestion/src/metadata/sampler/sampler_interface.py
  ingestion/src/metadata/sampler/sqlalchemy/athena/__init__.py
  ingestion/src/metadata/sampler/sqlalchemy/athena/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/azuresql/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/bigquery/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/hive/__init__.py
  ingestion/src/metadata/sampler/sqlalchemy/hive/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/impala/__init__.py
  ingestion/src/metadata/sampler/sqlalchemy/impala/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/mssql/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/postgres/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/presto/__init__.py
  ingestion/src/metadata/sampler/sqlalchemy/presto/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/snowflake/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/timescale/sampler.py
  ingestion/tests/unit/sampler/test_sample_config.py
  openmetadata-spec/src/main/resources/json/schema/type/dynamicSamplingConfig.json
Due: none

feat: ran python linting
  ingestion/src/metadata/data_quality/runner/base_test_suite_source.py
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
  ingestion/src/metadata/sampler/config.py
  ingestion/src/metadata/sampler/sampler_interface.py
  ingestion/src/metadata/sampler/sqlalchemy/azuresql/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/bigquery/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/impala/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/postgres/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/snowflake/sampler.py
  ingestion/tests/unit/observability/profiler/pandas/test_sample.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/azuresql/test_azuresql_sampling.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/bigquery/test_bigquery_sampling.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/postgres/test_postgres_sampling.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/snowflake/test_snowflake_sampling.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/test_runner.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/test_sample.py
  ingestion/tests/unit/sampler/test_sample_config.py
Due: none

Fix #25063: Address review comments - fix infinite loop, O(n) tag lookup, API routing
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/tableAPI.ts
Due: google-style-java, lint-staged

Fix #25063: Reset pagination to page 1 when tag filter changes
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
Due: lint-staged

fix: remove -a (append) flags incompatible with parallel coverage mode
  .github/workflows/py-cli-e2e-tests.yml
Due: none

Fix docker
  docker/development/docker-compose-fuseki.yml
  docker/run_local_docker.sh
  docker/run_local_docker_common.sh
  docs/rdf-local-development.md
Due: none

Refactor permission issue for ontology data mode
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorer.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
Due: lint-staged

fix: Skip mark_databases_as_deleted for single-database connectors and fix Azure SQL query
  ingestion/src/metadata/ingestion/source/database/azuresql/queries.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/tests/unit/topology/database/test_azuresql.py
  ingestion/tests/unit/topology/database/test_postgres.py
Due: none

fix: Skip mark_databases_as_deleted for single-database connectors
  ingestion/src/metadata/ingestion/source/database/azuresql/queries.py
  ingestion/tests/unit/topology/database/test_azuresql.py
Due: none

nit
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
Due: lint-staged

Fix docker
  docker/run_local_docker_common.sh
Due: none

fix specs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorer.spec.ts
Due: lint-staged

nit
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorer.spec.ts
Due: lint-staged

fix(playwright): update data product domain selector
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProducts.spec.ts
Due: lint-staged

fix: server-side column tag filtering across all pages (#25063)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TableUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TableUtilTest.java
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/tableAPI.ts
Due: google-style-java, lint-staged

fix lint issue
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorer.spec.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
Due: lint-staged

nit
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
Due: lint-staged

fix tests
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/LazyAuthenticators.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/setupTests.js
Due: lint-staged

fix(#27319): Add DB-backed /search endpoint for Roles and Teams
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
Due: google-style-java

test(#27319): Add integration tests for /search endpoint on Roles and Teams
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/RoleResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TeamResourceIT.java
Due: google-style-java

test(#27319): Rewrite search integration tests as thorough end-to-end scenarios
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/RoleResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TeamResourceIT.java
Due: google-style-java

remove redundant code
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
