Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

feat(ingestion): map DataContract to data_contract_search_index
  ingestion/src/metadata/utils/constants.py
  ingestion/src/metadata/utils/elasticsearch.py
  ingestion/tests/unit/test_ometa_utils.py
Due: none

feat(ui): data contract search index and query builder fields
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Due: lint-staged

Fixes #33918: [Snowflake] Bound the stored-procedure history scan and isolate its failures (#33919)
  ingestion/.basedpyright/baseline.json
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  ingestion/tests/unit/lineage/test_stored_procedure_lineage.py
  ingestion/tests/unit/source/database/snowflake/test_connection.py
  ingestion/tests/unit/topology/database/test_snowflake_stored_procedure_lineage.py
Due: none

test(playwright): inline the grid cell helper in gridEditors.spec
  openmetadata-ui/src/main/resources/ui/playwright/browser-tests/gridEditors.spec.ts
Due: lint-staged

fix(glue): ingest AWS Glue table parameters as custom properties (#33333) (#34269)
  ingestion/src/metadata/ingestion/source/database/athena/metadata.py
  ingestion/src/metadata/ingestion/source/database/custom_property_extension_mixin.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/models.py
  ingestion/tests/unit/topology/database/test_athena.py
  ingestion/tests/unit/topology/database/test_custom_property_extension_mixin.py
  ingestion/tests/unit/topology/database/test_glue.py
Due: none

Match an OpenLineage dataset only to database services that hold its table
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/metadata.py
  ingestion/tests/unit/topology/pipeline/test_openlineage.py
Due: none

feat(approval): change request history, preview, admin override and shadow mode
  bootstrap/sql/migrations/native/2.1.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/2.1.0/postgres/schemaChanges.sql
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ChangeRequestApplyIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ChangeRequestITSupport.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ChangeRequestSubmitIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/WorkflowDefinitionResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ApprovalGate.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeApplyService.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeRequestDelivery.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeRequestLifecycle.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeRequestMappers.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeRequestMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeRequestRecoveryScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeRequestService.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeRequestVisibility.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/GovernanceApprovalRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/CreateTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/impl/SetApprovalAssigneesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GovernanceDAOs.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/governance/ChangeRequestResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/approval/ChangeRequestLifecycleTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/approval/ChangeRequestServiceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/approval/GovernanceApprovalRegistryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/impl/SetApprovalAssigneesImplTest.java
  openmetadata-spec/src/main/resources/json/schema/api/governance/overrideChangeRequest.json
  openmetadata-spec/src/main/resources/json/schema/governance/changeRequest/approvalDecision.json
  openmetadata-spec/src/main/resources/json/schema/governance/changeRequest/changeLifecycleEvent.json
  openmetadata-spec/src/main/resources/json/schema/governance/changeRequest/changeRequestPreview.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/eventBasedEntityTrigger.json
Due: google-style-java

feat(ai): add support knowledge availability config (#34149)
  openmetadata-spec/src/main/resources/json/schema/configuration/aiPlatformConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/aiPlatformConfiguration.ts
Due: lint-staged

refactor(data-quality): share the Rule Library SQL expression renderer (#34203)
  ingestion/src/metadata/data_quality/validations/column/base/columnRuleLibrarySqlExpressionValidator.py
  ingestion/src/metadata/data_quality/validations/table/base/tableRuleLibrarySqlExpressionValidator.py
  ingestion/src/metadata/data_quality/validations/utils.py
Due: none

fix(informix): use lazy logging and clear Sonar findings
  ingestion/src/metadata/ingestion/source/database/informix/connection.py
  ingestion/src/metadata/ingestion/source/database/informix/metadata.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/informix/profiler_interface.py
  ingestion/src/metadata/sampler/sqlalchemy/informix/sampler.py
  ingestion/tests/integration/informix/test_sampler.py
  ingestion/tests/unit/topology/database/test_informix.py
Due: none

refactor(lineage): drop drag-to-connect node handles
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNodeV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Lineage/LineageMap/LineageMap.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Lineage/LineageMap/LineageMapEdit.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/Lineage/LineageMap/LineageMapEdit.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Export/ExportUtils.ts
Due: lint-staged

Fixes #33635: stop the knowledge graph canvas overflowing its grid area (#33639)
  openmetadata-ui/src/main/resources/ui/src/components/discovery/knowledge-graph/KnowledgeGraph.style.less
Due: none

fix(search): keep contract owners on result updates; drop all alias
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DataContractResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/DataContractIndexMappingTest.java
  openmetadata-spec/src/main/resources/elasticsearch/en/data_contract_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/data_contract_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/data_contract_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/data_contract_index_mapping.json
Due: google-style-java

feat(ontology): link derived terms to memories
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/ontology/OntologyChangeOperationExecutor.java
  openmetadata-service/src/test/java/org/openmetadata/service/ontology/OntologyChangeOperationExecutorTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossaryTerm.json
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryTermSourceMemories.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryTermSourceMemories.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createOntologyChangeSet.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/ontologyDomainDraftResult.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/ontologyMappingSuggestion.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/ontologyMappingSuggestionList.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/ontologyRelationshipSuggestion.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/ontologyRelationshipSuggestionList.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/updateOntologyChangeSet.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/glossaryTerm.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/ontologyChangeSet.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/ontologyChangeOperation.ts
Due: google-style-java, lint-staged

Index ML feature tags in tag_usage like every other type's inline children, and backfill existing ones
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ColumnChildTypesIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v210/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v210/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v210/MlFeatureTagBackfill.java
Due: google-style-java

Index feature tags on the bulk create path and fail the backfill instead of losing tags silently
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v210/MlFeatureTagBackfill.java
Due: google-style-java

Commit OpenLineage Kafka offsets only after each event is processed
  ingestion/.basedpyright/baseline.json
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/openlineage/metadata.py
  ingestion/tests/integration/openlineage/__init__.py
  ingestion/tests/integration/openlineage/conftest.py
  ingestion/tests/integration/openlineage/test_kafka_offsets.py
  ingestion/tests/unit/source/pipeline/openlineage/test_connection.py
  ingestion/tests/unit/topology/pipeline/test_openlineage.py
Due: none

fix(ui): restore typography parity in modals, forms and non-admin views
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithMarkdownEditor/ModalWithMarkdownEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostModal/FieldValueBoostModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/domain-label.less
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/AddRulePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
Due: lint-staged

Fix UI checkstyle
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.test.ts
Due: lint-staged

feat(dq): record run duration and error details on test case results (#34218)
  ingestion/.ruff-g004-baseline.json
  ingestion/src/metadata/data_quality/interface/test_suite_interface.py
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/src/metadata/sdk/data_quality/dataframes/dataframe_validation_engine.py
  ingestion/tests/unit/observability/data_quality/test_test_suite_interface.py
  ingestion/tests/unit/observability/data_quality/validations/table/sqlalchemy/test_table_diff.py
  ingestion/tests/unit/observability/data_quality/validations/test_base_handler.py
  ingestion/tests/unit/observability/data_quality/validations/test_evaluation_scope.py
  ingestion/tests/unit/sdk/data_quality/test_dataframe_validator.py
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestCaseResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResultRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResultMapper.java
  openmetadata-spec/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/en/test_case_result_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/test_case_result_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/test_case_result_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/test_case_result_index_mapping.json
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestCaseResult.json
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/tests/createTestCaseResult.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/feed/testCaseResult.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/feed/thread.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testCase.ts
Due: google-style-java, lint-staged

a page of documents filtered by visibility keeps its cursors
  openmetadata-service/src/main/java/org/openmetadata/service/resources/drive/ContextFileVisibility.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/drive/ContextFileVisibilityTest.java
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.component.tsx
Due: google-style-java, lint-staged

fix(ui): sanitise QuickLink URLs to prevent stored XSS (#34271)
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCard/KnowledgeCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCard/KnowledgeCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCenterWidget/KnowledgeCenterWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCenterWidget/KnowledgeCenterWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageSummary/KnowledgePageSummary.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageSummary/KnowledgePageSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePages/KnowledgePages.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePages/KnowledgePages.tsx
  openmetadata-ui/src/main/resources/ui/src/components/platform/ai-shell/Sidebar/ContextCenterSubNavSections.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/platform/ai-shell/Sidebar/ContextCenterSubNavSections.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDashboardPage/ContextCenterDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/KnowledgePageUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/KnowledgePageUtils.tsx
Due: lint-staged

feat(ui): share the custom property table and edit form across both settings pages
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/form-field/form-field.types.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AIMode/CustomPropertiesPanel.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertiesListTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertiesListTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertiesListTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyEditForm/CustomPropertyEditForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyEditForm/CustomPropertyEditForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyEditForm/CustomPropertyEditForm.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyEditForm/CustomPropertyEditForm.utils.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.utils.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/EditCustomPropertyModal/EditCustomPropertyModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/EditCustomPropertyModal/EditCustomPropertyModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/EditCustomPropertyModal/EditCustomPropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/panels/CustomPropertiesPanel/CustomPropertiesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/panels/CustomPropertiesPanel/CustomPropertiesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/panels/CustomPropertiesPanel/CustomPropertiesEditPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/panels/CustomPropertiesPanel/CustomPropertiesEditPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/panels/CustomPropertiesPanel/CustomPropertiesPanel.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/panels/CustomPropertiesPanel/CustomPropertiesPanel.types.ts
  openmetadata-ui/src/main/resources/ui/src/constants/CustomProperty.constants.ts
Due: lint-staged

Drop the read-time filter; clean stale references in the background only
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ColumnCustomPropertiesIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TypeResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnExtensionReferences.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CoreRelationshipDAOs.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityExtensionReferenceCompaction.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityExtensionReferences.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jobs/EntityExtensionReferenceCompactionScheduler.java
Due: google-style-java

fix(alerts): stop AI alert form remount + write clobber at the source
  openmetadata-ui/src/main/resources/ui/src/components/observability/Alerts/AlertAiDestinationSection.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/observability/Alerts/AlertAiForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/observability/Alerts/AlertAiFormFields.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/observability/Alerts/AlertAiFormFields.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/observability/Alerts/AlertAiFormFields.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/observability/Alerts/AlertAiFormFieldsPureUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/observability/Alerts/AlertAiFormFieldsPureUtils.ts
Due: lint-staged

test(playwright): remove flakiness in toast, route cleanup, and nav helpers
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AccessControlSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterArticlesFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ServiceAgentsKillVisibility.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/accessControl.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Due: lint-staged

style(ui): sort imports in the AI alert form fields test
  openmetadata-ui/src/main/resources/ui/src/components/observability/Alerts/AlertAiFormFields.component.test.tsx
Due: lint-staged

test(migration): mock MlFeatureTagBackfill in the v210 entry point test
  openmetadata-service/src/test/java/org/openmetadata/service/migration/v210/IngestionPipelineMigrationEntryPointTest.java
Due: google-style-java

fix(ui): pad the custom properties widget's no-match message
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertiesWidget/CustomPropertiesRightPanel.tsx
Due: lint-staged

chore(deps): skip Logback 1.6 in Dependabot until Dropwizard supports it
  .github/dependabot.yml
Due: none

Fixes 33779: update stale JSON-LD context tests and pin unprojected SQL mappings
  docs/rdf-ontology-contract.md
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/sql2sparql/SparqlBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/RdfJsonLdContextTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/RdfOntologyContractTest.java
Due: google-style-java

fix(ui): swap workflow canvas/node surfaces and stretch empty states (#34293)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Workflows/WorkflowOssRestrictions.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/CustomControls.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/CustomNodes.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/WorkflowCanvas.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/WorkflowExecutionHistory.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/WorkflowDefinitions/WorkflowBuilder/WorkflowBuilder.tsx
Due: lint-staged

fix(data-quality): keep a test case's status on its newest result (#34280)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestCaseLatestStatusIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResultRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/TestCaseResultRepositoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/indexes/TestCaseIndexTest.java
Due: google-style-java

feat(context): show derived ontology on memories
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/OntologyChangeSetIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContextMemoryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/context/ContextMemoryResource.java
  openmetadata-spec/src/main/resources/json/schema/type/entityRelationship.json
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/CreateMemoryModal/CreateMemoryModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/CreateMemoryModal/CreateMemoryModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ExtractedMemoriesCard/ExtractedMemoriesCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryTermSourceMemories.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryTermSourceMemories.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/ContextCenter.constants.ts
Due: google-style-java, lint-staged

fix(data-quality): keep a test case's status on its newest result (backport 2.0 #34280) (#34285)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestCaseLatestStatusIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResultRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/TestCaseResultRepositoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/indexes/TestCaseIndexTest.java
Due: google-style-java

fix(data-quality): keep a test case's status on its newest result (backport 1.13 #34280) (#34289)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestCaseLatestStatusIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResultRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/TestCaseResultRepositoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/indexes/TestCaseIndexTest.java
Due: google-style-java

add support univers domain for bigquery
  ingestion/src/metadata/ingestion/source/database/bigquery/connection.py
  ingestion/src/metadata/ingestion/source/database/bigquery/helper.py
  ingestion/src/metadata/utils/bigquery_utils.py
  ingestion/src/metadata/utils/credentials.py
  ingestion/tests/unit/source/database/bigquery/test_connection_url.py
  ingestion/tests/unit/test_credentials.py
  ingestion/tests/unit/topology/database/test_bigquery_impersonation.py
  openmetadata-spec/src/main/resources/json/schema/security/credentials/gcpValues.json
  openmetadata-ui/src/main/resources/ui/src/constants/CoreObjectFieldTemplate.constants.ts
  openmetadata-ui/src/main/resources/ui/src/generated/security/credentials/gcpValues.ts
Due: lint-staged

fix(alerts): route template selection through the functional onChange updater
  openmetadata-ui/src/main/resources/ui/src/components/observability/Alerts/AlertAiNotificationSection.component.tsx
Due: lint-staged

Add admin-only Bots management tab to the profile page (#34232)
  .github/playwright/impact-map.generated.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/BotsProfile.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/profileNavConfig.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/profileNavConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotAddForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotAddForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotDetailPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotDetailPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotToken.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotTokenSection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotTokenSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotsListPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotsListPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotsPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotsPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/bots/BotsPanel.types.ts
Due: lint-staged
