Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/hadialqattan/pycln
    rev: v1.2.4
    hooks:
      - id: pycln
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 100 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

chore: Clear stale state before login in OidcAuthenticator
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
Due: lint-staged

chore: Reset user details if token is expired or not present
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
Due: lint-staged

Fix Query for postgres
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Due: google-style-java

Updated dbt core versions in docs
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/workflows/dbt/index.md
Due: none

update progress
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Explore.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.ts
Due: lint-staged

MINOR - Unbound requests
  ingestion/setup.py
Due: none

MINOR: Fix flaky pytests
  ingestion/tests/integration/mlflow/test_mlflow.py
Due: none

fix patch request for inherited ownership
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Due: lint-staged

chore: Initialize Axios interceptors in AuthProvider component
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
Due: lint-staged

fix: test case listing with prefix
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Due: google-style-java

DOCS - Upgrade bootstrap_storage
  openmetadata-docs/content/v1.4.x/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.4.x/deployment/upgrade/bare-metal.md
  openmetadata-docs/content/v1.4.x/developers/architecture/code-layout.md
  openmetadata-docs/content/v1.4.x/developers/contribute/build-code-and-run-tests/openmetadata-server.md
Due: none

MINOR: Fix flaky pytests (#16379)
  ingestion/tests/integration/mlflow/test_mlflow.py
Due: none

MINOR: Fix UC missing table type (#16376)
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
Due: none

chore: Update AuthProvider component to fetch auth config before starting token expiry timer
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
Due: lint-staged

DOCS - Upgrade bootstrap_storage (#16384)
  openmetadata-docs/content/v1.4.x/deployment/bare-metal/index.md
  openmetadata-docs/content/v1.4.x/deployment/upgrade/bare-metal.md
  openmetadata-docs/content/v1.4.x/developers/architecture/code-layout.md
  openmetadata-docs/content/v1.4.x/developers/contribute/build-code-and-run-tests/openmetadata-server.md
Due: none

Fix Initial Offset (#16375)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Due: google-style-java

print with logs
  ingestion/tests/integration/trino/conftest.py
Due: none

fix: domain filtering
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

fix patch request for inherited ownership (#16383)
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Due: lint-staged

disable capture logging
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/trino/conftest.py
Due: none

added cypress for domain and data quality filters
  openmetadata-ui/src/main/resources/ui/cypress/common/EntityUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
Due: lint-staged

updated db host
  ingestion/tests/integration/trino/conftest.py
Due: none

Updated dbt core versions in docs (#16377)
  openmetadata-docs/content/v1.3.x/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/workflows/dbt/index.md
Due: none

MINOR: remove newline char in lineage queries (#16361)
  ingestion/src/metadata/ingestion/source/database/redshift/lineage.py
Due: none

verify owner propagation
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DatabaseClass.ts
Due: lint-staged

removed debug stuff
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/trino/conftest.py
Due: none

removed debug stuff
  ingestion/tests/integration/trino/conftest.py
Due: none

removed version pin for requests
  ingestion/setup.py
Due: none

Adding Re-Indexing For Troubleshooting
  openmetadata-docs/content/v1.3.x/how-to-guides/admin-guide/Reindexing-Search.md
  openmetadata-docs/content/v1.4.x/how-to-guides/admin-guide/Reindexing-Search.md
Due: none

chore: Remove Maven Publish CI Trigger on Release Event
  .github/workflows/publish-maven-package.yml
Due: none

reverted superset
  ingestion/tests/unit/topology/dashboard/test_superset.py
Due: none

chore: Remove Maven Publish CI Trigger on Release Event (#16386)
  .github/workflows/publish-maven-package.yml
Due: none

fix reloading
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/DatabaseClass.ts
Due: lint-staged

Added pbit docs
  openmetadata-docs/content/v1.4.x/connectors/dashboard/powerbi/powerbi-pbit-lineage.md.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/images/v1.4/connectors/powerbi/pbit-file-source.png
Due: none

Improve the logic to clear the stale states before login for the OIDC logins
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
Due: lint-staged

add dbservicenames field
  openmetadata-docs/content/v1.4.x/connectors/dashboard/powerbi/powerbi-pbit-lineage.md.md
Due: none

ignore trino integration on python 3.8
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/trino/conftest.py
  ingestion/tests/integration/trino/test_trino.py
Due: none

[MINOR] test case listing with prefix (#16382)
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/common/EntityUtils.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DataQuality.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
Due: google-style-java, lint-staged

format doc
  openmetadata-docs/content/v1.4.x/connectors/dashboard/powerbi/powerbi-pbit-lineage.md.md
Due: none
