Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

ci: update skip workflow to satisfy playwright-summary required check
  .github/workflows/playwright-postgresql-e2e-skip.yml
Due: none

fix(ui): hide data product lifecycle stage badge (#29290)
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
Due: lint-staged

test(ui): verify sidebar reflects a cross-group nav move after applying persona
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SettingsNavigationPage.spec.ts
Due: lint-staged

Replace notistack snackbar with core-components Toast (#29271)
  openmetadata-ui-core-components/CLAUDE.md
  openmetadata-ui-core-components/src/main/resources/ui/package.json
  openmetadata-ui-core-components/src/main/resources/ui/src/components/SnackbarContent.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast-store.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/index.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/stories/Toast.stories.tsx
  openmetadata-ui-core-components/src/main/resources/ui/vite.config.ts
  openmetadata-ui-core-components/src/main/resources/ui/yarn.lock
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedApp.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/AssetsSelectionModal/useAssetSelectionContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataMarketplace/MarketplaceDataProductsWidget/MarketplaceDataProductsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataMarketplace/MarketplaceDomainsWidget/MarketplaceDomainsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProduct/DataProductListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetails/DomainDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DomainListing/DomainListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/notifications/NotificationMessage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CoverImageUploadUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/NotistackUtils.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

fix(ui): drop nodeDepth partitioning so ELK derives lineage layers from edges (#29224)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/__snapshots__/LineageExportPNGSnapshot.spec.ts-snapshots/lineage-export-with-edges.png
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageLayoutUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Lineage/Layout/ELKUtil/ELKUtil.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Lineage/Layout/ELKUtil/ELKUtil.ts
Due: lint-staged

test: fix flacky navigation behaviour for workfkow details page (#29315)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryApprovalAfterMove.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Workflows/NoOpWorkflowNodeConfig.spec.ts
Due: lint-staged

test: Add extra assertion for file widget before upload (#29333)
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Due: lint-staged

ui: bump form-data package (#29349)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

ci: use playwright-summary as single required check instead of per-shard names (#29357)
  .github/workflows/playwright-postgresql-e2e-skip.yml
  .github/workflows/playwright-postgresql-e2e.yml
Due: none

fix(data-insights): snapshot entityStatus so DI charts can filter by lifecycle status
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/DataInsightsEntityEnricherProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/enricher/steps/EntityStatusStep.java
  openmetadata-service/src/main/resources/dataInsights/config.json
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/insights/workflows/dataAssets/processors/enricher/steps/EntityStatusStepTest.java
Due: google-style-java

fix(fqn): support double-quoted names in UI Fqn util
  openmetadata-ui/src/main/resources/ui/src/utils/Fqn.test.js
  openmetadata-ui/src/main/resources/ui/src/utils/Fqn.ts
Due: lint-staged

fixed playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/BulkEditEntity/BulkEditEntity.component.tsx
Due: lint-staged

fix(ui): render each DataAssetsHeader breadcrumb crumb exactly once
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/EntityHeaderBreadcrumb.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/headerBreadcrumbUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.breadcrumb.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityBreadcrumbPureUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityBreadcrumbPureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityGovernanceBreadcrumbUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityServiceBreadcrumbUtils.ts
Due: lint-staged

Update openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Container.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Container.spec.ts
Due: lint-staged

Fixes #29358: fix BigQuery test connection signature, per-project scoping, and engine teardown
  ingestion/src/metadata/ingestion/source/database/bigquery/connection.py
  ingestion/src/metadata/ingestion/source/database/bigquery/helper.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/tests/unit/topology/database/test_bigquery_test_connection.py
Due: none

fix(ingestion): upgrade sudo to patch CVE-2026-35535 (#29343)
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile.ci
Due: none

perf(ui): lazy load secondary dashboard header modules
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/LandingPageDomainSelector.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/RecentlyViewedCarousel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Due: lint-staged

fix(ui): drop nodeDepth partitioning so ELK derives lineage layers from edges (#29224)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/__snapshots__/LineageExportPNGSnapshot.spec.ts-snapshots/lineage-export-with-edges.png
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Lineage/Layout/ELKUtil/ELKUtil.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Lineage/Layout/ELKUtil/ELKUtil.ts
Due: lint-staged

feat(ai): select AiProvider via llmConfiguration.aiProviderClass
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/drive/AiProviderHolder.java
  openmetadata-service/src/test/java/org/openmetadata/service/drive/AiProviderHolderTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/llmConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/llmConfiguration.ts
Due: google-style-java, lint-staged

fix(dbt): resolve basedpyright static-check errors on metric ingestion
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Due: none

fix(search): backfill name indexes for distributed reindex pagination
  bootstrap/sql/migrations/native/2.0.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/2.0.3/postgres/schemaChanges.sql
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/repositories/EntityNameIndexIT.java
Due: google-style-java

fix(search): move pre-1.13.1 entity name indexes into the 1.13.1 backfill
  bootstrap/sql/migrations/native/1.13.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.13.1/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/2.0.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/2.0.3/postgres/schemaChanges.sql
Due: none

fix(ui): fix PNG lineage export download event and late loading spinner
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Export/ExportUtils.ts
Due: lint-staged

fix(it): drain async bulk worker before TestNamespace cleanup (#29297)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/AuditLogResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/BaseEntityIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestCaseResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
Due: google-style-java

fix(suggestions): fix createdById param, entity link conversion, and type filtering (#29306)
  openmetadata-ui/src/main/resources/ui/src/rest/suggestionsAPI.test.ts
  openmetadata-ui/src/main/resources/ui/src/rest/suggestionsAPI.ts
Due: lint-staged

Fix slow, memory-bound Data Retention entity relationship cleanup
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/EntityRelationshipCleanupIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityRelationshipCleanup.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/relationshipcleanup/BatchEntityExistenceResolver.java
Due: google-style-java

fix(search): place context_* name indexes in 2.0.0 instead of 2.0.3
  bootstrap/sql/migrations/native/2.0.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/2.0.0/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/2.0.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/2.0.3/postgres/schemaChanges.sql
Due: none

Update blog link for WhatsNewAlert
  openmetadata-ui/src/main/resources/ui/src/utils/BrandData/BrandClassBase.ts
Due: lint-staged

feat(ingestion): hierarchical progress tracking (lazy tree + SSE stream)
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/ometa/mixins/progress_mixin.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/progress_two_tier.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/utils/progress_registry.py
  ingestion/src/metadata/workflow/base.py
  ingestion/src/metadata/workflow/progress_render.py
  ingestion/src/metadata/workflow/workflow_status_mixin.py
  ingestion/tests/unit/source/database/test_progress_two_tier.py
  ingestion/tests/unit/source/database/test_snowflake_progress_count.py
  ingestion/tests/unit/source/database/test_snowflake_progress_path.py
  ingestion/tests/unit/test_progress_registry.py
  ingestion/tests/unit/topology/test_entity_type_label.py
  ingestion/tests/unit/topology/test_topology_progress_path.py
  ingestion/tests/unit/topology/test_topology_runner_progress.py
  ingestion/tests/unit/workflow/test_progress_rendering.py
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/IngestionPipelineProgressStreamIT.java
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/IngestionProgressTracker.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/MicrometerBundle.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/ProgressSseManager.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/IngestionProgressTrackerTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/progressUpdate.json
  openmetadata-ui/src/main/resources/ui/src/components/common/AnnouncementsWidget/AnnouncementItemV3.test.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/progressUpdate.ts
Due: google-style-java, lint-staged

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
Due: lint-staged

fix selector for export lineage
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LineageExportPNGSnapshot.spec.ts
Due: lint-staged

revert entity
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

fix: sync followers in search index
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchRepositoryBehaviorTest.java
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: google-style-java, lint-staged

Remove content/column name split for classification (#29203)
  bootstrap/sql/migrations/native/1.13.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.13.0/postgres/postDataMigrationSQLScript.sql
  ingestion/src/metadata/pii/algorithms/tag_scoring.py
  ingestion/src/metadata/pii/tag_analyzer.py
  ingestion/tests/unit/metadata/pii/test_language_filtering.py
  ingestion/tests/unit/metadata/pii/test_tag_analyzer_any_language.py
  ingestion/tests/unit/metadata/pii/test_tag_processor.py
  ingestion/tests/unit/metadata/pii/test_tag_scoring.py
  openmetadata-service/src/main/resources/json/data/tags/piiTagsWithRecognizers.json
Due: none

Fixes #29261: record change events for async and recursive deletes (#29260)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/AuditLogResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/audit/AuditLogRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-spec/src/main/resources/json/schema/type/changeEvent.json
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/eventSubscriptionDiagnosticInfo.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/typedEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/failedEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/failedEventResponse.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/changeEvent.ts
Due: google-style-java, lint-staged

test: wait for landing page domain selector
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.test.tsx
Due: lint-staged

Address lineage scene review comments
  openmetadata-service/src/main/java/org/openmetadata/service/lineage/LineageSceneResolver.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/lineage/LineageResource.java
Due: google-style-java

Add RDF glossary term graph filter
  docs/rdf-local-development.md
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/rdf/RdfResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/RdfGlossaryTermGraphFilterTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/rdf/RdfResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerRdf.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/hooks/useOntologyExplorer.ts
  openmetadata-ui/src/main/resources/ui/src/rest/rdfAPI.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/rdfAPI.ts
Due: google-style-java, lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
