Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

fix(security): bump jackson to 2.18.11
  pom.xml
Due: none

fix(security): bump tools.jackson to 3.1.7
  pom.xml
Due: none

Fixes #33752: [Ingestion] Keep the stored schemaDefinition when a connector returns none
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/tests/unit/metadata/ingestion/models/test_patch_request.py
Due: none

fix(dataProducts): key ODPS import identity on productID, not display name
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DataProductResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ODPSConverter.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/ODPSConverterTest.java
Due: google-style-java

fix: apply ruff formatting (trailing whitespace, EOF newline)
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/tests/unit/metadata/ingestion/ometa/test_usage_caching.py
Due: none

feat(tableau-pipeline): ingest extract refreshes as pipelines with run history
  ingestion/src/metadata/ingestion/source/pipeline/tableaupipeline/README.md
  ingestion/src/metadata/ingestion/source/pipeline/tableaupipeline/client.py
  ingestion/src/metadata/ingestion/source/pipeline/tableaupipeline/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/tableaupipeline/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/tableaupipeline/models.py
  ingestion/src/metadata/ingestion/source/pipeline/tableaupipeline/queries.py
  ingestion/tests/integration/tableaupipeline/_fixtures.py
  ingestion/tests/integration/tableaupipeline/conftest.py
  ingestion/tests/integration/tableaupipeline/test_source_flow.py
  ingestion/tests/unit/topology/pipeline/test_tableaupipeline.py
  ingestion/tests/unit/topology/pipeline/test_tableaupipeline_client.py
  ingestion/tests/unit/topology/pipeline/test_tableaupipeline_connection.py
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/tableaupipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/tableauPipelineConnection.json
  openmetadata-ui/src/main/resources/ui/public/jsons/connectionSchemas/connections/pipeline/tableauPipelineConnection.json
  openmetadata-ui/src/main/resources/ui/public/jsons/connectionSchemas/connections/serviceConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/TableauPipeline.md
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/tableauPipelineConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/serviceProgressEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/ingestionSchemas/testSuitePipeline.json
  openmetadata-ui/src/main/resources/ui/src/jsons/ingestionSchemas/workflow.json
Due: lint-staged

fix(tableau-pipeline): end the extract refresh job scan on any error
  ingestion/src/metadata/ingestion/source/pipeline/tableaupipeline/client.py
  ingestion/tests/unit/topology/pipeline/test_tableaupipeline_client.py
Due: none

test: add Playwright browser-helper tests + custom ESLint rules (18 files) (#33880)
  openmetadata-ui/src/main/resources/ui/playwright/browser-helper-tests.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/browser-tests/alertDestinationPicker.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/browser-tests/gridEditors.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/browser-tests/landingWidgetReadiness.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/browser-tests/queryBuilderSelections.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/browser-tests/reactions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/browser-tests/serverLoad.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/browser-tests/taskActions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/index.mjs
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/no-discarded-state-query.mjs
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/no-implicit-navigation-load.mjs
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/no-status-filtered-response.mjs
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/reset-fixture-arrays.mjs
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/tests/no-discarded-state-query.test.mjs
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/tests/no-implicit-navigation-load.test.mjs
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/tests/no-status-filtered-response.test.mjs
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/tests/reset-fixture-arrays.test.mjs
Due: lint-staged

refactor(ui): migrate EntityHeaderTitle from antd to core-ui
  openmetadata-ui/src/main/resources/ui/src/components/Domain/domain.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/entity-header-title.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/badge.less
  openmetadata-ui/src/main/resources/ui/src/styles/globalStyles.ts
Due: lint-staged

style(ui): move dark antd alert/card overrides to end of app.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: none

Fixes #33951: key-based CommonWidgets, respect widget size, fix tab flicker (#33952)
  openmetadata-ui/src/main/resources/ui/src/components/Customization/CustomizeTabWidget/CustomizeTabWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/DynamicHeightWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/DynamicHeightWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.hooks.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.hooks.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.registry.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.types.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.utils.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/CertificationWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/CustomPropertiesWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/DataProductsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/DataProductsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/DescriptionWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/DescriptionWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/DomainWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/ExpertsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/GlossaryWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/LeftPanelWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/LeftPanelWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/OwnerWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/OwnerWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/ReviewerWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/TagsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/widgets/TierWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/customization.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePage/CustomizePageWidgetUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePage/CustomizePageWidgetUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDataModelUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDataModelUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/MlModelDetailsUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/MlModelDetailsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchIndexUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchIndexUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TablePureUtils.ts
Due: lint-staged

test(sso): msal-mock has no browser /authorize; tighten URL matcher
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Auth/SsoScenarios.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/sso-providers/msal-mock.ts
Due: lint-staged

fix(ui): full-width Domain scope trigger and sub-domain glyph in the picker
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/tree-select/tree-select.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelect/DomainSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/platform/ai-shell/Sidebar/DomainScopeControl.tsx
Due: lint-staged

style(ui): sonar S6582 optional chain in markConsumedIfFromRing
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/AuthCoordinator/CrossTabLock.ts
Due: lint-staged

test(sso): match Keycloak's /openid-connect/auth in PKCE URL filter
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Auth/SsoScenarios.spec.ts
Due: lint-staged

feat(dq): plot runs that produced no value
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.ts
Due: lint-staged

feat(dq): draw the expectation line at the value the test asserts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.ts
Due: lint-staged

feat(dq): select a run from the result history chart
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/useTestCase.store.ts
Due: lint-staged

feat(dq): separate aborted from queued runs and flatten the chart axis
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.ts
Due: lint-staged

fix(dq): draw aborted runs as rings on the chart too
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
Due: lint-staged

fix(dq): wash only the zone below the expectation line
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
Due: lint-staged

feat(dq): run the line through aborted and queued runs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TestCaseDetailsPage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.ts
Due: lint-staged

fix(dq): stack the click hint under the chart and reclaim the axis margin
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
Due: lint-staged

fix(dq): keep the expectation label and selected halo clear of the plot
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
Due: lint-staged

fix(dq): bridge the series over runs with no value, and let the grid through
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
Due: lint-staged

fix(dq): draw the allowed range as an edgeless wash
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
Due: lint-staged

fix(dq): lighten the area wash and paint the range over it
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
Due: lint-staged

fix(dq): shade the area under the series, not a band below the line
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
Due: lint-staged

feat(dq): name the status colours beside the chart
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryStatusKey.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryStatusKey.tsx
Due: lint-staged

fix(dq): only draw a dot where the series holds a value
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TestCaseDetailsPage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
Due: lint-staged

Revert "flatten the chart axis"
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/TestSummaryGraphUtils.ts
Due: lint-staged

feat(dq): bring the result history chart in line with the mock
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
Due: lint-staged

fix(dq): let the test case page scroll its header away like entity pages
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Due: none

fix(security): bump jackson to 2.18.11 and tools.jackson to 3.1.7 (#33990)
  pom.xml
Due: none

Fixes 33958: dark theme for the Column Bulk Operations page (#33959)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic_occurrences.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic_pending-changes.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic_unique-column.svg
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGrid.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/components/ColumnGridTableRow.tsx
Due: lint-staged

Backfill announcement type default in prepare()
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/AnnouncementResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AnnouncementRepository.java
Due: google-style-java
