Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Addressed comments
  ingestion/src/metadata/ingestion/source/dashboard/mstr/client.py
Due: none

MINOR: Fix StackTraceError validation error - Superset
  ingestion/src/metadata/ingestion/source/dashboard/superset/db_source.py
Due: none

Docs: Version Updation on Python SDK (#18739)
  openmetadata-docs/content/v1.5.x/sdk/python/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/sdk/python/index.md
Due: none

Docs: Airflow Doc Quote Correction
  openmetadata-docs/content/v1.5.x/deployment/ingestion/external/airflow.md
Due: none

Docs: Airflow Doc Quote Correction (#18741)
  openmetadata-docs/content/v1.5.x/deployment/ingestion/external/airflow.md
Due: none

Add constants
  ingestion/src/metadata/ingestion/source/dashboard/mstr/client.py
Due: none

Fix #18441: kafka connect password as secret value
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
Due: none

minor change
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/EntityImport.component.tsx
Due: lint-staged

fix minor styling of domain component (#18738)
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
Due: lint-staged

use the table from the sampler in the test suite interface
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/mixins/sqalchemy/sqa_mixin.py
  ingestion/src/metadata/profiler/orm/converter/base.py
  ingestion/src/metadata/sampler/sampler_interface.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
Due: none

testing response
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
Due: lint-staged

minor: add whats new for 5.1.12
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

linting
  ingestion/src/metadata/data_quality/interface/pandas/pandas_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/test_suite_interface.py
  ingestion/src/metadata/data_quality/runner/base_test_suite_source.py
Due: none

GEN-2128 adding auto cherry-pick workflow
  .github/workflows/auto-cherry-pick-labeled-prs.yaml
Due: none

fixed the profiler with similar solution
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
Due: none

removed unused inheritance
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
Due: none

Add annotation to turn delete_recursive test into the last one to be executed
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Due: google-style-java

removed unneeded super().__init__()
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
Due: none

add test for lineage export (#18709)
  openmetadata-ui/src/main/resources/ui/playwright/constant/lineage.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LineageExport.spec.ts
Due: lint-staged

GEN-2128 enhance message when cherry-pick fails
  .github/workflows/auto-cherry-pick-labeled-prs.yaml
Due: none

handle import error in param_setter_factory.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/param_setter_factory.py
Due: none

Add Null check for source config
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
Due: google-style-java

Add Null check for source config (#18746)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
Due: google-style-java

modify some test id in table constraints
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraints.tsx
Due: lint-staged

MINOR: Add Mysql Lineage & Usage Support 1.5.11
  ingestion/src/metadata/ingestion/source/database/mysql/lineage.py
  ingestion/src/metadata/ingestion/source/database/mysql/queries.py
  ingestion/src/metadata/ingestion/source/database/mysql/query_parser.py
  ingestion/src/metadata/ingestion/source/database/mysql/usage.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
Due: none

Minor: Fix Athena location path
  ingestion/src/metadata/ingestion/source/database/athena/metadata.py
Due: none

add stich docs (#18666)
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/stitch/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/stitch/yaml.md
  openmetadata-docs/images/v1.6/connectors/stitch/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/stitch/select-service.png
  openmetadata-docs/images/v1.6/connectors/stitch/service-connection.png
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Stitch.md
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

Fix #18441: kafka connect password as secret value (#18742)
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
Due: none

add lineage export tests
  openmetadata-ui/src/main/resources/ui/playwright/constant/lineage.interface.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LineageExport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
Due: lint-staged

Remove the permission check for the `/{alertType}/resources` API since it's not necessary
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
Due: google-style-java

Fix pytests
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/dashboard/mstr/client.py
Due: none

removed all instances of orm_table
  ingestion/src/metadata/sampler/processor.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/tests/unit/metadata/data_quality/test_table_diff_param_setter.py
  ingestion/tests/unit/profiler/sqlalchemy/snowflake/test_sampling_method.py
  ingestion/tests/unit/profiler/sqlalchemy/test_metrics.py
  ingestion/tests/unit/profiler/sqlalchemy/test_profiler.py
  ingestion/tests/unit/profiler/sqlalchemy/test_runner.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sample.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sqa_profiler_interface.py
  ingestion/tests/unit/test_suite/conftest.py
Due: none

Improve Fetching Entities by only fetching the FQN
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/PeriodicBatchEntityTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FetchEntitiesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Due: google-style-java

Cut back default batchsize to 500
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/periodicBatchEntityTrigger.json
Due: none

Fix: mstr removed dependency issues (#18732)
  ingestion/setup.py
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/dashboard/mstr/client.py
  ingestion/src/metadata/ingestion/source/dashboard/mstr/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/mstr/models.py
Due: none

adding limit
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
Due: lint-staged

Minor: fix Lineage export when there is no column / pipeline edge (#18737)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
Due: google-style-java, lint-staged

fix: merge conflicts
  ingestion/src/metadata/data_quality/interface/pandas/pandas_test_suite_interface.py
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/mixins/pandas/pandas_mixin.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/processor/runner.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/postgres/sampler.py
  ingestion/src/metadata/sampler/nosql/sampler.py
  ingestion/src/metadata/sampler/pandas/sampler.py
  ingestion/src/metadata/sampler/sampler_interface.py
  ingestion/src/metadata/sampler/sqlalchemy/postgres/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/snowflake/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/trino/sampler.py
  ingestion/tests/integration/datalake/conftest.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/profiler/sqlalchemy/bigquery/test_bigquery_sampling.py
  ingestion/tests/unit/profiler/sqlalchemy/postgres/test_postgres_sampling.py
  ingestion/tests/unit/profiler/sqlalchemy/snowflake/test_snowflake_sampling.py
  ingestion/tests/unit/profiler/sqlalchemy/test_runner.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sample.py
Due: none

Add Lineage Export Async endpoint using Search (#18553)
  .run/Template JUnit.run.xml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/lineage/LineageResource.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/exception/CSVExportException.java
  openmetadata-ui/src/main/resources/ui/.lintstagedrc.yaml
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/lineageAPI.ts
Due: google-style-java, lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
