Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

code refactor
  openmetadata-ui/src/main/resources/ui/src/assets/svg/entity/api-service.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/entity/drive-service.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/entity/metadata-service.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/entity/ml-model-service.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/entity/pipeline-service.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/entity/storge-service.svg
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/CreateMemoryModal/CreateMemoryModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetFilterPopover.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetMultiSelectPopover.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetPicker.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetPickerRow.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetPickerShell.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/useAsyncDataAssetOptions.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Assets.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterMemoriesPage/ContextCenterMemoriesPage.tsx
Due: lint-staged

minor fix
  openmetadata-ui/src/main/resources/ui/src/assets/svg/entity/storage-service.svg
Due: none

fix(test): address review feedback on AuditLogConsumer gap handling
  openmetadata-service/src/main/java/org/openmetadata/service/audit/AuditLogConsumer.java
  openmetadata-service/src/test/java/org/openmetadata/service/audit/AuditLogConsumerTest.java
Due: google-style-java

fix: log actual gap-open duration, not the threshold, on audit gap skip
  openmetadata-service/src/main/java/org/openmetadata/service/audit/AuditLogConsumer.java
Due: google-style-java

fix: tighten recognizer feedback payload normalization
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TaskRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v200/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/tasks/RecognizerFeedbackTaskPayloadKeys.java
  openmetadata-service/src/main/java/org/openmetadata/service/tasks/TaskFormExecutionResolver.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/TaskRepositoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/tasks/TaskFormExecutionResolverTest.java
Due: google-style-java

fix(mlmodel): tolerate concurrently-deleted service when listing
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
Due: google-style-java

test(rdf): wait for full glossary-graph projection before asserting
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/RdfGlossaryGraphIT.java
Due: google-style-java

fix(glossary): propagate rename to child term search docs in-line
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
Due: google-style-java

Batch Data Quality dashboard report aggregations to fix the N+1
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestSuiteResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-spec/src/main/resources/json/schema/tests/dataQualityReportBatchRequest.json
  openmetadata-spec/src/main/resources/json/schema/tests/dataQualityReportBatchResponse.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/CertificationFilter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/DataObservabilityGovernanceTab.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/DataQualityDashboard.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataQuality.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/dataQualityReportBatchRequest.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/dataQualityReportBatchResponse.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityDashboardAPI.test.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityDashboardAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityReportBatcher.test.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityReportBatcher.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Due: google-style-java, lint-staged

perf(glossary): bulk child-term reindex on rename instead of per-term loop
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

fix(search): skip concurrently-deleted refs in bulk reindex
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

Fixes #29255: Remove unused LMAX Disruptor event bus and dependency
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/audit/AuditLogEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/AbstractEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/EventPubSub.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/EventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/CloudwatchEventMonitor.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/EventMonitor.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/EventMonitorFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/EventMonitorPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/PrometheusEventMonitor.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/CloudWatchEventMonitorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/EventMonitorFactoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/EventMonitorPublisherTest.java
  pom.xml
Due: google-style-java

fix(ui): keep raw entity-type values in the Add-Assets drawer quick filter
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
Due: lint-staged

test: de-flake TaskResourceIT.testCreatedEndpointReturnsUserTasks
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TaskResourceIT.java
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/services/tasks/TaskService.java
Due: google-style-java

Fix bulk import Playwright grid editing
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/GlossaryImportExport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Due: lint-staged

fix(search): keep transient live-index retries pending, don't dead-letter
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexRetryWorker.java
Due: google-style-java

fix(test): update knowledge-graph & ontology Playwright specs for CI
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/KnowledgeGraph.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyImportRdf.spec.ts
Due: lint-staged

fix(kg3d): second round of PR review feedback
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfRepository.java
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeGraph3D/KnowledgeGraph3DPanel.tsx
Due: google-style-java, lint-staged

test(testcase): widen logical-suite search-propagation awaits to 60s
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestCaseResourceIT.java
Due: google-style-java

Fixes #29257: prevent endless pending-migration loop on latin1 databases
  bootstrap/sql/migrations/flyway/com.mysql.cj.jdbc.Driver/v000__create_server_change_log.sql
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationProcessImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/api/MigrationWorkflow.java
  openmetadata-service/src/test/java/org/openmetadata/service/migration/api/MigrationProcessImplTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/migration/api/MigrationTrackingTableCharsetTest.java
Due: google-style-java

Apply spotless formatting
  openmetadata-service/src/main/java/org/openmetadata/service/security/mask/PIIMasker.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/mask/PIIMaskerTest.java
Due: google-style-java

fix(lineage): address PR review — robust fallback and rgb color
  openmetadata-ui/src/main/resources/ui/src/utils/CanvasUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Export/ExportUtils.ts
Due: lint-staged

fix(ui): wait for browse-mode index in SearchExport browse-export E2E
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SearchExport.spec.ts
Due: lint-staged

Address review: bounded fan-out, client chunking, null-safe batch errors
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataQuality.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityReportBatcher.test.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityReportBatcher.ts
Due: google-style-java, lint-staged

Fix UI checkstyle: blank line before const in batcher test
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityReportBatcher.test.ts
Due: lint-staged

fix(domains): selective common-ancestor scan for childrenCount; deterministic assets order
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/DomainRepositoryListingTest.java
Due: google-style-java

Fix missing audit log / change events for async and recursive deletes
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/AuditLogResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/audit/AuditLogRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-spec/src/main/resources/json/schema/type/changeEvent.json
  openmetadata-ui/src/main/resources/ui/src/generated/type/changeEvent.ts
Due: google-style-java, lint-staged

fix(ui): exclude dataModel from Explore/suggestion search payloads
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtilsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ExploreUtils.tsx
Due: lint-staged

Fix ODPS import/merge + data-product metadata persistence bugs (#27600) (#29205)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TaskResourceIT.java
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/services/tasks/TaskService.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DataProductResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ODPSConverter.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/ODPSConverterTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProductODPS.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/ODPSImportModal/ODPSImportModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: google-style-java, lint-staged

refactor(domains): rewrite childrenCount hierarchy math on segment lists
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainHierarchyHashes.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/DomainHierarchyHashesTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/DomainRepositoryListingTest.java
Due: google-style-java

fix(search): address PR review — strip docs/logs + summary-panel error handling
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexUtils.java
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtilsV1.tsx
Due: google-style-java, lint-staged

Backport ODPS name-guard hardening + domain-detach resilience to 1.13 (#29205)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProductODPS.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/ODPSImportModal/ODPSImportModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: google-style-java, lint-staged

fix(ui): clear stuck loader on container switch + test on-demand dataModel fetch
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtilsV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtilsV1.tsx
Due: lint-staged

spotless: format pre-existing GlossaryTermMoveApprovalIT method-chain drift
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/GlossaryTermMoveApprovalIT.java
Due: google-style-java

Fix SocketAddressFilter NPE on WebSocket handshake without query string
  openmetadata-service/src/main/java/org/openmetadata/service/socket/SocketAddressFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/socket/SocketAddressFilterTest.java
Due: google-style-java

Move name index migration to 2.0.0
  bootstrap/sql/migrations/native/1.13.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.13.1/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/2.0.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/2.0.0/postgres/schemaChanges.sql
Due: none

Fix SocketAddressFilter NPE on WebSocket handshake without query string (#29263)
  openmetadata-service/src/main/java/org/openmetadata/service/socket/SocketAddressFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/socket/SocketAddressFilterTest.java
Due: google-style-java

test(playwright): add missing waitForTaskResolveResponse helper on 1.13
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
Due: lint-staged

fix(ui): prevent No-data flash on summary-panel mount + fix import order
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtilsV1.tsx
Due: lint-staged
