Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Security: Fix Azure SSO and support refresh tokens (#4988)
  openmetadata-ui/src/main/resources/ui/src/authentication/authenticators/MsalAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/authentication/authenticators/MsalAuthenticator.tsx
Due: lint-staged

fix: pom.xml to reduce vulnerabilities
  pom.xml
Due: none

UI: Unit test for `TeamsAndUsersPageComponent` with 93.59% Statement coverage (#4971)
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.test.tsx
Due: lint-staged

Security: Fix Azure SSO and support refresh tokens (#4988) (#4989)
  openmetadata-ui/src/main/resources/ui/src/authentication/authenticators/MsalAuthenticator.test.tsx
  openmetadata-ui/src/main/resources/ui/src/authentication/authenticators/MsalAuthenticator.tsx
Due: lint-staged

Fix #4964 UI : Add unit tests for bot listing and bot details page. (#4974)
  openmetadata-ui/src/main/resources/ui/src/components/BotsDetail/BotsDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotsDetail/BotsDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotsList/BotsList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BotsList/BotsList.tsx
Due: lint-staged

Fix #4832: update the Elastic Search error page links and unit tests (#4982)
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/error-with-placeholder/ErrorPlaceHolderES.tsx
Due: lint-staged

Fix #4718 UI: Link in the @mention of user refreshes the whole page
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/feed.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Due: lint-staged

Fix #4718 UI: Link in the @mention of user refreshes the whole page (#4992)
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/feed.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Due: lint-staged

default-driver-json-schema-updated (#4984)
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
Due: none

Fix #4931: Add multiple database support in Clickhouse (#4933)
  ingestion/src/metadata/ingestion/source/clickhouse.py
Due: none

sample-data-fixed (#4976)
  ingestion/src/metadata/ingestion/source/azuresql.py
Due: none

Post rebase updated typescript
  openmetadata-ui/src/main/resources/ui/src/generated/api/createType.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/type.ts
Due: lint-staged

Bumped up metadata version
  ingestion-core/src/metadata/_version.py
Due: none

Added support for minute level selection for ingestion scheduler
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.constant.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.jsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.test.tsx
Due: lint-staged

Fix #3508 Manual Lineage Editor: Do not reorganize the graph as the user is connecting the nodes
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Due: lint-staged

Fix code smell
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Due: lint-staged

Minor Fix
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Due: lint-staged

Styling fix
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Due: lint-staged

Fix Flaky state issue
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Due: lint-staged

Added sample query log file
  ingestion/examples/sample_data/glue/query_log.csv
Due: none

Fix for updated typescript references of table and tests
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tableAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTest.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/Forms/ColumnTestForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTest/DataQualityTest.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQualityTest/Table/DataQualityTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.component.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/interface/dataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ProfilerUtils.ts
Due: lint-staged

Adding Java SDK Client APIs [WIP]
  openmetadata-sdk/pom.xml
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/BotsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/DashboardsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/DatabaseSchemasApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/DatabasesApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/EventsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/FeedsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/GeneralApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/GlossariesApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/IngestionPipelinesApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/LineageApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/LocationsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/MetricsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/MlModelsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/PipelinesApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/PoliciesApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/ReportsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/RolesApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/SearchApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/ServicesApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/TablesApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/TagsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/TeamsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/TopicsApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/UsageApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/api/UsersApi.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/util/RestUtil.java
  openmetadata-sdk/src/main/java/org/openmetada/restclient/util/ResultList.java
Due: google-style-java

GitBook: [#13] DBT SDK example
  .gitbook/assets/explore (1) (1) (1).png
  .gitbook/assets/image.png
  SUMMARY.md
  data-lineage/dbt-integration/dbt-python-sdk.md
  docs/integrations/connectors/azure-sql.md
  docs/integrations/connectors/delta-lake.md
  docs/integrations/connectors/dynamodb.md
  docs/integrations/connectors/elastic-search.md
  docs/integrations/connectors/ibm-db2.md
  docs/integrations/connectors/mariadb.md
  docs/integrations/connectors/vertica.md
  integrations/connectors/databricks/README.md
Due: none

Refactor onConnect Method
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Due: lint-staged

GitBook: [#22] AzureSQL
  .gitbook/assets/Screenshot 2022-05-17 at 3.10.41 PM.png
  .gitbook/assets/Screenshot 2022-05-17 at 3.11.56 PM.png
  .gitbook/assets/Screenshot 2022-05-17 at 3.13.04 PM.png
  .gitbook/assets/Screenshot 2022-05-17 at 3.13.24 PM.png
  .gitbook/assets/Screenshot 2022-05-17 at 3.14.12 PM.png
  .gitbook/assets/Screenshot 2022-05-17 at 4.59.14 PM.png
  .gitbook/assets/explore (1) (5).png
  README.md
  SUMMARY.md
  docs/integrations/connectors/README.md
  docs/integrations/connectors/azure-sql.md
  docs/integrations/connectors/delta-lake.md
  docs/integrations/connectors/dynamodb.md
  docs/integrations/connectors/elastic-search.md
  docs/integrations/connectors/ibm-db2.md
  docs/integrations/connectors/mariadb.md
  docs/integrations/connectors/vertica.md
  integrations/connectors/mssql-1-1/README.md
  integrations/connectors/mssql-1-1/run-mssql-connector-with-the-airflow-sdk.md
  integrations/connectors/mssql-1-1/run-mssql-connector-with-the-cli.md
Due: none

GitBook: [#24] No subject
  README.md
  SUMMARY.md
  docs/data-lineage/usage-workflow.md
  docs/integrations/connectors/README.md
  integrations/connectors/mssql-1-1/README.md
  integrations/connectors/mssql-1-1/run-mssql-connector-with-the-airflow-sdk.md
  integrations/connectors/mssql-1-1/run-mssql-connector-with-the-cli.md
  integrations/connectors/mssql-1/README.md
  integrations/connectors/mssql-1/run-mssql-connector-with-the-airflow-sdk.md
  integrations/connectors/mssql-1/run-mssql-connector-with-the-cli.md
Due: none

GitBook: [#23] Query Log Usage Docs
  README.md
  SUMMARY.md
  data-lineage/usage-workflow-through-query-logs.md
  docs/data-lineage/usage-workflow.md
  docs/integrations/connectors/README.md
  integrations/connectors/mssql-1/README (1).md
  integrations/connectors/mssql-1/README.md
  integrations/connectors/mssql-1/run-mssql-connector-with-the-airflow-sdk (1).md
  integrations/connectors/mssql-1/run-mssql-connector-with-the-cli (1).md
Due: none

Added sample query log file (#4996)
  ingestion/examples/sample_data/glue/query_log.csv
Due: none

GitBook: [#25] Salesforce-Doc
  README.md
  SUMMARY.md
  data-lineage/usage-workflow-through-query-logs.md
  docs/data-lineage/usage-workflow.md
  docs/integrations/connectors/README.md
  docs/integrations/connectors/singlestore/run-singlestore-connector-using-cli.md
  integrations/connectors/mssql-1-1/README.md
  integrations/connectors/mssql-1-1/run-mssql-connector-with-the-airflow-sdk.md
  integrations/connectors/mssql-1-1/run-mssql-connector-with-the-cli.md
  integrations/connectors/mssql-1/README.md
  integrations/connectors/singlestore-1/README.md
  integrations/connectors/singlestore-1/run-singlestore-connector-using-airflow-sdk.md
  integrations/connectors/singlestore-1/run-singlestore-connector-using-cli.md
  integrations/connectors/singlestore/README.md
  integrations/connectors/singlestore/run-singlestore-connector-using-airflow-sdk.md
  integrations/connectors/singlestore/run-singlestore-connector-using-cli.md
Due: none

Fix duplicate edge and node issue
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Due: lint-staged

Fix #4999: Add fetch_sample_data function in dynamoDB
  ingestion/src/metadata/ingestion/source/dynamodb.py
Due: none

Fix Failing Unit test
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/Entitylineage.component.test.tsx
Due: lint-staged
