Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

ui: provide edit support for display name in column side panel (#25436)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/EntitySummaryPanel.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityPanel.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/ColumnDetailPanel/ColumnDetailPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/entity-summary-panel.less
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityTitleSection/EntityTitleSection.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityTitleSection/EntityTitleSection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityTitleSection/EntityTitleSection.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ColumnUpdateUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ColumnUpdateUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

fix data asset
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/InputOutputPortsTab/InputOutputPortsTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataProductUtils.tsx
Due: lint-staged

Advanced config oidc, public kye url bug fix, saml acs ui corrected
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOGroupedFieldTemplate/SSOGroupedFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOGroupedFieldTemplate/sso-grouped-field-template.less
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SSOUtils.ts
Due: google-style-java, lint-staged

fix(ui): handle refresh failure with logout action instead getting stuck
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Auth.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
Due: lint-staged

fixed a type error
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Due: lint-staged

optimized condition
  ingestion/src/metadata/utils/fqn.py
Due: none

filterOptions
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProducts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/MUITagSuggestion/MUITagSuggestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/MUITagSuggestion/MUITagSuggestion.tsx
Due: lint-staged

filterOptions
  openmetadata-ui/src/main/resources/ui/src/components/common/MUITagSuggestion/MUITagSuggestion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/constants/MUI.constants.ts
Due: lint-staged

Ldap state issue solved, user attribute id hidden
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/ldapSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SSOConfigurationForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/LdapRoleMappingWidget/LdapRoleMappingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
Due: lint-staged

enable compressed api response for saving load time
  conf/openmetadata.yaml
Due: none

improve storeRelationshipsInternal internal methods - make them truly batched operations
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Due: google-style-java

TEST - Add Data Contract ODCS tests
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DataContractResourceIT.java
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ODCSImportExport.spec.ts
Due: google-style-java, lint-staged

Refactor TestDefinitionForm to improve readability and maintainability by consolidating conditional logic for read-only fields and optimizing imports.
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/RulesLibrary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/RulesLibrary/TestDefinitionForm/TestDefinitionForm.component.tsx
Due: lint-staged

public key url visible in public flow
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SSOConfigurationForm.tsx
Due: lint-staged

Bump ingestion 1.9.17.4
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  ingestion/setup.py
  openmetadata-airflow-apis/pyproject.toml
Due: none

fix e2e test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/UserCreationWithPersona.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Due: lint-staged

Fix the failing unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/CustomPropertiesSection/CustomPropertiesSection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.test.tsx
Due: lint-staged

Bump ingestion 1.9.17.5
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
Due: none

Fix Datadiff Combined Diff (#25564)
  ingestion/src/metadata/data_quality/validations/models.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/base_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/tests/integration/data_quality/test_data_diff.py
Due: none

py_format
  ingestion/src/metadata/ingestion/models/patch_request.py
Due: none

Address code review feedback for rule library feature (#25590)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/RulesLibrary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/RulesLibrary/TestDefinitionForm/TestDefinitionForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RulesLibrary/TestDefinitionList/TestDefinitionList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: lint-staged

moved to utils
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/utils/time_utils.py
Due: none

fix: address code review findings in OpenMetadataAssetServlet
  openmetadata-service/src/main/java/org/openmetadata/service/socket/OpenMetadataAssetServlet.java
Due: google-style-java

fix test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ColumnBulkOperations.spec.ts
Due: lint-staged

fixed flakiness
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Roles.spec.ts
Due: lint-staged

minor fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Roles.spec.ts
Due: lint-staged

fix build issue
  openmetadata-service/src/main/java/org/openmetadata/service/socket/OpenMetadataAssetServlet.java
Due: google-style-java

Enhance TestDefinitionForm and utils: streamline validator logic, improve test accessibility, and refine platform checks
  openmetadata-ui/src/main/resources/ui/src/components/RulesLibrary/TestDefinitionForm/TestDefinitionForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RulesLibrary/TestDefinitionForm/TestDefinitionForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TestDefinitionUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TestDefinitionUtils.ts
Due: lint-staged

fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ODCSImportExport.spec.ts
Due: lint-staged

fixed flaky activecell
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Due: lint-staged

fix failing test for data contracts spec (#25583)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
Due: lint-staged

Fix AWS SigV4 signing error for OpenSearch bulk requests with chunked encoding (#25574)
  openmetadata-service/src/main/java/org/openmetadata/service/search/SigV4RequestSigningInterceptor.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SigV4RequestSigningInterceptorTest.java
Due: google-style-java

Fix partition worker stats
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/distributed/PartitionWorker.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/stats/StageStatsTracker.java
Due: google-style-java

Fixed the role playwright (#25580)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Roles.spec.ts
Due: lint-staged

Fix Reader Stats - final
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
Due: google-style-java

fix(test): flaky rightEntityPanel tests
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityPanel.ts
Due: lint-staged

Removed the dublicate table playwright test (#25578)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Pagination.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
Due: lint-staged

refactor: removed sobjectName field and added a migration for 1.11.8 to migrate sobjectName values to sobjectNames
  bootstrap/sql/migrations/native/1.11.8/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.11.8/postgres/schemaChanges.sql
  ingestion/src/metadata/examples/workflows/salesforce.yaml
  ingestion/src/metadata/ingestion/source/database/salesforce/metadata.py
  ingestion/tests/unit/topology/database/test_salesforce.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/salesforceConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Salesforce.md
Due: none

Make updates in 1.12.0
  bootstrap/sql/migrations/native/1.12.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.12.0/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.13.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.13.0/postgres/schemaChanges.sql
Due: none

fix(test): fix aut test flakiness
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ImpactAnalysis.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged
