Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

fix edit owner cy failure
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
Due: lint-staged

fix: markdown font size
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.less
Due: none

chore: add resizable panels on edit service page
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: lint-staged

fix: explicitly state `USE CATALOG` for databricks connection
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/mixins/sqalchemy/sqa_mixin.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/sqa_profiler_interface.py
Due: none

Support Activity tab for DataModel Entity
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TasksPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataModelsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataModelsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Due: lint-staged

Remove the non-required fields from manifest file (#10935)
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
Due: none

if sql is not there tab will not be shown
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
Due: lint-staged

fix(CI): Run on main branch with all changes except docs
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Due: none

Updated median function to return null when it is being used for first and third quartiles.
  ingestion/src/metadata/profiler/orm/functions/median.py
Due: none

fix the delete entity failure
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
Due: lint-staged

fix(CI): Run on main branch with all changes except docs (#10942)
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
Due: none

minor changes
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
Due: lint-staged

Fix #10808: Add configuration to enable HSTS, X-Frame-Options, X-Cont… (#10809)
  conf/openmetadata.yaml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  pom.xml
Due: google-style-java

cypress: fix flaky cypress test from main (#10937)
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/RestoreEntity.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Policies.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
Due: lint-staged

fix cypress
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
Due: lint-staged

Add lineage from DB -> DataModel -> Dashboard
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/client.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/queries.py
Due: none

Made changes to use the newly created APIs for fetching elasticSearch re-indexing data
  openmetadata-ui/src/main/resources/ui/src/components/Loader/Loader.css
  openmetadata-ui/src/main/resources/ui/src/components/Loader/Loader.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/elasticSearchReIndexAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EventPublisherUtils.ts
Due: lint-staged

Add looker model handling
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/columns.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/models.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/parser.py
  ingestion/src/metadata/readers/__init__.py
  ingestion/src/metadata/readers/base.py
  ingestion/src/metadata/readers/github.py
  ingestion/src/metadata/readers/local.py
  ingestion/tests/unit/resources/lkml/cats.explore.lkml
  ingestion/tests/unit/resources/lkml/kittens.explore.lkml
  ingestion/tests/unit/resources/lkml/views/cats.view.lkml
  ingestion/tests/unit/resources/lkml/views/dogs.view.lkml
  ingestion/tests/unit/resources/lkml/views/kittens.view.lkml
  ingestion/tests/unit/topology/dashboard/test_looker_lkml_parser.py
  openmetadata-spec/src/main/resources/json/schema/security/credentials/githubCredentials.json
Due: none

Fixes #10911 - Improve Data Insight Logging (#10915)
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/web_analytic_report_data_processor.py
  ingestion/src/metadata/data_insight/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/utils/workflow_output_handler.py
Due: none

fix: explicitly state `USE CATALOG` for databricks connection (#10940)
  ingestion/src/metadata/data_quality/interface/sqlalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/mixins/sqalchemy/sqa_mixin.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/sqa_profiler_interface.py
Due: none

initial commit for moving from ES to REST
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryFilters/QueryFilters.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Query.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Query/QueryUtils.ts
Due: lint-staged

removing dependancy on ip-modal and checking default state
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
Due: lint-staged

fix cypress for service and entityDetails
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Service.spec.js
Due: lint-staged

fix(#10905):API documentation does not show bullets from Markdown (#10932)
  openmetadata-ui/src/main/resources/ui/public/swagger.html
  openmetadata-ui/src/main/resources/ui/src/pages/swagger/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/swagger/swagger.less
Due: lint-staged

Fixes #10924 - Trim the redundant permissions in the permission list
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/permissions/PermissionsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluatorTest.java
Due: google-style-java

fixes for Reindex
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/EsSearchIndexWriter.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedDataInsightReader.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesReader.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/SearchIndexWorkflow.java
  openmetadata-spec/src/main/resources/json/schema/system/eventPublisherJob.json
Due: google-style-java

Address PR comments
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/client.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
Due: none

Fixes #10924 - Trim the redundant permissions in the permission list
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluatorTest.java
Due: google-style-java

renamed variable to better describe its usage.
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
Due: none

Cleaned up code by pulling check into its own function
  ingestion/src/metadata/profiler/orm/converter.py
Due: none

removed print statements
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
Due: none

updated profile errors. Hive connections now comment columns by default.
  ingestion/src/metadata/profiler/orm/converter.py
  ingestion/src/metadata/profiler/orm/functions/median.py
Due: none

updated metadata to work with the impala query engine. Uses the describe function to grab column names, data types, and comments.
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
Due: none

added the ordinalPosition data point into the Column constructor.
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
Due: none

Address PR comments
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/models/topology.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Due: none

Remove dataModel resource descriptor
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
Due: none

Fix tasks for dashboard data models
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
Due: google-style-java

Fixes #10924 - Trim the redundant permissions in the permission list (#10928)
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/permissions/PermissionsResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/PolicyEvaluatorTest.java
Due: google-style-java

review comments
  openmetadata-service/src/main/java/org/openmetadata/service/exception/SinkException.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/SourceException.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/interfaces/Sink.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/interfaces/Source.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/EsDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/EsSearchIndexSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedDataInsightSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/SearchIndexWorkflow.java
Due: google-style-java
