Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Update azure-auth.md
  openmetadata-docs/content/v1.5.x/deployment/azure-auth.md
Due: none

Update azure-auth.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/azure-auth.md
Due: none

update alert position in page layout
  openmetadata-ui/src/main/resources/ui/src/components/PageLayoutV1/PageLayoutV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Due: lint-staged

GEN-1911: Quicksight lineage source fix (#18348)
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/models.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
Due: none

supported table right panel component to further extends on collate side
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraints.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

minor fix around duplicate constraint
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Due: lint-staged

Minor: Whats new content for v1.5.8
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

feat: Add `azure-identity-extensions` library for passwordless database connection
  openmetadata-service/pom.xml
Due: none

addressing comment
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

add query builder improvements
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/withAdvanceSearch.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/query-builder-widget.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Due: lint-staged

fix alert flicker
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
Due: lint-staged

fix: added test case domain, tags and owners field to search incident index (#18380)
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResolutionStatusIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_resolution_status_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_resolution_status_index_mapping.json
Due: google-style-java

Minor: Whats new content for v1.5.8 (#18388)
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

Initial JSONSchema specification for Asset Certification
  openmetadata-spec/src/main/java/org/openmetadata/schema/EntityInterface.java
  openmetadata-spec/src/main/resources/json/schema/configuration/assetCertificationSettings.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiCollection.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiEndpoint.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/metric.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/mlmodel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/searchIndex.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/storedProcedure.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/topic.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
  openmetadata-spec/src/main/resources/json/schema/type/assetCertification.json
Due: google-style-java

fix: entity link accepted characters
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/SuggestionsResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
Due: google-style-java

Add Azure Token Base Authentication (#18387)
  openmetadata-docs/content/v1.5.x/deployment/azure-auth.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/azure-auth.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/AzureTokenProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/jdbi/AwsRdsDatabaseAuthenticationProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/jdbi/AzureDatabaseAuthenticationProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/jdbi/DatabaseAuthenticationProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/jdbi/DatabaseAuthenticationProviderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/jdbi/JdbiUtils.java
  pom.xml
Due: google-style-java

enable search rbac
  ingestion/tests/integration/ometa/test_ometa_bot_rbac.py
Due: none

add query builder widget ui improvements (#18389)
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/withAdvanceSearch.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/query-builder-widget.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Due: lint-staged

MINOR - Renaming MetaPilot to CollateAI
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/applicationConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/CollateAIAppConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/private/external/CollateAIAppPrivateConfig.json
Due: none

MINOR - Renaming MetaPilot to CollateAI
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/CollateAIAppConfig.json
Due: none

verifying serial run for advanced search
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
Due: lint-staged

added unit test for new component
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/IncidentTimeChartWidget/IncidentTimeChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/IncidentTimeChartWidget/IncidentTimeChartWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/IncidentTypeAreaChartWidget/IncidentTypeAreaChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/IncidentTypeAreaChartWidget/IncidentTypeAreaChartWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/TestCaseStatusAreaChartWidget/TestCaseStatusAreaChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/TestCaseStatusAreaChartWidget/TestCaseStatusAreaChartWidget.test.tsx
Due: lint-staged

minor: improve types in ModalWithCustomPropertyEditor component
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithCustomProperty/ModalWithCustomPropertyEditor.component.tsx
Due: lint-staged

fix: formatting
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagClassBase.test.ts
Due: lint-staged

MINOR - Renaming MetaPilot to CollateAI
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/applicationConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/collateAIAppConfig.json
Due: none

fix the unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppSchedule/AppSchedule.test.tsx
Due: lint-staged

MINOR - Renaming MetaPilot to CollateAI
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/applicationConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/private/external/collateAIAppPrivateConfig.json
Due: none

fix tests failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
Due: lint-staged

minor: improve types in ModalWithCustomPropertyEditor component (#18395)
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithCustomProperty/ModalWithCustomPropertyEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagClassBase.test.ts
Due: lint-staged

docs: update list of supported custom properties type
  openmetadata-docs/content/v1.5.x/how-to-guides/user-guide-data-users/custom.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/user-guide-data-users/custom.md
Due: none

docs: update list of supported custom properties type (#18396)
  openmetadata-docs/content/v1.5.x/how-to-guides/user-guide-data-users/custom.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/user-guide-data-users/custom.md
Due: none

Docs: Fixing Images for setting up insights
  openmetadata-docs/content/v1.5.x/how-to-guides/data-insights/ingestion.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-insights/ingestion.md
  openmetadata-docs/images/v1.5/how-to-guides/governance/tier2.png
  openmetadata-docs/images/v1.5/how-to-guides/insights/apps-1.png
  openmetadata-docs/images/v1.5/how-to-guides/insights/apps.png
  openmetadata-docs/images/v1.5/how-to-guides/insights/apps3.png
  openmetadata-docs/images/v1.5/how-to-guides/insights/configure.png
  openmetadata-docs/images/v1.5/how-to-guides/insights/di.png
  openmetadata-docs/images/v1.5/how-to-guides/insights/di5.png
  openmetadata-docs/images/v1.5/how-to-guides/insights/di6.png
  openmetadata-docs/images/v1.5/how-to-guides/insights/dpy.png
  openmetadata-docs/images/v1.5/how-to-guides/insights/history.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/tier2.png
  openmetadata-docs/images/v1.6/how-to-guides/insights/apps-1.png
  openmetadata-docs/images/v1.6/how-to-guides/insights/apps.png
  openmetadata-docs/images/v1.6/how-to-guides/insights/apps3.png
  openmetadata-docs/images/v1.6/how-to-guides/insights/configure.png
  openmetadata-docs/images/v1.6/how-to-guides/insights/di.png
  openmetadata-docs/images/v1.6/how-to-guides/insights/di5.png
  openmetadata-docs/images/v1.6/how-to-guides/insights/di6.png
  openmetadata-docs/images/v1.6/how-to-guides/insights/dpy.png
  openmetadata-docs/images/v1.6/how-to-guides/insights/history.png
Due: none

MINOR: Couchbase Secondary Index Fix
  ingestion/src/metadata/ingestion/source/database/couchbase/metadata.py
  ingestion/src/metadata/ingestion/source/database/couchbase/models.py
Due: none

Add name field in the advanced search fields list
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
