Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

GEN-1333 Add TS validation on DQ and Porfiler data ingestion (#17731)
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/RestUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Due: google-style-java

MINOR - Better PII classification for JSON data (#17734)
  ingestion/src/metadata/pii/processor.py
  ingestion/src/metadata/pii/scanners/base.py
  ingestion/src/metadata/pii/scanners/column_name_scanner.py
  ingestion/src/metadata/pii/scanners/ner_scanner.py
  ingestion/tests/unit/pii/test_column_name_scanner.py
  ingestion/tests/unit/pii/test_ner_scanner.py
Due: none

playwright: fixed failing AUT test incidentManager and queryEntity (#17749)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/incidentManager.ts
Due: lint-staged

minor(test): fix ingestion related flaky for aut (#17727)
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/RedshiftWithDBTIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/SnowflakeIngestionClass.ts
Due: lint-staged

fix ui freezing due to images in feed changes (#17703)
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/FeedsWidget/FeedsWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Due: lint-staged

GEN-1213 - logic to index test case result (#17706)
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResultIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_result_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_result_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_result_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/tests/basic.json
Due: google-style-java

Minor: remove unused dependency (#17709)
  pom.xml
Due: none

supported followed data in Following widget using search api (#17689)
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
Due: lint-staged

MINOR - Fix Collate docs sync for partials (#17752)
  .github/workflows/sync-docs-v1.yml
Due: none

Migrate: tags spec to playwright (#17758)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Due: lint-staged

MINOR - Fix lineage GET for names with `/` and standardize quote calls (#17748)
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/utils.py
  ingestion/tests/integration/ometa/test_ometa_lineage_api.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/unit/test_fqn.py
Due: none

Docs: Updated Domain in Docker Compose & Docs (#17603)
  conf/openmetadata.yaml
  docker/development/docker-compose-gcp.yml
  docker/development/docker-compose-postgres.yml
  docker/development/docker-compose.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-openmetadata/env-mysql
  docker/docker-compose-openmetadata/env-postgres
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  openmetadata-docs/content/v1.4.x/deployment/security/basic-auth/index.md
  openmetadata-docs/content/v1.4.x/deployment/security/ldap/bare-metal.md
  openmetadata-docs/content/v1.4.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.4.x/quick-start/local-kubernetes-deployment.md
  openmetadata-docs/content/v1.5.x/deployment/security/basic-auth/index.md
  openmetadata-docs/content/v1.5.x/deployment/security/ldap/bare-metal.md
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.5.x/quick-start/local-kubernetes-deployment.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/security/basic-auth/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/security/ldap/bare-metal.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/local-kubernetes-deployment.md
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/user.ts
Due: lint-staged

Fixes #15565 : Advanced Avro schema recursion depth issue (#17683)
  ingestion/src/metadata/parsers/avro_parser.py
  ingestion/tests/unit/test_avro_parser.py
Due: none

MINOR: profiler e2e fix (#17809)
  ingestion/src/metadata/profiler/processor/core.py
Due: none

supported left panel resizable panel in some entities (#17772)
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
Due: lint-staged

DOCS - Getting Started Collate (#17783)
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/gcs-composer.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/index.md
  openmetadata-docs/content/v1.5.x/getting-started/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/airflow.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/credentials.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/gcs-composer.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/github-actions.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/mwaa.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/index.md
Due: none

fix playwright skip workflow to have metrix stratagy to comply with workflow (#17774)
  .github/workflows/playwright-mysql-e2e-skip.yml
  .github/workflows/playwright-postgresql-e2e-skip.yml
Due: none

MINOR - Add ES pagination with error handling (#17776)
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/tests/integration/ometa/test_ometa_es_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRequest.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
Due: google-style-java

GEN-1251: Fix Expected ColumnLineage but got dict (#17708)
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
Due: none

MINOR: Fix redshift ingestion warnings in case of ext table (#17767)
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
Due: none

[REFACTOR] Improved Structure For Email Module (#17755)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/email/EmailPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsReportApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DocumentRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/docstore/DocStoreResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/email/DefaultTemplateProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/email/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/email/TemplateConstants.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/email/TemplateProvider.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/docstore/DocStoreResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/MSTeamsCallbackResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/SlackCallbackResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
Due: google-style-java

GEN-1380 - Implement support for date_histogram aggregation (#17738)
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
Due: google-style-java, lint-staged

GEN-309: OpenAPI Connector (#17754)
  ingestion/src/metadata/examples/workflows/rest.yaml
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/src/metadata/ingestion/models/custom_types.py
  ingestion/src/metadata/ingestion/source/api/api_service.py
  ingestion/src/metadata/ingestion/source/api/rest/connection.py
  ingestion/src/metadata/ingestion/source/api/rest/metadata.py
  ingestion/src/metadata/ingestion/source/api/rest/models.py
  ingestion/src/metadata/utils/class_helper.py
  ingestion/src/metadata/utils/constants.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/unit/test_workflow_parse.py
  ingestion/tests/unit/topology/api/test_rest.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/api/rest/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/api/rest/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.6/connectors/rest/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/rest/select-service.png
  openmetadata-docs/images/v1.6/connectors/rest/service-connection.png
  openmetadata-service/src/main/resources/json/data/testConnections/api/rest.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/APIServiceResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/services/createApiService.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiCollection.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiEndpoint.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/apiService.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/apiServiceMetadataPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/API/REST.md
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.ts
Due: google-style-java, lint-staged

Fixes #17804: Classification API returns Table class for restore (#17806)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
Due: google-style-java

fix: region typo in test (#17766)
  ingestion/tests/unit/profiler/pandas/test_custom_metrics.py
Due: none

playwright: fixed failing aut of 1.5.4 (#17798)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ServiceEntityVersionPage.spec.ts
Due: lint-staged

MINOR: tests(datalake): use minio (#17805)
  ingestion/setup.py
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/containers.py
  ingestion/tests/integration/datalake/conftest.py
  ingestion/tests/integration/datalake/resources/profiler_test_.csv
  ingestion/tests/integration/datalake/test_datalake_profiler_e2e.py
  ingestion/tests/integration/datalake/test_ingestion.py
  ingestion/tests/integration/orm_profiler/test_datalake_profiler_e2e.py
  ingestion/tests/integration/sources/database/delta_lake/conftest.py
  ingestion/tests/unit/profiler/pandas/test_custom_metrics.py
Due: none

fix upgrade docs version (#17773)
  openmetadata-docs/content/v1.5.x/deployment/upgrade/index.md
Due: none

docs(dq): collate rca (#17763)
  openmetadata-docs/content/v1.4.x/how-to-guides/data-quality-observability/incident-manager/root-cause-analysis.md
Due: none

ci: pin spacy version (#17814)
  ingestion/setup.py
Due: none

MINOR: Add Matillion test connection and schema for pipeline service (#17710)
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/matillion.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/matillionConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
Due: none

MINOR: move constraint update from schemaChanges to postDataMigration (#17801)
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
Due: none

Docs - Fix menu (#17787)
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
Due: none

Migrate: All the version page test to playwright (#17765)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ClassificationVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataModelVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseSchemaVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DatabaseVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/ServiceVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ClassificationVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/EntityVersionPages.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/ServiceEntityVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiCollectionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiEndpointClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardDataModelClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseSchemaClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/PipelineClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/StoredProcedureClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TopicClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/PostgresIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/RedshiftWithDBTIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/ApiServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/DashboardServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/DatabaseServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/MessagingServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/MlmodelServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/PipelineServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/SearchIndexServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/StorageServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/tag/ClassificationClass.ts
Due: lint-staged

fix typo in profiler metric (#17784)
  ingestion/src/metadata/profiler/metrics/system/system.py
Due: none

migrated team-drag-drop spec in playwright (#17780)
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/DragAndDrop.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsDragAndDrop.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TeamsDragAndDrop.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dragDrop.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
Due: lint-staged

added config logging with secrets redacted (#17770)
  ingestion/src/metadata/cli/app.py
  ingestion/src/metadata/cli/dataquality.py
  ingestion/src/metadata/cli/ingest.py
  ingestion/src/metadata/cli/lineage.py
  ingestion/src/metadata/cli/profile.py
  ingestion/src/metadata/cli/usage.py
  ingestion/src/metadata/utils/logger.py
  ingestion/tests/unit/utils/test_logger.py
Due: none

#1654 Add a search field in Profiler & Data Quality (#17785)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/testCases.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
Due: lint-staged

Fix 17304: make ingestion pipeline APIs public (#17700)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Due: google-style-java

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
