Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/hadialqattan/pycln
    rev: v1.2.4
    hooks:
      - id: pycln
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 100 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

MINOR: Apply multi threading in View Lineage Processing (#17922)
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
Due: none

MINOR: Optimise Snowflake Test Connection (#17779)
  ingestion/src/metadata/ingestion/source/database/bigquery/connection.py
  ingestion/src/metadata/ingestion/source/database/redshift/connection.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
  ingestion/src/metadata/ingestion/source/database/snowflake/connection.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
Due: none

bump ingestion version
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
Due: none

update redirect path to absolute path
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
Due: lint-staged

Feat : Allow Custom Property Update in Bulk Upload
  openmetadata-service/src/main/java/org/openmetadata/csv/CsvUtil.java
Due: google-style-java

add support for adding values to enumWithDescription custom property type
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
Due: lint-staged

GEN-996 - Allow PII Processor without storing Sample Data
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/pii/processor.py
  ingestion/src/metadata/profiler/api/models.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/processor/models.py
  ingestion/tests/unit/profiler/test_profiler_models.py
Due: none

addressing comment
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

[TEST] Run on self-hosted runners
  .github/workflows/py-tests.yml
Due: none

FIX #17896 - Python lineage SDK to work with Uuid & FQN models
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/tests/integration/ometa/test_ometa_lineage_api.py
Due: none

format
  ingestion/tests/integration/sql_server/conftest.py
  ingestion/tests/integration/sql_server/test_lineage.py
  ingestion/tests/integration/sql_server/test_metadata.py
Due: none

Fix 17903: fix(data-quality): snowflake data diff (#17907)
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/tests/cli_e2e/base/config_builders/builders.py
  ingestion/tests/cli_e2e/base/e2e_types.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
Due: none

used new columns
  ingestion/tests/integration/sql_server/test_metadata.py
Due: none

user and team select modal in task assignee
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Due: lint-staged

Fix #17929 : Fix team export issue
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
Due: google-style-java

added concurrency group to limit runs to 1 per PR
  .github/workflows/py-tests.yml
Due: none

minor(ci): e2e playwright limit install dependacy step (#17921)
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
Due: none

tests added for team export
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Teams.spec.ts
Due: lint-staged

add python-liquid dependency to looker plugin requirements
  ingestion/setup.py
Due: none

move to static method with 'openmetadata' context and add rendering tests
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/tests/unit/topology/dashboard/test_looker.py
Due: none

Looker parsing improvements for liquid templating and view/model aliasing
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/utils/fqn.py
Due: none

remove backtick stripping
  ingestion/src/metadata/utils/fqn.py
Due: none

use the custom sql server
  ingestion/tests/integration/sql_server/conftest.py
Due: none

Add Redirect Uri Handling for Confidential Flow (#17913)
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
Due: google-style-java, lint-staged

fixed unit test
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
Due: lint-staged

Fix Tests
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Due: google-style-java

add detailed doc on org id
  openmetadata-docs/content/v1.5.x/connectors/database/salesforce/index.md
  openmetadata-docs/content/v1.5.x/connectors/database/salesforce/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/salesforce/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/database/salesforce/yaml.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Salesforce.md
Due: none

fix owners patch issue (#17900)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Due: google-style-java

Refactor custom property input IDs in AddCustomProperty and EditCustomPropertyModal components
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/EditCustomPropertyModal/EditCustomPropertyModal.tsx
Due: lint-staged

playwright improvement in activity feed spec (#17842)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/activityFeed.ts
Due: lint-staged

fix failing playwright test (#17881)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
Due: lint-staged

addressing comment
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
Due: lint-staged

supported class base for navbar utils items
  openmetadata-ui/src/main/resources/ui/src/utils/NavbarUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/NavbarUtils.tsx
Due: lint-staged
