Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Give metric-view ingestion an off switch
  ingestion/src/metadata/ingestion/source/database/unitycatalog/lineage.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metric_view_mixin.py
  ingestion/tests/unit/topology/database/test_unity_catalog_lineage.py
  ingestion/tests/unit/topology/database/test_unitycatalog_metric_views.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/unityCatalogConnection.json
Due: none

fix(ui): entity-title link -> blue-300 in dark
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityTitleSection/EntityTitleSection.tsx
Due: lint-staged

fix: prevent double scrollbar in glossary terms table
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/TableV2.tsx
Due: lint-staged

fix(ui): stop DomainLabelV2 re-render churn that collapses the domain picker
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
Due: lint-staged

fix(ui): AI-mode sidebar avatar size (defined size) + core Search icon (#33818)
  openmetadata-ui-core-components/src/main/resources/ui/icons/search.svg
  openmetadata-ui-core-components/src/main/resources/ui/src/components/base/avatar/avatar.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/icons/Search.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/icons/index.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePicture.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePicture.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/AIUserMenu/AIUserMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterMemoriesPage/ContextCenterMemoriesPage.tsx
Due: lint-staged

playwright fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AIMode/CustomPropertiesPanel.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/KnowledgeCenter.ts
Due: lint-staged

lint fix
  openmetadata-ui/src/main/resources/ui/playwright/utils/KnowledgeCenter.ts
Due: lint-staged

lint fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryRemoveOperations.spec.ts
Due: lint-staged

fix(ui): key DomainLabelV2 sync on render-relevant fields, not just id
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
Due: lint-staged

fix(cache): evict Redis L2 after commit, not inside the write transaction
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityCacheRepair.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/EntityRepositoryRestoreTest.java
Due: google-style-java

fix(ui): flip anchor links + vertical-nav selected + carousel dot to blue-300 in dark
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityRightPanel/EntityRightPanelVerticalNav.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: none

chore(playwright): regenerate impact-map.generated.json after merge from main
  .github/playwright/impact-map.generated.json
Due: none

test: Playwright + ingestion flake-hardening batch (11 fixes across 10 files) (#33830)
  .github/scripts/start_playwright_fast_environment.sh
  ingestion/tests/integration/conftest.py
  openmetadata-ui/src/main/resources/ui/playwright/QUARANTINE.md
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterArticles.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/KnowledgeGraph.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyStudioIsolatedToggle.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/KnowledgeCenter.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityPermissionUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
Due: lint-staged

ci(py-tests): skip offline E2E framework tests when the suite is absent (#33858)
  .github/workflows/py-tests-shared.yml
Due: none

fix(ui): dark blue-300 for raw-palette brand accents; fix sidebar anchor bleed
  openmetadata-ui/src/main/resources/ui/src/components/Database/ColumnDetailPanel/NestedColumnsSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/NoProfilerBanner/NoProfilerBanner.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageTimeFilter.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/common/InfoLabel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/filters/useFilterSelection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/explore/ExploreHeader/ExploreSearchInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlAuditLogsPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AuditLogsPage/AuditLogsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterMemoriesPage/ContextCenterMemoriesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LearningResourcesPage/hooks/useLearningResourceFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
Due: lint-staged

fix(ui): sit the glossary terms table scrollbar flush at the panel bottom
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/TableV2.tsx
Due: lint-staged

refactor(airbyte): extract rank matching out of resolve_table
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/metadata.py
Due: none

chore(ui): remove dead glossary term selection code
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermSelectableList/GlossaryTermSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermSelectableList/GlossaryTermSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermSelectableList/GlossaryTermSelectableList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermsSection/GlossaryTermsSection.less
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSVUtilsClassBase.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryPureUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryPureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryTerm/GlossaryTermReferenceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Due: lint-staged

Reapply "chore(playwright): seed timing history for TestDefinitionSortAndSearch"
  .github/playwright/timing-baseline.json
Due: none

refactor(knowledge-graph): address bot review — stable terms, no retry, fmt
  openmetadata-ui/src/main/resources/ui/src/components/discovery/knowledge-graph/KnowledgeGraph.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/knowledge-graph/KnowledgeGraphOverlays.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/discovery/knowledge-graph/useKnowledgeGraphColumns.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/discovery/knowledge-graph/useKnowledgeGraphColumns.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/discovery/knowledge-graph/useKnowledgeGraphData.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/discovery/knowledge-graph/useKnowledgeGraphOntology.ts
  openmetadata-ui/src/main/resources/ui/src/test/unit/test-utils.tsx
Due: lint-staged

fix(test): relax MetricListSearch count assertion to fix flaky test (#33854)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/MetricListSearch.spec.ts
Due: lint-staged

refactor(ui): global dark brand-accent rules instead of per-usage variants
  openmetadata-ui/src/main/resources/ui/src/components/Database/ColumnDetailPanel/NestedColumnsSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/NoProfilerBanner/NoProfilerBanner.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageTimeFilter.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/common/InfoLabel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityTitleSection/EntityTitleSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/filters/useFilterSelection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/explore/ExploreHeader/ExploreSearchInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlAuditLogsPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AuditLogsPage/AuditLogsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterMemoriesPage/ContextCenterMemoriesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LearningResourcesPage/hooks/useLearningResourceFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
Due: lint-staged

fix(announcements): make the delete confirmation reachable in the drawer
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Announcement/AnnouncementThreadBody.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Announcement/AnnouncementThreadBody.test.tsx
Due: lint-staged

style(ui): reflow the announcement delete-confirm markup
  openmetadata-ui/src/main/resources/ui/src/components/Announcement/AnnouncementThreadBody.component.tsx
Due: lint-staged

test(alerts): cover a blank change event row in the poll
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/changeEvent/PollEventsTest.java
Due: google-style-java

chore(playwright): seed timing history for TestDefinitionSortAndSearch (#33863)
  .github/playwright/timing-baseline.json
Due: none

fix(ui): dark-mode review fixes — white badge, ant-typography links, carousel dot
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/InboxPage/tabs/TasksTab.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: lint-staged

fix(informix): key the column-type cache by database as well as schema
  ingestion/src/metadata/ingestion/source/database/informix/metadata.py
  ingestion/tests/integration/informix/conftest.py
  ingestion/tests/integration/informix/test_multi_database.py
  ingestion/tests/unit/topology/database/test_informix.py
Due: none

fix(ui): subtle dark border on status pills + dark incident chart-card bg
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/status-badge.less
  openmetadata-ui/src/main/resources/ui/src/components/observability/IncidentManager/IncidentManagerPage.tsx
Due: lint-staged

fix(ui): extract incident widget wrapper class to satisfy max-line-length
  openmetadata-ui/src/main/resources/ui/src/components/observability/IncidentManager/IncidentManagerPage.tsx
Due: lint-staged

fix(alerts): restore fixes the redesign dropped in scheduling, recipient lookups and alert checks
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/alerts/AlertDefinitionIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/AlertReconciler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/SourceCapabilities.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/targets/TargetResolver.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/recipients/RecipientLookups.java
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/recipients/strategy/impl/AdminRecipientResolver.java
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/recipients/strategy/impl/AssigneeRecipientResolver.java
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/recipients/strategy/impl/FollowerRecipientResolver.java
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/recipients/strategy/impl/MentionRecipientResolver.java
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/recipients/strategy/impl/OwnerRecipientResolver.java
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/recipients/strategy/impl/TeamRecipientResolver.java
  openmetadata-service/src/main/java/org/openmetadata/service/notifications/recipients/strategy/impl/UserRecipientResolver.java
  openmetadata-service/src/test/java/org/openmetadata/service/events/subscription/SourceCapabilitiesTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/events/subscription/targets/TargetResolverTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/formatter/decorators/PlatformMessageDecoratorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/SubscriptionUtilTest.java
Due: google-style-java

fix(alerts): make the alert form and view follow every selected source
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/AlertDetails/AlertConfigDetails/AlertConfigDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/AlertDetails/AlertConfigDetails/AlertConfigDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtilPure.ts
Due: lint-staged

fix(playwright): anchor waitForGlossaryListRefetch after optimistic removal in mixed-results test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
Due: lint-staged

Fixes #33869: give the ExplorePageRightPanel CRUD bodies per-test slow() headroom
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExplorePageRightPanel.spec.ts
Due: lint-staged

Fixes #33252: correct Quartz scheduler name and spelling errors in docs (#33082)
  APPLICATION.md
  ingestion/src/metadata/data_quality/README.md
  ingestion/tests/load/README.md
  openmetadata-airflow-apis/README.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/BigQuery.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Couchbase.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Datalake.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Hive.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Postgres.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Timescale.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/profiler.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Airflow.md
Due: none

fix(playwright): fix flaky DataProducts 'Add Assets' test due to size=0 count query race
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProducts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Due: lint-staged

fix(it): treat an absent RDF graph as a retryable assertion, not an NPE
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/RdfLiveProjectionIT.java
Due: google-style-java

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
