Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

miner fix
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryFilters/QueryFilters.component.tsx
Due: lint-staged

Feat #10584: Support Lineage for DataModel Entity (#10936)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-model.svg
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

Fix #10273: Parse nested json for dataleke
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
  ingestion/src/metadata/ingestion/source/database/datalake/utils.py
  ingestion/tests/unit/topology/database/test_datalake.py
Due: none

fixes #10755: Changed description change method for service connections from 'Put' to 'PATCH' (#10876)
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Due: lint-staged

chore: minor update
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Postgres.md
Due: none

Add ingestionIpInfoEnabled configuration (#10870)
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
  openmetadata-spec/src/main/resources/json/schema/configuration/pipelineServiceClientConfiguration.json
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
Due: google-style-java, lint-staged

clean utils
  ingestion/src/metadata/ingestion/source/database/datalake/utils.py
Due: none

Fixed flaky TeamsHierarchy spec
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/TeamsHierarchy.spec.js
Due: lint-staged

Fix #10858: Fix dashbaord & pipeline url
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/redash/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dagster/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/nifi/metadata.py
  ingestion/src/metadata/utils/helpers.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardRepository.java
Due: google-style-java

updated to fix some pylint errors. imported Dialects to remove string compare to "impala" engine
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
Due: none

updated cypres.config
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
Due: lint-staged

moved huge comment into function docstring. This comment shows us the sql to get quartiles in Impala
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
  ingestion/src/metadata/profiler/orm/functions/median.py
Due: none

minor ui changes
  openmetadata-ui/src/main/resources/ui/src/components/Assets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/searchbar/Searchbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

fixed failing unit test
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.test.tsx
Due: lint-staged

Fixes : #8732 Support displayName field in at Tags (#10767)
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/editName.svg
  openmetadata-ui/src/main/resources/ui/src/constants/Tags.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/tags/Form.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/Form.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/tags/TagsPageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.ts
Due: lint-staged

Fixed Issue #10943: Impala query engine metadata ingestion and median function profiler (#10944)
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/profiler/orm/converter.py
  ingestion/src/metadata/profiler/orm/functions/median.py
Due: none

fixed failing cypress
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
Due: lint-staged

updated cy config
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
Due: lint-staged

added cast to decimal for column when running average in mean.py
  ingestion/src/metadata/profiler/metrics/static/mean.py
Due: none

fixed lint error
  ingestion/src/metadata/profiler/metrics/static/mean.py
Due: none

Handle labels
  ingestion/src/metadata/ingestion/source/dashboard/looker/columns.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/models.py
Due: none

Linting
  ingestion/src/metadata/ingestion/source/dashboard/looker/parser.py
  ingestion/src/metadata/readers/github.py
  ingestion/src/metadata/readers/local.py
Due: none

fix: user selectable list popover issues (#10799)
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/UserSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/user-select-dropdown.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/user-team-selectable-list.less
Due: lint-staged

[WIP] Fixes #10721: created client file for metabase and moved get request to client file (#10838)
  ingestion/src/metadata/ingestion/source/dashboard/metabase/client.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/models.py
Due: none

Format
  ingestion/src/metadata/readers/github.py
  ingestion/tests/unit/topology/dashboard/test_looker.py
Due: none

Format
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
Due: none

fixes App Analytics summary not adjusting to the datetime [UI] #10571
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Due: lint-staged

added comments to the code
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Due: lint-staged

[WIP] - Fixes #10725 - Fix extension in ingestion pipeline and delete statuses api (#10866)
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
Due: google-style-java

Update python sdk client connection details
  openmetadata-docs/content/sdk/python/index.md
Due: none

Update index.md
  openmetadata-docs/content/sdk/python/index.md
Due: none

Update python sdk client connection details (#10963)
  openmetadata-docs/content/sdk/python/index.md
Due: none

Fixes 10959: MSSQL profile has error when averaging large integer column (#10960)
  ingestion/src/metadata/profiler/metrics/static/mean.py
Due: none

Feat #10584 : Support Activity tab for DataModel Entity (#10941)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/EntityLink.g4
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TasksPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dataModelsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataModelsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TasksUtils.ts
Due: google-style-java, lint-staged

fix(ui): API endpoints to fetch elastic search data on settings page. (#10946)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ReIndexingHandler.java
  openmetadata-ui/src/main/resources/ui/src/components/Loader/Loader.css
  openmetadata-ui/src/main/resources/ui/src/components/Loader/Loader.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/elasticSearchReIndexAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EventPublisherUtils.tsx
Due: google-style-java, lint-staged

fix unit tests
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
Due: lint-staged

feat: add glossary versions page
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeaderButtons/GlossaryHeaderButtons.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTabs/GlossaryTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryVersion/GlossaryVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Glossary.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Due: lint-staged

fix(ui): increase worker size for unit tests
  openmetadata-ui/src/main/resources/ui/package.json
Due: none

fix: remove display name validations
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeaderButtons/GlossaryHeaderButtons.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Glossary.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Due: lint-staged

fix: localization keys
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
