Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Fix #21502: TooManyNestedClauses: Query contains too many nested clauses; maxClauseCount is set to 4096 error in table_search_index for complex search queries in Opensearch
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSourceBuilderFactory.java
Due: google-style-java

Fix #21506: Upgrade to Java 21
  .github/actions/prepare-for-docker-build/action.yml
  .github/actions/setup-openmetadata-test-environment/action.yml
  .github/workflows/airflow-apis-tests.yml
  .github/workflows/docker-openmetadata-server.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build.yml
  .github/workflows/maven-postgres-tests-build.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/publish-maven-package.yml
  .github/workflows/py-nox-ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/selenium-noIngestion-tests.yml
  docker/development/Dockerfile
  docker/docker-compose-quickstart/Dockerfile
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-spec/pom.xml
  pom.xml
Due: none

Fix #1655: Upgrade to Java 21
  bin/openmetadata-server-start.sh
Due: none

Fix #17244: Pagination for columns in UI
  ingestion/examples/sample_data/datasets/tables.json
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-ui/src/main/resources/ui/babel.config.json
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/tableAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatasetDetailsUtils.ts
Due: google-style-java, lint-staged

Fix query param asserts
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/analytics/WebAnalyticEventResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APICollectionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APIEndpointResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datainsight/DataInsightChartResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestDefinitionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/FeedResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/kpi/KpiResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/policies/PolicyResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/APIServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DashboardServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MessagingServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MlModelServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/PipelineServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/SearchServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/StorageServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/usage/UsageResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Due: google-style-java

Fix DocStore resource test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/docstore/DocStoreResourceTest.java
Due: google-style-java

Fix(UI): Add agents dropdown not showing auto-classification agent option (#21461)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/nightly/AutoClassification.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/autoClassification.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/AddIngestionButton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/AddIngestionButton.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
Due: lint-staged

Fix(UI): Add agents dropdown not showing auto-classification agent option (#21461)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoClassification.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/autoClassification.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/AddIngestionButton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/AddIngestionButton.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
Due: lint-staged

fix(ui): pagination limit for dashboards (#21466)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Dashboards.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/service/DashboardServiceClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/rest/dashboardAPI.ts
Due: lint-staged

Fix TopicResourceTest
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
Due: google-style-java

fix(ui): dashboard data model name column should not be link (#21470)
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
Due: lint-staged

removed unnnecessary changers
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
Due: lint-staged

removed unnnecessary changers
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
Due: lint-staged

SCIM interface
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/scim/ScimResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/scim/ScimProvisioningService.java
  openmetadata-service/src/main/java/org/openmetadata/service/scim/impl/DefaultScimProvisioningService.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-spec/src/main/resources/json/schema/api/scim/scimGroup.json
  openmetadata-spec/src/main/resources/json/schema/api/scim/scimPatchOp.json
  openmetadata-spec/src/main/resources/json/schema/api/scim/scimUser.json
  openmetadata-spec/src/main/resources/json/schema/api/teams/createTeam.json
  openmetadata-spec/src/main/resources/json/schema/api/teams/createUser.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/team.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-spec/src/main/resources/json/schema/scim/scimConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/scim/scimGroup.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/scim/scimPatchOp.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/scim/scimUser.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/teams/createTeam.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/teams/createUser.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/team.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/user.ts
  openmetadata-ui/src/main/resources/ui/src/generated/scim/scimConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Due: google-style-java, lint-staged

removed unwanted code
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
Due: google-style-java

SSIS Connector (#21290)
  openmetadata-docs/content/partials/v1.7/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/partials/v1.8/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/v1.7.x/collate-menu.md
  openmetadata-docs/content/v1.7.x/connectors/pipeline/ssis/index.md
  openmetadata-docs/content/v1.7.x/connectors/pipeline/ssis/yaml.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/pipeline/ssis/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/pipeline/ssis/yaml.md
  openmetadata-docs/images/connectors/ssis.webp
  openmetadata-docs/images/v1.7/connectors/ssis/add-new-service.png
  openmetadata-docs/images/v1.7/connectors/ssis/select-service.png
  openmetadata-docs/images/v1.7/connectors/ssis/service-connection.png
  openmetadata-docs/images/v1.8/connectors/ssis/add-new-service.png
  openmetadata-docs/images/v1.8/connectors/ssis/select-service.png
  openmetadata-docs/images/v1.8/connectors/ssis/service-connection.png
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/SsisConnectionClassConverter.java
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/ssis.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/ssisConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/SSIS.md
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/pipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/supersetConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/hiveConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/metadata/alationConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/airflowConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/ssisConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Due: google-style-java, lint-staged

Fix: Databricks Schema Description (#21367)
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
Due: none

issue-21439: dashboard lineage override (#21440)
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Due: none

centered all the button for glossery header
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
Due: lint-staged

Doc: Add fullyQualifiedName field to import guide across multiple versions
  openmetadata-docs/content/v1.6.x/how-to-guides/data-discovery/import.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-discovery/import.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/data-discovery/import.md
Due: none

Comments Addressed
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/yaml.md
Due: none

fix: unclosed json fenced block
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/yaml.md
Due: none

Add json fenced block
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/troubleshooting.md
Due: none

Doc: Add IAM authentication details for PostgreSQL connector (#21448)
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.7.x/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/troubleshooting.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/connectors/database/postgres/yaml.md
Due: none

upgrade dropwizard version to 4.0.14 and logback to 1.5.18
  openmetadata-service/pom.xml
  pom.xml
Due: none

MINOR: row sampling error (#21488)
  ingestion/src/metadata/sampler/sqlalchemy/azuresql/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/mssql/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/sampler/sqlalchemy/snowflake/sampler.py
Due: none

Doc: Images Updation for Glossary (#21492)
  openmetadata-docs/images/v1.7/how-to-guides/governance/glossary1.1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/glossary8.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/import0.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/import1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/import3.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/glossary1.1.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/glossary8.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/import0.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/import1.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/import3.png
Due: none

Doc: Update import guide to include fullyQualifiedName field for database, schema, and table across versions
  openmetadata-docs/content/v1.6.x/how-to-guides/data-discovery/import.md
  openmetadata-docs/content/v1.7.x/how-to-guides/data-discovery/import.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/data-discovery/import.md
Due: none

feat: add regex support for dbx
  ingestion/src/metadata/profiler/metrics/static/not_regexp_match_count.py
  ingestion/src/metadata/profiler/metrics/static/regexp_match_count.py
  ingestion/src/metadata/profiler/orm/functions/regexp.py
Due: none

Doc: Images Updation for Glossary
  openmetadata-docs/images/v1.7/how-to-guides/governance/asset.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/glossary5.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/style1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/style2.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/style3.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/style4.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/tag5.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/tag6.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/asset.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/glossary5.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/style1.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/style2.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/style3.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/style4.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/tag5.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/tag6.png
Due: none

Doc: Images Updation for Glossary (#21515)
  openmetadata-docs/images/v1.7/how-to-guides/governance/asset.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/glossary5.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/style1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/style2.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/style3.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/style4.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/tag5.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/tag6.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/asset.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/glossary5.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/style1.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/style2.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/style3.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/style4.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/tag5.png
  openmetadata-docs/images/v1.8/how-to-guides/governance/tag6.png
Due: none

:tada: Init
  docker/development/docker-compose.yml
  openmetadata-service/src/main/java/org/openmetadata/service/mcp/McpServer.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/resources/json/data/mcp/tools.json
  openmetadata-spec/src/main/resources/json/schema/api/mcp/mcpTools.json
Due: google-style-java

remove SCIM registration in OM
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Due: google-style-java

example pipelines with private config
  ingestion/src/metadata/applications/example.py
  openmetadata-service/src/main/resources/applications/HelloPipelines/config.yaml
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/HelloPipelines.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/private/external/helloPipelinesPrivateConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/private/external/helloPipelinesPrivateConfig.ts
Due: lint-staged

fixed badge wrapping
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/entity-info-drawer.less
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/glossery-header.less
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
