Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Implement the stop socket connection for service insights live update
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/DataInsightAPI.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/DataInsightAPI.ts
Due: lint-staged

add collate badge for synapse
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

fix tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/FrequentlyJoined.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/SearchRBAC.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseSearchBar.test.tsx
Due: lint-staged

Apply formatting changes to code
  ingestion/src/metadata/ingestion/connections/test_connections.py
  ingestion/src/metadata/ingestion/ometa/mixins/mlmodel_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/source/messaging/redpanda/connection.py
  ingestion/tests/unit/topology/database/test_exasol.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/es_reindex.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_workflow_creation.py
Due: none

fix tests
  openmetadata-spec/src/main/resources/json/schema/system/ui/page.json
  openmetadata-ui/src/main/resources/ui/src/components/Chart/ChartVersion/ChartVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/system/ui/page.ts
  openmetadata-ui/src/main/resources/ui/src/generated/system/ui/uiCustomization.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ChartDetailsPage/ChartDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ChartDetailsPage/mocks/ChartDetailsPage.mock.js
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.test.ts
Due: lint-staged

Increased time for indexing, might be due to indexing, also adding what all ids intersect
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/SearchResourceTest.java
Due: google-style-java

add fields
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Due: google-style-java

fix test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
Due: lint-staged

chore(ui): add what's new 1.8.8 (#22662)
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

add support for selective schema generation by file name
  openmetadata-ui/src/main/resources/ui/parseSchemas.js
Due: lint-staged

fix: moved migrations in new version and fix classConverterFactory
  bootstrap/sql/migrations/native/1.8.8/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.8/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.9/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.9/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
Due: google-style-java

fix(ui): fix json logic parser (#22563)
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/withAdvanceSearch.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/query-builder-widget.less
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/metadataTypeAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/react-awesome-query.less
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Due: lint-staged

updated the sementic from design as per figma
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/contract-semantic-form-tab.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
Due: lint-staged

added the supporting localization keys
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

Fetch entities for import csv should exclude only the fields that are coming from the CSV
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
Due: google-style-java

fix acces token card issue and array fields ui issue
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/AccessTokenCard/AccessTokenCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JSONSchemaTemplate/WorkflowArrayFieldTemplate.tsx
Due: lint-staged

add fixme
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
Due: lint-staged

add default for domains field in thread and changeEvent
  openmetadata-spec/src/main/resources/json/schema/entity/feed/thread.json
  openmetadata-spec/src/main/resources/json/schema/type/changeEvent.json
Due: none

added owner field while fetching contract
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
Due: lint-staged

Fix: Skipping Multiple column references by a single column in Foreign Key during Index Creation (#22658)
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Due: google-style-java

Implemented Dependency Injection for the ProfilerProcessorConfig
  ingestion/src/metadata/__init__.py
  ingestion/src/metadata/profiler/processor/processor.py
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
  ingestion/src/metadata/sampler/processor.py
  ingestion/src/metadata/workflow/ingestion.py
Due: none

revert test , will be part of separate pr
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Due: google-style-java

Introduce table names with randomness for varying search scores, print if there are any overlapping as well - Just a test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/SearchResourceTest.java
Due: google-style-java

fix tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Container.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/GlobalSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Navbar.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

Saml registration fix
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Due: google-style-java

Scim configuration saved
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
Due: google-style-java

refactor code
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
  openmetadata-ui/src/main/resources/ui/src/services/SSOConfigurationService.ts
Due: lint-staged

UI changes
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/epicConnection.json
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/database.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/databaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/epicConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

Fix test_connection to adhere to OMD standards for DB connections (#22478)
  ingestion/src/metadata/ingestion/source/database/exasol/connection.py
  ingestion/src/metadata/ingestion/source/database/exasol/queries.py
  openmetadata-service/src/main/resources/json/data/testConnections/database/exasol.json
Due: none

scim config issues fixed
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
Due: google-style-java

fix enableSelfSignup
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationFormRJSF.tsx
Due: lint-staged

fix some styling
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-contract.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/policies.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/table-grey.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/contract-detail.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/StatusBadgeV2.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/status-badge.less
  openmetadata-ui/src/main/resources/ui/src/constants/DataContract.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
Due: lint-staged

scim enabling from settings
  openmetadata-service/src/main/java/org/openmetadata/service/resources/scim/ScimResource.java
Due: google-style-java

pending localization keys
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

docs: added batch reverse metadata
  openmetadata-docs/content/v1.9.x-SNAPSHOT/applications/reverse-metadata.md
Due: none

UI markdown file
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Epic.md
Due: none

FIX #21180: Implement Cross Service Lineage
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  ingestion/src/metadata/utils/db_utils.py
  ingestion/tests/unit/test_cross_database_lineage_sql.py
Due: none

MINOR - Data Contract Validation (#22541)
  ingestion/examples/sample_data/dataContracts/dataContractResults.json
  ingestion/examples/sample_data/dataContracts/dataContracts.json
  ingestion/src/metadata/ingestion/ometa/mixins/data_contract_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/utils/logger.py
  ingestion/tests/integration/ometa/test_ometa_data_contract_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/dataContracts/DataContractValidationApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/exception/DataContractValidationException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResultRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/main/resources/json/data/app/DataContractValidationApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DataContractValidationApplication.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createDataContract.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createDataContractResult.json
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestSuite.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dataContract.json
  openmetadata-spec/src/main/resources/json/schema/entity/datacontract/dataContractResult.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-spec/src/main/resources/json/schema/type/contractExecutionStatus.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DataContractValidationApplication.svg
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDataContract.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDataContractResult.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/tests/createTestSuite.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dataContract.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/datacontract/dataContractResult.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testCase.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testSuite.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/contractExecutionStatus.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/DataContractValidationApplication.json
Due: google-style-java, lint-staged

MINOR: Add support for csv.gz in datalake
  ingestion/src/metadata/readers/dataframe/dsv.py
  ingestion/src/metadata/readers/dataframe/reader_factory.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/tests/unit/utils/test_datalake.py
Due: none

Fix landing page feedbacks
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/customise-landing-page-header.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/customize-my-data.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/feed-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/my-data-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/AddEditPersona/AddEditPersona.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaDetailsCard/PersonaDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/following-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetSortFilter/WidgetSortFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/WidgetWrapper.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/WidgetWrapper.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetWrapper/widget-wrapper.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/curated-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/DomainsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DomainsWidget/domains-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/KPIWidget/kpi-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/my-task-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/total-data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UserProfileIcon/UserProfileIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UserProfileIcon/user-profile-icon.less
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Form.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/persona-details-page.less
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/persona-page.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
