Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

feat: allow admins to force delete ingestion pipelines (#31203)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/IngestionPipelineResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/IngestionPipelineRepositoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceDeleteTest.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/exception/IngestionRunnerUnavailableException.java
Due: google-style-java

minor fix
  openmetadata-ui/src/main/resources/ui/vite.config.ts
Due: lint-staged

fix(appMode): also preserve a fresh cross-tab hint through the AuthProvider hydrate
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
Due: lint-staged

Fixes 31171: return only custom properties from /metadata/types/customProperties (#31172)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TypeResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SchemaFieldExtractor.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/SchemaFieldExtractorTest.java
Due: google-style-java

fix(ui): polish Intake Forms page and shared table custom property
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainFormExtensionFields.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/TableTypeProperty/TableTypePropertyEditTable.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/pages/IntakeForms/IntakeFormsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/om-rdg.less
Due: lint-staged

refactor(alerts): drop the unreachable null guard in threadSubject
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
Due: google-style-java

addressed gitar comment
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterDocument.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadDocumentModal/UploadDocumentModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
Due: lint-staged

fix: navigate to metric details on row click and handle edit selection separately (#31311)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/MetricBulkImportExportEdit.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/TableV2.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.tsx
Due: lint-staged

test(e2e): fix RootModel iteration bug in quicksight dashboard print
  ingestion/tests/cli_e2e/test_cli_quicksight.py
Due: none

Fixes #31220: count all bundle suite tests (#31223)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestSuiteResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/TestSuiteRepositoryTest.java
Due: google-style-java

feat(ui): tail live ingestion logs over SSE instead of polling
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LogsViewer.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/hooks/useServiceProgressStream.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/LogViewerModal/LogViewerModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/LogViewerModal/LogViewerModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/LogViewerModal/LogViewerModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/LogViewerModal/LogsViewerModalContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/LogViewerModal/log-viewer-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/common/LogViewerModal/useLogStream.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/LogViewerModal/useLogStream.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useEntityLogs.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useEntityLogs.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useIngestionLogSource.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/SseStreamUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SseStreamUtils.ts
Due: lint-staged

fix permission condition
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
Due: lint-staged

fix(snowflake): resolve semantic view metric collisions and first-run assets (#23680)
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/semantic_view_metrics.py
  ingestion/tests/unit/topology/database/test_snowflake_semantic_view_metrics.py
Due: none

fix(context-center): suppress unnecessary user API calls for team owners and pin count fetch (#31315)
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCard/KnowledgeCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterMemoriesPage/ContextCenterMemoriesPage.tsx
Due: lint-staged

fix(context-center): drop related entities without a repository on write, tolerate on read, clean up existing rows (#31033)
  bootstrap/sql/migrations/native/1.13.4/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.13.4/postgres/postDataMigrationSQLScript.sql
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/KnowledgePageHierarchyIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContextMemoryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KnowledgePageRepository.java
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/RelatedDataAssets/RelatedDataAssetsForm.tsx
Due: google-style-java, lint-staged

fix(snowflake): keep the metric name digest independent of identifier quoting (#23680)
  ingestion/src/metadata/ingestion/source/database/snowflake/semantic_view_metrics.py
  ingestion/tests/unit/topology/database/test_snowflake_semantic_view_metrics.py
Due: none

fix: unit test failures and extractSourceValue array-matching bug
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchPureUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchPureUtils.ts
Due: lint-staged

fix(appMode): also preserve a fresh cross-tab hint through the AuthProvider hydrate (#31335)
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
Due: lint-staged

Fixes #31280: KafkaConnect lineage for Debezium sources on single-database services (#31281)
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/metadata.py
  ingestion/tests/unit/topology/pipeline/test_kafkaconnect.py
Due: none

fix(ingestion): add missing paramiko dependency for the SFTP connector (#31291)
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/drive/sftp/connection.py
Due: none

test(snowflake): pin the metric name round-trip across both call sites (#23680)
  ingestion/tests/unit/topology/database/test_snowflake_semantic_view_metrics.py
Due: none

fix(ui): home Activity Feed widget ignores its filter selection; add follows-scoped activity endpoint (#30603)
  .github/playwright/impact-map.json
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ActivityStreamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/activity/ActivityResource.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityAPI.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeWidgets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/activityAPI.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/activityFeed.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/widgetFilters.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProviderContext.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/ActivityFeedProvider.mock.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/feedsAPI.test.ts
  openmetadata-ui/src/main/resources/ui/src/rest/feedsAPI.ts
Due: google-style-java, lint-staged

perf(ui): R4 residual — passive scroll listeners, lazy state init, hoist localStorage read (#30930)
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/MathEquation/MathEquationComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProduct/hooks/useDataProductListingData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/DimensionalityTab/DimensionalityHeatmap/useScrollIndicator.hook.ts
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/Execution/Execution.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useGridEditController.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/SignUpPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSVUtilsClassBase.tsx
Due: lint-staged

Fixes #31218: address Data Quality UI feedback (#31219)
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/BundleSuiteForm/BundleSuiteFormDrawer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/BundleSuiteForm/BundleSuiteFormDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ColumnProfileTable/ColumnProfileTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ColumnProfileTable/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/QualityTab/QualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.utils.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/hooks/useTestSuiteDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/useTestSuiteDetailsPage.test.tsx
Due: lint-staged

Fixes #29824: Ingest dbt pass results with null message (#29828)
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/test_dbt.py
Due: none

Fixes #30886: send the weak If-Match validator on ingestion column patches (#30887)
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/tests/unit/ometa/test_patch_mixin_etag.py
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/OptimisticLockingColumnPatchIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityETag.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/EntityETagTest.java
Due: google-style-java

fix(knowledge-center): prevent uploaded media from being lost when navigating away before autosave
  openmetadata-ui/src/main/resources/ui/playwright/e2e/nightly/ContextCenter.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageDetailComponent/KnowledgePageDetailComponent.tsx
Due: lint-staged

fix(knowledge-center): fast-path guard in stripPendingUploadNodes to avoid DOMParser round-trip
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageDetailComponent/KnowledgePageDetailComponent.tsx
Due: lint-staged

refactor(ui): add type-safe named variants to ErrorPlaceHolder (C4)
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolder.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolderNew.tsx
Due: lint-staged

fix(api): log async delete failures instead of only notifying a websocket (#31286)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
Due: google-style-java

fix(auth): OIDC login-loop hardening — interactive fallback on login_required, preserve pending logins (#31181)
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/session/SessionService.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/AuthenticationCodeFlowHandlerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/session/SessionServiceTest.java
Due: google-style-java

fix(ui): improve AutoClassification advanced config layout and language labels (#31282)
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/IngestionObjectFieldTemplate/IngestionObjectFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionWorkflowForm/IngestionWorkflowForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilderV1/widgets/CoreInputWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
Due: lint-staged

Fixed file upload in context center articles, and the UI for the file card (#31295)
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/file-upload/file-upload.tsx
  openmetadata-ui/src/main/resources/ui/playwright/constant/KnowledgeCenter.constant.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/nightly/ContextCenter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/ContextCenterUtil.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/AttachmentComponents/FileAttachment.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/AttachmentComponents/FileAttachment.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/FileNodeView.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/file-node.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: lint-staged

fix(ui): address review comments
  openmetadata-ui/src/main/resources/ui/src/pages/IntakeForms/IntakeFormsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/om-rdg.less
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
