Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

chore(ci): improve e2e runners with conditions (#22084)
  .github/workflows/playwright-mysql-e2e-skip.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e-skip.yml
  .github/workflows/playwright-postgresql-e2e.yml
Due: none

Doc: MCP Menu Updation (#22056)
  openmetadata-docs/content/v1.8.x/collate-menu.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
Due: none

Issue in Os Lineage (#22069)
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OSLineageGraphBuilder.java
Due: google-style-java

Update Servlet Holders (#22055)
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Due: google-style-java

Minor: Fix the token expiry options order (#22049)
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/AuthMechanismForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/User.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/BotsUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/BotsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/BotsUtils.tsx
Due: lint-staged

MINOR: Fix pytest 3.9 (#22085)
  .github/workflows/py-tests.yml
Due: none

feature:ssas-connector (#22028)
  openmetadata-service/src/main/resources/json/data/testConnections/database/ssas.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/ssasConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Ssas.md
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createContainer.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createTable.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/tests/createTestDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/profilerConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/container.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/database.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/databaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/ssasConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/storage/containerMetadataConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/storage/manifestMetadataConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testDefinition.ts
Due: lint-staged

feat: add support for DBX system metrics (#22044)
  ingestion/src/metadata/ingestion/source/database/bigquery/profiler/__init__.py
  ingestion/src/metadata/ingestion/source/database/bigquery/profiler/profiler.py
  ingestion/src/metadata/ingestion/source/database/bigquery/service_spec.py
  ingestion/src/metadata/ingestion/source/database/redshift/profiler/__init__.py
  ingestion/src/metadata/ingestion/source/database/redshift/profiler/profiler.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/service_spec.py
  ingestion/src/metadata/ingestion/source/database/snowflake/profiler/__init__.py
  ingestion/src/metadata/ingestion/source/database/snowflake/profiler/profiler.py
  ingestion/src/metadata/ingestion/source/database/snowflake/service_spec.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/bigquery/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/redshift/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/system/bigquery/system.py
  ingestion/src/metadata/profiler/metrics/system/databricks/system.py
  ingestion/src/metadata/profiler/metrics/system/dml_operation.py
  ingestion/src/metadata/profiler/metrics/system/redshift/system.py
  ingestion/src/metadata/profiler/metrics/system/snowflake/system.py
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/src/metadata/sampler/sqlalchemy/bigquery/sampler.py
  ingestion/tests/unit/metadata/ingestion/source/database/snowflake/profiler/test_system_metrics.py
  ingestion/tests/unit/profiler/sqlalchemy/test_metrics.py
  ingestion/tests/unit/profiler/test_utils.py
Due: none

Fixes #21106: Support owner extraction from serialized Airflow DAGs (#22071)
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/tests/unit/topology/pipeline/test_airflow.py
Due: none

fix(test): correct table type filling in TestCases.spec.ts (#22072)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
Due: lint-staged

Doc: 1.8.1 Release Updation (#22087)
  openmetadata-docs/content/partials/v1.8/releases/1.8.0.md
  openmetadata-docs/content/partials/v1.8/releases/latest.md
  openmetadata-docs/content/partials/v1.9/releases/1.8.0.md
  openmetadata-docs/content/partials/v1.9/releases/latest.md
  openmetadata-docs/content/v1.8.x/deployment/docker/index.md
  openmetadata-docs/content/v1.8.x/menu.md
  openmetadata-docs/content/v1.8.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.8.x/releases/releases/index.md
  openmetadata-docs/content/v1.8.x/sdk/python/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/deployment/docker/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/releases/releases/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/sdk/python/index.md
Due: none

Update README and Ingestion Framework Documentation (#22080)
  README.md
  ingestion/README.md
  openmetadata-ui/src/main/resources/ui/package.json
  scripts/check_prerequisites.sh
Due: none

Fix #21908: Add Persona configuration per User (#21909)
  openmetadata-service/src/main/java/org/openmetadata/service/exception/BadRequestException.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PersonaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/PersonaMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/PersonaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/PersonaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/teams/createPersona.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/persona.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-spec/src/main/resources/json/schema/type/personaPreferences.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/teams/createPersona.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/persona.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/user.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/personaPreferences.ts
Due: google-style-java, lint-staged

fix(playwright): enhance bot page token reset logic to handle button visibility (#22125)
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
Due: lint-staged

fixed flaky custom theme config (#22118)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/CustomThemeConfig.spec.ts
Due: lint-staged

Fix:#21536 Column lineages are not getting updated/deleted when columns are updated/deleted (#22106)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Due: google-style-java

Doc: Meta Title Updation (#22117)
  openmetadata-docs/content/v1.7.x/connectors/ingestion/workflows/usage/index.md
  openmetadata-docs/content/v1.7.x/main-concepts/metadata-standard/schemas/api/data/createAPICollection.md
  openmetadata-docs/content/v1.7.x/main-concepts/metadata-standard/schemas/dataInsight/kpi/index.md
  openmetadata-docs/content/v1.7.x/main-concepts/metadata-standard/schemas/entity/services/connections/database/datalake/index.md
  openmetadata-docs/content/v1.7.x/main-concepts/metadata-standard/schemas/metadataIngestion/storage/index.md
  openmetadata-docs/content/v1.7.x/main-concepts/metadata-standard/schemas/tests/basic.md
  openmetadata-docs/content/v1.8.x/connectors/ingestion/workflows/usage/index.md
  openmetadata-docs/content/v1.8.x/main-concepts/metadata-standard/schemas/api/data/createAPICollection.md
  openmetadata-docs/content/v1.8.x/main-concepts/metadata-standard/schemas/dataInsight/kpi/index.md
  openmetadata-docs/content/v1.8.x/main-concepts/metadata-standard/schemas/entity/services/connections/database/datalake/index.md
  openmetadata-docs/content/v1.8.x/main-concepts/metadata-standard/schemas/metadataIngestion/storage/index.md
  openmetadata-docs/content/v1.8.x/main-concepts/metadata-standard/schemas/tests/basic.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/ingestion/workflows/usage/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/main-concepts/metadata-standard/schemas/api/data/createAPICollection.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/main-concepts/metadata-standard/schemas/dataInsight/kpi/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/main-concepts/metadata-standard/schemas/entity/services/connections/database/datalake/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/main-concepts/metadata-standard/schemas/metadataIngestion/storage/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/main-concepts/metadata-standard/schemas/tests/basic.md
Due: none

Fix LocalJwksProvider lookup, add MultiUrlJwkProvider tests (#22102)
  openmetadata-service/src/main/java/org/openmetadata/service/security/LocalJwkProvider.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/MultiUrlJwkProviderTest.java
Due: google-style-java

add name tag in pom.xml of all modules (#22104)
  common/pom.xml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
Due: none

fix flaky playwright (#22038)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Due: lint-staged

fix: openmetadata-ui/src/main/resources/ui/package.json & openmetadata-ui/src/main/resources/ui/yarn.lock to reduce vulnerabilities (#22086)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Chore: Add github-actions bot to the safe to test list (#22101)
  .github/teams.yml
Due: none

#21510: supported rendering all suggestion on user avatar click (#21990)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsSlider/SuggestionsSlider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsSlider/SuggestionsSlider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AvatarCarousel/AvatarCarousel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AvatarCarouselItem/AvatarCarouselItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AvatarCarouselItem/AvatarCarouselItem.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/Suggestions.mock.ts
  openmetadata-ui/src/main/resources/ui/src/rest/suggestionsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Suggestion/SuggestionUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Suggestion/SuggestionUtils.tsx
Due: lint-staged

FIX: custom logo failure leads to repetitive api calls for that image url (#22100)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/CustomThemeConfig.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/BrandImage/BrandImage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/BrandImage/BrandImage.tsx
Due: lint-staged

fix flaky add multiple owner (#22059)
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

Improve the alert destination selection warning message (#22130)
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: lint-staged

skip domain test (#22151)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
Due: lint-staged

Revert "chore(ci): improve e2e runners with conditions (#22084)" (#22183)
  .github/workflows/playwright-mysql-e2e-skip.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e-skip.yml
  .github/workflows/playwright-postgresql-e2e.yml
Due: none

improve ui build times (#21748)
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Due: lint-staged

Fix #21662: Optional Redis Write-Through Cache for Database Queries (#21667)
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CacheWarmupService.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedCollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedEntityRelationshipDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedTagUsageDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/LazyCacheService.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/RedisCacheBundle.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/RedisCacheException.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/RelationshipCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/CacheConfiguration.java
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CacheConfigurationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CacheDisabledCompatibilityTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CacheSetupTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CacheWarmupIntegrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CacheWarmupServiceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/CachedOpenMetadataApplicationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/RateLimiterComparisonTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/RateLimiterProductionReadinessTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/RelationshipCacheTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/cache/TagUsageCacheTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/cacheConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/cacheConfiguration.ts
  pom.xml
Due: google-style-java, lint-staged

Fix Get Connection (#22033)
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/base_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
Due: none

fix glossary playwright failure (#22129)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
Due: lint-staged

moved types to devdependency (#22133)
  openmetadata-ui/src/main/resources/ui/package.json
Due: none

Doc: X symbol Removal (#22136)
  openmetadata-docs/content/v1.7.x/connectors/ingestion/workflows/dbt/auto-ingest-dbt-core.md
  openmetadata-docs/content/v1.8.x/connectors/ingestion/workflows/dbt/auto-ingest-dbt-core.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/ingestion/workflows/dbt/auto-ingest-dbt-core.md
Due: none

fix the playwright auth-setup breaking (#22149)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
Due: lint-staged

Doc: Page's Error Fix (#22137)
  openmetadata-docs/content/v1.7.x/connectors/dashboard/qlikcloud/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.7.x/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/adls-datalake/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/azuresql/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.7.x/connectors/database/cassandra/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/qlikcloud/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.8.x/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/adls-datalake/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/azuresql/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.8.x/connectors/database/cassandra/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/powerbi/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/qlikcloud/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/adls-datalake/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/athena/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/azuresql/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/database/cassandra/index.md
Due: none

Fix: Playwright AUTs flakiness (#22128)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/GlobalSearch.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/nightly/AutoClassification.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/service.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
Due: lint-staged

fix mentions formatting in block editor (#22057)
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorUtils.ts
Due: lint-staged
