Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Add Test Cases
  openmetadata-service/src/main/java/org/openmetadata/service/resources/quicklink/QuickLinkResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/quicklink/QuickLinkResourceTest.java
Due: google-style-java

Fix hive e2e tests (#11815)
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/test_cli_hive.py
Due: none

Added more tests
  openmetadata-service/src/test/java/org/openmetadata/service/resources/quicklink/QuickLinkResourceTest.java
Due: google-style-java

fix teams spec failure
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
Due: lint-staged

code smell
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModelProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
Due: lint-staged

Fixing Typo
  openmetadata-docs/content/v0.13.3/connectors/credentials/index.md
  openmetadata-docs/content/v1.0.0/connectors/credentials/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/credentials/index.md
Due: none

Removing manual test github action file
  .github/workflows/manual.yml
Due: none

fix: update explore data card
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.style.less
  openmetadata-ui/src/main/resources/ui/src/components/TableDataCardBody/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/layout/page-layout.less
Due: lint-staged

chore: remove hardcode condition
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnectionModal/TestConnectionModal.tsx
Due: lint-staged

remove unwanted file
  openmetadata-ui/src/main/resources/ui/src/components/common/InfoPopover/InfoPopover.less
  openmetadata-ui/src/main/resources/ui/src/components/common/InfoPopover/InfoPopover.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.style.css
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card/TableDataCard.tsx
Due: lint-staged

Typo fix (#11822)
  openmetadata-docs/content/v0.13.3/connectors/credentials/index.md
  openmetadata-docs/content/v1.0.0/connectors/credentials/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/credentials/index.md
Due: none

miner fix
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
Due: lint-staged

fix: jest and cypress test
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableDataCardBody/TableDataCardBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.test.tsx
Due: lint-staged

fix: revert lineage changes
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
Due: lint-staged

fix: remove unused component
  openmetadata-ui/src/main/resources/ui/src/components/common/InfoPopover/InfoPopover.less
  openmetadata-ui/src/main/resources/ui/src/components/common/InfoPopover/InfoPopover.tsx
Due: lint-staged

fix: minor css fix
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
Due: lint-staged

Fixing Typo
  openmetadata-docs/content/v0.13.3/deployment/secrets-manager/how-to-add-a-new-implementation/index.md
Due: none

feat: Added backend logic to support logical and executable test suites
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/RestUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createLogicalTestCases.json
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestSuite.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
Due: google-style-java

addressing comments
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModelProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModelProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonContentItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonItemLabel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
Due: lint-staged

fix: use lineage config while fetching child nodes
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/entityLineage.style.less
Due: lint-staged

localization-sync
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

feat: clean up java and json code
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestSuite.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
Due: google-style-java

fix: cypress tests
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.style.less
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Due: lint-staged

chore(#11742): test connection status modal improvements (#11744)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-time-out.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-timeout-button.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnectionModal/TestConnectionModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnectionModal/TestConnectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/TestConnectionModal/test-connection-modal.less
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: lint-staged

feat(ui): my data widget fix layout issue on service page swipe few console errors
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/app-container.less
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChartV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizablePanels.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/my-data.less
  openmetadata-ui/src/main/resources/ui/src/pages/page-not-found/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/layout/page-layout.less
Due: lint-staged

updated file name
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
Due: lint-staged

fix search bar issue
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
Due: lint-staged

fix: code smells
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/explore-search-card.less
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableDataCardBody/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
Due: lint-staged

chore(ui): hide json schema fields default description
  openmetadata-ui/src/main/resources/ui/src/components/JSONSchemaTemplate/DescriptionFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
Due: lint-staged

feat: added sample data for logical and executable test suites
  ingestion/examples/sample_data/tests/logicalTestSuites.json
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/data_quality/api/workflow.py
  ingestion/src/metadata/ingestion/models/tests_data.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/ometa/test_ometa_test_suite.py
Due: none

Fix #11781: Fix atlas lineage issue
  ingestion/src/metadata/ingestion/source/metadata/atlas/metadata.py
  openmetadata-docs/content/v1.0.0/connectors/metadata/amundsen/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/metadata/amundsen/cli.md
  openmetadata-docs/content/v1.0.0/connectors/metadata/amundsen/index.md
  openmetadata-docs/content/v1.0.0/connectors/metadata/atlas/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/metadata/atlas/cli.md
  openmetadata-docs/content/v1.0.0/connectors/metadata/atlas/index.md
Due: none

Fix LineTooLong
  ingestion/src/metadata/ingestion/ometa/auth_provider.py
Due: none

fix(#11793):show password option missing
  openmetadata-ui/src/main/resources/ui/src/components/JsonSchemaWidgets/PasswordWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilder/FormBuilder.tsx
Due: lint-staged

Fix #11572: Glue Support Partition Columns & Use Pydantic Models (#11776)
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/models.py
  ingestion/tests/unit/topology/database/test_glue.py
Due: none

Fix redshift view lineage parsing issue (#11702)
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
Due: none

Add Table Sample Data During Sample Data ingestion (#11773)
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Due: none

feat(ui): my data widget (#11830)
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/app-container.less
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChartV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizablePanels.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/my-data.less
  openmetadata-ui/src/main/resources/ui/src/pages/page-not-found/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/layout/page-layout.less
Due: lint-staged

fix: css issues
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
Due: lint-staged

Issue 150 (#11827)
  openmetadata-docs/content/v0.13.3/deployment/secrets-manager/how-to-add-a-new-implementation/index.md
Due: none
