Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/hadialqattan/pycln
    rev: v1.2.4
    hooks:
      - id: pycln
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 100 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

MINOR - Add `/validate` endpoint
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MigrationDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationValidationClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationValidationClientException.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/MigrationValidationFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/OpenMetadataMigrationValidation.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-service/src/test/resources/openmetadata-secure-test.yaml
  openmetadata-spec/src/main/resources/json/schema/system/validationResponse.json
Due: google-style-java

Fix bigint out of range issue
  ingestion/src/metadata/profiler/orm/functions/sum.py
Due: none

add BigTable as beta (#15332)
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Due: lint-staged

ISSUE #14765 - Implement Athena Injected Partition Check (#15318)
  ingestion/src/metadata/utils/partition.py
  ingestion/src/metadata/utils/test_utils.py
  ingestion/tests/unit/test_partition.py
Due: none

Fixes #15355: fix KeyError issue if not present (#15387)
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
Due: none

rename dbt source name
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
Due: lint-staged

Remove debugging override
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
Due: none

Fix bigint out of range issue (#15395)
  ingestion/src/metadata/profiler/orm/functions/sum.py
Due: none

show loader while delete in progress
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
Due: lint-staged

Add tests for enum props
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/customProperties/enumConfig.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperty.json
Due: google-style-java

add cypress for editing the enum property
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
Due: lint-staged

MINOR: Part 1 of #15090: dbt JSON Schema & Parsing Improvements (#15297)
  ingestion/src/metadata/examples/workflows/dbt.yaml
  ingestion/src/metadata/ingestion/api/parser.py
  ingestion/tests/cli_e2e/dbt/redshift/dbt.yaml
  ingestion/tests/unit/test_dbt.py
  ingestion/tests/unit/test_workflow_parse.py
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v132/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v132/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v132/MigrationUtil.java
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtAzureConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtCloudConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtGCSConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtHttpConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtLocalConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtS3Config.json
Due: google-style-java

Allow Lineage for stored Procedure
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
Due: google-style-java

address comments
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/DescriptionV1.tsx
Due: lint-staged

chore: minor ui fixes
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Due: lint-staged

Add validations to enum
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
Due: google-style-java

Add Node in case of empty edges
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
Due: google-style-java

remove unnecessary LOADING_STATE enum & fix failing unit tests (#15373)
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryVersion/GlossaryVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityDeleteModal/EntityDeleteModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
Due: lint-staged

Add for OpenSearchClient
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Due: google-style-java

fix(CI): Use the standard cypress GHA way with environments
  .github/workflows/cypress-integration-tests-mysql-pr.yml
Due: none

fix(CI): Use the standard cypress GHA way with environments (#15399)
  .github/workflows/cypress-integration-tests-mysql-pr.yml
Due: none

Fix dependency issue
  openmetadata-service/pom.xml
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
Due: google-style-java

- Remove Instance on delete of the Application
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Due: google-style-java

- Remove Instance on delete of the Application (#15400)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Due: google-style-java

chore: minor ui fixes (#15398)
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Due: lint-staged

Add Custom Propety Config to store format, enum values, entity types (#15302)
  ingestion/src/metadata/ingestion/models/custom_properties.py
  ingestion/src/metadata/ingestion/ometa/mixins/custom_property_mixin.py
  ingestion/tests/integration/ometa/test_ometa_custom_properties_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createCustomProperty.json
  openmetadata-spec/src/main/resources/json/schema/entity/type.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperties/enumConfig.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperty.json
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/OpenMetadata/CustomProperty.md
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/EditCustomPropertyModal/EditCustomPropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineEdit/InlineEdit.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineEdit/InlineEdit.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/metadataTypeAPI.ts
Due: google-style-java, lint-staged

Add Custom Propety Config to store format, enum values, entity types #15302
  ingestion/src/metadata/ingestion/models/custom_properties.py
  ingestion/src/metadata/ingestion/ometa/mixins/custom_property_mixin.py
  ingestion/tests/integration/ometa/test_ometa_custom_properties_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metadata/TypeResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createCustomProperty.json
  openmetadata-spec/src/main/resources/json/schema/entity/type.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperties/enumConfig.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperty.json
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/OpenMetadata/CustomProperty.md
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/EditCustomPropertyModal/EditCustomPropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineEdit/InlineEdit.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineEdit/InlineEdit.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/metadataTypeAPI.ts
Due: google-style-java, lint-staged

#14001 Add sort option for Test Cases
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

Fix linters
  ingestion/src/metadata/ingestion/source/database/bigquery/incremental_table_processor.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/models.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
Due: none

Remove unused query
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
Due: none

fix url malformed issue in entity popover and data insight detail page
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.tsx
Due: lint-staged

#14001 Add sort option for Test Cases (#15401)
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

#14063 Scale of axis on Data Quality Chart (#15368)
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/CustomMetricGraphs/CustomMetricGraphs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
Due: lint-staged

cleanup on authenticated app router
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
Due: lint-staged

MINOR - Bump postgresql version
  pom.xml
Due: none
