Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Fix additional TypeScript errors in utils and components
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtilsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Due: lint-staged

Feature: hubspot connector
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/hubspot.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/hubspotConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/chart.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboard.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/hubspotConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

Fix CustomPropertiesSection.test.tsx type issues
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/CustomPropertiesSection/CustomPropertiesSection.test.tsx
Due: lint-staged

chore: added missing httpx dependency to base requirements
  ingestion/setup.py
Due: none

Feature: Dremio connector
  openmetadata-service/src/main/resources/json/data/testConnections/database/dremio.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/dremioConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/database.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/databaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/dremioConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

Remove wild-card search from glossary search (#24036)
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/SearchResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
Due: google-style-java, lint-staged

add registry at applications provider
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationsProvider/ApplicationsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/plugins/AppPlugin.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ExtensionPointRegistry.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExtensionPointTypes.ts
Due: lint-staged

Fix: Alignment of data product, glossary and classification button component
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
Due: lint-staged

mvn build fixes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-spec/src/main/resources/json/schema/type/pipelineRuntimeTrend.json
Due: google-style-java

collibra connector (#24155)
  openmetadata-service/src/main/resources/json/data/testConnections/metadata/collibra.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/metadata/collibraConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createMetadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/metadata/collibraConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/metadataService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

fix(ui): console warnings
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsSelectList/DataProductsSelectListV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageConfigModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermSelectableList/GlossaryTermSelectableList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermsSection/GlossaryTermsSection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TagSelectableList/TagSelectableList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtilsV1.tsx
Due: lint-staged

Fix: Fields are getting cut in querybuilder option section
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/query-builder-widget.less
Due: none

chore: added missing httpx dependency to base requirements (#24178)
  ingestion/setup.py
Due: none

Feat: Comprehensive LookML Template Processing
  ingestion/src/metadata/ingestion/source/dashboard/looker/models.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/parser.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/template_processor.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/template_tags.py
  ingestion/tests/unit/topology/dashboard/test_looker_parser_integration.py
  ingestion/tests/unit/topology/dashboard/test_looker_template_processor.py
  ingestion/tests/unit/topology/dashboard/test_looker_template_tags.py
Due: none

Remove Tag Filter for entityStatus (#24168)
  openmetadata-ui/src/main/resources/ui/src/constants/Tag.constants.ts
Due: lint-staged

Add template type column and remove antd components
  openmetadata-ui/src/main/resources/ui/src/pages/NotificationTemplatesPage/NotificationTemplatesPage.tsx
Due: lint-staged

fix test warnings
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/CustomPropertiesSection/CustomPropertiesSection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermsSection/GlossaryTermsSection.test.tsx
Due: lint-staged

fix some code smell and minor improvement
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaTable/ContractSchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataContract.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizeGlossaryTerm/CustomizeGlossaryTermBaseClass.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
Due: lint-staged

fix ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetSummaryPanelV1/DataAssetSummaryPanelV1.tsx
Due: lint-staged

nit
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/query-builder-widget.less
Due: none

MINOR: Implement includeUsage flag in Dashboard Service
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
Due: none

pyformat
  ingestion/src/metadata/ingestion/source/dashboard/looker/parser.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/template_processor.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/template_tags.py
  ingestion/tests/unit/topology/dashboard/test_looker_parser_integration.py
  ingestion/tests/unit/topology/dashboard/test_looker_template_processor.py
Due: none

PLAYWRIGHT: fix the table flaky test (#24176)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
Due: lint-staged

pyformat
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/tests/unit/topology/dashboard/_test_superset.py
Due: none

fix lineage spec failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/lineage.ts
Due: lint-staged

Add EntityChildDetailsV1 utility components
  openmetadata-ui/src/main/resources/ui/src/utils/EntityChildDetailsV1Utils.tsx
Due: lint-staged

Fix: Alignment of data product, glossary and classification button component (#24181)
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
Due: lint-staged

fix code smells
  openmetadata-ui/src/main/resources/ui/src/components/CondensedBreadcrumb/CondensedBreadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CondensedBreadcrumb/condensedBreadcrumb.less
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetSummaryPanelV1/DataAssetSummaryPanelV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtilsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Lineage/LineageUtils.tsx
Due: lint-staged

Added FORCE_SECURE_SESSION_COOKIE flag (#24152)
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/auth/SessionCookieSecurityTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/authenticationConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/securityConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Due: google-style-java, lint-staged

Implement Dimensionality SumToBeBetween
  ingestion/src/metadata/data_quality/validations/column/base/columnValuesSumToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/pandas/columnValueLengthsToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/pandas/columnValueMaxToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/pandas/columnValueMeanToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/pandas/columnValueMinToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/pandas/columnValuesSumToBeBetween.py
  ingestion/src/metadata/data_quality/validations/column/sqlalchemy/columnValuesSumToBeBetween.py
  ingestion/src/metadata/profiler/metrics/static/max.py
  ingestion/src/metadata/profiler/metrics/static/sum.py
  ingestion/tests/unit/test_suite/conftest.py
  ingestion/tests/unit/test_suite/test_validations_databases.py
  ingestion/tests/unit/test_suite/test_validations_datalake.py
Due: none

Fix switch case syntax for TABLE and DASHBOARD_DATA_MODEL
  openmetadata-ui/src/main/resources/ui/src/utils/EntityChildDetailsV1Utils.tsx
Due: lint-staged

fix user count not displaying in Team page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Teams.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/team/TeamClass.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
Due: lint-staged

fix code smells
  openmetadata-ui/src/main/resources/ui/src/components/CondensedBreadcrumb/CondensedBreadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySummaryPanelUtilsV1.tsx
Due: lint-staged
