Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

check page url on page change by click logs
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.ts
Due: lint-staged

add cypress test for enum property for all entities
  openmetadata-ui/src/main/resources/ui/cypress/common/Entities/EntityClass.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Entity.spec.ts
Due: lint-staged

MINOR - Fix suggestion accept all
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SuggestionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/feeds/SuggestionsResourceTest.java
Due: google-style-java

add cypress test for sqlQuery, timestamp and timeInterval property
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
Due: lint-staged

MINOR: Fix sample data upload - binary data error
  ingestion/src/metadata/profiler/processor/sample_data_handler.py
Due: none

fix breaking issue in data insight report page after log button click (#15652)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightReportApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsightSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.test.tsx
Due: lint-staged

fix: increase wait time + make es container not reusable
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
Due: google-style-java

fix(ui): auth refresh token for confidential client type (#15654)
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/GenericAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Due: lint-staged

[Fix] Application Fixes, Updated AppRunType and Removed Server App Inits (#15649)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AbstractOmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/appRunRecord.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppLogsViewer/AppLogsViewer.test.tsx
Due: google-style-java, lint-staged

Add postgres migration
  bootstrap/sql/migrations/native/1.3.2/postgres/schemaChanges.sql
Due: none

Remove comments
  ingestion/src/metadata/clients/azure_client.py
Due: none

Modify Json Schemas, Add support for Azuresql entra integrated & password
  ingestion/src/metadata/clients/azure_client.py
  ingestion/src/metadata/ingestion/source/database/azuresql/connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azure/clientSecretCredentials.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azure/usernamePasswordCredentials.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azureCredentials.json
Due: none

Modify Lint Error
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
Due: none

Revert Migration and Schema Changes
  bootstrap/sql/migrations/native/1.3.2/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.3.2/postgres/schemaChanges.sql
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azure/clientSecretCredentials.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azure/usernamePasswordCredentials.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azureCredentials.json
Due: none

Add Default to AzureSql Json schema
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
Due: none

Remove Auth Type and remove usernamepassword
  ingestion/src/metadata/examples/workflows/datalake_azure_default.yaml
  ingestion/tests/unit/test_azure_credentials.py
Due: none

Add Type hints
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
Due: none

Remove Basic Auth Azure
  ingestion/src/metadata/clients/azure_client.py
  ingestion/src/metadata/examples/workflows/datalake_azure_basic.yaml
  ingestion/src/metadata/examples/workflows/datalake_azure_client_secret.yaml
  ingestion/src/metadata/ingestion/source/database/iceberg/fs/azure.py
  ingestion/src/metadata/readers/file/adls.py
Due: none

Add support for Access Token
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/connection.py
  ingestion/tests/integration/ometa/test_ometa_patch.py
  ingestion/tests/integration/profiler/test_nosql_profiler.py
  ingestion/tests/unit/metadata/cli/resources/profiler_workflow.py
  ingestion/tests/unit/metadata/cli/resources/profiler_workflow.txt
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azureCredentials.json
Due: none

Add Azure Client, support Default Creds
  ingestion/src/metadata/clients/azure_client.py
  ingestion/src/metadata/ingestion/source/database/datalake/connection.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/utils/secrets/azure_kv_secrets_manager.py
  ingestion/src/metadata/utils/storage_metadata_config.py
Due: none

Modify Datalake Azure Yaml
  ingestion/src/metadata/examples/workflows/datalake_azure_basic.yaml
  ingestion/src/metadata/examples/workflows/datalake_azure_client_secret.yaml
  ingestion/src/metadata/examples/workflows/datalake_azure_default.yaml
Due: none

Add tests, modify json schema, address comments
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/connection.py
  ingestion/src/metadata/utils/credentials.py
  ingestion/tests/unit/test_build_connection_url.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
Due: none

Migrations iceberg, datalake, and ingestion pipeline for dbt
  bootstrap/sql/migrations/native/1.3.2/mysql/schemaChanges.sql
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
Due: none

Modify AzureSQL Connection, add postgres support for azure
  ingestion/src/metadata/ingestion/source/database/azuresql/connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/common/azureConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azureCredentials.json
Due: none

Fix Credentials
  ingestion/src/metadata/clients/azure_client.py
  ingestion/src/metadata/ingestion/source/database/iceberg/fs/azure.py
  ingestion/src/metadata/readers/file/adls.py
  ingestion/tests/unit/test_azure_credentials.py
Due: none

Add Azure to Mysql Connection
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mysqlConnection.json
Due: none

Fix Connection Azure
  ingestion/src/metadata/ingestion/source/database/azuresql/connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
Due: none

Fix Logic
  ingestion/src/metadata/ingestion/source/database/azuresql/connection.py
Due: none

Modify Username Password credentials
  openmetadata-spec/src/main/resources/json/schema/security/credentials/azure/usernamePasswordCredentials.json
Due: none

fix broken links in the documentation (#15599)
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
Due: lint-staged

Add Tests and Address Sonar
  ingestion/src/metadata/utils/credentials.py
  ingestion/tests/unit/test_build_connection_url.py
Due: none

Fix Lint
  ingestion/tests/unit/test_build_connection_url.py
Due: none

fix cypress test for sqlQuery input
  openmetadata-ui/src/main/resources/ui/cypress/common/Utils/CustomProperty.ts
Due: lint-staged

miner fix for bigquery cypress test
  openmetadata-ui/src/main/resources/ui/cypress/common/Services/BigQueryIngestionClass.ts
Due: lint-staged

try/catch
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Due: none

- Add docker vars (#15619)
  conf/openmetadata.yaml
Due: none

- remove {}
  conf/openmetadata.yaml
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
