Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

GitBook: [#80] Replacing Looker
  README.md
  SUMMARY.md
  docs/integrations/connectors/README.md
  integrations/connectors/looker/README.md
  integrations/connectors/looker/run-looker-connector-with-the-airflow-sdk.md
  integrations/connectors/looker/run-looker-connector-with-the-cli.md
Due: none

Fix #5209: Replace Teams dropdown with selectable component and integrate search api
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/CreateUser/CreateUser.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/react-select-component/reactSelectCustomStyle.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/CreateUserPage/CreateUserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
Due: lint-staged

fixed dbt lineage
  ingestion/src/metadata/ingestion/source/database/bigquery.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/dbt_source.py
Due: none

DBT Models Lineage Fix (#5252)
  ingestion/src/metadata/ingestion/source/database/bigquery.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/dbt_source.py
Due: none

Fix #4767: Refractor usage first draft
  catalog-rest-service/src/main/resources/json/schema/type/queryParserData.json
  catalog-rest-service/src/main/resources/json/schema/type/tableQuery.json
  catalog-rest-service/src/main/resources/json/schema/type/tableUsageCount.json
  catalog-rest-service/src/main/resources/json/schema/type/tableUsageRequest.json
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/models/table_queries.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/source/database/bigquery_usage.py
  ingestion/src/metadata/ingestion/source/database/clickhouse_usage.py
  ingestion/src/metadata/ingestion/source/database/redshift_usage.py
  ingestion/src/metadata/ingestion/source/database/snowflake_usage.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/src/metadata/utils/sql_queries.py
Due: none

Redefined Constructors
  ingestion/src/metadata/ingestion/source/database/bigquery_usage.py
  ingestion/src/metadata/ingestion/source/database/clickhouse_usage.py
  ingestion/src/metadata/ingestion/source/database/mssql_usage.py
  ingestion/src/metadata/ingestion/source/database/redshift_usage.py
  ingestion/src/metadata/ingestion/source/database/snowflake_usage.py
  ingestion/src/metadata/utils/sql_queries.py
Due: none

Added Column Lineage
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryUsagePipeline.json
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/utils/sql_lineage.py
Due: none

Resolved Review Comments
  catalog-rest-service/src/main/resources/json/schema/type/tableQuery.json
  catalog-rest-service/src/main/resources/json/schema/type/tableUsageCount.json
  catalog-rest-service/src/main/resources/json/schema/type/tableUsageRequest.json
  catalog-rest-service/src/main/resources/json/schema/type/usageRequest.json
  ingestion/examples/workflows/bigquery_usage.yaml
  ingestion/examples/workflows/clickhouse_usage.yaml
  ingestion/examples/workflows/mssql_usage.yaml
  ingestion/examples/workflows/redshift_usage.yaml
  ingestion/examples/workflows/snowflake_usage.yaml
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/ometa/utils.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/source/database/bigquery_usage.py
  ingestion/src/metadata/ingestion/source/database/clickhouse_usage.py
  ingestion/src/metadata/ingestion/source/database/sample_usage.py
  ingestion/src/metadata/ingestion/source/database/snowflake_usage.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/utils/elasticsearch.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/src/metadata/utils/sql_lineage.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
Due: none

Fixed Usage: SQL Query, %ile & Joined Columns
  catalog-rest-service/src/main/resources/json/schema/type/queryParserData.json
  catalog-rest-service/src/main/resources/json/schema/type/tableQuery.json
  catalog-rest-service/src/main/resources/json/schema/type/tableUsageCount.json
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/src/metadata/utils/helpers.py
Due: none

Upgraded Lib Versions
  ingestion/setup.py
Due: none

Backend: Enforce principal domain in the JWT filter (#5155)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplication.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/AuthenticationConfiguration.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/AuthorizerConfiguration.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/CatalogOpenIdAuthorizationRequestFilter.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/DefaultAuthorizer.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/JwtFilter.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/NoopFilter.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/SecurityUtil.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/security/JwtFilterTest.java
  conf/openmetadata.yaml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose.yml
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ToastUtils.ts
Due: google-style-java, lint-staged

Fixed issue 4774 consistant style to tags
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags-container/tags-container.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/tags-container/tags-container.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags-container/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags-viewer/tags-viewer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/tags-viewer/tags-viewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags-viewer/tags-viewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/tags/tags.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/tags/tags.styles.ts
  openmetadata-ui/src/main/resources/ui/src/components/tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Due: lint-staged

GitBook: [#82] Replacing docs
  README.md
  SUMMARY.md
  data-lineage/usage-workflow-through-query-logs.md
  docs/data-lineage/usage-workflow.md
  docs/integrations/connectors/README.md
  integrations/connectors/metabase/README.md
  integrations/connectors/metabase/run-metabase-connector-with-the-airflow-sdk.md
  integrations/connectors/metabase/run-metabase-connector-with-the-cli.md
  integrations/connectors/mssql/README.md
  integrations/connectors/mssql/run-mssql-connector-with-the-airflow-sdk.md
  integrations/connectors/mssql/run-mssql-connector-with-the-cli.md
Due: none

Added unit tests
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.test.tsx
Due: lint-staged

miner fix
  openmetadata-ui/src/main/resources/ui/src/components/tags-container/tags-container.tsx
Due: lint-staged

GitBook: [#83] Replace Docs - MySQL, Oracle
  README.md
  SUMMARY.md
  docs/integrations/connectors/README.md
  integrations/connectors/mysql/README.md
  integrations/connectors/mysql/run-mysql-connector-using-cli.md
  integrations/connectors/mysql/run-mysql-connector-with-the-airflow-sdk.md
  integrations/connectors/oracle/README.md
  integrations/connectors/oracle/run-oracle-connector-with-the-airflow-sdk.md
  integrations/connectors/oracle/run-oracle-connector-with-the-cli.md
Due: none

GitBook: [#84] Replace docs - Postgres, SFDC
  README.md
  SUMMARY.md
  docs/integrations/connectors/README.md
  integrations/connectors/postgres/README.md
  integrations/connectors/postgres/run-postgres-connector-with-the-airflow-sdk.md
  integrations/connectors/postgres/run-postgres-connector-with-the-cli.md
  integrations/connectors/salesforce/README.md
  integrations/connectors/salesforce/run-salesforce-connector-using-airflow-sdk.md
  integrations/connectors/salesforce/run-salesforce-connector-using-cli.md
Due: none

GitBook: [#85] Replace Docs - SingleStore, Superset
  README.md
  SUMMARY.md
  docs/integrations/connectors/README.md
  integrations/connectors/singlestore/README.md
  integrations/connectors/singlestore/run-singlestore-connector-using-airflow-sdk.md
  integrations/connectors/singlestore/run-singlestore-connector-using-cli.md
  integrations/connectors/superset/README.md
  integrations/connectors/superset/run-superset-connector-with-the-airflow-sdk.md
  integrations/connectors/superset/run-superset-connector-with-the-cli.md
Due: none

Fixing code smells
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
Due: lint-staged

Minor change
  openmetadata-ui/src/main/resources/ui/src/components/TeamsSelectable/TeamsSelectable.tsx
Due: lint-staged

Fix #5210: Review database field for connectors
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/bigQueryConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/mariaDBConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/prestoConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/singleStoreConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
  ingestion/src/metadata/ingestion/source/database/hive.py
  ingestion/src/metadata/ingestion/source/database/mariadb.py
  ingestion/src/metadata/ingestion/source/database/postgres.py
  ingestion/src/metadata/ingestion/source/database/presto.py
  ingestion/src/metadata/ingestion/source/database/trino.py
  ingestion/src/metadata/utils/source_connections.py
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/database/verticaConnection.json
Due: none

Removed comments
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
Due: lint-staged

removed-required-from-aws-credential (#5219)
  catalog-rest-service/src/main/resources/json/schema/security/credentials/awsCredentials.json
  ingestion/tests/unit/test_workflow_parse.py
Due: none

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
Due: lint-staged

Fix prop-types warnings
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
Due: lint-staged

fixed breaking cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/Glossary.spec.js
Due: lint-staged

Addressing review comments
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
Due: lint-staged

clickhouse connection options
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/clickhouseConnection.json
  ingestion/src/metadata/utils/connections.py
  ingestion/tests/unit/test_source_connection.py
Due: none

Fix pydantic version
  ingestion/setup.py
Due: none

Remove negative margins
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
Due: lint-staged

clickhouse connection options (#5259)
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/clickhouseConnection.json
  ingestion/setup.py
  ingestion/src/metadata/utils/connections.py
  ingestion/tests/unit/test_source_connection.py
Due: none

fix issue: 5137 protected users and admin route with admin protection
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
Due: lint-staged

Removed connectionOptions dictionary
  ingestion/src/metadata/utils/connections.py
Due: none

UI : Add mlModel Entity Page (#5071)
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/mlModelAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/MlModelDetailsUtils.ts
Due: lint-staged

Mark connections that support dbs
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/connectionBasicType.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/azureSQLConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/postgresConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/prestoConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/redshiftConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
Due: none

Register types
  ingestion/src/metadata/ingestion/source/sqa_types.py
  ingestion/src/metadata/orm_profiler/orm/registry.py
Due: none

snowflake mod
  ingestion/src/metadata/orm_profiler/orm/functions/modulo.py
Due: none

format
  ingestion/src/metadata/ingestion/source/database/sqlalchemy_source.py
Due: none

Build ORM schema to not depend on USE kw
  ingestion/src/metadata/orm_profiler/orm/converter.py
  ingestion/src/metadata/orm_profiler/processor/orm_profiler.py
Due: none
