Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

test: temporarily @Disabled ColumnGridResourceIT — pre-existing aggregator flake
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ColumnGridResourceIT.java
Due: google-style-java

test: bump test-time ES/OS heap to 4 GB, re-enable ColumnGridResourceIT
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/bootstrap/TestSuiteBootstrap.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ColumnGridResourceIT.java
Due: google-style-java

docs(ingestion): design for runtime diagnostics subsystem
  ingestion/docs/design/ingestion-diagnostics.md
Due: none

Revert "test: bump test-time ES/OS heap to 4 GB, re-enable ColumnGridResourceIT"
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/bootstrap/TestSuiteBootstrap.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ColumnGridResourceIT.java
Due: google-style-java

fix(search): scope column-grid metadata-status ITs + surface ES shard-failure reason
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ColumnGridResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchColumnAggregator.java
Due: google-style-java

Remove S3 Log storage
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/AuthIntrospectResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/S3LogStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/LogBatch.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/AuthIntrospectResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
Due: google-style-java, lint-staged

fix(rdf): converge Fuseki state on weekly rebuilds and isolate API latency (#28117)
  bootstrap/sql/migrations/native/2.0.1/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/2.0.1/postgres/postDataMigrationSQLScript.sql
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/RdfBatchProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/RdfIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/OntologyLoader.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfUpdater.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/storage/JenaFusekiStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/storage/QLeverStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/storage/RdfStorageInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/translator/RdfPropertyMapper.java
  openmetadata-service/src/main/resources/json/data/app/RdfIndexApp.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/RdfIndexApp.json
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/rdf/RdfIndexAppTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/RdfPredicatePartitionTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/RdfPropertyMapperTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/rdfIndexingAppConfig.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/RdfIndexApp.json
Due: google-style-java

Address PR review feedback (#28163) + introspect hardening
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/AuthIntrospectResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/AuthIntrospectResource.java
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
Due: google-style-java, lint-staged

fix(cache): close rename-cascade race and bot-task delete eviction gap (#28100)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ColumnGridResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
Due: google-style-java

fix(ingestion): stop StreamableLogHandler recursing into itself when queue is full (#28160)
  ingestion/src/metadata/utils/streamable_logger.py
  ingestion/tests/unit/utils/test_streamable_logger.py
Due: none

Release 1.12.8.4: Bump version of ingesstion
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
Due: none

fix(search): scope column-grid metadata-status ITs + surface ES shard-failure reason (#28162)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ColumnGridResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchColumnAggregator.java
Due: google-style-java

feat(ingestion): runtime diagnostics subsystem (registry, signals, watchdog, heartbeat, memory)
  ingestion/src/metadata/ingestion/api/steps.py
  ingestion/src/metadata/ingestion/diagnostics/__init__.py
  ingestion/src/metadata/ingestion/diagnostics/heartbeat.py
  ingestion/src/metadata/ingestion/diagnostics/http_introspect.py
  ingestion/src/metadata/ingestion/diagnostics/memory.py
  ingestion/src/metadata/ingestion/diagnostics/registry.py
  ingestion/src/metadata/ingestion/diagnostics/signals.py
  ingestion/src/metadata/ingestion/diagnostics/watchdog.py
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/utils/logger.py
  ingestion/src/metadata/workflow/base.py
  ingestion/tests/unit/diagnostics/__init__.py
  ingestion/tests/unit/diagnostics/test_heartbeat.py
  ingestion/tests/unit/diagnostics/test_http_introspect.py
  ingestion/tests/unit/diagnostics/test_lifecycle.py
  ingestion/tests/unit/diagnostics/test_memory.py
  ingestion/tests/unit/diagnostics/test_registry.py
  ingestion/tests/unit/diagnostics/test_signals.py
  ingestion/tests/unit/diagnostics/test_watchdog.py
Due: none

Fix BulkDeleteStaleIT.test_databaseScope: avoid schema name collision
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/BulkDeleteStaleIT.java
Due: google-style-java

Fix integration test failures from PR #28163 CI run
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/AuthIntrospectResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/IngestionPipelineLogStreamingResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/AuthIntrospectResource.java
Due: google-style-java

fix(ingestion): sanitize User-Agent before sending to OM server
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/ometa/sse_client.py
  ingestion/src/metadata/ingestion/ometa/utils.py
  ingestion/src/metadata/workflow/ingestion.py
  ingestion/tests/unit/test_user_agent.py
Due: none

fixed UI issues
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextCenterHeader/ContextCenterHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCenterLayout/KnowledgeCenterLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArchivePage/ContextCenterArchivePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDashboardPage/ContextCenterDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDocumentsPage/ContextCenterDocumentsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterIntegrationsPage/ContextCenterIntegrationsPage.tsx
Due: lint-staged

fixed document listing
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-doc.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-image.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-pdf.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-xls.svg
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadDocumentModal/UploadDocumentModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadedDocumentCard/UploadedDocumentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDashboardPage/ContextCenterDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDocumentsPage/ContextCenterDocumentsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ContextCenterUtils.tsx
Due: lint-staged

addresssed gitar comment
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadDocumentModal/UploadDocumentModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArticlesPage/ContextCenterArticlesPage.tsx
Due: lint-staged

fixed article sidebar refresh
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePagesHierarchy/KnowledgePagesHierarchy.tsx
Due: lint-staged

added context center playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenter.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadDocumentModal/UploadDocumentModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageDetailRightPanel/KnowledgePageDetailRightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArticlesPage/ContextCenterArticlesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ContextCenterUtils.tsx
Due: lint-staged

integrate upload api and fixed ui bugs
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-folder-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-grid-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-integration.svg
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleCard/ArticleCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleListSection/ArticleListSection.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleListSection/ArticleListSection.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadDocumentModal/UploadDocumentModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadDocumentModal/UploadDocumentModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadedDocumentsSection/UploadedDocumentsSection.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCenterLayout/KnowledgeCenterLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArticlesPage/ContextCenterArticlesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDashboardPage/ContextCenterDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDocumentsPage/ContextCenterDocumentsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/assetAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/knowledgeCenterAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ContextCenterUtils.ts
Due: lint-staged

minor UI fixes
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextCenterHeader/ContextCenterHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.tsx
Due: lint-staged

removed unused route
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/ContextCenterRouter/ContextCenterRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
Due: lint-staged

import fixes
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageListComponent/KnowledgePageListComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArticlesPage/ContextCenterArticlesPage.tsx
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

fixed title breadcrum in all the pages
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleListSection/ArticleListSection.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadDocumentModal/UploadDocumentModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadedDocumentsSection/UploadedDocumentsSection.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCenterLayout/KnowledgeCenterLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCenterLayout/knowledge-center-layout.less
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArchivePage/ContextCenterArchivePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArticlesPage/ContextCenterArticlesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDashboardPage/ContextCenterDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDocumentsPage/ContextCenterDocumentsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterIntegrationsPage/ContextCenterIntegrationsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/assetAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ContextCenterUtils.tsx
Due: lint-staged

addressed gitar comment
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/file-upload/file-upload.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadDocumentModal/UploadDocumentModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Due: lint-staged

fixed knowledge center playwright
  openmetadata-ui/src/main/resources/ui/playwright/constant/sidebar.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/KnowledgeCenter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/KnowledgeCenterList.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/KnowledgeCenterRoleBasedAccess.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/KnowledgeCenter.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/QuickLinkFormModal/QuickLinkFormModal.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/sidebar.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArticlesPage/ContextCenterArticlesPage.tsx
Due: lint-staged

fixed ui issues
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/ContextCenterRouter/ContextCenterRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleVersionHeader/ArticleVersionHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCenterLayout/knowledge-center-layout.less
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageDetailComponent/KnowledgePageDetailComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageDetailRightPanel/KnowledgePageDetailRightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArticlesPage/ContextCenterArticlesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KnowledgePageVersionPage/KnowledgePageVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/KnowledgePageUtils.tsx
Due: lint-staged

fixed playwright tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeNavigation.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-editor.svg
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleCard/ArticleCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDashboardPage/ContextCenterDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ContextCenterUtils.tsx
Due: lint-staged

lint fix
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/file-upload/file-upload.tsx
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/KnowledgeCenterRoleBasedAccess.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleListSection/ArticleListSection.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextCenterSidebar/ContextCenterSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextCenterSidebar/ContextCenterSidebar.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadedDocumentCard/UploadedDocumentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: lint-staged

added dowload icon in dashboard card
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadedDocumentCard/UploadedDocumentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadedDocumentCard/UploadedDocumentCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadedDocumentsSection/UploadedDocumentsSection.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadedDocumentsSection/UploadedDocumentsSection.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityPageInfos/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDashboardPage/ContextCenterDashboardPage.tsx
Due: lint-staged

added permission for action button
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenter.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextCenterHeader/ContextCenterHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextCenterHeader/ContextCenterHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentsView.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArchivePage/ContextCenterArchivePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArticlesPage/ContextCenterArticlesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDashboardPage/ContextCenterDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDocumentsPage/ContextCenterDocumentsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterIntegrationsPage/ContextCenterIntegrationsPage.tsx
Due: lint-staged

showing remaining count for tags in artcile tag
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenter.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleCard/ArticleCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageDetailRightPanel/KnowledgePageDetailRightPanel.tsx
Due: lint-staged

fixed existing unit test
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/BookMarkWidget/BookMarkWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCenterWidget/KnowledgeCenterWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageVersion/KnowledgePageVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePagesHierarchy/KnowledgePagesHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/KnowledgePageUtils.test.tsx
Due: lint-staged

translated keys
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: none
