Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Register Ingestion pipelines just from YAML (#13501)
  conf/openmetadata.yaml
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/ometa/routes.py
  ingestion/src/metadata/utils/class_helper.py
  ingestion/src/metadata/workflow/base.py
  ingestion/src/metadata/workflow/workflow_status_mixin.py
  ingestion/tests/unit/test_ometa_endpoints.py
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJobHandler.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
  openmetadata-spec/src/main/resources/json/schema/configuration/pipelineServiceClientConfiguration.json
Due: google-style-java

fix: upgrade @okta/okta-auth-js from 6.4.0 to 6.9.0 (#13504)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Point Reindex request to new Applications api (#13508)
  docker/run_local_docker.sh
Due: none

Fix hive e2e test count (#13497)
  ingestion/tests/cli_e2e/test_cli_hive.py
Due: none

fix(ui): excluded unsupported service on listing (#13523)
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StorageServiceUtils.ts
Due: lint-staged

Fixes #12298 - Update report data type to camel case (#13505)
  bootstrap/sql/migrations/native/1.2.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.0/postgres/schemaChanges.sql
  docker/development/docker-compose-postgres.yml
  ingestion/examples/sample_data/data_insights/data_insights.json
  ingestion/src/metadata/data_insight/processor/reports/cost_analysis_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/reports/entity_report_data_processor.py
  ingestion/src/metadata/data_insight/processor/reports/web_analytic_report_data_processor.py
  ingestion/src/metadata/data_insight/producer/producer_factory.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/data_insight/test_data_insight_workflow.py
  ingestion/tests/unit/data_insight/test_entity_report_processor.py
  ingestion/tests/unit/data_insight/test_web_analytic_report_processor.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedDataInsightSource.java
  openmetadata-spec/src/main/resources/json/schema/analytics/reportData.json
Due: google-style-java

Fixes #12601 - column filter for profiler workflow (#13535)
  docker/development/docker-compose.yml
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/looker/utils.py
  ingestion/src/metadata/ingestion/source/database/common_nosql_source.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/static/distinct_count.py
  ingestion/src/metadata/profiler/metrics/static/stddev.py
  ingestion/src/metadata/profiler/metrics/static/sum.py
  ingestion/src/metadata/profiler/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/metrics/window/third_quartile.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/processor/sampler/pandas/sampler.py
  ingestion/src/metadata/profiler/processor/sampler/sampler_interface.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/readers/dataframe/json.py
  ingestion/src/metadata/readers/file/local.py
  ingestion/src/metadata/utils/datalake/datalake_utils.py
  ingestion/src/metadata/utils/entity_link.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/tests/integration/datalake/__init__.py
  ingestion/tests/integration/datalake/resources/names.json
  ingestion/tests/integration/datalake/resources/new_users.parquet
  ingestion/tests/integration/datalake/resources/users.csv
  ingestion/tests/integration/datalake/test_ingestion.py
  ingestion/tests/integration/orm_profiler/test_datalake_profiler_e2e.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/topology/database/test_couchbase.py
  ingestion/tests/unit/topology/database/test_datalake.py
  ingestion/tests/unit/topology/database/test_mongodb.py
  ingestion/tests/unit/utils/test_datalake.py
Due: none

fix(ui): disable sorting on user selection (#13520)
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
Due: lint-staged

Fix mysql E2E test count (#13529)
  ingestion/tests/cli_e2e/test_cli_mysql.py
Due: none

fix(CI): Python Tests (#13546)
  .github/workflows/py-tests.yml
Due: none

chore(ui): add prepareType prop support in manage button component (#13524)
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
Due: lint-staged

Make domain optional for data product (#13537)
  openmetadata-spec/src/main/resources/json/schema/api/domains/createDataProduct.json
  openmetadata-spec/src/main/resources/json/schema/entity/domains/dataProduct.json
Due: none

ui: clean-up in data insight page (#13193)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dollar-bag.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/AppAnalyticsTab/AppAnalyticsTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataAssetsTab/DataAssetsTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataAssetsTab/DataAssetsTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatePickerMenu/DatePickerMenu.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/DataInsight.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/data-insight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsight.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightLeftPanel/DataInsightLeftPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightLeftPanel/DataInsightLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/KPIList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/searchAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Due: lint-staged

Remove Shade Plugin causing transitive deps failure (#13516)
  openmetadata-service/pom.xml
Due: none

chore(ui): focus editor when wrapper area is captured (#13525)
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.tsx
Due: lint-staged

dbt fixed null sql updates and source descriptions (#13467)
  ingestion/src/metadata/ingestion/source/database/dbt/constants.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/test_dbt.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Due: google-style-java

Add support for loading glossaries from JSON data files (#13534)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-spec/src/main/resources/json/schema/api/data/loadGlossary.json
Due: google-style-java

Do not run sonar by default (#13538)
  pom.xml
Due: none

Fix extensions migrations path (#13541)
  bootstrap/bootstrap_storage.sh
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
Due: google-style-java

chore(ui): add extra checks for popups in block editor (#13540)
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/hashtag/hashtagSuggestion.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/mention/mentionSuggestions.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slashCommand/renderItems.ts
Due: lint-staged

fix(CI): Enable workflow_dispatch for PyTests (#13527)
  .github/workflows/py-tests.yml
Due: none

fix: pass rnd table bound columns to sample query (#13561)
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
Due: none

feat: add custom property filter in advanced search modal (#13559)
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/advanced-search-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/exlore.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomProperties/CustomProperty.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Due: lint-staged

Fix Nifi test connection (#13528)
  ingestion/src/metadata/ingestion/source/pipeline/nifi/client.py
Due: none

fixed ES Indexing for very large S3 Storage Service buckets fails (#13507)
  ingestion/examples/sample_data/storage/containers.json
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/container_index_mapping.json
Due: none

fix: upgrade reactflow from 11.1.1 to 11.8.3 (#13483)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

move services tests to service folder (#13573)
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/redirections.constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/Following.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/Airflow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/MlFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/S3Storage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/superset.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Users/UserProfileIcon/UserProfileIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Due: lint-staged

fix asset service icon, support some search index value, and fix ingestion encoded issue (#13576)
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

Fix connection ambiguious (#13585)
  openmetadata-ui/src/main/resources/ui/parseConnectionSchema.js
  openmetadata-ui/src/main/resources/ui/src/utils/ConnectionSchemas/SupersetConnection.json
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
Due: lint-staged

fix(ui): revamp asset filtering style (#13542)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-model.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/assets-tabs.less
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Assets.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/search.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

Added missing search things (#13583)
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardDataModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DataProductIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchEntityIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/StoredProcedureIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_data_model_index.json
  openmetadata-service/src/main/resources/elasticsearch/jp/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/stored_procedure_index_mapping.json
Due: google-style-java

feat(ui): support table partitioned details (#13294)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/PartitionedKeys/PartitionedKeys.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Due: lint-staged

ui: glossary badge feature feedback (#13562)
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeader/EntityHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/TagsSelectForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/tag-select-fom.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Color.constants.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged
