Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Added permission step
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/maven-build.yml
  .github/workflows/py-tests.yml
Due: none

fix(ui): initial pipeline status should be -- (#8964)
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
Due: lint-staged

Fix #8958: Add initialization ordering and remove user/bot initialization from Authorizer (#8959)
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Due: google-style-java

UI : Label fixes for Errorplaceholder in User page (#8960)
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
Due: lint-staged

Fixed the mounting of volumes (#8963)
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/maven-build.yml
  .github/workflows/py-tests.yml
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
Due: none

increase size of es results when checking for existing data (#8966)
  ingestion/src/metadata/data_insight/api/workflow.py
Due: none

Ometa mixin for ingestion pipeline (#8931)
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/tests/integration/ometa/test_ometa_test_suite.py
Due: none

Fixed Cypress flakiness for login
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
Due: lint-staged

fix the explore page history once return from entity details page (#8965)
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
Due: lint-staged

Removed unwanted API wait for whats new modal (#8962)
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
Due: lint-staged

increase the token cache max size and time
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BotTokenCache.java
Due: google-style-java

Bug when patching an entity with SM enabled
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
Due: google-style-java

Cherry Picked Commits for 0.13.0 release (#8969)
  ingestion/src/metadata/data_insight/api/workflow.py
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/tests/integration/ometa/test_ometa_test_suite.py
Due: none

added wait time for home page
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
Due: lint-staged

Fixed the mounting of volumes (#8963) (#8971)
  .github/workflows/cypress-integration-tests-mysql.yml
  .github/workflows/cypress-integration-tests-postgresql.yml
  .github/workflows/maven-build.yml
  .github/workflows/py-tests.yml
  docker/local-metadata/docker-compose-postgres.yml
  docker/local-metadata/docker-compose.yml
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
Due: none

Revert: cy.visit("/") change
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
Due: lint-staged

Fix failing tests
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
Due: google-style-java

feat(ui): unit tests coverage for PRs
  .github/workflows/yarn-coverage.yml
Due: none

test commit to trigger test coverage workflow
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
Due: lint-staged

Fix #8958: Add initialization ordering and remove user/bot initialization from Authorizer (#8959) merge in 0.12.3
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/bots/BotResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/policies/PolicyResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/RoleResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Due: google-style-java

change wait position
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
Due: lint-staged

test pr for unit tests coverage
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
Due: lint-staged

Updated the docs for docker volume
  openmetadata-docs/content/deployment/docker/volumes.md
Due: none

Bug when patching an entity with SM enabled (#8972)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
Due: google-style-java

feat(ui): unit tests coverage for PRs (#8974)
  .github/workflows/yarn-coverage.yml
Due: none

Version Bump Up for feature release
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  common/pom.xml
  docker/metadata/Dockerfile
  docker/metadata/docker-compose-postgres.yml
  docker/metadata/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/setup.py
  openmetadata-airflow-apis/setup.py
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Due: none

update : skip failing tests
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/LogoutUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.js
Due: lint-staged

fix workflow
  .github/workflows/yarn-coverage.yml
Due: none

Fix : test-coverage workflow action indentation
  .github/workflows/yarn-coverage.yml
Due: none

testing
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
Due: lint-staged

Remove libssl step from workflow
  .github/workflows/maven-build.yml
Due: none

Fixed Cypress flakiness for login (#8968)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/LogoutUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
Due: lint-staged

Remove compute percentile from the calls, needs to be called at the end of usage data addition
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UsageRepository.java
Due: google-style-java
