Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

added tags docs
  openmetadata-docs-v1/content/v1.0.0/connectors/ingestion/workflows/dbt/index.md
Due: none

added in 1.1.0
  openmetadata-docs-v1/content/v1.1.0/connectors/ingestion/workflows/dbt/index.md
Due: none

test: fix cy test
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
Due: lint-staged

Remove plural from columns , update message and handle case for array field types
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/TagFormatter.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
Due: google-style-java

fix: url input validation
  openmetadata-ui/src/main/resources/ui/src/pages/EditCustomLogoConfig/EditCustomLogoConfig.tsx
Due: lint-staged

[Docs] - Added dbt versions table in the docs (#11609)
  openmetadata-docs-v1/content/v1.0.0/connectors/ingestion/workflows/dbt/index.md
  openmetadata-docs-v1/content/v1.1.0/connectors/ingestion/workflows/dbt/index.md
Due: none

Added sales new fields
  ingestion/src/metadata/examples/workflows/salesforce.yaml
  ingestion/src/metadata/ingestion/source/database/salesforce/connection.py
  openmetadata-docs-v1/content/v1.0.0/connectors/database/salesforce/airflow.md
  openmetadata-docs-v1/content/v1.0.0/connectors/database/salesforce/cli.md
  openmetadata-docs-v1/content/v1.0.0/connectors/database/salesforce/index.md
  openmetadata-docs-v1/content/v1.1.0/connectors/database/salesforce/airflow.md
  openmetadata-docs-v1/content/v1.1.0/connectors/database/salesforce/cli.md
  openmetadata-docs-v1/content/v1.1.0/connectors/database/salesforce/index.md
  openmetadata-docs-v1/images/v1.0.0/connectors/salesforce/service-connection.png
  openmetadata-docs-v1/images/v1.1.0/connectors/salesforce/service-connection.png
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/salesforceConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Salesforce.md
Due: none

Removed Redundant Code for Feed Threads, moved to util class
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FeedUtils.java
Due: google-style-java

test: add cypress test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/CustomLogoConfig.spec.js
Due: lint-staged

fix code bug
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
Due: lint-staged

Fix Entity Conversion Failures
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertsRuleEvaluator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FeedUtils.java
Due: google-style-java

fix superset
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ConnectionSchema/SupersetConnection.json
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
Due: lint-staged

test: update cy test to check for validation
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/CustomLogoConfig.spec.js
Due: lint-staged

updated breadcrumb for all entity and service page
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/QueryPage/QueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Due: lint-staged

localisation-sync
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

fixed failing unit test
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
Due: lint-staged

update the doc
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/OpenMetadata/CustomLogoConfiguration.md
Due: none

Fix XSS warnings
  .snyk
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/deploy.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/ip.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/run_automation.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
Due: none

Format
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/run_automation.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
Due: none

Add python version
  openmetadata-docs-v1/content/v1.0.0/developers/contribute/build-code-and-run-tests/prerequisites.md
  openmetadata-docs-v1/content/v1.1.0/developers/contribute/build-code-and-run-tests/prerequisites.md
Due: none

Add libsasl deps (#11613)
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
Due: none

test: fix cypress test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/CustomLogoConfig.spec.js
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/EditCustomLogoConfig/EditCustomLogoConfig.tsx
Due: lint-staged

Update Airflow SSL docs
  openmetadata-docs-v1/content/v1.0.0/deployment/security/enable-ssl/airflow-ssl.md
  openmetadata-docs-v1/content/v1.1.0/deployment/security/enable-ssl/airflow-ssl.md
Due: none

Fix Message Decorator type
  openmetadata-service/src/test/java/org/openmetadata/service/resources/ChangeEventParserResourceTest.java
Due: google-style-java

supported separate column for pipline entity version
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/EntityVersion.interface.ts
Due: lint-staged

Fixed and updated the advanced search specs
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
Due: lint-staged

Revert change from other PR
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
Due: none

[Docs] - Add notes on python version (#11615)
  openmetadata-docs-v1/content/v1.0.0/deployment/airflow/index.md
  openmetadata-docs-v1/content/v1.0.0/developers/contribute/build-code-and-run-tests/prerequisites.md
  openmetadata-docs-v1/content/v1.0.0/quick-start/local-deployment.md
  openmetadata-docs-v1/content/v1.1.0/deployment/airflow/index.md
  openmetadata-docs-v1/content/v1.1.0/developers/contribute/build-code-and-run-tests/prerequisites.md
  openmetadata-docs-v1/content/v1.1.0/quick-start/local-deployment.md
Due: none

feat(ui): supported separate column for Pipeline entity (#11600)
  openmetadata-ui/src/main/resources/ui/cypress/constants/tagsAddRemove.constants.js
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.interface.ts
Due: lint-staged

fixed vulnerablity issue
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  pom.xml
Due: google-style-java

fix(ui): #10731 updated breadcrumb to show displayName of the entity (#11619)
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/QueryPage/QueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Due: lint-staged

jackson-dataformat
  pom.xml
Due: none

fix code smell and addressed the comments
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
Due: lint-staged

Moved the show deleted switch for teams page outside the manage button dropdown Refactored the TeamDetailsV1 component code to remove the code smells
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHeading.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/UserCards.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/teamsAndUsers.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/styles/fonts.less
Due: lint-staged

chore: make height and width required in BrandLogo component
  openmetadata-ui/src/main/resources/ui/src/components/common/BrandLogo/BrandLogo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/BrandLogo/BrandLogo.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/forgot-password/forgot-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/reset-password/reset-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/basic-signup.component.tsx
Due: lint-staged

feat(ui): supported separate column for pipeline entity version (#11622)
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/EntityVersion.interface.ts
Due: lint-staged

Delete old docs and rename the openmetadata-docs-v1 to openmetadata-docs
  Makefile
Due: none

Delete old docs and rename the openmetadata-docs-v1 to openmetadata-docs
  .github/workflows/docs-v1-tests.yml
Due: none

chore: update component name
  openmetadata-ui/src/main/resources/ui/src/components/common/BrandImage/BrandImage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/BrandImage/BrandImage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/forgot-password/forgot-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/reset-password/reset-password.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/signup/basic-signup.component.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
