Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

fix lint checks
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProductCertificationFilter.spec.ts
Due: lint-staged

fix(data-insights): stop advertising nested subfields as chart fields
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDataInsightAggregatorManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchDataInsightAggregatorManager.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDataInsightAggregatorManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/OpenSearchDataInsightAggregatorManagerTest.java
Due: google-style-java

fix(data-insights): give the group-by aggregation key its own index so named metrics do not collide
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchLineChartAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchLineChartAggregator.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchLineChartAggregatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchLineChartAggregatorTest.java
Due: google-style-java

ci: minimize Python checkstyle setup
  .github/workflows/py-checkstyle.yml
Due: none

Revert "ci: minimize Python checkstyle setup"
  .github/workflows/py-checkstyle.yml
Due: none

Revert "Pin Python workflow actions to SHAs"
  .github/actions/authorize-pr/action.yml
  .github/actions/setup-openmetadata-test-environment/action.yml
  .github/actions/setup-python-environment/action.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/py-operator-build-test.yml
  .github/workflows/py-sonarcloud-nightly.yml
  .github/workflows/py-tests-shared.yml
  .github/workflows/validate-jsons-yamls.yml
Due: none

Revert "Split PR authorization from Python setup"
  .github/actions/authorize-pr/action.yml
  .github/actions/setup-openmetadata-test-environment/action.yml
  .github/actions/setup-python-environment/action.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/py-operator-build-test.yml
  .github/workflows/py-sonarcloud-nightly.yml
  .github/workflows/py-tests-shared.yml
  .github/workflows/validate-jsons-yamls.yml
Due: none

fix(mssql): ingest user-defined functions via the StoredProcedure entity
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/models.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/tests/unit/topology/database/test_mssql.py
Due: none

fix(mssql): silence basedpyright mismatch on get_unique_constraints monkeypatch
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
Due: none

fix(e2e): assert exact asset count with 60s retry for async tag propagation
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
Due: lint-staged

fix(e2e): move async asset-count retry into goToAssetsTab utility
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
Due: lint-staged

fix(security): pull expat 2.8.3-1~deb13u1 into the ingestion-base image
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile.ci
Due: none

fix(data-insights): exclude data-quality docs from data-asset totals
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightSystemChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v1134/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v1134/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v1134/DataInsightChartMigration.java
  openmetadata-service/src/test/java/org/openmetadata/service/migration/utils/v1134/DataInsightChartMigrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/DataAssetChartScopeTest.java
Due: google-style-java

refactor(e2e): move GlossaryTermRelationsGraph entity creation to beforeAll via data class
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryTermRelationsGraph.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/OntologyExplorerDataClass.ts
Due: lint-staged

refactor(data-insights): drop the redundant group-by key comments
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchLineChartAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchLineChartAggregator.java
Due: google-style-java

fix(security): bump netty to 4.1.137.Final for CVE-2026-59903 (#31725)
  pom.xml
Due: none

refactor(e2e): move all OntologyExplorer entity creation to beforeAll via data classes
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerInteractions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerIsolatedToggle.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/OntologyExplorerDataClass.ts
Due: lint-staged

refactor(e2e): replace cryptic D/DC/DX/DE aliases with descriptive names in all ontology specs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryTermRelationsGraph.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerCardinality.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerE2E.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerInteractions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerIsolatedToggle.spec.ts
Due: lint-staged

refactor(e2e): move OntologyExplorerFilters entity creation to beforeAll via data class
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/OntologyExplorerDataClass.ts
Due: lint-staged

fix lint checks
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerCardinality.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerE2E.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerInteractions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerIsolatedToggle.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/OntologyExplorerDataClass.ts
Due: lint-staged

fix(k8s): harden newer status deserialization fallback
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/k8s/K8sPipelineClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/DefaultLogStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/stream/PipelineServiceLogTailSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/clients/pipeline/k8s/K8sPipelineClientTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/LogStorageTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/stream/PipelineServiceLogTailSourceTest.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClientInterface.java
  openmetadata-ui/src/main/resources/ui/src/interface/IngestionPipelineLogs.interface.ts
Due: google-style-java, lint-staged

Fixes #31742: strip the trailing slash from Looker hostPort before the SDK concatenates onto it
  ingestion/src/metadata/ingestion/source/dashboard/looker/connection.py
  ingestion/tests/unit/source/dashboard/looker/test_connection.py
Due: none

test(dq): add Playwright coverage for incident manager domain isolation
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DomainIsolation/DomainIncidentIsolation.spec.ts
Due: lint-staged

test: exercise Python checkstyle workflow
  ingestion/tests/ci_checkstyle_canary.py
Due: none

fix(playwright): fixed AgentLogStream flakiness
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AgentLogStreamHandover.spec.ts
Due: lint-staged

test: run checkstyle canary from branch workflow
  .github/workflows/py-checkstyle.yml
Due: none

feat(spec): add source-managed aliases field to Table entity
  ingestion/tests/unit/test_table_aliases_schema.py
  openmetadata-spec/src/main/resources/json/schema/api/data/createTable.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Due: none

fix(mssql): detect encrypted functions and fetch their descriptions, not just procedures
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/tests/unit/topology/database/test_mssql.py
Due: none

fix(mcp): re-authorize create overwrites and correct tool docs (#31723)
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CommonUtils.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateClassificationTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateContextMemoryTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateDataProductTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateDomainTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateMetricTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateTagTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateTestCaseTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GlossaryTermTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GlossaryTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/RootCauseAnalysisTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/CommonUtilsAuthorizeOverwriteTest.java
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/CreateTestCaseToolTest.java
Due: google-style-java

fix(ingestion): sort aliases in source hash normalization for stable digests
  ingestion/src/metadata/utils/source_hash.py
  ingestion/tests/unit/test_source_hash.py
Due: none

fix(dq): address review feedback on incident domain isolation
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DomainIsolationIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DomainIsolation/DomainIncidentIsolation.spec.ts
Due: google-style-java, lint-staged

feat(mssql): add sys.synonyms query and synonym result models
  ingestion/src/metadata/ingestion/source/database/mssql/models.py
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
  ingestion/tests/unit/topology/database/test_mssql_synonyms.py
Due: none

feat(mssql): parse and normalize sys.synonyms base_object_name identifiers
  ingestion/src/metadata/ingestion/source/database/mssql/synonyms.py
  ingestion/tests/unit/topology/database/test_mssql_synonyms.py
Due: none

fix rules builder conjuction overllaping issue (#31700)
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Persona/PersonaAIContext/ContextRuleEditor/RuleQueryBuilderField.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryBuilderWidgetV1/query-builder-widget-v1.less
Due: lint-staged

feat(mssql): add bounded synonym map with consumption tracking
  ingestion/src/metadata/ingestion/source/database/mssql/synonyms.py
  ingestion/tests/unit/topology/database/test_mssql_synonyms.py
Due: none
