Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

ui changes
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/entity-summary-panel.less
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermsSection/GlossaryTermsSection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermsSection/GlossaryTermsSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnersSection/OwnersSection.less
  openmetadata-ui/src/main/resources/ui/src/components/common/TagsSection/TagsSection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TagsSection/TagsSection.tsx
Due: lint-staged

Fixed parsing issue while passing string doc
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchEntityManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchEntityManager.java
Due: google-style-java

Migrated updateEntityRelationship method to new ES/OS client
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityManagementClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchEntityManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchEntityManager.java
Due: google-style-java

Migrated reindexWithEntityIds method to new ES/OS client
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityManagementClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchEntityManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchEntityManager.java
Due: google-style-java

Added log to show error message for updateEntityRelationship
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchEntityManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchEntityManager.java
Due: google-style-java

Resolve Merge conflicts, Java Checkstyle
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v1100/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v1100/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v1100/MigrationUtil.java
Due: google-style-java

feat(ui): Enhance Data Observability components with new features, improve layout, and integrate test case result aggregation
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataObservability/DataObservabilityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataObservability/TabFilters/TabFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ColumnProfileTable/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerChart/TableProfilerChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/dataQualityDashboardAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.tsx
Due: lint-staged

chore(release): Prepare Branch for `1.9.11`
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-mcp/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Due: none

Refactored entity manager methods
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchEntityManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchEntityManager.java
Due: google-style-java

fix: restore severity state in PATCH test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Due: google-style-java

address styling feedbacks
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-custom-oidc.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-ldap.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-saml.svg
  openmetadata-ui/src/main/resources/ui/src/components/Modals/UnsavedChangesModal/unsaved-changes-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SSOConfigurationForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/sso-configuration-form-array-field-template.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/sso-configuration-form.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/SelectWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SSOUtils.ts
Due: lint-staged

Reset form on submit and cancel
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/drawer/useFormDrawer.tsx
Due: lint-staged

fix error taost content panel resize issue
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/settings-sso.less
Due: none

Add support for translations in multi lang
  ingestion/src/metadata/pii/algorithms/presidio_recognizer_factory.py
  ingestion/src/metadata/pii/scanners/custom_ner_scanner.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/resources/json/data/tags/piiTagsWithRecognizers.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/classification/createClassification.json
  openmetadata-spec/src/main/resources/json/schema/api/classification/createTag.json
  openmetadata-spec/src/main/resources/json/schema/api/classification/createTagWithRecognizers.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/classification.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/type/contextRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/customRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/denyListRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/patternRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/piiEntity.json
  openmetadata-spec/src/main/resources/json/schema/type/predefinedRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/recognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/recognizers/patterns.json
  openmetadata-spec/src/main/resources/json/schema/type/recognizers/regexFlags.json
  openmetadata-ui/src/main/resources/ui/src/components/Classification/RecognizerEditor/RecognizerEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
Due: google-style-java, lint-staged

Add Tag Feedback System
  bootstrap/sql/migrations/native/1.10.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.10.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedCollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/RecognizerFeedbackRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/type/recognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/recognizerFeedback.json
  openmetadata-ui/src/main/resources/ui/src/components/TagsContainer/TagFeedback/TagFeedback.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsContainer/TagsContainer.enhanced.tsx
Due: google-style-java, lint-staged

Refactor presidio utils
  ingestion/src/metadata/pii/algorithms/presidio_utils.py
  ingestion/tests/unit/metadata/pii/test_presidio_utils.py
Due: none

update doc stylings
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSODocPanel/sso-doc-panel.less
Due: none

Added a new `TagProcessor`
  ingestion/src/metadata/pii/tag_processor.py
  ingestion/tests/unit/metadata/pii/test_tag_processor.py
Due: none

Create decorator to apply threshold to recognizers
  ingestion/src/metadata/pii/algorithms/presidio_recognizer_factory.py
  ingestion/src/metadata/pii/algorithms/presidio_utils.py
  ingestion/tests/unit/pii/algorithms/test_presidio_utils.py
Due: none

Added a new `TagClassifier`
  ingestion/src/metadata/pii/algorithms/classifiers.py
  ingestion/src/metadata/pii/tag_analyzer.py
  ingestion/tests/unit/metadata/pii/test_classifiers.py
Due: none

Create `TagProcessor` based on workflow configuration
  ingestion/src/metadata/pii/processor_factory.py
  ingestion/src/metadata/workflow/classification.py
Due: none

minor style updates
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/sso-configuration-form.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSODocPanel/sso-doc-panel.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/settings-sso.less
Due: none

fix the tags playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/tag/ClassificationClass.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
Due: lint-staged

zero‑downtime reindex (#23515)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ElasticSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/OpenSearchBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/DefaultRecreateHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/RecreateIndexHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexAppTest.java
Due: google-style-java

chore(ui): fix lineage cycle playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
Due: lint-staged

update breadcrumb icon
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-right-arrow.svg
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SettingsSso.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TitleBreadcrumb/TitleBreadcrumb.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TitleBreadcrumb/TitleBreadcrumb.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/TitleBreadcrumb/title-breadcrumb.less
Due: lint-staged

chore(ui): fix ingestion bot playwright timeout issue
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/IngestionBot.spec.ts
Due: lint-staged

Fix Migrations
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v1100/MigrationUtil.java
Due: google-style-java

MINOR: Enable Log streaming for ingestion pipelines
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Due: google-style-java

fix the tags playwright test (#23544)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/tag/ClassificationClass.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
Due: lint-staged

docs: added drive metadata doc & custom drive doc
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Drive/CustomDrive.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Drive/workflows/metadata.md
Due: none

paginate for find search index app (#23540)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
Due: lint-staged

feat: Add file type, extension, and version fields to file details
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Directory/DirectoryChildrenTable/DirectoryChildrenTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Directory/DirectoryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Directory/DirectoryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Directory/DirectoryVersion/DirectoryVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/File/FileDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/File/FileDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/File/FileVersion/FileVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/File/FilesTable/FilesTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Spreadsheet/SpreadsheetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Spreadsheet/SpreadsheetDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Spreadsheet/SpreadsheetVersion/SpreadsheetVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Spreadsheet/SpreadsheetsTable/SpreadsheetsTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Spreadsheet/WorkflowsTable/WorkflowsTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Worksheet/WorksheetColumnsTable/WorksheetColumnsTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Worksheet/WorksheetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Worksheet/WorksheetDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Worksheet/WorksheetVersion/WorksheetVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DirectoryClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DriveServiceUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FileClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FileDetailsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SpreadsheetClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SpreadsheetClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WorksheetClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WorksheetDetailsUtils.tsx
Due: lint-staged
