Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

nit
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGrid.component.tsx
Due: lint-staged

Fix style
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/filters/useQuickFiltersWithComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGrid.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/hooks/useColumnGridFilters.tsx
Due: lint-staged

fix gitar bot suggestion
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/hooks/useColumnGridFilters.tsx
Due: lint-staged

address gitarbot comments
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/RootCauseAnalysisTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
Due: google-style-java

bug fixes in tools
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateTestCaseTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetLineageTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GlossaryTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/LineageTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/RootCauseAnalysisTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SearchMetadataTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/TestDefinitionsTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
Due: google-style-java

add authorization checks and logging to mcp tools
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateTestCaseTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/LineageTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/RootCauseAnalysisTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/TestDefinitionsTool.java
Due: google-style-java

added mcp tools from collate
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateTestCaseTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/DefaultToolContext.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/LineageTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/RootCauseAnalysisTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/TestDefinitionsTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
Due: google-style-java

(fix) ui: locale translation bug in data contracts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: none

fixed flaky roles
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Roles.spec.ts
Due: lint-staged

Addressing test.slow comment
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExplorePageRightPanel.spec.ts
Due: lint-staged

fix: remove duplicate resource
  openmetadata-service/src/main/java/org/openmetadata/service/resources/drives/FileResource.java
Due: google-style-java

fix: remove duplicate resource
  openmetadata-service/src/main/java/org/openmetadata/service/resources/drives/DirectoryResource.java
Due: google-style-java

fixed description
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

Replaced hardcoded font size with theme font size
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGrid.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/hooks/useColumnGridFilters.tsx
Due: lint-staged

fix: test-container errror
  openmetadata-mcp/pom.xml
  openmetadata-sdk/pom.xml
  openmetadata-service/pom.xml
Due: none

fix: testContainer version
  openmetadata-integration-tests/pom.xml
Due: none

another way for description add update
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

fixed flaky settingNavigation
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SettingsNavigationPage.spec.ts
Due: lint-staged

error fix in CreateTestCaseTool
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateTestCaseTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
Due: google-style-java

delete workflow instance entries if status is null in migration
  bootstrap/sql/migrations/native/1.12.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.12.0/postgres/schemaChanges.sql
Due: none

removed networkidle
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Roles.spec.ts
Due: lint-staged

Refactor: Fix layout of resource player modal and learning resource
  openmetadata-ui/src/main/resources/ui/src/components/Learning/LearningDrawer/LearningDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Learning/LearningResourceCard/LearningResourceCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Learning/ResourcePlayer/ResourcePlayerModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/navigation/useViewToggle.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LearningResourcesPage/LearningResourcesPage.tsx
Due: lint-staged

nit
  openmetadata-ui/src/main/resources/ui/src/components/Learning/ResourcePlayer/ResourcePlayerModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LearningResourcesPage/LearningResourcesPage.tsx
Due: lint-staged

addressed gitr comment
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SettingsNavigationPage.spec.ts
Due: lint-staged

Fix python ci - trino classsification
  ingestion/tests/integration/trino/test_classifier.py
Due: none

Avoid ES altogether when sampling
  ingestion/src/metadata/utils/profiler_utils.py
  ingestion/tests/integration/trino/test_classifier.py
Due: none

Moar comments from Gitar
  ingestion/src/metadata/utils/profiler_utils.py
Due: none

Use correct class in test
  ingestion/tests/unit/metadata/utils/test_lru_cache.py
Due: none

Add a caching mechanism that ignores `None`s
  ingestion/src/metadata/utils/lru_cache.py
  ingestion/src/metadata/utils/profiler_utils.py
  ingestion/tests/unit/metadata/utils/test_lru_cache.py
Due: none

Return optional entities not to break tests
  ingestion/src/metadata/utils/profiler_utils.py
Due: none

Fix column tags insert/remove while databaseService import
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DatabaseServiceResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Due: google-style-java

Replaced delete modal with mui delete modal
  openmetadata-ui/src/main/resources/ui/src/pages/LearningResourcesPage/LearningResourcesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LearningResourcesPage/hooks/useLearningResourceActions.ts
Due: lint-staged

feat: Enhance Test Definition filters with persistence and single-select behavior
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TestDefinitionFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/RulesLibrary/TestDefinitionList/TestDefinitionList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/filters/useQuickFiltersWithComponent.tsx
Due: lint-staged

MCP - Semantic Search & Tests
  .github/workflows/mcp-tests.yml
  openmetadata-mcp/pom.xml
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/DefaultToolContext.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SemanticSearchTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/McpIntegrationTest.java
Due: google-style-java

Fix missing totalFound field in SemanticSearchTool success response
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SemanticSearchTool.java
Due: google-style-java

Add unit tests for SemanticSearchTool
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/SemanticSearchToolTest.java
Due: google-style-java

fix sdk
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SemanticSearchTool.java
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/SemanticSearchToolTest.java
Due: google-style-java

FIX - Vector col mapping
  openmetadata-service/src/main/java/org/openmetadata/service/search/vector/VectorDocBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/vector/VectorDocBuilderTest.java
Due: google-style-java

addressing review comment
  openmetadata-ui/src/main/resources/ui/src/components/RulesLibrary/TestDefinitionList/TestDefinitionList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/filters/useQuickFiltersWithComponent.tsx
Due: lint-staged
