Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

feat(toast): add variants, stacking, and close button for error
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast-provider.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast-store.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/stories/Toast.stories.tsx
Due: lint-staged

fix(toast): replace hardcoded colors with theme tokens
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast.tsx
Due: lint-staged

feat(toast): allow ReactNode as message for custom content
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast-store.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast.tsx
Due: lint-staged

fix(toast): address PR review — remove phantom @react-stately/toast dep, fix checkstyle
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast-provider.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast-store.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/index.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/stories/Toast.stories.tsx
Due: lint-staged

fix(mcp): support searching test cases and test suites via search_metadata
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/mcp/McpToolsValidationIT.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SearchMetadataTool.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/SearchMetadataToolTest.java
Due: google-style-java

fix(airflow-apis): avoid DagContext autoregister race in build_dag (#28500)
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_build_dag.py
Due: none

fix specs
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
Due: lint-staged

fix checkstyle and playwright
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/IngestionListTable.mock.ts
Due: lint-staged

refactor(ui-core-components): rename Select-family placeholderIcon prop to icon (v8) (#28612)
  openmetadata-ui-core-components/src/main/resources/ui/src/components/base/autocomplete/autocomplete.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/base/select/multi-select.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/base/select/select.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/stories/Autocomplete.stories.tsx
Due: lint-staged

feat(governance): Policy Agent batch settings + per-task manual-grant reason
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/CreateTask.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/CreateTaskManualGrantReasonTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/workflowSettings.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/policyAgentTaskDefinition.json
Due: google-style-java

feat(app): mount ToastProvider in AppRoot
  openmetadata-ui/src/main/resources/ui/src/AppRoot.tsx
Due: lint-staged

fix(apps): persist derived streamableLogs after RunApp deploy
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppImpl.java
Due: google-style-java

fix(app): fix checkstyle issues in AppRoot
  openmetadata-ui/src/main/resources/ui/src/AppRoot.tsx
Due: lint-staged

feat(ui-core-components): add Breadcrumbs component
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/breadcrumbs/breadcrumbs.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/index.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/stories/Breadcrumbs.stories.tsx
Due: lint-staged

fix: handle ResourceExistsException in AWSSecretsManager.storeSecret to allow updating existing secrets
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/AWSSecretsManager.java
Due: google-style-java

feat(ui-core-components): add collapsible support to Breadcrumbs
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/breadcrumbs/breadcrumbs.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/stories/Breadcrumbs.stories.tsx
Due: lint-staged

docs(ingestion): clarify streamableLogs hook resolves owning runner
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
Due: google-style-java

fix(toast): render strings in <span>, ReactNodes directly
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/toast/toast.tsx
Due: lint-staged

fix(dataInsight): preserve service filter when rebuilding terms aggregation (#28716)
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchLineChartAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchLineChartAggregator.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/ElasticSearchLineChartAggregatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/OpenSearchLineChartAggregatorTest.java
Due: google-style-java

feat(ui-core-components): add xs/sm/md sizes to Breadcrumbs
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/breadcrumbs/breadcrumbs.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/stories/Breadcrumbs.stories.tsx
Due: lint-staged

Fixes #28467: Resolve Databricks service principal owners (#28466)
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/ownership.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/tests/unit/topology/database/test_databricks_ownership.py
  ingestion/tests/unit/topology/database/test_databricks_query_reduction.py
  ingestion/tests/unit/topology/database/test_unitycatalog_incremental.py
Due: none

fix(ui-core-components): address Breadcrumbs review feedback
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/breadcrumbs/breadcrumbs.tsx
Due: lint-staged

Fixes #28696: boundary-aware idempotent tag FQN rewrite on rename (#28725)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ClassificationResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DataProductResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DomainResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/GlossaryTermResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TagResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SearchSeparation/DomainRenamePrefixCascade.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SearchSeparation/GlossaryRenamePrefixCascade.spec.ts
Due: google-style-java, lint-staged

fix: resolve tooltip overlap issue in entity selection by adding hover and force click to playright tests
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

revert: remove Microsoft Fabric connector support (#27198) (#28685)
  ingestion/setup.py
  ingestion/src/metadata/clients/microsoftfabric/__init__.py
  ingestion/src/metadata/clients/microsoftfabric/fabric_auth.py
  ingestion/src/metadata/clients/microsoftfabric/fabric_client.py
  ingestion/src/metadata/clients/microsoftfabric/models.py
  ingestion/src/metadata/examples/workflows/microsoftfabric.yaml
  ingestion/src/metadata/examples/workflows/microsoftfabricpipeline.yaml
  ingestion/src/metadata/ingestion/source/database/microsoftfabric/__init__.py
  ingestion/src/metadata/ingestion/source/database/microsoftfabric/connection.py
  ingestion/src/metadata/ingestion/source/database/microsoftfabric/lineage.py
  ingestion/src/metadata/ingestion/source/database/microsoftfabric/metadata.py
  ingestion/src/metadata/ingestion/source/database/microsoftfabric/queries.py
  ingestion/src/metadata/ingestion/source/database/microsoftfabric/query_parser.py
  ingestion/src/metadata/ingestion/source/database/microsoftfabric/service_spec.py
  ingestion/src/metadata/ingestion/source/database/microsoftfabric/usage.py
  ingestion/src/metadata/ingestion/source/pipeline/microsoftfabricpipeline/__init__.py
  ingestion/src/metadata/ingestion/source/pipeline/microsoftfabricpipeline/client.py
  ingestion/src/metadata/ingestion/source/pipeline/microsoftfabricpipeline/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/microsoftfabricpipeline/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/microsoftfabricpipeline/service_spec.py
  ingestion/tests/unit/clients/microsoftfabric/__init__.py
  ingestion/tests/unit/clients/microsoftfabric/test_fabric_auth.py
  ingestion/tests/unit/clients/microsoftfabric/test_fabric_client.py
  ingestion/tests/unit/clients/microsoftfabric/test_models.py
  ingestion/tests/unit/topology/database/test_microsoft_fabric.py
  ingestion/tests/unit/topology/database/test_microsoft_fabric_lineage.py
  ingestion/tests/unit/topology/database/test_microsoft_fabric_usage.py
  ingestion/tests/unit/topology/pipeline/test_microsoft_fabric_pipeline.py
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-microsoftfabric.png
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceIconUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

feat(search): consumer-field contract test + index mapping health check
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/IndexManagementClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchConsumerFields.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchIndexManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchIndexManager.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/SystemRepositoryMappingConsistencyTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchConsumerFieldContractTest.java
  openmetadata-spec/src/main/resources/elasticsearch/jp/topic_index_mapping.json
Due: google-style-java

Add More Secenarios
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/CustomPropertyAggregationIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/OwnersNestedMappingIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/ReindexOutageRecoveryIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/UnsafeReindexConfigIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/ClassificationRenameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/GlossaryRenameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/LongCompoundNameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/PipelineOwnerIndexUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/TestCaseResultReindexUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/TestCaseTierRebuildUIIT.java
Due: google-style-java

test(search): strip customer/internal references from search-issue test docs
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/UnsafeReindexConfigIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/GlossaryRenameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/LongCompoundNameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/PipelineOwnerIndexUIIT.java
Due: google-style-java

test(search): add search-indexing regression behaviour tests
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/CustomPropertyAggregationIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/OwnersNestedMappingIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/ReindexOutageRecoveryIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/UnsafeReindexConfigIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/ClassificationRenameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/GlossaryRenameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/LongCompoundNameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/PipelineOwnerIndexUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/TestCaseResultReindexUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/TestCaseTierRebuildUIIT.java
Due: google-style-java

fix(jdbi3): chunk IN-list batch queries to stay under DB parameter limit
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/InListChunkingTest.java
Due: google-style-java

lint fix
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
Due: none

Fixes #28734 Context Center Memories list page new UI (#28670)
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/MemoriesView/MemoriesView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/MemoriesView/MemoriesView.less
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/MemoriesView/MemoriesView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterMemoriesPage/ContextCenterMemoriesPage.tsx
Due: lint-staged

test(search): add search-indexing regression behaviour tests
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/CustomPropertyAggregationIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/ExtensionHighlightSearchIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/OwnersNestedMappingIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/ReindexOutageRecoveryIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/UnsafeReindexConfigIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/ClassificationRenameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/GlossaryRenameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/LongCompoundNameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/PipelineOwnerIndexUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/TestCaseResultReindexUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/TestCaseTierRebuildUIIT.java
Due: google-style-java

fix: merge data insights lifecycle failure details
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/WorkflowStats.java
Due: google-style-java

fix: preserve data insights lifecycle failure details
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/WorkflowStats.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/insights/workflows/WorkflowStatsTest.java
Due: google-style-java

fix: address data insights lifecycle logging feedback
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
Due: google-style-java

Add lifecycle logging to Data Insights app
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
Due: google-style-java

fix: apply data insights lifecycle formatting
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
Due: google-style-java

fix: make data quality lifecycle stats per run
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/WorkflowStats.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/workflows/dataQuality/DataQualityWorkflow.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/insights/workflows/WorkflowStatsTest.java
Due: google-style-java
