Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Rename workflow for JavaUIIT Integration Tests (#30289)
  .github/workflows/java-playwright-nightly.yml
Due: none

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetPickerShell.tsx
Due: lint-staged

fix(superset): satisfy basedpyright on datamodel fields (type-only)
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
Due: none

addressed gitar comment
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDocumentsPage/ContextCenterDocumentsPage.tsx
Due: lint-staged

fix(e2e): write the ETag opt-out flag under the correct localStorage key
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
Due: lint-staged

fix(playwright): fix flaky Custom Properties right-panel timeout (#30232)
  openmetadata-ui/src/main/resources/ui/playwright/constant/explore.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/CustomProperties.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityPanel.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Due: lint-staged

fix(tasks): populate assignee and reviewer references in TaskRepository.prepare
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TaskResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TaskRepository.java
Due: google-style-java

fix: allow unsafe pr to opt out of default unsafe checkout update
  .github/workflows/airflow-apis-tests.yml
  .github/workflows/integration-tests-mysql-elasticsearch.yml
  .github/workflows/integration-tests-postgres-elasticsearch-redis.yml
  .github/workflows/integration-tests-postgres-opensearch.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build-collate.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/playwright-sso-tests.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-operator-build-test.yml
  .github/workflows/py-tests-postgres.yml
  .github/workflows/py-tests.yml
  .github/workflows/ui-checkstyle.yml
  .github/workflows/validate-jsons-yamls.yml
  .github/workflows/yarn-coverage.yml
Due: none

test(playwright): skip flaky 'Article edits and navigation-flushed titles persist' test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterArticles.spec.ts
Due: lint-staged

fix playwright
  openmetadata-ui/src/main/resources/ui/playwright/utils/polling.ts
Due: lint-staged

Fixes #28127: explicit clusterIdentifier/workgroupName for Redshift IAM auth on PrivateLink and custom hostnames (#29960)
  ingestion/src/metadata/ingestion/source/database/redshift/connection.py
  ingestion/tests/unit/topology/database/test_redshift_connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/redshiftConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Redshift.md
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/redshiftConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/serviceProgressEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
Due: lint-staged

test(playwright): skip flaky 'Article edits and navigation-flushed titles persist' test (#30298)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterArticles.spec.ts
Due: lint-staged

Potential fix for pull request finding
  .github/workflows/airflow-apis-tests.yml
Due: none

Fix logs modal fullscrean width
  openmetadata-ui/src/main/resources/ui/src/components/common/LogViewerModal/LogViewerModal.component.tsx
Due: lint-staged

fix: add persist false
  .github/workflows/airflow-apis-tests.yml
  .github/workflows/integration-tests-mysql-elasticsearch.yml
  .github/workflows/integration-tests-postgres-elasticsearch-redis.yml
  .github/workflows/integration-tests-postgres-opensearch.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build-collate.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/playwright-sso-tests.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-operator-build-test.yml
  .github/workflows/py-tests-postgres.yml
  .github/workflows/py-tests.yml
  .github/workflows/ui-checkstyle.yml
  .github/workflows/validate-jsons-yamls.yml
  .github/workflows/yarn-coverage.yml
Due: none

Add the missing paused status badge and show loader for async actions
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentGroup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentOverflowMenu.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentOverflowMenu.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/MetadataAgentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/hooks/useAgentActions.ts
Due: lint-staged

Fix formatting in Playwright workflow YAML
  .github/workflows/playwright-integration-tests-postgres.yml
Due: none

Fix indentation and formatting in workflow YAML
  .github/workflows/playwright-integration-tests-mysql.yml
Due: none

Minor fix safe fork (#30296)
  .github/workflows/airflow-apis-tests.yml
  .github/workflows/integration-tests-mysql-elasticsearch.yml
  .github/workflows/integration-tests-postgres-elasticsearch-redis.yml
  .github/workflows/integration-tests-postgres-opensearch.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/maven-build-collate.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/playwright-sso-tests.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-operator-build-test.yml
  .github/workflows/py-tests-postgres.yml
  .github/workflows/py-tests.yml
  .github/workflows/ui-checkstyle.yml
  .github/workflows/validate-jsons-yamls.yml
  .github/workflows/yarn-coverage.yml
Due: none

Update ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
Due: none

fix: skip only on main as target
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/playwright-mysql-e2e-skip.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/playwright-required-checks-stub.yml
  .github/workflows/playwright-sso-tests.yml
Due: none

fix: skip only on main as target
  .github/workflows/playwright-required-checks-stub.yml
Due: none

added missing test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterArchive.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterDocument.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/ContextCenterUtil.ts
Due: lint-staged

lint fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterMemories.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterPermission.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/BookMarkWidget/BookMarkWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageListRightPanel/KnowledgePageListRightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/KnowledgePageUtils.tsx
Due: lint-staged

fix(security): bump log4j 2.25.4 -> 2.25.5 (CVE-2026-49844)
  pom.xml
Due: none

fix: remove fetchign inherited field on deletebyid
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestCaseResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Due: google-style-java

fix: added test for empty entity link on test case cxreation
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestCaseResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Due: google-style-java

test(tasks): search by id in TagUpdate audit test to avoid maxClauseCount
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TaskResourceIT.java
Due: google-style-java

Potential fix for pull request finding
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Due: google-style-java

fix(security): guard federated SPARQL updates
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfSparqlService.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/federation/SparqlFederationGuard.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/RdfSparqlServiceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/federation/SparqlFederationGuardTest.java
Due: google-style-java

fix: run linting java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Due: google-style-java

Fixes 30305: Remove stale PR merge-commit guards
  .github/workflows/integration-tests-mysql-elasticsearch.yml
  .github/workflows/integration-tests-postgres-elasticsearch-redis.yml
  .github/workflows/integration-tests-postgres-opensearch.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/playwright-sso-tests.yml
  .github/workflows/py-tests-postgres.yml
  .github/workflows/py-tests.yml
Due: none

Fixes 30305: Remove stale PR merge-commit guards (#30306)
  .github/workflows/integration-tests-mysql-elasticsearch.yml
  .github/workflows/integration-tests-postgres-elasticsearch-redis.yml
  .github/workflows/integration-tests-postgres-opensearch.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/playwright-sso-tests.yml
  .github/workflows/py-tests-postgres.yml
  .github/workflows/py-tests.yml
Due: none

fix(test): restore RDF integration test helpers
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/OntologyBulkIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/RdfInferenceMaterializationIT.java
Due: google-style-java

docs: remove ontology studio planning documents
  docs/ontology-studio-2.0-capability-matrix.md
  docs/ontology-studio-2.0-migration.md
  docs/ontology-studio-2.0.md
  docs/rdf-production-setup.md
Due: none

refactor(mcp): isolate typed RDF tool contract
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateClassificationTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateContextMemoryTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateDataProductTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateDomainTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateMetricTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateTagTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/CreateTestCaseTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/DefaultToolContext.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/FindContextTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetAssetContextTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetCompanyContextTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetEntityTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetKnowledgeContentTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetLineageTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetPersonaContextTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GlossaryTermTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GlossaryTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/LineageTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/McpTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/PatchEntityTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/RdfMcpTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/RootCauseAnalysisTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SearchCompanyContextTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SearchMetadataTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/SemanticSearchTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/TestDefinitionsTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/TypedMcpTool.java
Due: google-style-java

fix(ui): use generated relation status type
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyRelationDetailsPanel.tsx
Due: lint-staged

Treat an absent enabled flag as enabled across the agent actions
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentOverflowMenu.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/MetadataAgentsView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/MetadataAgentsView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/utils/agents.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/utils/agents.utils.ts
Due: lint-staged
