Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/hadialqattan/pycln
    rev: v1.2.4
    hooks:
      - id: pycln
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 100 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

feat: use native trino client authentication classes (#16196)
  ingestion/src/metadata/ingestion/source/database/trino/connection.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/stored_statistics_profiler.py
  ingestion/tests/unit/test_source_connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/common/azureConfig.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/common/noConfigAuthenticationTypes.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
Due: none

Docs: Image Updation fo Data User Guide
  openmetadata-docs/images/v1.5/how-to-guides/discovery/custom1.png
  openmetadata-docs/images/v1.5/how-to-guides/discovery/custom2.png
  openmetadata-docs/images/v1.5/how-to-guides/discovery/glossary1.png
  openmetadata-docs/images/v1.5/how-to-guides/discovery/glossary2.png
  openmetadata-docs/images/v1.5/how-to-guides/user-guide-for-data-stewards/delete.png
  openmetadata-docs/images/v1.6/how-to-guides/discovery/custom1.png
  openmetadata-docs/images/v1.6/how-to-guides/discovery/custom2.png
  openmetadata-docs/images/v1.6/how-to-guides/discovery/glossary1.png
  openmetadata-docs/images/v1.6/how-to-guides/discovery/glossary2.png
  openmetadata-docs/images/v1.6/how-to-guides/user-guide-for-data-stewards/delete.png
Due: none

MINOR: fix owner link and update search index in navbar (#18609)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Navbar.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/navbar.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/context/GlobalSearchProvider/GlobalSearchSuggestions/GlobalSearchSuggestions.interface.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/Database/Database.util.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Database/__snapshots__/Database.util.test.tsx.snap
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceMainTabContentUtils.tsx
Due: lint-staged

Updated the what's new content for the 1.5.11 release (#18540)
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

address pr comments related to styles
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
Due: lint-staged

Docs: Collate Only Correction (#18636)
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.5.x/how-to-guides/data-collaboration/knowledge-center.md
  openmetadata-docs/content/v1.5.x/how-to-guides/data-insights/cost-analysis.md
  openmetadata-docs/content/v1.5.x/how-to-guides/data-insights/custom-dashboard.md
  openmetadata-docs/content/v1.5.x/how-to-guides/data-quality-observability/incident-manager/root-cause-analysis.md
  openmetadata-docs/content/v1.5.x/how-to-guides/data-quality-observability/quality/overview.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-collaboration/knowledge-center.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-insights/cost-analysis.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-insights/custom-dashboard.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-quality-observability/incident-manager/root-cause-analysis.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/overview.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
Due: none

Add Latch for consumers
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
Due: google-style-java

Add Latch for consumers (#18655)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
Due: google-style-java

Minor: Fix Mysql cli Update table count (#18582)
  ingestion/tests/cli_e2e/test_cli_mysql.py
Due: none

fix tests and remove unused method
  ingestion/src/metadata/data_quality/runner/base_test_suite_source.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
  ingestion/src/metadata/sampler/config.py
  ingestion/src/metadata/sampler/partition.py
  ingestion/src/metadata/sampler/processor.py
  ingestion/src/metadata/sampler/sampler_interface.py
  ingestion/tests/unit/metadata/data_quality/test_table_diff_param_setter.py
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/profiler/sqlalchemy/snowflake/test_sampling_method.py
  ingestion/tests/unit/profiler/sqlalchemy/test_profiler.py
  ingestion/tests/unit/profiler/sqlalchemy/test_runner.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sample.py
  ingestion/tests/unit/profiler/test_profiler_interface.py
  ingestion/tests/unit/test_partition.py
Due: none

fix: update dashboard data model when sql changes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
Due: google-style-java

Fix Flaky GlossaryTerm test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Due: google-style-java

use JsonUtils instead of objectMapper to read lineage search response
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
Due: google-style-java

GEN-1694: metric entity improvement
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricDetails/MetricDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricExpression/MetricExpression.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/rich-text-editor-previewer.less
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
Due: lint-staged

fix tests
  ingestion/tests/unit/profiler/pandas/test_sample.py
  ingestion/tests/unit/profiler/sqlalchemy/snowflake/test_sampling_method.py
  ingestion/tests/unit/profiler/sqlalchemy/test_profiler.py
  ingestion/tests/unit/profiler/sqlalchemy/test_runner.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sample.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sqa_profiler_interface.py
Due: none

Update Glossary Approval Workflow name
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
Due: none

ISSUE-16094: fix s3 storage parquet structureFormat ingestion
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
Due: none

Fix: update glossary terms table stylings and temporarily bypass failing drag-and-drop test (#18653)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryColumnsSelectionDropdown/DraggableMenuItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
Due: lint-staged

add websocket on tags page
  openmetadata-ui/src/main/resources/ui/README.md
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/tagAPI.ts
Due: lint-staged

Update Tag page Assets API (#18622)
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/tagAPI.ts
Due: lint-staged

add clike and python language mode in schemaeditor
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/codemirror.enum.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/code-mirror.less
Due: lint-staged

add getMetricExpressionLanguageName util to extract the language from metric expression
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricExpression/MetricExpression.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/MetricEntityUtils/MetricUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/MetricEntityUtils/MetricUtils.ts
Due: lint-staged

Update the jsonpath-plus resolution version to fix the vulnerability (#18652)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

cleanup code
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OidcAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Due: lint-staged

Docs: Guide for Data users Image Updation (#18644)
  openmetadata-docs/images/v1.5/how-to-guides/user-guide-for-data-stewards/activity.png
  openmetadata-docs/images/v1.5/how-to-guides/user-guide-for-data-stewards/data-owner1.png
  openmetadata-docs/images/v1.5/how-to-guides/user-guide-for-data-stewards/data-owner2.png
  openmetadata-docs/images/v1.5/how-to-guides/user-guide-for-data-stewards/data1.png
  openmetadata-docs/images/v1.5/how-to-guides/user-guide-for-data-stewards/data3.png
  openmetadata-docs/images/v1.5/how-to-guides/user-guide-for-data-stewards/data4.png
  openmetadata-docs/images/v1.5/how-to-guides/user-guide-for-data-stewards/data5.png
  openmetadata-docs/images/v1.5/how-to-guides/user-guide-for-data-stewards/data6.png
  openmetadata-docs/images/v1.5/how-to-guides/user-guide-for-data-stewards/profile1.png
  openmetadata-docs/images/v1.6/how-to-guides/user-guide-for-data-stewards/activity.png
  openmetadata-docs/images/v1.6/how-to-guides/user-guide-for-data-stewards/data-owner1.png
  openmetadata-docs/images/v1.6/how-to-guides/user-guide-for-data-stewards/data-owner2.png
  openmetadata-docs/images/v1.6/how-to-guides/user-guide-for-data-stewards/data1.png
  openmetadata-docs/images/v1.6/how-to-guides/user-guide-for-data-stewards/data3.png
  openmetadata-docs/images/v1.6/how-to-guides/user-guide-for-data-stewards/data4.png
  openmetadata-docs/images/v1.6/how-to-guides/user-guide-for-data-stewards/data5.png
  openmetadata-docs/images/v1.6/how-to-guides/user-guide-for-data-stewards/data6.png
  openmetadata-docs/images/v1.6/how-to-guides/user-guide-for-data-stewards/profile1.png
Due: none

fix glossary column dropdown drag drop integration test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Due: lint-staged

GEN-1694: metric entity improvement (#18659)
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricDetails/MetricDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricExpression/MetricExpression.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/rich-text-editor-previewer.less
  openmetadata-ui/src/main/resources/ui/src/enums/codemirror.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/code-mirror.less
  openmetadata-ui/src/main/resources/ui/src/utils/MetricEntityUtils/MetricUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/MetricEntityUtils/MetricUtils.ts
Due: lint-staged

Update Glossary Approval Workflow name (#18658)
  openmetadata-service/src/main/resources/json/data/governance/workflows/GlossaryApprovalWorkflow.json
Due: none

Minor: supporting PR for UI/UX improvement in DQ
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/IncidentTimeChartWidget/IncidentTimeChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/IncidentTypeAreaChartWidget/IncidentTypeAreaChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/StatusByDimensionCardWidget/StatusByDimensionCardWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/StatusCardWidget/StatusCardWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/StatusCardWidget/StatusCardWidget.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/TestCaseStatusAreaChartWidget/TestCaseStatusAreaChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/chart-widgets.less
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQuality.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/DataQuality/DataQualityUtils.ts
Due: lint-staged

Update default configurations
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/triggers/periodicBatchEntityTrigger.json
Due: google-style-java

fix tests
  ingestion/tests/unit/profiler/pandas/test_custom_metrics.py
  ingestion/tests/unit/profiler/pandas/test_datalake_metrics.py
  ingestion/tests/unit/profiler/pandas/test_profiler.py
  ingestion/tests/unit/profiler/pandas/test_profiler_interface.py
  ingestion/tests/unit/profiler/sqlalchemy/test_metrics.py
  ingestion/tests/unit/profiler/test_profiler_interface.py
  ingestion/tests/unit/profiler/test_workflow.py
  ingestion/tests/unit/test_suite/conftest.py
Due: none

Add Lineage Export Async endpoint using Search (#18553)
  .run/Template JUnit.run.xml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/lineage/LineageResource.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/exception/CSVExportException.java
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/lineageAPI.ts
Due: google-style-java, lint-staged

migration fix
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/schemaChanges.sql
Due: none

rename microstrategy connector
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/__init__.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/client.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/models.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/service_spec.py
  ingestion/src/metadata/ingestion/source/dashboard/mstr/service_spec.py
  openmetadata-docs/content/v1.5.x/connectors/dashboard/microstrategy/index.md
  openmetadata-docs/content/v1.5.x/connectors/dashboard/microstrategy/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/microstrategy/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/microstrategy/yaml.md
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/microstrategy.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/microStrategyConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/MicroStrategy.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/Mstr.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-microstrategy.svg
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-mstr.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

migration query fix
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
Due: none
