Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Add single function for entity fqn encoding
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/FeedMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Due: google-style-java

Add Total Data Assets widget
  openmetadata-ui/src/main/resources/ui/src/assets/svg/pie-chart.svg
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/TotalDataAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/total-data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/service-insights-tab.less
  openmetadata-ui/src/main/resources/ui/src/constants/Color.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/TotalDataAssetsWidget.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
  openmetadata-ui/src/main/resources/ui/src/utils/PlatformInsightsWidgetUtils.ts
Due: lint-staged

localization changes
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
Due: none

Fix #19856 - Set the db in mysql/mariadb for metric computations (#19994)
  ingestion/src/metadata/mixins/sqalchemy/sqa_mixin.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/metrics/window/third_quartile.py
  ingestion/src/metadata/sampler/sqlalchemy/azuresql/sampler.py
Due: none

Minor: Added Whats new content for 1.6.5 (#19996)
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

- Encode Urls for Diferent destinations (#19993)
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/FeedMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Due: google-style-java

Fix #19856 - Set the db in mysql/mariadb for metric computations (#19994)
  ingestion/src/metadata/mixins/sqalchemy/sqa_mixin.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/metrics/window/first_quartile.py
  ingestion/src/metadata/profiler/metrics/window/median.py
  ingestion/src/metadata/profiler/metrics/window/third_quartile.py
Due: none

Search: improve relevancy for plural/singular words, partial matches, exact matches
  ingestion/examples/sample_data/datasets/tables.json
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
Due: google-style-java

apply to all indexes
  openmetadata-service/src/main/resources/elasticsearch/en/api_collection_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/api_endpoint_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/chart_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/data_products_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/domain_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/classification_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/data_products_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/domain_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/classification_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/data_products_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/domain_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/glossary_term_index_mapping.json
Due: none

Fix other query patterns
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/api_collection_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/api_endpoint_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/api_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/chart_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/classification_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/data_products_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_schema_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/database_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/domain_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_term_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/ingestion_pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/messaging_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/metadata_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/metric_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/query_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/search_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/storage_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/stored_procedure_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/team_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/user_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/api_collection_index_mapping.json
Due: google-style-java

Minor: Add pipeline display name in lineage export
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
Due: google-style-java

Refactor - format get_sample_query method for improved readability
  ingestion/src/metadata/sampler/sqlalchemy/azuresql/sampler.py
Due: none

add to csvDocumentation as well
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/resources/json/data/lineage/lineageCsvDocumentation.json
Due: google-style-java

fixed github comments
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/AlertDetails/AlertDiagnosticInfo/AlertDiagnosticInfoTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/AlertDetails/AlertDiagnosticInfo/AlertDiagnosticInfoTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/AlertDetails/AlertDiagnosticInfo/alert-diagnostic-info-tab.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Alerts/AlertsUtil.tsx
Due: lint-staged

Fix the Tier insights chart
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PlatformInsightsWidget/PlatformInsightsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TotalDataAssetsWidget/TotalDataAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PlatformInsightsWidgetUtils.ts
Due: lint-staged

- Encode Entity fqn
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/FeedMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
Due: google-style-java

Minor Fix - issues in SearchRepository.propagateGlossaryTags method (#19995)
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

Revert changes of database and databaseSchema fields in TableIndex.getFields() and table index mapping
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
Due: google-style-java

MINOR: Redshift - better log for view with no schema binding
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
Due: none

handle nulls
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
Due: none

updated db query
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
Due: none

fix failing tests
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
Due: lint-staged

option to show hide task handlers
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Due: lint-staged

add missing boost query builder in es
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
Due: google-style-java

entity icon and popover card on hover
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/ActivityFeedcardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBodyV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBodyV1New.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab-new.less
Due: lint-staged

MINOR: Use clean url in clients (#19978)
  ingestion/src/metadata/clients/domo_client.py
  ingestion/src/metadata/ingestion/source/dashboard/lightdash/client.py
  ingestion/src/metadata/ingestion/source/dashboard/mode/client.py
  ingestion/src/metadata/ingestion/source/dashboard/qlikcloud/client.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/client.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/sas/client.py
  ingestion/src/metadata/ingestion/source/metadata/atlas/client.py
Due: none

fix RichTextEditorIssue
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBodyNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardBody/DescriptionFeed/DescriptionFeedNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewerV1.tsx
Due: lint-staged

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/ActivityFeedcardNew.component.tsx
Due: lint-staged

Minor: Add pipeline display name in lineage export (#20004)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/resources/json/data/lineage/lineageCsvDocumentation.json
Due: google-style-java

MINOR: Update run app to run data insights (#19997)
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/CreateIngestionPipelineTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/RunIngestionPipelineTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/builders/ParallelGatewayBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/builders/SubProcessBuilder.java
Due: google-style-java

MINOR: Looker case insensitive search for users (#19979)
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
Due: none

MINOR: Fix delete entity relation live indexing (#19837)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

updated storedp query
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
Due: none

Add Tier and PII Distribution charts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/DataQualityWidget/DataQualityWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/PIIDistributionWidget/PIIDistributionWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/TierDistributionWidget/TierDistributionWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/service-insights-tab.less
  openmetadata-ui/src/main/resources/ui/src/constants/Color.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PIIDistributionWidgetUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TierDistributionWidgetUtils.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
