Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

addressing style-check
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/pages/tags/TagsPageTest.java
Due: google-style-java

Fix #2479 - Check migration at server start (#2489)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplication.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplicationConfig.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/MigrationDAO.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/migration/Migration.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/migration/MigrationConfiguration.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/EmbeddedMySqlSupport.java
  catalog-rest-service/src/test/resources/openmetadata-secure-test.yaml
  conf/openmetadata.yaml
Due: google-style-java

removing extra code
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/events/Events.java
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/objectRepository/TagsPage.java
Due: google-style-java

addressing style-check
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/events/Events.java
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/objectRepository/TagsPage.java
Due: google-style-java

Revamping tags selenium tests (#2508)
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/objectRepository/TagsPage.java
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/pages/tags/TagsPageTest.java
Due: google-style-java

UI: Enhancing Table details page to load tab specific data.
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/hoc/withLoader.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
Due: lint-staged

UI: Enhancing entities detail page to load tab specific data.
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/table.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatasetDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.ts
Due: lint-staged

UI: Enhancing Table details page to load tab specific data. (#2527)
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/hoc/withLoader.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
Due: lint-staged

revamped database service listing page
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AddServiceModal/AddServiceModal.tsx
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/objectRepository/DatabaseServicePage.java
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/pages/databaseService/DatabaseServicePageTest.java
Due: google-style-java, lint-staged

Fix: Persist filters in query string for all tabs (#2339)
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AggregationUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FilterUtils.js
Due: lint-staged

Adding generic type to HOC withLoader.
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/hoc/withLoader.tsx
Due: lint-staged

Issue-323: optimized stage_record
  ingestion/src/metadata/ingestion/stage/table_usage.py
Due: none

revamped database service listing page (#2534)
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AddServiceModal/AddServiceModal.tsx
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/objectRepository/DatabaseServicePage.java
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/pages/databaseService/DatabaseServicePageTest.java
Due: google-style-java, lint-staged

UI : Enhancing entities detail page to load tab specific data. (#2532)
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/table.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatasetDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PipelineDetailsUtils.ts
Due: lint-staged

UI : Adding generic type to HOC withLoader. (#2542)
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/hoc/withLoader.tsx
Due: lint-staged

fixed error for schema_name inclusion
  ingestion/src/metadata/ingestion/stage/table_usage.py
Due: none

Fix: #1430 Display latest value of number of rows alongside the trendline
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
Due: lint-staged

added complex queries
  ingestion/tests/unit/resources/datasets/query_log
  ingestion/tests/unit/test_query_parser.py
Due: none

schema-ingestion-completed
  catalog-rest-service/src/main/resources/json/schema/entity/services/databaseService.json
  ingestion/examples/workflows/dynamodb.json
  ingestion/src/metadata/ingestion/source/dynamodb.py
  ingestion/src/metadata/utils/aws_client.py
Due: none

Fix: #1430 Display latest value of number of rows alongside the trendline (#2543)
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
Due: lint-staged

Rename log
  ingestion/src/metadata/ingestion/source/sql_source_common.py
Due: none

Bigquery Os unlink issue resolved
  ingestion/src/metadata/ingestion/source/bigquery.py
Due: none

Bigquery code modified
  ingestion/src/metadata/ingestion/source/bigquery.py
Due: none

Prepare user profile model
  ingestion/src/metadata/ingestion/models/user.py
Due: none

Update user ingestion based on user profile model
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
Due: none

Update sample data user handling
  ingestion/src/metadata/ingestion/source/sample_data.py
Due: none

Use user profile in amundsen
  ingestion/src/metadata/ingestion/source/amundsen.py
Due: none

Use user profile in ldap
  ingestion/src/metadata/ingestion/source/ldap_users.py
Due: none

Format
  ingestion/src/metadata/ingestion/models/user.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/amundsen.py
  ingestion/src/metadata/ingestion/source/ldap_users.py
  ingestion/src/metadata/ingestion/source/sample_data.py
Due: none

Use id from role and team
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
Due: none

Remove traces
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
Due: none

Bigquery Os unlink issue resolved (#2544)
  ingestion/src/metadata/ingestion/source/bigquery.py
Due: none

Fix black version 21.12b0 (#2499)
  ingestion/setup.py
Due: none

Ingestion Version bumped up
  ingestion/setup.py
Due: none

Address review comments
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplication.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/config/ConfigResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/AuthenticationConfiguration.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/config/ConfigResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/permissions/PermisssionsResourceTest.java
Due: google-style-java

Fix #2507: Getting 401 unauthorised error for retrieve permissions API (#2526)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplication.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/config/ConfigResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/permissions/PermissionsResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/AuthenticationConfiguration.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/config/ConfigResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/permissions/PermisssionsResourceTest.java
Due: google-style-java

Fix #2516 - User Profile & Amundsen Source (#2546)
  ingestion/src/metadata/ingestion/models/user.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/amundsen.py
  ingestion/src/metadata/ingestion/source/ldap_users.py
  ingestion/src/metadata/ingestion/source/sample_data.py
  ingestion/src/metadata/ingestion/source/sql_source_common.py
Due: none

nothing-changed
  ingestion/examples/workflows/dynamodb.json
Due: none

cherry-pick-nothing
  ingestion/examples/workflows/dynamodb.json
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
