Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Add support dbt in connection (#10591)
  ingestion/tests/unit/topology/metadata/test_amundsen.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/deltaLakeConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/druidConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mariaDBConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/pinotDBConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/prestoConnection.json
Due: none

Fix: remove avro-python3 deprecated dependency
  ingestion/setup.py
Due: none

chore: add requirement step for service
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ServiceRequirements.tsx
  openmetadata-ui/src/main/resources/ui/src/components/containers/PageLayoutV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Ingestions.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/en-US/Database/Postgres.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/components/step.less
Due: lint-staged

Uncomment avro test
  ingestion/tests/unit/topology/database/test_datalake.py
Due: none

Rename path
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
Due: none

Aligned airflow source with lineage (#10596)
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/tests/unit/airflow/test_lineage_parser.py
Due: none

fix: steps handler for service step
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/service-guide.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Due: lint-staged

chore: sync local keys
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

added sticky right panel and right panel component
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
Due: lint-staged

Fix: remove avro-python3 deprecated dependency (#10602)
  ingestion/setup.py
  ingestion/tests/unit/topology/database/test_datalake.py
Due: none

chore: add sample requirements for postgresql
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ServiceRequirements.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/en-US/Database/Postgres.json
Due: lint-staged

Databricks Pileline code improve & Test connection update & Databricks issue solved (#10590)
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/metadata.py
  ingestion/tests/unit/topology/pipeline/test_databricks_pipeline.py
Due: none

Issue #3809: Add python client for Roles and Policies Includes Tests
  ingestion/src/metadata/ingestion/ometa/mixins/role_policy_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/tests/integration/ometa/test_ometa_role_policy_api.py
Due: none

fix: chart url
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Due: none

Added sample data fix
  ingestion/src/metadata/ingestion/source/messaging/kinesis/metadata.py
  openmetadata-spec/src/main/resources/json/schema/api/data/createTopic.json
Due: none

Fixed typo
  ingestion/src/metadata/ingestion/source/messaging/kinesis/metadata.py
Due: none

fix cypress issue
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Tags.spec.js
Due: lint-staged

address comments
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
Due: lint-staged

Fix Search Indexes: Normalize display name to be lowercase, such that upper or lowercase searches can work
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
Due: google-style-java

review comments updated
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/UserTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TokenUtil.java
  openmetadata-spec/src/main/resources/json/schema/auth/createPersonalToken.json
  openmetadata-spec/src/main/resources/json/schema/auth/emailVerificationToken.json
  openmetadata-spec/src/main/resources/json/schema/auth/personalAccessToken.json
  openmetadata-spec/src/main/resources/json/schema/auth/revokePersonalToken.json
Due: google-style-java

Fix Search Indexes: Normalize display name to be lowercase, such that upper or lowercase searches can work
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/resources/elasticsearch/en/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/team_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/user_index_mapping.json
Due: google-style-java

Add search api integration for object store
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
Due: google-style-java

Add search api integration for object store
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
Due: google-style-java

Addressing comments
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ColumnIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TableIndex.java
Due: google-style-java

Fix stylecheck
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ColumnIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TableIndex.java
Due: google-style-java

Fix patching tags for tasks
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
Due: google-style-java

Fix stylecheck
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/PipelineIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/pipelines/PipelineResourceTest.java
Due: google-style-java

feat(ui): consistent user dropdown for owner and reviewers
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ReviewerModal/ReviewerModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/UserSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/UserSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/user-select-dropdown.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/UserTag.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTag/user-tag.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/user-team-selectable-list.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

Fix databricks timeout issue
  ingestion/src/metadata/ingestion/connections/test_connections.py
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  openmetadata-docs/content/connectors/database/databricks/airflow.md
  openmetadata-docs/content/connectors/database/databricks/cli.md
  openmetadata-docs/content/connectors/database/databricks/index.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
Due: none

fix(ui): support language for re-indexing Elasticsearch or Opensearch (#10541)
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/elasticSearchReIndexAPI.ts
Due: lint-staged

right panel content
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
Due: lint-staged

Query as entity (#10449)
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/processor/query_parser.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/integration/utils/test_processor.py
  ingestion/tests/unit/topology/metadata/test_atlas.py
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/QueryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/query/QueryResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/QueryUtil.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/query/QueryResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/type/tableUsageCount.json
Due: google-style-java

chore(ui): fix advance search modal getting stuck (#10494)
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedSearch.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/facetFilter.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/router/withAdvanceSearch.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FilterUtils.ts
Due: lint-staged

fix(ui): support language for re-indexing Elasticsearch or Opensearch (#10541)
  openmetadata-ui/src/main/resources/ui/src/constants/elasticsearch.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/ElasticSearchReIndexModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/elasticSearchReIndexAPI.ts
Due: lint-staged

datatype mapped for mysql,mariadb, mssql and azuresql
  ingestion/src/metadata/ingestion/source/database/azuresql/metadata.py
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  ingestion/src/metadata/ingestion/source/database/mariadb/metadata.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/mysql/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Due: none

Add search api integration for object store (#10562)
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ColumnIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
Due: google-style-java

Added constansts
  ingestion/src/metadata/ingestion/source/messaging/kinesis/metadata.py
Due: none

changes as per comment
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Due: none
