Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

MINOR: Add Unstructured Formats Support to GCS Storage Connector and Fix Source URLs
  ingestion/src/metadata/ingestion/source/storage/gcs/metadata.py
  ingestion/src/metadata/ingestion/source/storage/gcs/models.py
  ingestion/tests/unit/topology/storage/test_gcs_storage.py
  ingestion/tests/unit/topology/storage/test_gcs_unstructured.py
Due: none

MINOR: Fix data insight index for multidomain
  openmetadata-service/src/main/resources/dataInsights/config.json
Due: none

minor fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CuratedAssets.spec.ts
Due: lint-staged

Add method to endpoint pctile
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/MetricsRequestFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/RequestLatencyContext.java
Due: google-style-java

refactor: streamline domain verification by replacing viewer container check with locator for description
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Due: lint-staged

fix tag spec flakiness
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Due: lint-staged

handle patch properly in metrics
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/RequestLatencyContext.java
Due: google-style-java

Update config to run only required tests
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
Due: lint-staged

tests
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/MetricsErrorHandlingTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/PatchOperationMetricsTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyContextTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyTrackingSimpleTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/SimpleMetricsTest.java
Due: google-style-java

Revert description suggestion spec changes
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
Due: lint-staged

fix the bulk import failure and minor user spec flaky test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Due: lint-staged

Revert playwright config changes
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
Due: lint-staged

fix flaky serviceEntity and entity
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseSchemaClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

Update playwright config
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
Due: lint-staged

BigQuerry SSO test
  setup_bigquery_sso.sh
  test_bigquery_sso_query_runner.py
Due: none

update metrics
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/JettyMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/JettyMetricsIntegration.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/RequestMetricsFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/PatchOperationMetricsTest.java
Due: google-style-java

refactor: update Playwright configuration and enhance Tour test flow
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
Due: lint-staged

bump flyway
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/MigrationFile.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/JettyMetricsIntegration.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/RequestMetricsFilter.java
  pom.xml
Due: google-style-java

MINOR - Domain Independent DP Rule (#23067)
  bootstrap/sql/migrations/native/1.10.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.10.0/postgres/schemaChanges.sql
  ingestion/tests/integration/ometa/test_ometa_domains_api.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/LogicOps.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleValidationException.java
  openmetadata-service/src/main/resources/json/data/settings/entityRulesSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DataProductResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
Due: google-style-java

fix test
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Due: lint-staged

fix jetty metric handler
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/JettyMetricsIntegration.java
Due: google-style-java

fix xustom property flaky test
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
Due: lint-staged

default to postgres
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Due: google-style-java

ConnectionType with amazon
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/locator/ConnectionType.java
Due: google-style-java

refactor: rename waitForAllSkeletonLoadersToDisappear to waitForAllLoadersToDisappear and update usage across tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/Tour.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

added new testid
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsSelectList/DataProductsSelectList.tsx
Due: lint-staged

improve observability alert page navigation
  openmetadata-ui/src/main/resources/ui/playwright/utils/observabilityAlert.ts
Due: lint-staged

updated enum
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Due: lint-staged

fix tags spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/tag/ClassificationClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/sidebar.ts
Due: lint-staged

fix tag flakiness
  openmetadata-ui/src/main/resources/ui/playwright/support/tag/TagClass.ts
Due: lint-staged

add unit tests for contract components
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractExecutionChart/ContractExecutionChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractSchemaFormTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractViewSwitchTab/ContractViewSwitchTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractYaml/ContractYaml.test.tsx
Due: lint-staged

fix failing test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Due: lint-staged

Fix Description suggestion
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
Due: lint-staged

Stream Ingestion logs to S3
  ingestion/src/metadata/examples/workflows/bigquery_streamable_logs.yaml
  ingestion/src/metadata/utils/streamable_logger.py
  ingestion/src/metadata/workflow/base.py
  ingestion/tests/unit/utils/test_streamable_logger.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/LogStorageFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/S3LogStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/MicrometerBundle.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/StreamableLogsMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/LogBatch.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/LogStorageFactoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/LogStorageTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/StreamableLogsMetricsTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogStorageTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogStreamingResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogStreamingTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/logStorageConfiguration.json
Due: google-style-java

fix domain list flakyness
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
Due: lint-staged

fixed flaky entitysummerypanel
  openmetadata-ui/src/main/resources/ui/playwright/utils/explore.ts
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Due: lint-staged

handle persona deletion and relations fetch when entitynotfoundexceptoin is thrown (#23094)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PersonaRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaDeletionUserProfile.spec.ts
Due: google-style-java, lint-staged

Fix Resource Context - Invalid Entity Type being passed
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CreateResourceContext.java
Due: google-style-java
