Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Change installation of antlr
  .github/workflows/airflow-apis-tests-3_9.yml
  .github/workflows/cypress-integration-tests.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/maven-build.yml
  .github/workflows/py-checkstyle.yml
  .github/workflows/py-generate.yml
  .github/workflows/py-ingestion-core-publish.yml
  .github/workflows/py-tests-3_10.yml
  .github/workflows/py-tests-3_7.yml
  .github/workflows/py-tests-3_8.yml
  .github/workflows/py-tests-3_9.yml
  .github/workflows/security-scan.yml
  .github/workflows/selenium-noIngestion-tests.yml
  .github/workflows/yarn-coverage.yml
Due: none

FIX: Revert Test
  ingestion/tests/unit/resources/atlas_mapping.yaml
  ingestion/tests/unit/resources/datasets/atlas_dataset.json
  ingestion/tests/unit/topology/metadata/test_amundsen.py
  ingestion/tests/unit/topology/metadata/test_atlas.py
Due: none

Removed the library from the Dockerfile of ingestion
  ingestion/Dockerfile
Due: none

Added libxml2 in the ingestion Dockerfile
  ingestion/Dockerfile
Due: none

Added libxml2 in the airflow Dockerfile
  docker/airflow/Dockerfile
Due: none

added more metrics in the graph and made default dropdown option as last 3 days
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerDetailsCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/entity.constants.ts
Due: lint-staged

change style of Legend component
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerDetailsCard.tsx
Due: lint-staged

Dashboard Service Lineage Issue For Metabase (#6679)
  ingestion/src/metadata/ingestion/source/dashboard/metabase.py
Due: none

fixed failing test
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.test.tsx
Due: lint-staged

Fix #6633 Support multi-line Sample Data header row
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
Due: lint-staged

restrict float number to show only 2 decimal
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tableAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
Due: lint-staged

FIX: Removed as per dataset
  ingestion/tests/unit/resources/datasets/amundsen_dataset.json
Due: none

Search bar width made responsive to avoid overlapping with settings button
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Due: lint-staged

Fix #5835: Remove Stacktrace from Exception messages
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/delete.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/deploy.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/disable.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/enable.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/health.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/kill.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/last_dag_logs.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/status.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/test_connection.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/trigger.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
Due: none

Fix #5831: Add pipeline to testsuite
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/dqtests/TestSuiteResourceTest.java
Due: google-style-java

Fix tests
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/dqtests/TestCaseResourceTest.java
Due: google-style-java

fix table to Table
  openmetadata-docs/content/deployment/kubernetes/values.md
Due: none

addressing comments
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/entity.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/profiler.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

Fix #6633 Support multi-line Sample Data header row (#6788)
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
Due: lint-staged

update values; add menu entry;
  openmetadata-docs/content/deployment/kubernetes/values.md
  openmetadata-docs/content/menu.md
Due: none

Fix #5831: Add pipeline to testsuite (#6756)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TestSuiteRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/dqtests/TestSuiteResource.java
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/databaseServiceMetadataPipeline.json
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/databaseServiceProfilerPipeline.json
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryLineagePipeline.json
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/databaseServiceQueryUsagePipeline.json
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/messagingServiceMetadataPipeline.json
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/mlmodelServiceMetadataPipeline.json
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/pipelineServiceMetadataPipeline.json
  catalog-rest-service/src/main/resources/json/schema/metadataIngestion/testSuitePipeline.json
  catalog-rest-service/src/main/resources/json/schema/tests/testSuite.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/dqtests/TestSuiteResourceTest.java
Due: google-style-java

fix: "table" to "Table" (#6789)
  openmetadata-docs/content/deployment/kubernetes/values.md
  openmetadata-docs/content/menu.md
Due: none

Improvements #6701 : Styling improvements and minor bug fixes. (#6765)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-edit.svg
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/Teams.tsx
  openmetadata-ui/src/main/resources/ui/src/components/UserList/UserListV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntitySummaryDetails/EntitySummaryDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/BotsPageV1/BotsPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/antd-master.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/toggle-switch.less
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Due: lint-staged

Fix #6571: Add EntityLink for the testCase to ID columns (#6755)
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v004__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v004__create_db_connection_info.sql
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/CollectionDAO.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TestCaseRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/dqtests/TestCaseResource.java
  catalog-rest-service/src/main/resources/json/schema/api/tests/createTestCase.json
  catalog-rest-service/src/main/resources/json/schema/tests/testCase.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/dqtests/TestCaseResourceTest.java
  ingestion-core/src/metadata/_version.py
  ingestion/src/metadata/ingestion/ometa/mixins/tests_mixin.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/unit/profiler/test_session_validations.py
  ingestion/tests/unit/profiler/test_validations.py
Due: google-style-java

Use SecretString type for storing parameters
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManager.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManagerTest.java
Due: google-style-java

Docker docs
  openmetadata-docs/content/deployment/docker/index.md
  openmetadata-docs/content/quick-start/local-deployment.md
Due: none

Revert dockerfile
  ingestion/Dockerfile
Due: none

permissions
  openmetadata-docs/content/openmetadata/connectors/database/mysql/airflow.md
  openmetadata-docs/content/openmetadata/connectors/database/mysql/cli.md
  openmetadata-docs/content/openmetadata/connectors/database/mysql/index.md
Due: none

AWS SSM secrets manager implementation on backend (#6771)
  catalog-rest-service/pom.xml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSBasedSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerFactory.java
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/ExternalSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/SecretsManagerFactoryTest.java
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
Due: google-style-java

moved status to workflow
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/src/metadata/orm_profiler/profiler/core.py
Due: none

Fixed tests
  ingestion/tests/integration/orm_profiler/test_orm_profiler.py
  ingestion/tests/unit/profiler/test_metrics.py
  ingestion/tests/unit/profiler/test_profiler.py
  ingestion/tests/unit/profiler/test_profiler_processor.py
  ingestion/tests/unit/profiler/test_sample.py
  ingestion/tests/unit/profiler/test_session_validations.py
  ingestion/tests/unit/profiler/test_sqa_profiler_interface.py
  ingestion/tests/unit/profiler/test_workflow.py
Due: none

Fix k8s values
  openmetadata-docs/content/deployment/kubernetes/values.md
  openmetadata-docs/content/menu.md
Due: none

Fix k8s values
  openmetadata-docs/content/deployment/kubernetes/values.md
Due: none

Added libxml2 in the ingestion Dockerfile (#6778)
  docker/airflow/Dockerfile
  ingestion/Dockerfile
Due: none

Doc update for define custom connectors
  openmetadata-docs/content/openmetadata/connectors/dashboard/metabase/airflow.md
  openmetadata-docs/content/openmetadata/connectors/dashboard/metabase/cli.md
  openmetadata-docs/content/sdk/python/build-connector/source.md
  openmetadata-docs/images/sdk/python/build-connector/add-interpreter.png
  openmetadata-docs/images/sdk/python/build-connector/add-project-in-pycharm.png
  openmetadata-docs/images/sdk/python/build-connector/select-interpreter.png
Due: none

Clean Atlas, Amundsen and metadata_rest (#6649)
  ingestion/src/metadata/clients/atlas_client.py
  ingestion/src/metadata/ingestion/source/metadata/amundsen.py
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
  ingestion/src/metadata/ingestion/source/metadata/metadata.py
Due: none

Fix profiler item_type sqlalchemy datatype issue
  ingestion/src/metadata/orm_profiler/orm/converter.py
Due: none

✨ Feat : Add New roles and policy UI - Part 1
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/rolesAPIV1.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
