Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

test(search): de-flake nightly search-it & ui-it reindex tests
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/DbToEsCountReconciliationIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/LongCompoundNameSearchUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/issues/PipelineOwnerIndexUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/reindex/DistributedAutoTuneReindexUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/reindex/SelectiveFieldReindexUIIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/playwright/scenarios/search/reindex/SimpleReindexTriggerUIIT.java
Due: google-style-java

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArticleDetailHeader/ArticleDetailHeader.component.tsx
Due: lint-staged

test(ingestion): cover column tag patch mixin paths
  ingestion/tests/unit/metadata/ingestion/ometa/test_patch_mixin.py
Due: none

refactor(ui): rename landing widget icon helper
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/AnnouncementsWidgetV1/AnnouncementCardV1/AnnouncementCardV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetCard/DataAssetCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/LandingPageWidgetIconUtils.tsx
Due: lint-staged

Update playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataAssetRulesDisabled.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityImport/BulkEntityImportPage/bulk-entity-import-page.less
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSVUtilsClassBase.tsx
Due: lint-staged

refactor(ui): simplify my data service mapping
  openmetadata-ui/src/main/resources/ui/src/components/common/DeferredWidget/DeferredWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetServiceUtils.tsx
Due: lint-staged

fix lint checks
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Due: lint-staged

fix(ui): restore data asset icon keys
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetServiceUtils.tsx
Due: lint-staged

fix(ui): restore explicit data asset service buckets
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetServiceUtils.tsx
Due: lint-staged

fix(ui): remove following widget stale guard
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/FollowingWidget.tsx
Due: lint-staged

fix(ui): remove my data widget stale guard
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
Due: lint-staged

fix(ui): derive data asset service sets from enums
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetServiceUtils.tsx
Due: lint-staged

Move StarRocks test section to the end of the test file
  ingestion/tests/unit/lineage/queries/test_specific_dialect_queries.py
Due: none

test(ingestion): align glossary related terms patch
  ingestion/tests/integration/ometa/test_ometa_glossary.py
  ingestion/tests/unit/metadata/ingestion/ometa/test_patch_mixin.py
Due: none

Addressed design comment for context center dashboard page (#29164)
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/AiActivitySection/AiActivitySection.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextKnowledgePillarCard/ContextKnowledgePillarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/NeedsAttentionSection/NeedsAttentionSection.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDashboardPage/ContextCenterDashboardPage.tsx
Due: lint-staged

fix(ui): remove activity feed cache split dependencies
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/TaskPanelHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedCache.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardFromTask.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AnnouncementsWidget/AnnouncementItemV3.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/TaskDescriptionPreviewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/BlockEditorPureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Due: lint-staged

fix tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/InputOutputPorts.spec.ts
Due: lint-staged

feat(context): extract knowledge pills from Context Center pages (#29119)
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ContextFileProcessingService.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ContextMemoryExtractor.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ContextMemoryReconciler.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ContextProcessingEngine.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/FileContextProcessingEngine.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/PageContextProcessingEngine.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/PageContextProcessingEngineHolder.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContextFileRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContextMemoryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KnowledgePageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/context/ContextMemoryMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/context/ContextMemoryResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/drive/ContextFileProcessingServiceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/drive/ContextMemoryExtractorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/drive/ContextMemoryReconcilerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/drive/PageContextProcessingEngineTest.java
  openmetadata-spec/src/main/resources/json/schema/api/context/createContextMemory.json
  openmetadata-spec/src/main/resources/json/schema/entity/context/contextMemory.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/contextFile.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/page.json
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/CreateMemoryModal/CreateMemoryModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentPreviewPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DocumentsView/DocumentPreviewPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ExtractedMemoriesCard/ExtractedMemoriesCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageDetailRightPanel/KnowledgePageDetailRightPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/api/context/createContextMemory.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/context/contextMemory.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/contextFile.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/page.ts
  openmetadata-ui/src/main/resources/ui/src/rest/contextMemoryAPI.ts
Due: google-style-java, lint-staged

chore(release): Prepare Branch for `1.12.12`
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-integration-tests/pom.xml
  openmetadata-k8s-operator/pom.xml
  openmetadata-mcp/pom.xml
  openmetadata-sdk/pom.xml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui-core-components/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Due: google-style-java

fix: version + change event on domain-detach, defer DP reindex to end of cascade
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
Due: google-style-java

feat(ai): add DERIVED_FROM, Metric.provider, ContextMemory.ontologyStats, AISettings schema
  openmetadata-service/src/main/resources/json/data/settings/aiSettings.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createMetric.json
  openmetadata-spec/src/main/resources/json/schema/configuration/aiSettings.json
  openmetadata-spec/src/main/resources/json/schema/entity/context/contextMemory.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/metric.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
  openmetadata-spec/src/main/resources/json/schema/type/entityRelationship.json
Due: none

fix(ui): resolve glossary lazy split imports
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/WorkFlowTab/WorkflowHistory.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Glossary/GlossaryTermUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryTerm/GlossaryTermUtil.tsx
Due: lint-staged

test(ui): E2E coverage for Add-Assets drawer quick filters
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProductAndSubdomains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/InputOutputPorts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/assetDrawerQuickFilter.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/inputOutputPorts.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
Due: lint-staged

feat(ai): AISettings handler, cache seed/merge, and system settings REST branch
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/AISettingsHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/AISettingsHandlerTest.java
Due: google-style-java

Emit data product updates during domain detach
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DataProductResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

fix(ai): propagate AISettings default-load IO errors and single-return reset
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/AISettingsHandlerTest.java
Due: google-style-java

feat(ai): gate file/page extraction on AISettings and externalize the extraction prompt
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ContextFileProcessingService.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ContextMemoryExtractor.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KnowledgePageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/AISettingsUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/AISettingsUtilTest.java
Due: google-style-java

fix(search): stream search responses and exclude dataModel from Explore to prevent heap OOM on large schemas
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchResponseStreamer.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchSearchManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSearchManager.java
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ExploreUtils.tsx
Due: google-style-java, lint-staged

fix(ui): resolve tasks data quality lazy split
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/FailedTestCaseSampleData/FailedTestCaseSampleData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCaseStatusModal/TestCaseStatusModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/EntityTasks/EntityTasks.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/EntityTasks/EntityTasks.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TaskFieldUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TaskFormSchemaUtils.ts
Due: lint-staged

feat(ai): ontology verdict DTO boundary
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyAction.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyDerivation.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyVerdict.java
  openmetadata-service/src/test/java/org/openmetadata/service/drive/ontology/OntologyDerivationTest.java
Due: google-style-java

fix(search): stream DQ-lineage hit extraction and drop serialize-to-String
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchSearchManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSearchManager.java
Due: google-style-java

nit
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Due: lint-staged

feat(ai): ontology grounding + extractor (pure derive)
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyCandidate.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyExtractor.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyGrounding.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyPromptBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/drive/ontology/OntologyExtractorTest.java
Due: google-style-java

fix(ui): resolve services ingestion lazy split
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/Steps/SelectServiceType.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActionsDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

fix(ai): use existing search/entity constants, dedupe helper, shorten prompt builder
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyGrounding.java
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyPromptBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/drive/ontology/OntologyExtractorTest.java
Due: google-style-java

fix(ui): resolve common pages lazy split
  openmetadata-ui/src/main/resources/ui/src/components/Customization/CustomizeTabWidget/CustomizeTabWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/LeftPanelContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericWidget/GenericWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardChartTable/DashboardChartTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailPage/DomainDetailPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TagButton/TagButton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TestConnection/ConnectionStepCard/ConnectionStepCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGrid.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SpreadsheetDetailsPage/SpreadsheetDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/WorksheetDetailsPage/WorksheetDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DeleteWidget/DeleteWidgetClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExploreUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GenericWidget/GenericWidgetUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TaskTagNavigationUtils.ts
Due: lint-staged

Fix the ServiceIngestion and Entity spec AUT failiures (#29176)
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

feat(ai): ontology reconciler with ownership lifecycle (create/reuse/retire/cascade)
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ontology/OntologyReconciler.java
  openmetadata-service/src/test/java/org/openmetadata/service/drive/ontology/OntologyReconcilerTest.java
Due: google-style-java
