Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

added testSuite field removal as breaking change
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

Fix : query_cost_record_search_index Search reindexing issue
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Due: none

update whats new
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

update new layout for home page
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
Due: lint-staged

fix flaky test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
Due: lint-staged

add unit tests
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
Due: lint-staged

Security vulnerability fixed
  openmetadata-clients/openmetadata-java-client/pom.xml
Due: none

move height update to .less
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/GenericTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/generic-tab.less
Due: lint-staged

removed condition on test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoPilot.spec.ts
Due: lint-staged

remove edit permissions in version page
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/OwnerLabelV2/OwnerLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainExpertsWidget/DomainExpertWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTypeWidget/DomainTypeWidget.tsx
Due: lint-staged

fix tests
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

Minor(ui): test destination message improvement (#21881)
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.tsx
Due: lint-staged

Improvise request payload to have only parent and optimise the flow
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/MoveEntityMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/MoveEntityResponse.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/moveGlossaryTermRequest.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/tests/moveGlossaryTermRequest.ts
Due: google-style-java, lint-staged

feat(ui): new layout for home page (#21901)
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
Due: lint-staged

fix(ui): whitespace for customised pages (#21897)
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/generic-tab.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/tabs.less
Due: none

add json schema for user preferences
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
Due: none

fix preferences schema
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/user.ts
Due: lint-staged

Fix : query_cost_record_search_index Search reindexing issue (#21900)
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Due: none

Security vulnerability fixed (#21902)
  openmetadata-clients/openmetadata-java-client/pom.xml
Due: none

Implement async functionality of Glossary Terms move
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/socket/WebSocketManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/WebsocketNotificationHandler.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Due: google-style-java

Add Whats New for 1.8.0 release (#21891)
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

mvn spotless:apply
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Due: google-style-java

refactor: extract reusable cleanup utilities and eliminate code duplication
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/dataRetention/DataRetention.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityRelationshipCleanup.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityRelationshipCleanupUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/ServiceHierarchyCleanup.java
Due: google-style-java

- missing commit
  openmetadata-service/src/test/java/org/openmetadata/service/util/EntityRelationshipCleanupTest.java
Due: google-style-java

- Data Retention App test
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/dataRetention/DataRetentionAppTest.java
Due: google-style-java

Revert : query_cost_record_search_index Search reindexing issue
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Due: none

Revert : query_cost_record_search_index Search reindexing issue (#21906)
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Due: none

Fix query aggregation to use checksum not query text
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/QueryCostRecordsAggregator.java
Due: google-style-java

Fix query aggregation to use checksum not query text
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Due: none

fix query text
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/QueryCostRecordsAggregator.java
Due: google-style-java

fix opensearch class
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/QueryCostRecordsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/QueryCostRecordsAggregator.java
Due: google-style-java

Fix query cost aggregation (#21907)
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/dataInsightAggregators/QueryCostRecordsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/dataInsightAggregator/QueryCostRecordsAggregator.java
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Due: google-style-java

Fix #20621: User Status Tracking in the System
  bootstrap/sql/migrations/native/1.8.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.8.1/postgres/schemaChanges.sql
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
