Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Fixes #32260: guard excerpt against non-positive limits (zero-allowance structural preview)
  openmetadata-service/src/main/java/org/openmetadata/service/aicontext/AIContextBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/aicontext/AIContextBuilderTest.java
Due: google-style-java

perf(rdf): add write-path scale harness and document measured throughput
  docs/rdf-production-setup.md
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/RdfWritePathScaleHarness.java
Due: google-style-java

Fixes #32260: gate upstream DQ behind VIEW_TESTS, bound structural preview to the excerpt limit
  openmetadata-service/src/main/java/org/openmetadata/service/aicontext/AIContextBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/aicontext/AIContextBuilderTest.java
Due: google-style-java

refactor(ui): SchemaTable onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.test.tsx
Due: lint-staged

refactor(ui): UserTab onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.test.tsx
Due: lint-staged

refactor(ui): TableProfilerProvider onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerProvider.tsx
Due: lint-staged

refactor(ui): DataQualityTab onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
Due: lint-staged

ci(playwright): run MySQL nightly E2E with 2 per-test retries
  .github/workflows/mysql-nightly-e2e.yml
  .github/workflows/playwright-e2e-reusable.yml
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
Due: lint-staged

fix: repair migration CI regressions
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/migration/BaselineFreshInstallIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v210/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/governance/WorkflowDefinitionResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/migration/utils/v210/OntologySqlMigrationParityTest.java
Due: google-style-java

refactor(ui): DatabaseSchemaTable onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
Due: lint-staged

refactor(ui): TeamsInfo onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamsHeaderSection/TeamsInfo.component.tsx
Due: lint-staged

refactor(ui): TeamsHeadingLabel onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamsHeaderSection/TeamsHeadingLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamsHeaderSection/TeamsHeadingLabel.test.tsx
Due: lint-staged

ci(playwright): PostgreSQL release-branch nightly also gets 2 retries
  .github/workflows/postgresql-nightly-e2e.yml
Due: none

refactor(ui): SampleDataTable onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/SampleDataTable.test.tsx
Due: lint-staged

fix(security): bump httpclient5 to 5.6.4
  pom.xml
Due: none

refactor(ui): BotDetails onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/BotDetails.test.tsx
Due: lint-staged

ci(playwright): type the retries input as number
  .github/workflows/mysql-nightly-e2e.yml
  .github/workflows/playwright-e2e-reusable.yml
  .github/workflows/postgresql-nightly-e2e.yml
Due: none

fix(security): bump qs to 6.16.0
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

fix(ingestion): upgrade linux-libc-dev to clear kernel CVE scan findings (#32146) [1.13] (#32168)
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile.ci
Due: none

Fixes #32260: suppress caller-relative upstream DQ signal when no caller context exists (persona materialization)
  openmetadata-service/src/main/java/org/openmetadata/service/aicontext/AIContextBuilder.java
Due: google-style-java

fix(security): bump jsoup to 1.23.2
  pom.xml
Due: none

ci(playwright): simplify retries fallback to a single ?? expression
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
Due: lint-staged

fix(ui): keep manage/restore affordances ungated for deleted teams
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.test.tsx
Due: lint-staged

refactor(ui): GlossaryV1 onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.test.tsx
Due: lint-staged

refactor(ui): GlossaryTermReferences onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermReferences.tsx
Due: lint-staged

refactor(ui): GlossaryTermSynonyms onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
Due: lint-staged

fix(rdf): restore per-entity isolation, catch truncated append bodies, review fixes
  docker/rdf-store/entrypoint.sh
  docs/rdf-production-setup.md
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/bootstrap/TestSuiteBootstrap.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/RdfIndexAppScaleIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/RdfBatchProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/RdfIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/RdfReindexAdmissionGuard.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/sink/RdfBulkSink.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/storage/JenaFusekiStorage.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/rdf/RdfAutoTuneTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/RdfRepositoryBulkChunkingTest.java
  scripts/rdf-reindex-benchmark.sh
Due: google-style-java

refactor(ui): WorksheetColumnsTable onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Worksheet/WorksheetColumnsTable/WorksheetColumnsTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Worksheet/WorksheetColumnsTable/WorksheetColumnsTable.tsx
Due: lint-staged

refactor(ui): FileColumnsTable onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/File/FileColumnsTable/FileColumnsTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/File/FileColumnsTable/FileColumnsTable.tsx
Due: lint-staged

refactor(ui): AssetsTabs onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
Due: lint-staged

refactor(ui): GlossaryHeader onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.test.tsx
Due: lint-staged

ci(1.13): unblock all 1.13 PRs — make required checks actually report (#32247)
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/ui-checkstyle.yml
Due: none

refactor(ui): WorksheetDetails drop dead raw permission reads
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Worksheet/WorksheetDetails.tsx
Due: lint-staged

fix(ui): stretch glossary terms table to fill its container
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryPureUtils.ts
Due: lint-staged

refactor(ui): SpreadsheetDetails drop dead raw permission reads
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Spreadsheet/SpreadsheetDetails.tsx
Due: lint-staged

refactor(ui): FileDetails drop dead raw permission reads
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/File/FileDetails.tsx
Due: lint-staged

refactor(ui): DirectoryDetails drop dead raw permission reads
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Directory/DirectoryDetails.tsx
Due: lint-staged

refactor(ui): GlossaryTermTab onto getDerivedPermissionFlags
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Due: lint-staged
