Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

fix flaky tests
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Due: lint-staged

move activeFqn to new method (#19263)
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
Due: google-style-java

remove extra assignees from workflow (#19030)
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/userTask/userApprovalTask.json
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/userTask/userApprovalTask.ts
Due: lint-staged

cast query_user_name to str
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
Due: none

Review
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Due: google-style-java

fix(ui): render column type max 3 lines and ellipsis (#19046)
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
Due: lint-staged

Docs: Format Note Mention In Advanced Search
  openmetadata-docs/content/v1.5.x/how-to-guides/data-discovery/advanced.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-discovery/advanced.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-discovery/advanced.md
Due: none

fix: optionLabelProp value to AsyncSelect component
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryUsedByOtherTable/QueryUsedByOtherTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelect/AsyncSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
Due: lint-staged

fix the search for custom properties in advance search for some types (#19113)
  openmetadata-service/src/main/java/org/openmetadata/service/util/SchemaFieldExtractor.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvanceSearchCustomProperty.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearchCustomProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/airbyteConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/dbtPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/react-awesome-query.less
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderElasticsearchFormatUtils.js
Due: google-style-java, lint-staged

Fix #19160: Add Depth Support Part-1 (#19275)
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/storage/containerMetadataConfig.json
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/storage/containerMetadataConfig.ts
Due: lint-staged

fix the search for custom properties in advance search for some types (#19113)
  openmetadata-service/src/main/java/org/openmetadata/service/util/SchemaFieldExtractor.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvanceSearchCustomProperty.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearchCustomProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/dbtPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/styles/components/react-awesome-query.less
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderElasticsearchFormatUtils.js
Due: google-style-java, lint-staged

fixed some styling issues (#19230)
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.tsx
Due: lint-staged

Docs: Format Note Mention In Advanced Search (#19277)
  openmetadata-docs/content/v1.5.x/how-to-guides/data-discovery/advanced.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-discovery/advanced.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-discovery/advanced.md
Due: none

Fix dbtcloud task/run date (#19265)
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/metadata.py
Due: none

Fixes #18816 - Airbyte api endpoint (#19207)
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/client.py
  openmetadata-docs/content/v1.4.x/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.4.x/connectors/pipeline/airbyte/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/airbyte/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/airbyteConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/Airbyte.md
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/airbyteConnection.ts
Due: lint-staged

Fixes #17747: dbt update owners (#19144)
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/test_dbt.py
  openmetadata-docs/content/partials/v1.4/connectors/yaml/dbt/source-config-def.md
  openmetadata-docs/content/partials/v1.4/connectors/yaml/dbt/source-config.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/dbt/source-config-def.md
  openmetadata-docs/content/partials/v1.6/connectors/yaml/dbt/source-config.md
  openmetadata-docs/content/v1.4.x/connectors/ingestion/workflows/dbt/ingest-dbt-owner.md
  openmetadata-docs/content/v1.4.x/main-concepts/metadata-standard/schemas/metadataIngestion/dbtPipeline.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/ingestion/workflows/dbt/ingest-dbt-owner.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/main-concepts/metadata-standard/schemas/metadataIngestion/dbtPipeline.md
  openmetadata-docs/images/v1.6/features/ingestion/workflows/dbt/dbt-features/dbt-update-owners.webp
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtPipeline.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/dbt.md
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/dbtPipeline.ts
Due: lint-staged

[OMOperations] Add Reset Password option (#19253)
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Due: google-style-java

fix flakiness
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Due: lint-staged

Docs: Format Note Mention In Advanced Search (#19277)
  openmetadata-docs/content/v1.4.x/how-to-guides/data-discovery/advanced.md
  openmetadata-docs/content/v1.5.x/how-to-guides/data-discovery/advanced.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-discovery/advanced.md
Due: none

Onboarding Application Changes for OSS (#19203)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MlModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/PipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/pipelines/PipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/JsonUtils.java
Due: google-style-java

ISSUE-19131: Fix patch removing testSuites field (#19260)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Due: google-style-java

MINOR: Kafka dependency conflict resolution
  ingestion/setup.py
Due: none

MINOR: Add condition for welcome page (#19266)
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useWelcomeStore.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
Due: lint-staged

Docs: Kafka Registry URL Doc Updation
  openmetadata-docs/content/v1.6.x/connectors/messaging/kafka/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/messaging/kafka/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/messaging/kafka/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/messaging/kafka/yaml.md
  openmetadata-docs/images/v1.6/connectors/kafka/service-connection.png
  openmetadata-docs/images/v1.7/connectors/kafka/service-connection.png
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Messaging/Kafka.md
Due: none

MINOR: Kafka dependency conflict resolution (#19278)
  ingestion/setup.py
Due: none

hotfix(api): Updated create tag schema's mutually exclusive field
  openmetadata-spec/src/main/resources/json/schema/api/classification/createClassification.json
Due: none

hotfix(api): Updated create tag schema's mutually exclusive field
  openmetadata-spec/src/main/resources/json/schema/api/classification/createTag.json
Due: none

Redshift stored procedure query parse fix (#19276)
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
Due: none

fix: reference table dropdown in add and edit query forms (#19026)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryUsedByOtherTable/QueryUsedByOtherTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

[Fix-19094] Circular Rendering issue for lineage (#19270)
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Due: google-style-java

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
