Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

fix(playwright): treat length = 0 and splice(0) as a reset
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/no-accumulating-before-all.mjs
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/tests/no-accumulating-before-all.test.mjs
Due: none

fix(playwright): make a timed-out test say where it hung
  .github/playwright/impact-map.generated.json
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TokenStorage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/reporters/TimeoutDiagnosticsReporter.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ApiCollectionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseSchemaClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/fixtures/serverLoad.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/admin.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/tokenStorage.ts
Due: lint-staged

refactor(playwright): one place that builds a signed-in page
  .claude/rules/frontend-playwright.md
  .github/playwright/impact-map.generated.json
  openmetadata-ui/src/main/resources/ui/playwright/PLAYWRIGHT_DEVELOPER_HANDBOOK.md
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/RoleFixtureSessions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/fixtures/pages.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/fixtures/base.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/fixtures/isolatedUser.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/fixtures/userPages.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/user/AdminClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/user/UserClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/apiSignIn.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/initialSetup.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Due: lint-staged

fix(playwright): keep the OM_SESSION cookie when signing in via the API
  openmetadata-ui/src/main/resources/ui/playwright/e2e/auth.setup.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/apiSignIn.ts
Due: lint-staged

fix(custom-properties): drop no-op isProtected filter from CustomPropertiesLandingPage
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/panels/CustomPropertiesPanel/CustomPropertiesLandingPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/panels/CustomPropertiesPanel/CustomPropertiesLandingPage.tsx
Due: lint-staged

Simplify TagRegistry lifecycle and connector integration
  ingestion/src/metadata/domain/tags/__init__.py
  ingestion/src/metadata/domain/tags/models.py
  ingestion/src/metadata/domain/tags/registry.py
  ingestion/src/metadata/ingestion/api/topology_runner.py
  ingestion/src/metadata/ingestion/source/database/athena/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/tags.py
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/tests/unit/domain/tags/test_registry.py
  ingestion/tests/unit/topology/database/test_athena_tag_registry.py
  ingestion/tests/unit/topology/database/test_bigquery_tag_registry.py
  ingestion/tests/unit/topology/database/test_database_tag_registry.py
  ingestion/tests/unit/topology/database/test_databricks_tag_registry.py
  ingestion/tests/unit/topology/database/test_postgres_tag_registry.py
  ingestion/tests/unit/topology/database/test_snowflake.py
  ingestion/tests/unit/topology/database/test_tag_publication.py
  ingestion/tests/unit/topology/test_runner.py
Due: none

Fixes #23533: [Vertica] Silence basedpyright on the Inspector registration
  ingestion/src/metadata/ingestion/source/database/vertica/metadata.py
Due: none

Fixes 33360: Cancel workflows and mark not-found after the owning delete commit
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/EntityHardDeletionAtomicityIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

lint fix
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/panels/CustomPropertiesPanel/CustomPropertiesLandingPage.test.tsx
Due: lint-staged

Clean up pre-existing direct user memberships on non-Group teams (2.0.2) (#33352)
  bootstrap/sql/migrations/native/2.0.2/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/2.0.2/postgres/postDataMigrationSQLScript.sql
Due: none

feat(teams): non-Group team Users tab rolls up sub-group members (#31770) [2.0 backport] (#33354)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TeamResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/UserResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/teams/team.json
  openmetadata-spec/src/main/resources/rdf/ontology/openmetadata.ttl
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/UserTab/UserTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/teams/team.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/TeamsPage.tsx
Due: google-style-java, lint-staged

Fixes #23533: [Vertica] Only remember a definite answer about column comments
  ingestion/src/metadata/ingestion/source/database/vertica/metadata.py
  ingestion/tests/unit/topology/database/test_vertica_dialect.py
Due: none

Fixes #32648: Repair FQN hash for Dashboard/Chart/Pipeline/Topic/MlModel under dotted service names
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v210/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v210/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v210/DottedServiceFqnMigration.java
  openmetadata-service/src/test/java/org/openmetadata/service/migration/utils/v210/DottedServiceFqnMigrationTest.java
Due: google-style-java

Fixes #23533: [Vertica] Cover the fallback branch and the batched delegation
  ingestion/tests/unit/topology/database/test_vertica_dialect.py
Due: none

minor fixes
  openmetadata-ui/src/main/resources/ui/src/components/AuditLog/AuditLogList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlAuditLogFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlDebuggerPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlPoliciesPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlPolicyDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlRoleDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlRolesPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlRuleForm.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: lint-staged

lint fix
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlAuditLogFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlPoliciesPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlRoleDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/access-control/AccessControlRolesPanel.tsx
Due: lint-staged

test(security): unit and E2E coverage for glossary-term bulk asset authorization
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceBulkAssetsAuthorizationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourcePermissionAssetsTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryBulkAssetPermissions.spec.ts
Due: google-style-java, lint-staged

Remvoed unnessary changes
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/useTagUsageCounts.ts
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/TagUsageCount/TagUsageCount.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/forms/ConditionBuilder/conditionBuilderValueFetchers.ts
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/forms/SetActionForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Tag.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSV.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TablePureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TagsPureUtils.ts
Due: lint-staged

Address review: skip canonical-duplicate rows and report them; make class final
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v210/DottedServiceFqnMigration.java
  openmetadata-service/src/test/java/org/openmetadata/service/migration/utils/v210/DottedServiceFqnMigrationTest.java
Due: google-style-java

fix(ui): keep CSV.utils.tsx out of the changed-file lint set
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ClassificationTagUsage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/useTagUsageCounts.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/useTagUsageCounts.ts
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/forms/ConditionBuilder/conditionBuilderValueFetchers.ts
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/forms/SetActionForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Tag.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSV.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TablePureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TagsPureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.test.tsx
Due: lint-staged

Fixes #23533: [Vertica] Correct the stale note on the version regression test
  ingestion/tests/unit/topology/database/test_vertica_dialect.py
Due: none

style(ui): apply ui-checkstyle formatting to the tag usage changes
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/useTagUsageCounts.ts
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/forms/ConditionBuilder/conditionBuilderValueFetchers.ts
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/forms/SetActionForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TablePureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TagsPureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.test.tsx
Due: lint-staged

fix(playwright): sync suppressions baseline total in corpus.test.mjs
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/tests/corpus.test.mjs
Due: none

test(e2e): assert the exact tag usage count, not just a positive one
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ClassificationTagUsage.spec.ts
Due: lint-staged

Fixes #32064: [MSSQL] Keep stored-procedure lineage when the engine returns no procedure body
  ingestion/src/metadata/ingestion/source/database/lineage_processors.py
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  ingestion/tests/unit/lineage/test_stored_procedure_lineage.py
Due: none

test: replace MinIO test containers with S3Proxy
  ingestion/setup.py
  ingestion/tests/integration/auto_classification/containers/conftest.py
  ingestion/tests/integration/containers.py
  ingestion/tests/integration/datalake/conftest.py
  ingestion/tests/integration/datalake/test_datalake_profiler_sampling.py
  ingestion/tests/integration/datalake/test_rule_library_pandas.py
  ingestion/tests/integration/datalake/test_table_rule_library_pandas.py
  ingestion/tests/integration/s3/conftest.py
  ingestion/tests/integration/s3/test_s3_manifest_wildcards.py
  ingestion/tests/integration/sources/database/delta_lake/conftest.py
  ingestion/tests/integration/sources/mlmodels/mlflow/conftest.py
  ingestion/tests/integration/sources/mlmodels/mlflow/test_mlflow.py
  ingestion/tests/integration/trino/conftest.py
  ingestion/tests/integration/trino/hive/Dockerfile
  ingestion/tests/integration/trino/hive/conf/metastore-site.xml
  ingestion/tests/integration/trino/hive/entrypoint.sh
  ingestion/tests/integration/trino/trino/Dockerfile
  ingestion/tests/integration/trino/trino/etc/catalog/minio.properties
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/bootstrap/TestSuiteBootstrap.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/drive/DriveFileUploadIT.java
  openmetadata-integration-tests/src/test/resources/openmetadata-secure-test.yaml
Due: google-style-java

Keep row conversion inside the per-row handler
  ingestion/src/metadata/ingestion/source/database/stored_procedures_mixin.py
  ingestion/tests/unit/lineage/test_stored_procedure_lineage.py
Due: none

Fixes #23533: [Vertica] Cover the schema definition path itself
  ingestion/tests/unit/topology/database/test_vertica_dialect.py
Due: none

Fix static checks broken by urllib3 2.8.0 annotation change
  ingestion/src/metadata/ingestion/ometa/http_adapter.py
Due: none

Fix static checks broken by urllib3 2.8.0 annotation change (#33373)
  ingestion/src/metadata/ingestion/ometa/http_adapter.py
Due: none

Pin the comment-bearing column template too
  ingestion/tests/unit/topology/database/test_vertica_dialect.py
Due: none

Stop the conversation DDL test racing the rest of the parallel lane
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ConversationSchemaMigrationIT.java
Due: google-style-java

perf(ui): cache a quick filter's initial options per facet context
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
Due: lint-staged

fix(ui): replace native HTML title attributes with Tooltip component (#32916)
  .github/playwright/impact-map.generated.json
  openmetadata-ui/src/main/resources/ui/eslint-rules/openmetadata-ui-patterns.mjs
  openmetadata-ui/src/main/resources/ui/eslint.config.mjs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/IncidentManagerLocaleLayout.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ImpactAnalysis.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Pagination.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage/LineageFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/query.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BarMenu/BarMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/EmptyGraphPlaceholder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataMarketplace/MarketplaceSearchBar/MarketplaceSearchBar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataMarketplace/MarketplaceSearchBar/MarketplaceSearchBar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/DataQualityDashboard/DataQualityDashboard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseStatus/InlineIncidentStatus/ChipTrigger.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseStatus/InlineIncidentStatus/ChipTrigger.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/NoProfilerBanner/NoProfilerBanner.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/SingleColumnProfile.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerChart/TableProfilerChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/CustomPropertiesSection/CustomPropertiesSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/LogViewerModal/LogViewerModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierTag.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/explore/ExploreHeader/ExploreSearchCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/explore/ExploreHeader/ExploreSearchInput.tsx
  openmetadata-ui/src/main/resources/ui/src/components/platform/ai-shell/Sidebar/ContextCenterSubNavSections.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGrid.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableAliases/TableAliases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityDisplayPureUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsWidgets.tsx
Due: lint-staged

Cover the database name on query-history rows
  ingestion/tests/unit/topology/database/test_sap_hana.py
Due: none

Make the no-edge diagnosis reachable and cover the Cloud guard
  ingestion/.basedpyright/baseline.json
  ingestion/src/metadata/ingestion/source/database/saphana/lineage.py
  ingestion/tests/unit/topology/database/test_sap_hana.py
Due: none

fix(ui): provide a QueryClient to TagsPage tests
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.test.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
