Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

fix entity icon overlaping on text (#17072)
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/entity-header-title.less
Due: lint-staged

Centralize OIDC Flow to handler, and refresh logic (#17082)
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthCallbackServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthLoginServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthLogoutServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthRefreshServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlAssertionConsumerServlet.java
  openmetadata-spec/src/main/resources/json/schema/security/client/oidcClientConfig.json
Due: google-style-java

MINOR: Fix Oracle E2E Tests (#17084)
  ingestion/src/metadata/cmd.py
  ingestion/tests/cli_e2e/test_cli_oracle.py
Due: none

MINOR: query log path as dir/file (#17048)
  ingestion/src/metadata/ingestion/source/database/lineage_source.py
  ingestion/src/metadata/ingestion/source/database/usage_source.py
  ingestion/tests/unit/resources/log_files/failed_logs.txt
  ingestion/tests/unit/resources/log_files/query_log_file1.csv
  ingestion/tests/unit/resources/log_files/query_log_file2.csv
  ingestion/tests/unit/test_usage_log.py
Due: none

fix: #16655 page breaks on changing page size with sorted table (#17009)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/Execution/ListView/ListViewTab.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.test.tsx
Due: lint-staged

MINOR - Update MetaPilot config (#17101)
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metaPilotAppConfig.json
Due: none

MINOR - Clean automations_workflow (#17005)
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
Due: none

Doc: Fixing Broken Link in How-to Guide (#17063)
  openmetadata-docs/content/v1.4.x/how-to-guides/data-governance/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/data-governance/index.md
Due: none

fix(#17016): apply Read-Only Mode to All Custom and Built-In Nodes in Block Editor (#17080)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockMenu/BlockMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BubbleMenu/BubbleMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/EditorSlots.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/Callout/CalloutComponent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/Callout/CalloutComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/MathEquation/MathEquationComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/image/ImageComponent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/image/ImageComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/TableMenu/TableMenu.tsx
Due: lint-staged

fix: test case summary update on test result PUT (#17053)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
Due: google-style-java

Doc: Updated Athena Docs (#17103)
  openmetadata-docs/content/v1.4.x/connectors/database/athena/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/athena/index.md
Due: none

Ignore Entity No Change Events (#17087)
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
Due: google-style-java

Doc: Updating Service Connection Images (#17058)
  openmetadata-docs/images/v1.4/connectors/create-new-service.png
  openmetadata-docs/images/v1.4/connectors/visit-services-page.png
  openmetadata-docs/images/v1.5/connectors/create-new-service.png
  openmetadata-docs/images/v1.5/connectors/visit-services-page.png
Due: none

Fix: test case indexing -- remove changeDescription from testSuites list (#17083)
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Due: google-style-java

Doc: Updating Athena Service Connection Docs (#17090)
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Athena.md
Due: none

Doc: Updating BigQ Table Connection Docs (#17076)
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/BigQuery.md
Due: none

#17043: fix the same suggestion content being displayed on task (#17077)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/activityFeed.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.tsx
Due: lint-staged

Fix Users Issue due to capital names (#16828)
  bootstrap/sql/migrations/native/1.5.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/postDataMigrationSQLScript.sql
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/CatalogPrincipal.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/NoopAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BasicAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/LdapAuthenticator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Bots.spec.ts
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SignUp/BasicSignup.component.tsx
Due: google-style-java, lint-staged

fix: handle potential null pointer in test case reindex (#17100)
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Due: google-style-java

Fixes #16501: Optimize Rows Sample Type Snowflake (#17055)
  ingestion/src/metadata/profiler/processor/sampler/sampler_factory.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/snowflake/sampler.py
Due: none

Update Snowflake docs to better inform the needed permissions (#17070)
  openmetadata-docs/content/v1.4.x/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/snowflake/index.md
Due: none

Move Migration to 1.4.6 (#17095)
  bootstrap/sql/migrations/native/1.4.6/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.6/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.6/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.6/postgres/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/postDataMigrationSQLScript.sql
Due: none

Fix App Issue (#17088)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Due: google-style-java

fix: supportedDataType PSQL query (#17069)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestDefinitionResourceTest.java
Due: google-style-java

MINOR: Add PyRight TypeCheck to our Python Project (#17060)
  ingestion/Makefile
  ingestion/pyproject.toml
  ingestion/setup.py
  ingestion/src/metadata/cmd.py
Due: none

Fixes #17051: Dynamic import for Profiler Interface (#17073)
  ingestion/src/metadata/profiler/interface/profiler_interface_factory.py
  ingestion/tests/unit/profiler/test_profiler_interface_factory.py
Due: none

Fix Vertica E2E Counts (#17071)
  ingestion/tests/cli_e2e/test_cli_vertica.py
Due: none

Add Sync Option in OpenmetadataOperations (#17089)
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Due: google-style-java

#17065: fix the tags not rendering in selector after selection in edit tags task (#17107)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagsTask.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagsTask.tsx
Due: lint-staged

Add Alert Name to Publishers (#17108)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AbstractEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AlertFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/Destination.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/email/EmailPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/feed/ActivityFeedPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/gchat/GChatPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/generic/GenericPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/msteams/MSTeamsPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/slack/SlackEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/EmailMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/FeedMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/GChatMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MSTeamsMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/MessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/decorators/SlackMessageDecorator.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
Due: google-style-java

MINOR: Databricks view TableType fix (#17124)
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
Due: none

feat: updated multi pipeline ui as per new mock (#17106)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/AddDataQualityTest.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/TestSuiteIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/AddTestSuitePipeline.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/AddTestSuitePipeline.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/add-test-suite-pipeline.style.less
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/rightPanelData.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddTestCaseList/AddTestCaseList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

fix explore type changes for collate (#17131)
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
Due: lint-staged

Explore tree feedbacks (#17078)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvancedSearchQuickFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreQuickFilters.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/explore.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/useExplore.store.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/exploreV1.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetCard/DataAssetCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetCard/DataAssetCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ExploreUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchClassBase.ts
Due: lint-staged

Doc: Updating Profiler Workflow Docs URL (#17140)
  ingestion/src/metadata/profiler/orm/functions/datetime.py
  ingestion/src/metadata/workflow/output_handler.py
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/BigQuery.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Clickhouse.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Db2.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Greenplum.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Hive.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Impala.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/MariaDB.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mssql.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Oracle.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Postgres.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Presto.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Redshift.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/SapHana.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/SingleStore.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Snowflake.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Teradata.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Trino.md
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/NoProfilerBanner/NoProfilerBanner.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
Due: lint-staged

MINOR: changed log level to debug (#17126)
  ingestion/src/metadata/profiler/orm/types/custom_hex_byte_string.py
Due: none

Get feed and count data of soft deleted user (#17135)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
Due: google-style-java

Fix #12677: Added Synapse Connector - docs and side docs (#17041)
  ingestion/src/metadata/examples/workflows/synapse.yaml
  ingestion/src/metadata/ingestion/connections/test_connections.py
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/synapse/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/synapse/troubleshooting.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/connectors/database/synapse/yaml.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.5/connectors/synapse/add-new-service.webp
  openmetadata-docs/images/v1.5/connectors/synapse/autocommit.webp
  openmetadata-docs/images/v1.5/connectors/synapse/azure-firewall.webp
  openmetadata-docs/images/v1.5/connectors/synapse/select-service.webp
  openmetadata-docs/images/v1.5/connectors/synapse/service-connection.webp
  openmetadata-service/src/main/resources/json/data/testConnections/database/synapse.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/synapseConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Synapse.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-synapse.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

Minor: fixed AUT test (#17128)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataInsight.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DatePickerMenu/DatePickerMenu.component.tsx
Due: lint-staged

Minor: fixed edit modal issue for sql test case (#17132)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/testCases.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.tsx
Due: lint-staged
