Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

update UI paths
  openmetadata-ui/src/main/resources/ui/src/@types/global.d.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useCustomLocation/useCustomLocation.ts
  openmetadata-ui/src/main/resources/ui/src/rest/index.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
  openmetadata-ui/src/main/resources/ui/src/utils/HistoryUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Due: lint-staged

Feat: Move data quality page tabs to left panel
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/data-quality-page.less
Due: lint-staged

supported TableDetailPage tabs as classBase for supporting collate only tabs
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailPageClassBase.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Due: lint-staged

Added schema Apis
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Due: google-style-java

copy governance schemas into json directory
  .gitignore
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/parseConnectionSchema.js
  openmetadata-ui/src/main/resources/ui/parseSchemas.js
Due: lint-staged

FIX - PG AppName Migration (#18139)
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v160/MigrationUtil.java
Due: google-style-java

chore(ui): support Persian language option
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Due: lint-staged

update schema names
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/WorkflowNodeFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/CheckEntityHasReviewersTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetEntityDescriptionTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/SetGlossaryTermStatusTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/CheckEntityHasReviewersImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/SetEntityDescriptionImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/SetGlossaryTermStatusImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/endEvent/EndEvent.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/trigger/EntityEventTrigger.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/UserApprovalTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/UserRequestDescriptionTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/impl/CreateApprovalTaskImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/impl/SetApprovalAssigneesImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/impl/SetCandidateUsersImpl.java
  openmetadata-spec/src/main/resources/json/schema/api/governance/createWorkflowDefinition.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/checkEntityHasReviewersTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/setEntityDescriptionTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/setGlossaryTermStatusTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/endEvent/endEvent.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/trigger/entityEventTrigger.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/userTask/userApprovalTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/userTask/userRequestDescriptionTask.json
Due: google-style-java

fix(ui): security deps for cookie package
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

style: fix java linting
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
Due: google-style-java

fix unit tests
  openmetadata-ui/src/main/resources/ui/src/hooks/useCustomLocation/useCustomLocation.test.ts
Due: lint-staged

Extract WorkflowInstance into its own resource
  bootstrap/sql/migrations/native/1.6.0/mysql/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowInstanceStageUpdaterListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowInstanceUpdaterListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowDefinitionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceStateRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/governance/WorkflowInstanceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/governance/WorkflowInstanceStateResource.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/workflowInstanceState.json
Due: google-style-java

fix(ui): security deps for cookie package (#18149)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

chore(ui): support Persian language option (#18148)
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Due: lint-staged

fix: revert to dict
  ingestion/tests/unit/topology/database/test_bigquery.py
Due: none

refactor: apply formater
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/life_cycle_query_mixin.py
  ingestion/src/metadata/ingestion/source/database/mssql/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/teradata/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
Due: none

fix: revert to dict
  ingestion/src/metadata/data_quality/validations/column/sqlalchemy/columnValuesToMatchRegex.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableRowInsertedCountToBeBetween.py
  ingestion/src/metadata/profiler/interface/pandas/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/mariadb/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/single_store/profiler_interface.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/trino/profiler_interface.py
  ingestion/src/metadata/utils/helpers.py
Due: none

refactor: reformat
  ingestion/src/metadata/profiler/interface/sqlalchemy/profiler_interface.py
Due: none

feat: replace copy
  ingestion/src/_openmetadata_testutils/helpers/assumption.py
  ingestion/src/metadata/ingestion/source/dashboard/quicksight/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
  ingestion/tests/integration/data_quality/test_data_diff.py
  ingestion/tests/integration/ometa/test_ometa_patch.py
  ingestion/tests/integration/ometa/test_ometa_topology_patch.py
  ingestion/tests/integration/sql_server/conftest.py
Due: none

fix revert dict
  ingestion/tests/unit/great_expectations/test_ometa_validation_action.py
  ingestion/tests/unit/metadata/common/test_ingest_file_load.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager_factory.py
  ingestion/tests/unit/test_config.py
Due: none

Minor: Updated pyiceberg version to 0.5.1
  ingestion/setup.py
Due: none

Remove the collate connector links from the OSS menu.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
Due: none

Update docs sync workflow to push content to main branch
  .github/workflows/sync-docs-v1.yml
Due: none

Update docs sync workflow to push content to main branch (#18160)
  .github/workflows/sync-docs-v1.yml
Due: none

Docs: Adding Automation Section
  openmetadata-docs/content/v1.5.x/how-to-guides/data-governance/automation/index.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/how-to-guides/data-governance/automation/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.5/how-to-guides/governance/automation-1.png
  openmetadata-docs/images/v1.5/how-to-guides/governance/automation-2.png
  openmetadata-docs/images/v1.5/how-to-guides/governance/automation-3.png
  openmetadata-docs/images/v1.5/how-to-guides/governance/automation-4.png
  openmetadata-docs/images/v1.5/how-to-guides/governance/automation-5.png
  openmetadata-docs/images/v1.5/how-to-guides/governance/automation-6.png
  openmetadata-docs/images/v1.5/how-to-guides/governance/automation-7.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/automation-1.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/automation-2.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/automation-3.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/automation-4.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/automation-5.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/automation-6.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/automation-7.png
Due: none

MINOR: added check to append reserve-sidebar class to body (#18141)
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedDrawer/ActivityFeedDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/ApplicationsClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useReserveSidebar.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useReserveSidebar.ts
Due: lint-staged

MINOR - Add support for additional aggregation (#18129)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchAggregation.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchAggregationNode.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticAggregationsBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticAvgAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticBucketSelectorAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticCardinalityAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticDateHistogramAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticMinAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticNestedAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticTermsAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/aggregations/ElasticTopHitsAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenAggregationsBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenAvgAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenBucketSelectorAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenCardinalityAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenDateHistogramAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenMinAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenNestedAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenTermsAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/aggregations/OpenTopHitsAggregations.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/Utilities.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_case_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_case_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/searchindex/SearchIndexResourceTest.java
Due: google-style-java

Refactor ServiceConnectionDetails component to handle specific Airflow connection type (#18100)
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/matillionConnection.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
Due: lint-staged

Remove the collate connector links from the OSS menu.md (#18159)
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
Due: none

fix: playwright test
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ApiIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/ApiEntity/Rest.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/ApiEntity/workflows/metadata.md
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/ServiceDocPanel.tsx
Due: lint-staged

Addressed Comments
  ingestion/src/metadata/ingestion/source/pipeline/gluepipeline/metadata.py
Due: none

Prep config
  openmetadata-spec/src/main/resources/json/schema/entity/applications/appExtension.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/metaPilotAppConfig.json
Due: none

move SlackCallbackResource into a separate class. Fix tests.
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/SlackCallbackResource.java
Due: google-style-java

ui: remove enumWithDescriptions property
  openmetadata-ui/src/main/resources/ui/playwright/constant/glossaryImportExport.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithCustomProperty/ModalWithCustomPropertyEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/EditCustomPropertyModal/EditCustomPropertyModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/PropertyValue.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/CustomProperty.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSV.utils.tsx
Due: lint-staged

Minor: Updated pyiceberg version to 0.5.1 (#18155)
  ingestion/setup.py
Due: none

add filtering test
  ingestion/tests/integration/integration_base.py
  ingestion/tests/integration/ometa/test_ometa_es_api.py
Due: none

Refactor AddCustomProperty component to remove unused EnumWithDescriptionsConfig import and property
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
Due: lint-staged

adding test to paginate with filters
  ingestion/tests/integration/integration_base.py
  ingestion/tests/integration/ometa/test_ometa_es_api.py
Due: none

fixed failing unit test
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteList/TestSuites.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityProvider.test.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
