Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

re-added the minor miss
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
Due: lint-staged

MINOR: Fix PII Column Bar Chart (#20772)
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v170/MigrationUtil.java
Due: google-style-java

Docs: Glue Pipeline Feature Updation (#20780)
  openmetadata-docs/content/v1.6.x/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/glue-pipeline/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/glue-pipeline/yaml.md
Due: none

Fix sonar issue, security hotspot issue and nested service connection object showing default filter pattern fields
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceConnectionUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceConnectionUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsTabUtils.tsx
Due: lint-staged

fix bot test
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/AssetsSelectionModal/AssetSelectionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddSubDomainModal/AddSubDomainModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/AccessTokenCard/AccessTokenCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddNotificationPage/AddNotificationPage.tsx
Due: lint-staged

changes as per comments
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithCustomProperty/ModalWithCustomPropertyEditor.component.tsx
Due: lint-staged

minor updates for edit config page
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Due: lint-staged

update field value boost options
  openmetadata-ui/src/main/resources/ui/playwright/utils/searchSettingUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/EntitySeachSettings/EntitySearchSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldConfiguration/fieldConfiguration.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/FieldValueBoostList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/field-value-boost-list.less
  openmetadata-ui/src/main/resources/ui/src/pages/SearchSettingsPage/SearchSettingsPage.tsx
Due: lint-staged

Fix the ConnectionConfigForm unit test
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.test.tsx
Due: lint-staged

Use Subset of Permissions
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
Due: google-style-java

added space
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
Due: lint-staged

use correct permissino to show add user option
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
Due: lint-staged

Fix sonar issue
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.tsx
Due: lint-staged

Added all domain button (#20777)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/DomainSelectableTree.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/domain-selectable.less
Due: lint-staged

Chore(ui): Minor bug fixes and improvements (#20774)
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DocumentationLinksClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceConnectionUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceConnectionUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsTabUtils.tsx
Due: lint-staged

add allowed field value boost (#20771)
  openmetadata-service/src/main/resources/json/data/searchSettings/searchSettings.json
  openmetadata-spec/src/main/resources/json/schema/configuration/searchSettings.json
  openmetadata-ui/src/main/resources/ui/playwright/utils/searchSettingUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/EntitySeachSettings/EntitySearchSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldConfiguration/fieldConfiguration.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/FieldValueBoostList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/field-value-boost-list.less
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/searchSettings.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SearchSettingsPage/SearchSettingsPage.tsx
Due: lint-staged

FIX: parsing error in case of special character in tag for BulkEdit/Import case (#20776)
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ModalWithCustomProperty/ModalWithCustomPropertyEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSVUtilsClassBase.tsx
Due: lint-staged

Custom tooltip for explore Tree (#20732)
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/ExploreTree.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/explore-tree.less
Due: lint-staged

Use Subset of Permissions for add delete Users in teams (#20783)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
Due: google-style-java, lint-staged

MINOR: Always Include DDL for Views
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/metadata.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/hive/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/metadata.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
Due: none

reverted table fixed header changes
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamImportResult/TeamImportResult.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/UserImportResult/UserImportResult.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityProvider.test.tsx
Due: lint-staged

reverted table fixed header changes (#20785)
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/CustomPropertyTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamImportResult/TeamImportResult.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/UserImportResult/UserImportResult.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityProvider.test.tsx
Due: lint-staged

fix scrolling issue for form with reflex elm
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuiteStepper/TestSuiteStepper.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizablePanels.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/ResizablePanels/ResizablePanels.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddCustomMetricPage/AddCustomMetricPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddNotificationPage/AddNotificationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AddObservabilityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Configuration/EditLoginConfiguration/EditLoginConfigurationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Configuration/EditUrlConfiguration/EditUrlConfigurationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditConnectionFormPage/EditConnectionFormPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditEmailConfigPage/EditEmailConfigPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/AddKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KPIPage/EditKPIPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineageConfigPage/LineageConfigPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/AddMetricPage/AddMetricPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/add-edit-form-steps.less
  openmetadata-ui/src/main/resources/ui/src/styles/layout.less
Due: lint-staged

fix the search cases
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/explore-search-card.less
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchedData/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolderES.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/FilterErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/AdvancedSearch.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ExplorePage/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExploreUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Due: lint-staged

fix locales
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

fix the suggestion not visible for nested columns
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableDescription/TableDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLink.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

fix search
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/entity-lineage.style.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/left-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/DomainSelectableTree.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableTree/DomainSelectableTree.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Due: lint-staged

fix(ingestion): Correct Topic import in Kinesis source
  ingestion/src/metadata/ingestion/source/messaging/kinesis/metadata.py
Due: none

add test case
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageSearchSelect/LineageSearchSelect.tsx
Due: lint-staged

hide lineage search for higher level layers
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageSearchSelect/LineageSearchSelect.tsx
Due: lint-staged

fix the playwright test
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
Due: lint-staged

fix(ingestion): Handle missing NextToken field in Kinesis response
  ingestion/src/metadata/ingestion/source/messaging/kinesis/metadata.py
Due: none

fix(ingestion): Correct Topic import in Kinesis source (#20787)
  ingestion/src/metadata/ingestion/source/messaging/kinesis/metadata.py
Due: none

FIX CL-#1427 - PATCH applies inherited owners (#20759)
  ingestion/tests/integration/ometa/test_ometa_patch.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

minor updates for edit config page (#20781)
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
