Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

updated MUI colors
  openmetadata-ui-core-components/src/main/resources/ui/src/colors/generateMuiPalettes.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/createMuiTheme.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/types.ts
Due: lint-staged

fix failing spec
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnersSection/OwnersSection.tsx
Due: lint-staged

handle permission related changes
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointSchema/APIEndpointSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerWidget/ContainerWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/ColumnDetailPanel/ColumnDetailPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/ColumnDetailPanel/ColumnDetailPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityRightPanel/EntityRightPanelVerticalNav.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityRightPanel/EntityRightPanelVerticalNav.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityRightPanel/EntityRightPanelVerticalNav.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineTaskTab/PipelineTaskTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTab/SearchIndexFieldsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

fix failing tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/RightEntityPanelFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DataProductsSection/DataProductsSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TagsSection/TagsSection.tsx
Due: lint-staged

handle permission
  openmetadata-ui/src/main/resources/ui/src/components/Database/ColumnDetailPanel/withColumnDetailPanel.tsx
Due: lint-staged

Add uniqueness for test namespace
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/util/TestNamespace.java
Due: google-style-java

Add more coverage data product moving domains
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DataProductDomainMigrationIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
Due: google-style-java

feat(tests): enhance TableRowInsertedCount test with new parameters and column selection
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TableLevelTests.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
Due: lint-staged

fix failing test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
Due: lint-staged

improved test parallel working
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TableLevelTests.spec.ts
Due: lint-staged

fix snowflake tag ingestion (#25015)
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
Due: none

chore(ui): bump qs & @tiptap/extension-link packages to non-vulnerable (#25023)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

add prefix matching in domain (#25002)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DomainFilterQueryFilter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Due: lint-staged

Moved integration TC to new structure
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/UserResourceIT.java
Due: google-style-java

fix specs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataProductRename.spec.ts
Due: lint-staged

fix(ui): update token expiry to unlimited for SCIM
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/AuthMechanisamForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/AuthMechanismForm.tsx
Due: lint-staged

Bugfix/node with full path (#25010)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNodeV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/LineageNodeLabelV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/custom-node.less
Due: lint-staged

Revert "fix: OOM issue when processing large CSV files by allowing a maximum of 5 chunks"
  ingestion/src/metadata/readers/dataframe/dsv.py
  ingestion/tests/unit/test_dsv_reader.py
Due: none

Add opt-in SSO auto-redirect on sign-in page (#24872)
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/authenticationConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LoginPage/SignInPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Due: google-style-java, lint-staged

Fix DatabaseResource and Type Resource
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/types/TypeResource.java
Due: google-style-java

fix(ui): migrate Users.spec.ts to use shared page fixtures
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
Due: lint-staged

Fix Table Resource and Service
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/services/databases/TableService.java
  openmetadata-service/src/test/java/org/openmetadata/service/services/databases/TableServiceTest.java
Due: google-style-java

fix reposition
  openmetadata-ui/src/main/resources/ui/src/utils/CoverImageUploadUtils.tsx
Due: lint-staged

Fix flaky tests
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/BaseEntityIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/BaseServiceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DataContractResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/LineageResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/SystemResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestCaseResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/UserResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/util/TestNamespace.java
Due: google-style-java

fix test failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/RightEntityPanelFlow.spec.ts
Due: lint-staged

ISSUE #22934 - Pinot Multi Stage + Percentile and Length function (#24983)
  ingestion/src/metadata/data_quality/source/test_suite.py
  ingestion/src/metadata/profiler/orm/functions/median.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/source/database/pinotdb/profiler_source.py
  ingestion/src/metadata/profiler/source/fetcher/profiler_source_factory.py
  ingestion/tests/unit/profiler/sqlalchemy/test_sample.py
Due: none

Performance improvement for apis, by caching User Context (#24920)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/UserResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Due: google-style-java

Performance improvement for apis, by caching User Context
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/SubjectContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Due: google-style-java

add log
  openmetadata-ui/src/main/resources/ui/src/utils/CoverImageUploadUtils.tsx
Due: lint-staged

address gitar comments
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/AuthMechanismForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/AuthMechanismForm.tsx
Due: lint-staged

Refactor: Update tab component to use global font size
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/tab-theme.ts
Due: lint-staged

fix glossary spec failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryAdvancedOperations.spec.ts
Due: lint-staged

fix tag and glossary term getting lost on data product rename
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DataProductResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataProductRepository.java
Due: google-style-java

fix i8n
  openmetadata-ui/src/main/resources/ui/src/utils/CoverImageUploadUtils.tsx
Due: lint-staged

security: Remove sensitive OAuth tokens and authorization codes from log statements
  openmetadata-mcp/docs/MCP_OAUTH_IMPLEMENTATION.md
  openmetadata-mcp/docs/MCP_TESTING_GUIDE.md
  openmetadata-mcp/scripts/mcp-oauth-tests/README.md
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/server/auth/provider/ConnectorOAuthProvider.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/server/auth/repository/OAuthAuthorizationCodeRepository.java
Due: google-style-java

Fix one off indexing in TableRepository, Parents comparison
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DirectoryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DriveServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FileRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SpreadsheetRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorksheetRepository.java
Due: google-style-java
