Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

fix(ui): support modern computed colors
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphStyles.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/common/cssColor.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/common/cssColor.utils.ts
Due: lint-staged

fix(1.13): close remaining IT races
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/BaseEntityIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/GlossaryTermMoveApprovalIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/WorkflowDefinitionResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchRepositoryBehaviorTest.java
Due: google-style-java

feat(ui): support AntD's controlled column filters (filteredValue)
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/TableV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/__tests__/TableV2.parity.test.tsx
Due: lint-staged

build(docker): base on distroless java21-debian13, drop the jlink stage
  docker/development/Dockerfile
  docker/docker-compose-quickstart/Dockerfile
  scripts/docker_smoke_test.sh
Due: none

style(ui): organise the imports the merge queue flagged
  openmetadata-ui/src/main/resources/ui/src/components/LineageTable/LineageTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/WorkflowExecutionHistory.tsx
Due: lint-staged

Backport to 1.13: stop re-parsing the whole DAG folder on every deploy (#32005) + scale the deploy-pipelines deadline (#31976) (#32100)
  openmetadata-airflow-apis/openmetadata_managed_apis/api/utils.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/deploy.py
  openmetadata-airflow-apis/tests/integration/operations/test_airflow_ops.py
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_get_dagbag.py
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/OpenMetadataOperationsDeployPipelinesTest.java
Due: google-style-java

fix(apps): authorize App patch before the entity lookup
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/AppOperationPermissionsIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Due: google-style-java

Fix Python checkstyle
  openmetadata-airflow-apis/tests/unit/ingestion_pipeline/test_get_dagbag.py
Due: none

style(ui): prettier-normalise the reorganised imports
  openmetadata-ui/src/main/resources/ui/src/components/LineageTable/LineageTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/WorkflowDefinitions/WorkflowBuilder/WorkflowExecutionHistory.tsx
Due: lint-staged

Fix incident severity class iteration
  openmetadata-service/src/main/java/org/openmetadata/service/util/incidentSeverityClassifier/LogisticRegressionIncidentSeverityClassifier.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/incidentSeverityClassifier/LogisticRegressionIncidentSeverityClassifierTest.java
Due: google-style-java

refactor(rdf): share background task scheduler
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/bootstrap/TestSuiteBootstrap.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/distributed/RdfOrphanJobMonitor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/distributed/RdfPollingJobNotifier.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfBackgroundScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/RdfRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/rdf/distributed/RdfOrphanJobMonitorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/RdfBackgroundSchedulerTest.java
Due: google-style-java

docs(docker): correct the smoke-test wording and drop the dead filter entry
  .github/workflows/openmetadata-service-unit-tests.yml
  scripts/docker_smoke_test.sh
Due: none

ci(ui-checkstyle): cap `changed_files` output at 16 KiB to survive template evaluator
  .github/workflows/ui-checkstyle.yml
Due: none

fix(mcp): make the lineage permission filter fail closed and batch its checks
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetEntityTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetLineageTool.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/util/McpResponseTrim.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/LineageRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/lineage/LineagePermissionFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ResourceContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/lineage/LineagePermissionFilterTest.java
Due: google-style-java

Fix UI checkstyle
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TableAliases.spec.ts
Due: lint-staged

test(1.13): order workflow trigger setup
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/WorkflowDefinitionResourceIT.java
Due: google-style-java

lint fix
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/RelatedDataAssets/RelatedDataAssetsForm.tsx
Due: lint-staged

ci: resolve Actions code-scanning alerts
  .github/actions/setup-openmetadata-test-environment/action.yml
  .github/trivy/templates/github.tpl
  .github/workflows/docker-k8s-operator.yml
  .github/workflows/docker-openmetadata-db.yml
  .github/workflows/docker-openmetadata-ingestion-base-slim.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/docker-openmetadata-postgres.yml
  .github/workflows/docker-openmetadata-server.yml
  .github/workflows/playwright-e2e-reusable.yml
  .github/workflows/python-packages-publish.yml
  .github/workflows/security-scan.yml
  .github/workflows/trivy-scan-ingestion-base-slim-image.yml
  .github/workflows/trivy-scan-ingestion-image.yml
  .github/workflows/trivy-scan-openmetadata-server.yml
Due: none

test(mcp): cover pipeline redaction and temp-table SQL gating in lineage edges
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/GetLineageToolTest.java
Due: google-style-java

ci: trim fork-guard comments to one-liners
  .github/actions/setup-openmetadata-test-environment/action.yml
  .github/workflows/docker-k8s-operator.yml
  .github/workflows/docker-openmetadata-server.yml
  .github/workflows/playwright-e2e-reusable.yml
  .github/workflows/security-scan.yml
Due: none

Fixes #32428: unblock UI Checkstyle and make Playwright lint failures readable (#32429)
  .github/workflows/ui-checkstyle.yml
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchSettings.spec.ts
Due: lint-staged

fix(ui): let max-content tables size by content, restore the glossary columns
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/TableV2.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryPureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
Due: lint-staged

fix(ui): dismiss destination selection warning
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Alerts/DestinationFormItem/DestinationSelectItem/DestinationSelectItem.tsx
Due: lint-staged

Fixes #21054: Oracle query history fails with ORA-00933 on Oracle 11g (#32310)
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/tests/unit/source/database/oracle/test_queries.py
Due: none

Remove redundant termsRefreshTrigger badge-refresh plumbing
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/useGlossary.store.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Glossary/GlossaryTermUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Glossary/GlossaryTermUtils.tsx
Due: lint-staged

style(ui): sort the scroll prop where the linter wants it
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Due: lint-staged

Bump antlr4 to ^4.13.2, use its package-root ParseTreeWalker export
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/@types/antlr-parser.d.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLink.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Fqn.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

fix(profiler): handle Databricks profiling edge cases
  ingestion/src/metadata/ingestion/ometa/mixins/progress_mixin.py
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/databricks/test_databricks_sampling.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/databricks/test_visit_column.py
  ingestion/tests/unit/observability/profiler/test_table_metric_computer.py
  ingestion/tests/unit/ometa/test_progress_mixin_transport.py
Due: none

fix(profiler): retain verified Databricks changes
  ingestion/src/metadata/ingestion/ometa/mixins/progress_mixin.py
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/databricks/test_databricks_sampling.py
  ingestion/tests/unit/ometa/test_progress_mixin_transport.py
Due: none

fix(profiler): handle Databricks profiling edge cases
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_computer.py
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/databricks/test_databricks_sampling.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/databricks/test_visit_column.py
  ingestion/tests/unit/observability/profiler/test_table_metric_computer.py
  ingestion/tests/unit/ometa/test_progress_mixin_transport.py
Due: none

fix(profiler): retain verified Databricks changes
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/databricks/test_databricks_sampling.py
  ingestion/tests/unit/ometa/test_progress_mixin_transport.py
Due: none

fix: mask PubSub credentials in backend (#32102) (#32135) (#32390)
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/PubSubConnectionClassConverter.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/converter/ClassConverterFactoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/masker/TestEntityMasker.java
Due: google-style-java

Fixes #32092: emit ChangeEvents for bulk entity updates (#32350)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/BulkChangeEventIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

Revert "Bump antlr4 to ^4.13.2, use its package-root ParseTreeWalker export"
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/@types/antlr-parser.d.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLink.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Fqn.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

fix(profiler): adapt Databricks backport to 1.13
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
  ingestion/tests/unit/observability/profiler/sqlalchemy/databricks/test_databricks_sampling.py
  ingestion/tests/unit/observability/profiler/test_table_metric_computer.py
Due: none

fix(mcp): withhold lineage pipelines that cannot be identified, add integration coverage
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/mcp/McpIntegrationIT.java
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/GetLineageTool.java
Due: google-style-java

style(profiler): separate Databricks imports
  ingestion/src/metadata/profiler/interface/sqlalchemy/databricks/profiler_interface.py
  ingestion/src/metadata/sampler/sqlalchemy/databricks/sampler.py
Due: none

organize impersonation (#32353)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/BotImpersonationIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/UserImportPrivilegeEscalationIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/ImpersonationAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/ImpersonationContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/ImpersonationRestrictionFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/ImpersonationRestrictionFilterTest.java
Due: google-style-java

fix(ui): use TooltipTrigger in TagBadgeList and add unit tests
  openmetadata-ui/src/main/resources/ui/src/components/common/TagBadgeList/TagBadgeList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TagBadgeList/TagBadgeList.test.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
