Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

fix(userPreferences): serialize per-user read-modify-write with Striped locks
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserPreferencesRepository.java
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/currentUserStore/useCurrentUserStore.ts
Due: google-style-java, lint-staged

fix(security): move ingestion images to Python 3.12, upgrade datamodel-code-gen [2.0 backport]
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/airflow-constraints-3.2.2.txt
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile.ci
  ingestion/setup.py
  ingestion/src/metadata/ingestion/connections/builders.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/api_source.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/mixin.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/utils/dependency_injector/dependency_injector.py
  ingestion/tests/integration/data_quality/test_data_quality.py
  scripts/datamodel_generation.py
Due: none

feat(ui): team quick info popover on entity owner chips (1.13, no React Query) (#31226)
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerAvatarStack.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerTeamList/OwnerTeamList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/PopoverContent.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/PopoverContent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/PopoverTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/PopoverTitle.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/TeamPopoverContent.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/TeamPopoverContent.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/TeamPopoverTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/TeamPopoverTitle.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserRoles.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserTeams.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserTeams.test.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/popover/useEntityPopoverData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/popover/useEntityPopoverData.ts
Due: lint-staged

fix(ui): fix version drawer overlap and article diff in ContextCenter (#31216)
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/FileNode.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/File/FileNodeView.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageVersion/KnowledgePageVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArticlesPage/ContextCenterArticlesPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/KnowledgePageVersionPage/KnowledgePageVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityDiffUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityDiffUtils.tsx
Due: lint-staged

fix(ui): caller-decided compact variant, 16px default gutter, class-based fullHeight
  openmetadata-ui/src/main/resources/ui/src/components/DataProduct/DataProductListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DomainListing/DomainListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PageLayoutV1/PageLayoutV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PageLayoutV1/PageLayoutV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnBulkOperations.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/OntologyExplorerPage/OntologyExplorerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/WorkflowDefinitions/WorkflowBuilder/WorkflowBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/WorkflowDefinitions/WorkflowsPage/WorkflowsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/layout/page-layout.less
Due: lint-staged

fix(security): close SSRF, pandas RCE, and PowerBI path traversal
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/file_client.py
  ingestion/src/metadata/sampler/pandas/burstiq/sampler.py
  ingestion/src/metadata/sampler/pandas/sampler.py
  ingestion/tests/unit/sampler/test_pandas_sample_query_sandbox.py
  ingestion/tests/unit/topology/dashboard/test_powerbi_download_path.py
  openmetadata-service/src/main/java/org/openmetadata/service/util/URLValidator.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/URLValidatorTest.java
Due: google-style-java

Fixed context center bugs (#31118)
  openmetadata-service/src/main/java/org/openmetadata/service/drive/ContextFileExtractionService.java
  openmetadata-service/src/test/java/org/openmetadata/service/drive/ContextFileExtractionServiceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterDashboard.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterPermission.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ArchiveView/ArchiveView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextKnowledgePillarCard/ContextKnowledgePillarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextKnowledgePillarCard/ContextKnowledgePillarCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextKnowledgePillarCard/ContextKnowledgePillarCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/ContextSimplePillarCard/ContextSimplePillarCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/CreateMemoryModal/CreateMemoryModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DashboardFoldersCard/DashboardFoldersCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DashboardFoldersCard/DashboardFoldersCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DashboardFoldersCard/DashboardFoldersCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadDocumentModal/UploadDocumentModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/UploadDocumentModal/UploadDocumentModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetSelectList/DataAssetPickerShell.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgePageListComponent/KnowledgePageListComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterArchivePage/ContextCenterArchivePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDashboardPage/ContextCenterDashboardPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterDocumentsPage/ContextCenterDocumentsPage.tsx
Due: google-style-java, lint-staged

fix(ingestion): fix Prefect connector basedpyright errors
  ingestion/src/metadata/ingestion/source/pipeline/prefect/metadata.py
  ingestion/tests/unit/topology/pipeline/test_prefect.py
Due: none

refactor(ui): drop pageContainerStyle/pageContainerStyles from PageLayoutV1
  openmetadata-ui/src/main/resources/ui/src/components/PageLayoutV1/PageLayoutV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PageLayoutV1/PageLayoutV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/WorkflowDefinitions/WorkflowsPage/WorkflowsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/layout/page-layout.less
Due: lint-staged

fix(ingestion): regenerate basedpyright baseline for datamodel-code-generator 0.64.0
  ingestion/.basedpyright/baseline.json
Due: none

Fixes #31198: return 400 with the correct field name when a patch uses a renamed field (#31199)
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/DefaultToolContext.java
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/DefaultToolContextTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/JsonUtilsTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/utils/JsonUtils.java
Due: google-style-java

fix(security): bump tomcat-jdbc/tomcat-juli to 11.0.11 (CVE-2025-55754) (#31258)
  pom.xml
Due: none

fix(security): bump reactor-netty-http to 1.2.18 (CVE-2026-41715) (#31257)
  pom.xml
Due: none

Fixes 31156: release TipTap editors on unmount and load the ELK layout engine on demand (#31157)
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/hooks/useCustomEditor.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/hooks/useCustomEditor.ts
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageLayoutUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Lineage/Layout/ElkLayoutUtils.ts
Due: lint-staged

fix(tasks): return 409 CONFLICT on lost resolve race (M1)
  openmetadata-service/src/main/java/org/openmetadata/service/exception/TaskStateConflictException.java
  openmetadata-service/src/main/java/org/openmetadata/service/tasks/TaskWorkflowHandler.java
Due: google-style-java

fix(kafkaconnect): resolve table FQN by database-service class
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/metadata.py
  ingestion/tests/unit/topology/pipeline/test_kafkaconnect.py
Due: none

fix(tableau): type column lineage FQNs as FullyQualifiedEntityName
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Due: none

style(fivetran): apply ruff format after test fixture rename
  ingestion/tests/unit/topology/pipeline/test_fivetran.py
Due: none

fix(ui): address activity feed review comments
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBodyV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtilsPure.getFeedCounts.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtilsPure.ts
Due: lint-staged

fix(ui): keep run cards aligned and copy only the raw logs
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/RunHistoryDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/RunHistoryDrawer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/RunStepRow.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/RunStepRow.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/Steps/Steps.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TagsSection/TagsSection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EmbeddedAddServicePage/EmbeddedAddServicePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServicePureUtils.ts
Due: lint-staged

fix(data-quality): refine last run banner layout and coverage
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataQuality.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/DataQuality.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/DataQualityPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/Profiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TestCaseIncidentPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TestCaseResultPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/FailedTestCaseSampleData.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VersionPages/TestCaseVersionPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/testCases.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/ExpandableBannerText.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/ExpandableBannerText.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/IncidentManagerPageHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/LastRunTime.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/NoRunBanner.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/ResultExpected.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/RunDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/TestCaseLastRunBanner.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/TestCaseLastRunBanner.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/TestCaseLastRunBanner.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/TestCaseLastRunBanner.utils.ts
Due: lint-staged

fix(ui): keep marketplace widget spacing uniform by flowing the reader layout
  openmetadata-ui/src/main/resources/ui/src/pages/DataMarketplacePage/DataMarketplacePage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataMarketplace/DataMarketplaceClassBase.ts
Due: lint-staged

fix(ui): make Domain and Data Product lists fit the viewport in AI mode
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/table/table.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProduct/DataProductListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DomainListing/DomainListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityListingTable/EntityListingTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityListingTable/EntityListingTable.interface.ts
Due: lint-staged

fix(ui): memoise marketplace widgets on the resolved direction
  openmetadata-ui/src/main/resources/ui/src/pages/DataMarketplacePage/DataMarketplacePage.component.tsx
Due: lint-staged

fix(ui): improve AutoClassification advanced config layout and language labels
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/IngestionObjectFieldTemplate/IngestionObjectFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionWorkflowForm/IngestionWorkflowForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilderV1/widgets/CoreInputWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilderV1/widgets/CoreSelectWidget.tsx
Due: lint-staged

fix(ingestion): Powerbi ingestion exhaust enpoint rate limit when calling getgroupsasadmin (#30954)
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/tests/unit/topology/dashboard/test_powerbi_client.py
Due: none

Fixes 31190: declare policyAgentConfig on the Unity Catalog connection (#31191)
  bootstrap/sql/migrations/native/2.0.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/2.0.0/postgres/postDataMigrationSQLScript.sql
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/unityCatalogConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/unityCatalogConnection.ts
Due: lint-staged

fix(ui): let the compact variant own AI-mode padding on list pages
  openmetadata-ui/src/main/resources/ui/src/components/DataProduct/DataProductListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DomainListing/DomainListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/WorkflowDefinitions/WorkflowsPage/WorkflowsPage.tsx
Due: lint-staged

changed approach for validation of databricks source to be compatible with other source definitions if eventually they change/add more databricks sources in powerBI
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Due: none

applied suggested fix in PR + added regression for multicloud while not modifying existing azure regression test
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/tests/unit/topology/dashboard/test_powerbi.py
Due: none

fix: format PowerBI multicloud regression
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/tests/unit/topology/dashboard/test_powerbi.py
Due: none

fix(ingestion): Powerbi ingestion exhaust enpoint rate limit when calling getgroupsasadmin (#30954) (#31283)
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/tests/unit/topology/dashboard/test_powerbi_client.py
Due: none

fix(ingestion): fix Prefect connector basedpyright errors (#31279)
  ingestion/src/metadata/ingestion/source/pipeline/prefect/metadata.py
  ingestion/tests/unit/topology/pipeline/test_prefect.py
Due: none

fix(ui): address PR review feedback on CoreInputWidget and CoreSelectWidget
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilderV1/widgets/CoreInputWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilderV1/widgets/CoreSelectWidget.tsx
Due: lint-staged

fix(e2e): remove redundant beforeAll ES indexing wait in AdvancedSearch
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AdvancedSearch.spec.ts
Due: lint-staged

fix(ui): keep the marketplace widget gap at the spacing main rendered
  openmetadata-ui/src/main/resources/ui/src/pages/DataMarketplacePage/DataMarketplacePage.component.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
