Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Add includeAggregates option to the search API
  ingestion/src/metadata/sdk/api/search.py
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/services/search/SearchAPI.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSourceBuilderFactory.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/SearchResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/search/searchRequest.json
Due: google-style-java

UC Connector: Add S3 bucket lineage to tables
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/external_table_lineage_mixin.py
  ingestion/tests/unit/topology/database/test_databricks_external_lineage.py
Due: none

Add pagination for snowflake usage and lineage queries sql
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/query_parser.py
  ingestion/src/metadata/ingestion/source/database/snowflake/usage.py
Due: none

Add support for fetching from system tables
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/src/metadata/ingestion/source/database/external_table_lineage_mixin.py
  ingestion/tests/unit/topology/database/test_databricks_external_lineage.py
Due: none

py_format
  ingestion/src/metadata/ingestion/source/database/snowflake/lineage.py
Due: none

Bump datamodel-code-generator to 0.34.0
  .github/workflows/py-nox-ci.yml
  ingestion/setup.py
Due: none

Refactor the databricks connector
  ingestion/src/metadata/ingestion/source/database/databricks/external_location_manager.py
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/external_table_lineage_mixin.py
  ingestion/tests/unit/topology/database/test_databricks_external_lineage.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
Due: none

Feat : Support field pagination
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/domains/DomainResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/DefaultInheritedFieldEntitySearch.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/InheritedFieldEntitySearch.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/FieldPagination.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/FieldPaginationTest.java
Due: google-style-java

addressing comment
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
Due: lint-staged

Add downstream lineage linking
  ingestion/src/metadata/ingestion/source/database/unitycatalog/lineage.py
  ingestion/tests/unit/lineage/test_unitycatalog_lineage.py
Due: none

parse multiple tables lineage
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/tests/unit/topology/dashboard/test_powerbi.py
Due: none

feat: added s3 to table lineage
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/metadata.py
  ingestion/tests/unit/topology/pipeline/test_databricks_pipeline.py
Due: none

Pin down pydantic to <2.12
  ingestion/setup.py
Due: none

Revert "Bump datamodel-code-generator to 0.34.0"
  .github/workflows/py-nox-ci.yml
  ingestion/setup.py
Due: none

fix domains spec
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
Due: lint-staged

chore: implement logger levels tests for depreciation
  ingestion/tests/integration/test_deprecation_logger_level.py
Due: none

fix: use METADATA_LOGGER instead of warnings
  ingestion/src/metadata/utils/deprecation.py
Due: none

use unit test syntax
  ingestion/tests/integration/test_deprecation_logger_level.py
Due: none

add activity feed
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.inteface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
Due: lint-staged

fix(ui): updated default font size to 14px and grey color based on style guide
  openmetadata-ui-core-components/src/main/resources/ui/src/colors/defaultColors.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/createMuiTheme.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: lint-staged

added all operator test for owners
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContractsSemanticRules.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
Due: lint-staged

MINOR: iceberg load table retry backoff (#23579)
  ingestion/src/metadata/ingestion/source/database/iceberg/metadata.py
  ingestion/tests/unit/topology/database/test_iceberg.py
Due: none

Fixes #22302: add `table2.keyColumns` parameter for table diff validation (#23667)
  bootstrap/sql/migrations/native/1.11.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.11.0/postgres/postDataMigrationSQLScript.sql
  ingestion/src/metadata/data_quality/validations/models.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/base_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/table_diff_params_setter.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
  ingestion/tests/unit/data_quality/validations/runtime_param_setter/test_table_diff_params_setter.py
  ingestion/tests/unit/data_quality/validations/table/__init__.py
  ingestion/tests/unit/data_quality/validations/table/sqlalchemy/__init__.py
  ingestion/tests/unit/data_quality/validations/table/sqlalchemy/test_table_diff.py
  ingestion/tests/unit/metadata/data_quality/test_data_diff.py
  openmetadata-service/src/main/resources/json/data/tests/tableDiff.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
Due: lint-staged

fix tag spec
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Due: lint-staged

Pin `pydantic` to <2.12.0 (#23782)
  ingestion/setup.py
Due: none

NotificationTemplate Schema and Repository Improvements
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/NotificationTemplateRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/NotificationTemplateMapper.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/NotificationTemplateResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/events/notificationTemplate.json
Due: google-style-java

Add storybook to component library
  openmetadata-ui-core-components/src/main/resources/ui/.storybook/main.ts
  openmetadata-ui-core-components/src/main/resources/ui/.storybook/preview.tsx
  openmetadata-ui-core-components/src/main/resources/ui/package.json
  openmetadata-ui-core-components/src/main/resources/ui/src/stories/CheckboxIcons.stories.tsx
  openmetadata-ui-core-components/src/main/resources/ui/yarn.lock
Due: lint-staged

fix(ui): apply GlobalStyles for consistent font size of 14px across the application
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: lint-staged

Add storybook to component library (#23771)
  openmetadata-ui-core-components/src/main/resources/ui/.storybook/main.ts
  openmetadata-ui-core-components/src/main/resources/ui/.storybook/preview.tsx
  openmetadata-ui-core-components/src/main/resources/ui/package.json
  openmetadata-ui-core-components/src/main/resources/ui/src/stories/CheckboxIcons.stories.tsx
  openmetadata-ui-core-components/src/main/resources/ui/yarn.lock
Due: lint-staged

supported addition test for description operator
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContractsSemanticRules.spec.ts
Due: lint-staged

fix failing specs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceListing.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DataProductsTab/DataProductsTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
Due: lint-staged

Fix: Showing validation error if user enter duplicate service name
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/Steps/ConfigureService.tsx
Due: lint-staged

feat: Unity Catalog Lineage Enhancement: External Location Support
  ingestion/src/metadata/ingestion/source/database/unitycatalog/client.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/lineage.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/models.py
  ingestion/src/metadata/ingestion/source/storage/s3/metadata.py
  ingestion/tests/unit/topology/database/test_unity_catalog_lineage.py
Due: none

fix the bulk import column name contains dot in it
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSV.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSVUtilsClassBase.tsx
Due: lint-staged

Fix #23754: test suite owner is getting blocked when trying to add test cases to a bundle suite (#23755)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuite.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
Due: google-style-java, lint-staged

fix build
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
Due: google-style-java

Fix: validate service name field on field change instead of form submit
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddService/Steps/ConfigureService.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/serviceAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Due: lint-staged

change the description value from empty quotes to undefined to get that removed from data asset and the validation should work correctly on this
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContractsSemanticRules.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Due: lint-staged

Fix #23754: test suite owner is getting blocked when trying to add test cases to a bundle suite
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuite.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
Due: google-style-java, lint-staged
