Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/hadialqattan/pycln
    rev: v1.2.4
    hooks:
      - id: pycln
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 100 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

minor: display factor inside fieldvalueboost
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/FieldValueBoostList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/FieldValueBoostList.tsx
Due: lint-staged

fix inline alert test
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineAlert/InlineAlert.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineAlert/InlineAlert.tsx
Due: lint-staged

fixed test cases
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.test.tsx
Due: lint-staged

Docs: RBAC Search Doc Updated
  openmetadata-docs/content/v1.6.x/how-to-guides/admin-guide/roles-policies/authorization.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/admin-guide/roles-policies/authorization.md
  openmetadata-docs/images/v1.6/how-to-guides/roles-policies/rbac-search.png
  openmetadata-docs/images/v1.7/how-to-guides/roles-policies/rbac-search.png
Due: none

Docs: RBAC Search Doc Updated (#20378)
  openmetadata-docs/content/v1.6.x/how-to-guides/admin-guide/roles-policies/authorization.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/admin-guide/roles-policies/authorization.md
  openmetadata-docs/images/v1.6/how-to-guides/roles-policies/rbac-search.png
  openmetadata-docs/images/v1.7/how-to-guides/roles-policies/rbac-search.png
Due: none

Add the workflow status banner
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-check-circle-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-error.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-loader.svg
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldConfiguration/field-configuration.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoost/term-boost.less
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/ServiceInsightsTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceInsights/service-insights-tab.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/SearchSettingsPage/search-settings.less
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/service-details-page.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceInsightsTabUtils.tsx
Due: lint-staged

make nlq service protected
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

Fix: Tableau CustomSQL datasource SQL not shown (#20377)
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Due: none

fix domains
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
Due: lint-staged

support custom navigation
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SettingsNavigationPage/SettingsNavigationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SettingsNavigationPage/settings-navigation-page.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizaNavigation/CustomizeNavigation.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizaNavigation/CustomizeNavigation.ts
Due: lint-staged

skip observability alert
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ObservabilityAlerts.spec.ts
Due: lint-staged

fix(ui): okta login clear state for avoid errors
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
Due: lint-staged

add fallback option
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/OktaAuthProvider.tsx
Due: lint-staged

style fix
  ingestion/src/metadata/profiler/orm/types/custom_time.py
Due: none

address pr comments
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewNew.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DiffViewNew.tsx
Due: lint-staged

address pr comments
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardFooter/FeedCardFooterNew.tsx
Due: lint-staged

minor: addressed pr comments
  openmetadata-ui/src/main/resources/ui/playwright/utils/searchSettingUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/FieldValueBoostList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/SettingItemCard/SettingItemCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/SettingItemCard/setting-item-card.style.less
  openmetadata-ui/src/main/resources/ui/src/constants/SearchSettings.constant.ts
Due: lint-staged

fix request paths
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TableConstraint.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceIngestion.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
Due: lint-staged

fix activity feed
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
Due: lint-staged

fix null query on es aggregation endpoint
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Due: google-style-java

wip
  ingestion/src/metadata/applicatons/example.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/trigger.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/application.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/MeteredPipelineServiceClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/HelloPipelines.json
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClientInterface.java
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/HelloPipelines.json
Due: google-style-java

fix unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericTab/GenericTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizaNavigation/CustomizeNavigation.ts
Due: lint-staged

fix the loading infinite
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/context/WebSocketProvider/WebSocketProvider.tsx
Due: lint-staged

revert unwanted code
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/context/WebSocketProvider/WebSocketProvider.tsx
Due: lint-staged

fix: logic of update glossaryTerm after status change
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/StatusBadge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/StatusBadge/status-badge.less
Due: lint-staged

Fix #20236: Handle Sample Data with non-utf8 characters
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
Due: none

address pr comment
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewNew.tsx
Due: lint-staged

fix for bq multi project
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/utils/credentials.py
Due: none

linter
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/utils/credentials.py
Due: none

tests
  ingestion/tests/unit/test_credentials.py
Due: none

fix(ui): fixes for search settings with ranking (#20359)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/searchSettingUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/EntitySeachSettings/EntitySearchSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/EntitySeachSettings/entity-search-settings.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldConfiguration/FieldConfiguration.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldConfiguration/fieldConfiguration.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/FieldValueBoostList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/FieldValueBoostList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostList/field-value-boost-list.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/FieldValueBoostModal/FieldValueBoostModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/SearchPreview/SearchPreview.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/SearchPreview/search-preview.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoost/TermBoost.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoost/TermBoost.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoost/term-boost.less
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoostList/TermBoostList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/SettingItemCard/SettingItemCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/SettingItemCard/setting-item-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/common/CollapseHeader/CollapseHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CollapseHeader/CollapseHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CollapseHeader/collapse-header.less
  openmetadata-ui/src/main/resources/ui/src/constants/SearchSettings.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingCategory/GlobalSettingCategoryPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/global-setting-page.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/SearchSettingsPage/SearchSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchSettingsPage/search-settings.less
Due: lint-staged

update tests
  openmetadata-ui/src/main/resources/ui/playwright/constant/sidebar.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeNavigation.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/SettingsNavigationPage/SettingsNavigationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SettingsNavigationPage/settings-navigation-page.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizaNavigation/CustomizeNavigation.ts
Due: lint-staged

remove domain
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Due: lint-staged

fixed metric text overflow
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/Database/RetentionPeriod/retention-period.less
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricHeaderInfo/metric-header-info.less
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainLabel/domain-label.less
  openmetadata-ui/src/main/resources/ui/src/components/common/NoOwner/NoOwnerFound.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/owner-label.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: lint-staged

fix tests
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/service.ts
Due: lint-staged

fix columns popup
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
Due: lint-staged

fix tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Roles.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Teams.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/src/components/NavBar/NavBar.tsx
Due: lint-staged

fix conflicts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBodyV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AppContainer/AppContainer.tsx
Due: lint-staged

fix tests for left side bar
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizaNavigation/CustomizeNavigation.ts
Due: lint-staged
