Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Added Quick Links and Article as Knowledge Resources as an Extension to Team Entity
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-spec/src/main/resources/json/schema/api/teams/createTeam.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/knowledgeResource.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/team.json
Due: google-style-java

fix: pluralize string
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsightV1.tsx
Due: lint-staged

fix: owner highlight feedback
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/user-select-dropdown.less
Due: lint-staged

refactor Es OS code
  .run/Template JUnit.run.xml
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/AlertUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityBuilderConstant.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/IndexUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchDataInsightProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchEntitiesProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/SearchIndexWorkflow.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
Due: google-style-java

fix: code smells
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.tsx
Due: lint-staged

fix sonarcloud
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.test.tsx
Due: lint-staged

added schema fields in database metadata, usage, lineage
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: lint-staged

fix: flaky test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.js
Due: lint-staged

fix: review feedbacks
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.tsx
Due: lint-staged

feat(ui): supported read more in for tags on entity pages (#12569)
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/ContainerSummary/ContainerSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/DashboardSummary/DashboardSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/MlModelSummary/MlModelSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/PipelineSummary/PipelineSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TableSummary/TableSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/TopicSummary/TopicSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableDataCardBody/TableDataCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/tags-viewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SummaryTagsDescription/SummaryTagsDescription.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Due: lint-staged

fix date issues in table profile
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
Due: google-style-java

fix: tier ordering
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChartV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
Due: lint-staged

ui: fixed ingestion button redirection issue, testCase api call issue
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestCaseCommonTabContainer/TestCaseCommonTabContainer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.tsx
Due: lint-staged

cypress fixed
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
Due: lint-staged

moved bq condition
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/utils/helpers.py
Due: none

fix(ui): loader on data quality page (#12566)
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/SummaryPannel/SummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataQuality/DataQualityPage.tsx
Due: lint-staged

fix: revert webpack file
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
Due: lint-staged

refactoring Es OS code
  openmetadata-service/src/main/java/org/openmetadata/service/search/EntityBuilderConstant.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticSearch/ElasticSearchClientImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/openSearch/OpenSearchClientImpl.java
Due: google-style-java

ui: fixed ingestion button redirection issue, testCase api call issue (#12575)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestCaseCommonTabContainer/TestCaseCommonTabContainer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteIngestionPage/TestSuiteIngestionPage.tsx
Due: lint-staged

fix: fqn encoding fixes (#12554)
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedProvider/ActivityFeedProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChartV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPILatestResultsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsightV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuites/TestSuites.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQuickFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/AnnouncementModal/AddAnnouncementModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/SearchDropdown/SearchDropdown.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamHierarchy.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/UserSelectableList/user-select-dropdown.less
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/AnnouncementDrawer/AnnouncementDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddDataInsightReportAlert/AddDataInsightReportAlert.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryLeftPanel/GlossaryLeftPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesListPage/PoliciesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/TeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

chore: feed and task improvements (#12567)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/Task.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedDrawer/ActivityFeedDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/ActivityFeedPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Task/TaskTab/TaskTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Due: lint-staged

test(ui): e2e activity feed tests
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Reactions/Reactions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.component.tsx
Due: lint-staged

support mention tests for feed widget
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/ActivityFeed.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.component.tsx
Due: lint-staged

fix date issues in table profile (#12574)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
Due: google-style-java

fixed: Show parent container in breadcrumbs of container search results #12552
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

hardcore RUN_ELASTIC_SEARCH_TESTCASES value to true
  openmetadata-service/src/test/java/org/openmetadata/service/OpenMetadataApplicationTest.java
Due: google-style-java

Add changes for kubernetes deployment docs
  openmetadata-docs/content/v1.1.0/deployment/kubernetes/index.md
  openmetadata-docs/content/v1.1.0/menu.md
  openmetadata-docs/content/v1.1.0/quick-start/index.md
  openmetadata-docs/content/v1.1.0/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.1.0/quick-start/local-kubernetes-deployment.md
  openmetadata-docs/images/v1.1.0/deployment/kubernetes/kubernetes-architecture-prod.png
Due: none

chore(client): new UI for the tier-card (#12536)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/tier-card.style.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: lint-staged

test ase fix
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
Due: google-style-java

Modify Sample Data
  ingestion/examples/sample_data/profiler/tableProfile.json
Due: none

fix: add lineage breadcrumbs
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/LineageNodeLabelV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/custom-node.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

Fixes 12224: Can't ingest binary sample data (#12564)
  ingestion/src/metadata/profiler/orm/converter/snowflake/converter.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/orm/types/custom_hex_byte_string.py
Due: none

add logged in User Knowledge Api
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
Due: google-style-java

Support Azure Datalake Test Connection fixes
  ingestion/src/metadata/ingestion/source/database/datalake/connection.py
Due: none

typos
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
Due: google-style-java

Add DateTimeRange
  ingestion/src/metadata/ingestion/source/database/column_type_parser.py
  ingestion/src/metadata/ingestion/source/sqa_types.py
  ingestion/src/metadata/profiler/orm/converter/common.py
  ingestion/src/metadata/profiler/orm/registry.py
  ingestion/src/metadata/profiler/orm/types/custom_datetimerange.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Due: none

security-scan fix
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
Due: none

added node-sql-parser package
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

fix ui breaking on column task thread select and user profile display name
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UsersProfile/UserProfileDetails/UserProfileDetails.component.tsx
Due: lint-staged

chore(client): sql query validation in add query
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
