Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

fixed playwright tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterMemories.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterPermission.spec.ts
Due: lint-staged

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/DashboardFoldersCard/DashboardFoldersCard.component.tsx
Due: lint-staged

Fixes #29336: support Cohere and Titan v1 embeddings on Bedrock (#29337)
  openmetadata-service/src/main/java/org/openmetadata/service/search/vector/OpenSearchVectorService.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/vector/client/BedrockEmbeddingClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/vector/client/EmbeddingClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/vector/OpenSearchVectorServiceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/vector/client/BedrockEmbeddingClientTest.java
Due: google-style-java

Remove redundant delete support for metric list page
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.tsx
Due: lint-staged

fix(ingestion): correct the AWS error codes and diagnoses against the AWS docs
  ingestion/src/metadata/core/connections/test_connection/aws.py
  ingestion/src/metadata/ingestion/source/database/glue/connection.py
  ingestion/tests/unit/core/connections/test_connection/test_aws.py
  ingestion/tests/unit/source/database/athena/test_connection.py
  ingestion/tests/unit/source/database/glue/test_connection.py
  ingestion/tests/unit/source/storage/s3/test_connection.py
Due: none

Address review: single-probe half-open + non-null circuit cause
  openmetadata-service/src/main/java/org/openmetadata/service/search/vector/client/EmbeddingClient.java
Due: google-style-java

isAvailable() also fast-fails during the half-open probe window
  openmetadata-service/src/main/java/org/openmetadata/service/search/vector/client/EmbeddingClient.java
Due: google-style-java

docs(ingestion): trim comments to the load-bearing facts
  ingestion/src/metadata/core/connections/test_connection/aws.py
  ingestion/src/metadata/ingestion/source/database/athena/connection.py
  ingestion/src/metadata/ingestion/source/database/glue/connection.py
  ingestion/src/metadata/ingestion/source/storage/s3/connection.py
  ingestion/tests/unit/core/connections/test_connection/test_aws.py
  ingestion/tests/unit/source/database/athena/test_connection.py
  ingestion/tests/unit/source/database/glue/test_connection.py
  ingestion/tests/unit/source/storage/s3/test_connection.py
Due: none

Make the Agent cards responsive
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/components/AgentCard.component.tsx
Due: lint-staged

remove unused MUI components
  openmetadata-ui/src/main/resources/ui/src/components/common/ColorPicker/ColorSwatchPicker.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ColorPicker/index.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/MUIDomainSelect/MUIDomainSelect.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/MUIDomainSelect/MUIDomainSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/MUITextField/MUITextField.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

Fixed the Certification icon rendering issue (#29830)
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CertificationTag/CertificationTag.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CertificationTag/CertificationTag.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IconUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IconUtils.tsx
Due: lint-staged

add missing intake-form-plural-description key (#29819)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: none

fix jest tests
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.test.tsx
Due: lint-staged

nit
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.tsx
Due: lint-staged

UI: classic-mode header breadcrumb links to app root, not glossary
  openmetadata-ui/src/main/resources/ui/src/components/common/HeaderBreadcrumb/HeaderBreadcrumb.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnBulkOperations.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/OntologyExplorerPage/OntologyExplorerPage.tsx
Due: lint-staged

address gitar bot comment
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IconColorModal/IconColorModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/IconColorModal/IconColorModal.tsx
Due: lint-staged

refactor(workflows): strip preemptive machinery, downgrade Sentry noise
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/Workflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowFailureListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowInstanceListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/userTask/CreateTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/WorkflowInstanceListenerSupersedeTest.java
Due: google-style-java

fix(workflows): preserve terminal SUPERSEDED status in updateWorkflowInstance
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
Due: google-style-java

Fix ranked search dropping identifier and ngram matches
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRankingHelper.java
  openmetadata-service/src/main/resources/json/data/settings/searchSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchRankingHelperTest.java
Due: google-style-java

Fix search settings E2E for default ranking panel
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/CustomProperties.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/searchSettingUtils.ts
Due: lint-staged

minor fix
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
Due: lint-staged

refactor(ui): remove NotistackUtils, consolidate on ToastUtils
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/AssetsSelectionModal/useAssetSelectionContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetails/DomainDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/NotistackUtils.tsx
Due: lint-staged

fix playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TestLibrary.spec.ts
Due: lint-staged

fix(ui): fix dangling showNotistackError reference in CoverImageUploadUtils
  openmetadata-ui/src/main/resources/ui/src/utils/CoverImageUploadUtils.tsx
Due: lint-staged

fix(ingestion): probe past empty Glue databases and classify Athena's unusable result bucket
  ingestion/src/metadata/ingestion/source/database/athena/connection.py
  ingestion/src/metadata/ingestion/source/database/glue/connection.py
  ingestion/tests/unit/source/database/athena/test_connection.py
  ingestion/tests/unit/source/database/glue/test_connection.py
Due: none

fix(ui): correct certification string utils import
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
Due: lint-staged

fix(ui): stop product tour Explore step from loading real data (pre-mount + tour-aware tree) (#29867)
  openmetadata-ui/src/main/resources/ui/src/pages/TourPage/TourPage.component.tsx
Due: lint-staged

fix(query-builder): replace Select.ComboBox with Autocomplete in OMFieldSelect
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
  openmetadata-ui/src/main/resources/ui/src/utils/queryBuilderWidgets/OMFieldSelect.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/queryBuilderWidgets/OMFieldSelect.tsx
Due: lint-staged

Fix OpenSearch maxClauseCount blowup from the n-gram ranking stage
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRankingHelper.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticQueryBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchSourceBuilderFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchQueryBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSourceBuilderFactory.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchRankingHelperTest.java
Due: google-style-java

Fixes 29604: Parse Snowflake DML with leading comments
  ingestion/src/metadata/profiler/metrics/system/snowflake/system.py
  ingestion/tests/unit/metadata/ingestion/source/database/snowflake/profiler/test_system_metrics.py
Due: none

Migrated Tag Chip component to untitled ui
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/TagChip/TagChip.tsx
Due: lint-staged

fix(airflow): connector reliability — task-access test, lineage KeyError, status map
  ingestion/src/metadata/ingestion/source/pipeline/airflow/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/tests/unit/airflow/test_lineage_parser.py
  ingestion/tests/unit/source/pipeline/airflow/test_connection.py
Due: none

fix(airflow): guard malformed DAG entry + allow None from dict lineage parser
  ingestion/src/metadata/ingestion/source/pipeline/airflow/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
Due: none

refactor(test-definition): address code-review findings
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionForm/TestDefinitionForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionForm/TestDefinitionFormBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionForm/testDefinitionFormDocs.test.ts
Due: lint-staged

fix(dq): harden edit form and resolve review comments
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/form-field/field-doc-context.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/form-field/field-doc-popover.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/ParameterFields.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TableDiffFields.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseFormBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseFormDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseFormV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/transformTestCaseFormData.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/transformTestCaseFormData.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/BundleSuiteForm/BundleSuiteFormBody.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/BundleSuiteForm/BundleSuiteFormBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/BundleSuiteForm/BundleSuiteFormDrawer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ServiceDocPanel/ServiceDocPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TagSuggestion/TagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ParameterForm/ParameterFieldsUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ParameterForm/ParameterFieldsUtils.ts
Due: lint-staged

test(dq): update E2E specs for the migrated react-hook-form flows
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/DataQuality.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/Dimensionality.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuite.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestSuiteDetailsPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataQuality.ts
Due: lint-staged

refactor(test-definition): render form fields from arrays via a single helper
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionForm/TestDefinitionFormBody.tsx
Due: lint-staged

test(dq): drop `any` from transformBundleSuiteFormData test fixtures
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/BundleSuiteForm/transformBundleSuiteFormData.test.ts
Due: lint-staged

Update openmetadata-ui/src/main/resources/ui/src/components/common/atoms/TagChip/TagChip.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/TagChip/TagChip.tsx
Due: lint-staged
