Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

initial sample data for object stores
  ingestion/examples/sample_data/objectcontainers/containers.json
  ingestion/examples/sample_data/objectcontainers/service.json
Due: none

added type for object store connections
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/azureObjectStoreConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/gcsObjectStoreConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/s3ObjectStoreConnection.json
Due: none

ISSUE-9544: Added PATCH method to update owners in SDK
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/tests/integration/ometa/test_ometa_patch.py
Due: none

chore(settings): add default github settings
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/settings.yml
Due: none

ISSUE-9544: Removed previously added, now unneeded method
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
Due: none

chore(ui): add check for notification is present or not in the browser (#10299)
  openmetadata-ui/src/main/resources/ui/src/utils/BrowserNotificationUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/BrowserNotificationUtils.ts
Due: lint-staged

added search request with batch size 50 per request
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
Due: google-style-java

address comments
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
Due: lint-staged

Airflow API change for test connection (#10182)
  ingestion/src/metadata/ingestion/connections/test_connections.py
  ingestion/src/metadata/ingestion/source/database/athena/connection.py
  ingestion/src/metadata/ingestion/source/database/clickhouse/connection.py
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/hive/connection.py
  ingestion/src/metadata/ingestion/source/database/mssql/connection.py
  ingestion/src/metadata/ingestion/source/database/mysql/connection.py
  ingestion/src/metadata/ingestion/source/database/postgres/connection.py
  ingestion/src/metadata/ingestion/source/database/redshift/connection.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/test_connection.py
Due: none

fix: missing localization key (#10300)
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Ingestions.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.ts
Due: lint-staged

Added uri in jsonchema
  openmetadata-spec/src/main/resources/json/schema/security/credentials/awsCredentials.json
Due: none

✨feat(ui)#10274: UI - allow to configure OM logo
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/miscAPI.ts
Due: lint-staged

Import all differences in default mapping files into ngram mapping files
  openmetadata-service/src/main/resources/elasticsearch/ngram/dashboard_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/ngram/glossary_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/ngram/mlmodel_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/ngram/pipeline_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/ngram/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/ngram/tag_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/ngram/topic_index_mapping.json
Due: none

chore: use logo config to render the brand and login page logo
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
Due: lint-staged

fix : cy tests
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
Due: lint-staged

fixed sample data
  ingestion/examples/sample_data/glue/database_service.json
Due: none

doc: update the doc
  openmetadata-docs/content/how-to-guides/custom-logo/how-to-add-custom-logo.md
Due: none

fix(ui): support for partial-success for pipeline runs
  openmetadata-ui/src/main/resources/ui/src/assets/svg/logo-monogram.svg
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/IngestionRecentRun.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/temp.css
Due: lint-staged

chore: remove check for filePath logo location type
  openmetadata-ui/src/main/resources/ui/src/components/nav-bar/NavBar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
Due: lint-staged

feat(profiler): added dbt-artifacts-parser to test setup.py
  ingestion/setup.py
Due: none

address comments
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/IngestionRecentRun.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/ingestion-recent-run.style.less
Due: lint-staged

chore(ui): UI improvements
  openmetadata-ui/src/main/resources/ui/src/assets/svg/paper-plane-primary.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/SendButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.style.less
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CronEditor/CronEditor.constant.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.less
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddAlertPage/AddAlertPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertsPage/AlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/table.less
Due: lint-staged

test: add unit test
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/login/index.tsx
Due: lint-staged

revert cypress config
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
Due: lint-staged

feat(profiler): refactor workflow and interface
  ingestion/src/metadata/ingestion/connections/session.py
  ingestion/src/metadata/interfaces/sqalchemy/mixins/sqa_mixin.py
  ingestion/src/metadata/interfaces/sqalchemy/sqa_test_suite_interface.py
  ingestion/src/metadata/profiler/api/workflow.py
  ingestion/src/metadata/profiler/metrics/static/mean.py
  ingestion/src/metadata/profiler/profiler/core.py
  ingestion/src/metadata/profiler/profiler/default.py
  ingestion/src/metadata/profiler/profiler/interface/pandas/pandas_profiler_interface.py
  ingestion/src/metadata/profiler/profiler/interface/profiler_protocol.py
  ingestion/src/metadata/profiler/profiler/interface/sqlalchemy/sqa_profiler_interface.py
  ingestion/tests/integration/test_suite/test_e2e_workflow.py
  ingestion/tests/unit/profiler/test_metrics.py
  ingestion/tests/unit/profiler/test_profiler.py
  ingestion/tests/unit/profiler/test_profiler_partitions.py
  ingestion/tests/unit/profiler/test_sample.py
  ingestion/tests/unit/profiler/test_sqa_profiler_interface.py
  ingestion/tests/unit/profiler/test_workflow.py
Due: none

feat(profiler): linting
  ingestion/tests/unit/profiler/test_metrics.py
  ingestion/tests/unit/profiler/test_profiler.py
  ingestion/tests/unit/profiler/test_sample.py
  ingestion/tests/unit/profiler/test_sqa_profiler_interface.py
Due: none

addressed PR comments
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v001__create_db_connection_info.sql
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v002__create_db_connection_info.sql
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v001__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v002__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/objectstores/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createContainer.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/azureObjectStoreConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/gcsObjectStoreConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/objectstore/s3ObjectStoreConnection.json
Due: google-style-java

Simplify Response and prep test connection
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile-dev
  ingestion/operators/docker/main.py
  ingestion/operators/docker/test_connection.py
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClient.java
Due: google-style-java

formatting
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/objectstores/ContainerResourceTest.java
Due: google-style-java

Format
  ingestion/operators/docker/main.py
  ingestion/operators/docker/test_connection.py
Due: none

feat(profiler): removed old profiler modules
  ingestion/src/metadata/interfaces/datalake/datalake_profiler_interface.py
  ingestion/src/metadata/interfaces/profiler_protocol.py
  ingestion/src/metadata/interfaces/sqalchemy/sqa_profiler_interface.py
Due: none

fix cypress failure
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/IngestionRecentRun/IngestionRecentRuns.component.tsx
Due: lint-staged

Added uri in jsonchema for aws credentials (#10315)
  ingestion/examples/sample_data/glue/database_service.json
  openmetadata-spec/src/main/resources/json/schema/security/credentials/awsCredentials.json
Due: none

fixed Test Cases
  openmetadata-service/src/main/java/org/openmetadata/service/events/subscription/SubscriptionPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/events/subscription/EventSubscriptionResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/EventSubscriptionResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/events/eventSubscription.json
Due: google-style-java

missing files
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/events/WebhookCallbackResource.java
Due: google-style-java

[fixed] profiler would not fetch serivceConnection from OpenMetadata server when serviceConnection was omitted from workflow YAML
  ingestion/src/metadata/orm_profiler/api/workflow.py
Due: none

checkstyle
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

renamed objectstoreservice to service in schemas. Changed type to fullyQualifiedEntityName in createContainer schema
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/objectstores/ContainerResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/objectstores/ContainerResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createContainer.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createObjectStoreService.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
Due: google-style-java

sample data for object store service and containers
  ingestion/examples/sample_data/objectcontainers/containers.json
  ingestion/examples/sample_data/objectcontainers/service.json
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Due: none
