Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Revoke Slack access from installed workspace on SlackApplication uninstall.
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/NativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/slack/SlackApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/slack/SlackResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Due: google-style-java

encrypt jwt
  common/src/main/java/org/openmetadata/annotations/ExposedAnnotator.java
  common/src/main/java/org/openmetadata/annotations/MaskedAnnotator.java
  common/src/main/java/org/openmetadata/annotations/PasswordAnnotator.java
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/run_automation.py
  openmetadata-airflow-apis/tests/integration/operations/run_automation.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/masker/EntityMasker.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/BotTokenCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataConnectionBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/SecretsManagerLifecycleTest.java
  openmetadata-spec/src/main/resources/json/schema/auth/jwtAuth.json
Due: google-style-java

Fix #16788: Optimize feed query performance issues introduced in 1.4.2
  bootstrap/sql/migrations/native/1.4.4/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.4/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Due: google-style-java

fix(ui): switching tabs not taking effect (#16851)
  openmetadata-ui/src/main/resources/ui/src/pages/ServicesPage/ServicesPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServicesPage/ServicesPage.tsx
Due: lint-staged

chore: Update main branch for 1.5.0 Release (#16860)
  common/pom.xml
  docker/docker-compose-ingestion/docker-compose-ingestion.yml
  docker/docker-compose-openmetadata/docker-compose-openmetadata.yml
  docker/docker-compose-quickstart/Dockerfile
  docker/docker-compose-quickstart/docker-compose-postgres.yml
  docker/docker-compose-quickstart/docker-compose.yml
  ingestion/Dockerfile
  ingestion/operators/docker/Dockerfile
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-shaded-deps/elasticsearch-dep/pom.xml
  openmetadata-shaded-deps/opensearch-dep/pom.xml
  openmetadata-shaded-deps/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Due: none

fix: dynamic assertion to create json
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestCase.json
Due: google-style-java

format
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Due: none

resolving AppResource conflict.
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Due: google-style-java

Delete openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AddObservabilityPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AddObservabilityPage.tsx
Due: lint-staged

Delete conf/openmetadata.yaml
  conf/openmetadata.yaml
Due: none

resolving conflict.
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/slack/SlackApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/slack/SlackAppController.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/slack/SlackAppOAuthController.java
Due: google-style-java

resolving conflict.
  conf/openmetadata.yaml
Due: none

resolving conflict.
  openmetadata-ui/src/main/resources/ui/src/pages/AddObservabilityPage/AddObservabilityPage.tsx
Due: lint-staged

Fixed dashboarddatamodel fqn from context
  ingestion/src/metadata/ingestion/models/topology.py
  ingestion/src/metadata/ingestion/source/dashboard/dashboard_service.py
Due: none

Fixed Tests
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Due: google-style-java

Doc: Updating old reference Images
  openmetadata-docs/content/v1.4.x/deployment/security/enable-jwt-tokens.md
  openmetadata-docs/content/v1.4.x/developers/bots.md
  openmetadata-docs/content/v1.4.x/how-to-guides/admin-guide/cli-ingestion-with-basic-auth.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/security/enable-jwt-tokens.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/developers/bots.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/how-to-guides/admin-guide/cli-ingestion-with-basic-auth.md
  openmetadata-docs/images/v1.4/cli-ingestion-with-basic-auth/settings-bot.png
  openmetadata-docs/images/v1.4/deployment/security/enable-jwt/settings-bot.png
  openmetadata-docs/images/v1.4/developers/settings-bot.png
  openmetadata-docs/images/v1.5/cli-ingestion-with-basic-auth/settings-bot.png
  openmetadata-docs/images/v1.5/deployment/security/enable-jwt/settings-bot.png
  openmetadata-docs/images/v1.5/developers/settings-bot.png
Due: none

support data asset explore widget (#16609)
  openmetadata-service/src/main/resources/json/data/document/dataAsset.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/docstore/DocStoreResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataAssetsWidget.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/assets/img/data-assets.png
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-assets-widget.svg
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetCard/DataAssetCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetCard/DataAssetCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/DataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/DataAssetsWidget/data-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/constants/docs.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/CustomizablePage.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePageClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilsClassBase.test.ts
Due: google-style-java, lint-staged

fix: dynamic assertion to create json (#16865)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tests/createTestCase.json
Due: google-style-java

chore(ui): fix re-deploy ingestion pipeline e2e tests
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
Due: lint-staged

feat: pipeline client metrics
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/MeteredPipelineServiceClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/PipelineServiceClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/PipelineServiceClientFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJob.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJobHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/MicrometerBundleSingleton.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClientInterface.java
  openmetadata-spec/src/main/java/org/openmetadata/sdk/exception/PipelineServiceClientException.java
Due: google-style-java

format
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/MeteredPipelineServiceClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/clients/pipeline/noop/NoopClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/PipelineServiceStatusJobHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/pipelineService/MockPipelineServiceClient.java
Due: google-style-java

MINOR: added table diff sample results (#16844)
  ingestion/examples/sample_data/tests/testCaseResults.json
  ingestion/examples/sample_data/tests/testSuites.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Due: none

docs: added metrics docs
  openmetadata-docs/content/v1.3.x/deployment/metrics/index.md
  openmetadata-docs/content/v1.3.x/menu.md
  openmetadata-docs/content/v1.4.x/deployment/metrics/index.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/metrics/index.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
Due: none

chore(ui): fix re-deploy ingestion pipeline e2e tests (#16868)
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
Due: lint-staged

encrypt jwt
  common/src/main/java/org/openmetadata/annotations/ExposedAnnotator.java
  common/src/main/java/org/openmetadata/annotations/MaskedAnnotator.java
  common/src/main/java/org/openmetadata/annotations/PasswordAnnotator.java
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/run_automation.py
  openmetadata-airflow-apis/tests/integration/operations/run_automation.py
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/DBSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/ExternalSecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/SecretsManagerLifecycleTest.java
Due: google-style-java

Add Assets field to domain
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/domains/domain.json
Due: google-style-java

Add API Endpoint APIs
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIEndpointRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apis/APIEndpointResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APIEndpointIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/resources/elasticsearch/en/api_endpoint_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/api_endpoint_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/api_endpoint_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APICollectionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APIEndpointResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/topics/TopicResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createAPIEndpoint.json
Due: google-style-java

Add Assets field to domain (#16871)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-spec/src/main/resources/json/schema/entity/domains/domain.json
Due: google-style-java

Doc: Updating Docs for kubernetes deployment
  openmetadata-docs/content/partials/v1.4/deployment/faqs-eks.md
  openmetadata-docs/content/partials/v1.4/deployment/faqs.md
  openmetadata-docs/content/partials/v1.5/deployment/faqs-eks.md
  openmetadata-docs/content/partials/v1.5/deployment/faqs.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.4.x/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/v1.4.x/menu.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/aks.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/deployment/kubernetes/on-prem.md
  openmetadata-docs/content/v1.5.x-SNAPSHOT/menu.md
Due: none

fix: pom.xml to reduce vulnerabilities (#15748)
  pom.xml
Due: none

Fix #15735: Glossary,Term, Classification,Tag rename operation fixes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
Due: google-style-java

Minor: Do not start limits if its disabled
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Due: google-style-java

Fix #16788: Optimize feed query performance issues introduced in 1.4.2 (#16862)
  bootstrap/sql/migrations/native/1.4.4/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.4.4/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
Due: google-style-java

fixes removed square brackets from view definition
  ingestion/src/metadata/ingestion/source/database/mssql/utils.py
Due: none

API Service Schemas
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiCollection.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiEndpoint.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/apiService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/apiService/openAPIConnection.json
  openmetadata-spec/src/main/resources/json/schema/type/schema.json
Due: none

Create API Service Schemas
  bootstrap/sql/migrations/native/1.5.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.5.0/postgres/schemaChanges.sql
  openmetadata-spec/src/main/resources/json/schema/api/data/createAPICollection.json
  openmetadata-spec/src/main/resources/json/schema/api/services/createApiService.json
Due: none

Create API Service Schemas
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APIServiceRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/apiservices/APIServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APIServiceIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/api_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/api_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/api_service_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/APIServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/apiService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/apiService/RESTConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/apiService/openAPIConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/serviceType.json
Due: google-style-java

Add API Collection APIs
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/APICollectionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apis/APICollectionResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/apiservices/APIServiceResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchIndexFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APICollectionIndex.java
  openmetadata-service/src/main/resources/elasticsearch/en/api_collection_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/api_collection_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/api_collection_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/apis/APICollectionResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/APIServiceResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/apiCollection.json
Due: google-style-java

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
