Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/hadialqattan/pycln
    rev: v1.2.4
    hooks:
      - id: pycln
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 100 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Docs: Exasol Connector Addition
  openmetadata-docs/images/v1.6/connectors/exasol/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/exasol/select-service.png
  openmetadata-docs/images/v1.6/connectors/exasol/service-connection.png
  openmetadata-docs/images/v1.7/connectors/exasol/add-new-service.png
  openmetadata-docs/images/v1.7/connectors/exasol/select-service.png
  openmetadata-docs/images/v1.7/connectors/exasol/service-connection.png
Due: none

Docs: Exasol Connector Addition
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/yaml.md
Due: none

Docs: Exasol Connector Addition (#19493)
  openmetadata-docs/content/partials/v1.6/connectors/database/connectors-list.md
  openmetadata-docs/content/partials/v1.7/connectors/database/connectors-list.md
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/yaml.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/images/connectors/exasol.webp
  openmetadata-docs/images/v1.6/connectors/exasol/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/exasol/select-service.png
  openmetadata-docs/images/v1.6/connectors/exasol/service-connection.png
  openmetadata-docs/images/v1.7/connectors/exasol/add-new-service.png
  openmetadata-docs/images/v1.7/connectors/exasol/select-service.png
  openmetadata-docs/images/v1.7/connectors/exasol/service-connection.png
Due: none

Docs: Exasol Connector CHANGES
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/yaml.md
Due: none

remove object aliasing from buildReceiversListFromActions
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
Due: google-style-java

Docs: Exasol Connector CHANGES (#19494)
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.6.x/connectors/database/exasol/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/exasol/yaml.md
Due: none

fix linting
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
Due: google-style-java

added test for validating after refresh behavior
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Login.spec.ts
Due: lint-staged

MINOR: docs: add required permissions callout for setting up alerts (#19444)
  openmetadata-docs/content/v1.5.x/how-to-guides/admin-guide/alerts.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/observability/alerts.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/admin-guide/alerts.md
Due: none

fix: edit description permission for domain owner (#19475)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/Domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/domain/SubDomain.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainTabs/DocumentationTab/DocumentationTab.test.tsx
Due: lint-staged

fix the glossary column width sizes to the previous one
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

added supportsIncrementalMetadataExtraction in connection config
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/connectionBasicType.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/bigQueryConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/redshiftConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/snowflakeConnection.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionWorkflowForm/IngestionWorkflowForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/bigQueryConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/redshiftConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/snowflakeConnection.ts
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
Due: lint-staged

fix the description renderer in team and user import (#19492)
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamImportResult/TeamImportResult.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/UserImportResult/UserImportResult.component.tsx
Due: lint-staged

update serviceData type
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
Due: lint-staged

improve test for refresh scenario
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Login.spec.ts
Due: lint-staged

Chore: Add the missing generated types and fix json schemas (#19480)
  openmetadata-spec/src/main/resources/json/schema/auth/emailVerificationToken.json
  openmetadata-spec/src/main/resources/json/schema/configuration/workflowSettings.json
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/setGlossaryTermStatusTask.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/searchServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createStoredProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/governance/createWorkflowDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createPipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/auth/emailVerificationToken.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/workflowSettings.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automatorAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/internal/retentionPolicyConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/databaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/metrics.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/apiService/restConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/mstrConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/pipelineService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/events/api/testEventSubscriptionDestination.ts
  openmetadata-ui/src/main/resources/ui/src/generated/governance/workflows/elements/nodes/automatedTask/setGlossaryTermStatusTask.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/application.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/applicationPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testCase.ts
  openmetadata-ui/src/main/resources/ui/src/rest/ingestionPipelineAPI.ts
Due: lint-staged

chore: bumped actions/upload-artifact
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/security-scan.yml
Due: none

MINOR: fix model dump dict key names (#19484) (#19485)
  ingestion/src/metadata/clients/aws_client.py
Due: none

Prepare Dev Version
  ingestion/pyproject.toml
  openmetadata-airflow-apis/pyproject.toml
Due: none

Move Recreate Out of executors
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
Due: google-style-java

Fix :postgres parse json schemas (#19487)
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/src/metadata/ingestion/source/database/postgres/utils.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
Due: none

Fix Duplicate table constraints
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
Due: none

Add Entities option in Operations
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Due: google-style-java

chore: bumped actions/upload-artifact (#19500)
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/security-scan.yml
Due: none

Fix Tableau Lineage
  ingestion/pyproject.toml
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  openmetadata-airflow-apis/pyproject.toml
Due: none

MINOR: fix py-cli-e2e-tests.yml
  .github/workflows/py-cli-e2e-tests.yml
Due: none

fix tableau GraphQL Apis as well
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
Due: none

Fix Reindexing for null list for referred columns
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
Due: google-style-java

Fix: Updated queries causing arithmetic overflow error
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
Due: none

Fix the return type for the custom property API function
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/metadataTypeAPI.interface.ts
  openmetadata-ui/src/main/resources/ui/src/rest/metadataTypeAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Due: lint-staged

MINOR: fix py-cli-e2e-tests.yml (#19503)
  .github/workflows/py-cli-e2e-tests.yml
Due: none

Move Recreate Out of executors (#19501)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Due: google-style-java

revert powerbi changes to bulk approach, avoid rate limit error
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/client.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
Due: none

Added Tests
  ingestion/tests/unit/test_snowflake_lowercase_name.py
Due: none

Fix: Improve SSLManager attribute handling and Kafka connection configuration
  ingestion/src/metadata/utils/ssl_manager.py
Due: none

fix failing e2e test for customize page landing (#19490)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeLandingPage.spec.ts
Due: lint-staged

move the colum logic to utils file and added test for it
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Due: lint-staged
