Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Fix failing tests
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
Due: none

fix fields
  ingestion/tests/integration/orm_profiler/test_orm_profiler.py
Due: none

check ingestion version
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/health.py
Due: none

format
  ingestion/tests/integration/orm_profiler/test_orm_profiler.py
  ingestion/tests/unit/profiler/test_workflow.py
Due: none

Fix #6782: Separate TableProfile and ColumnProfile api calls - fix tests
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TableRepository.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
Due: google-style-java

Fix #6571: Add EntityLink for the testCase to ID columns
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/CollectionDAO.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/dqtests/TestCaseResourceTest.java
Due: google-style-java

Update pipeline status endpoint
  ingestion/src/airflow_provider_openmetadata/lineage/utils.py
  ingestion/src/metadata/ingestion/ometa/mixins/pipeline_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/tests/integration/ometa/test_ometa_pipeline_api.py
Due: none

Fix tests
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v004__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v004__create_db_connection_info.sql
Due: none

Fix setFields
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TableRepository.java
Due: google-style-java

updated ui side as per new schema for profiler tab
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfiler.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

Fix #6782: Separate TableProfile and ColumnProfile api calls
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v004__create_db_connection_info.sql
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/CollectionDAO.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/PipelineRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TableRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TestCaseRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/databases/TableResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/dqtests/TestCaseResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/pipelines/PipelineResource.java
  catalog-rest-service/src/main/resources/json/schema/api/data/createTableProfile.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/table.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/EntityResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/dqtests/TestCaseResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/pipelines/PipelineResourceTest.java
Due: google-style-java

updated profiler details with new API
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/tableAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/profilerDashboard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/TableData.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ProfilerDashboardPage/ProfilerDashboardPage.tsx
Due: lint-staged

Fix #6782: Separate TableProfile and ColumnProfile api calls - fix tests
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TableRepository.java
  catalog-rest-service/src/main/resources/json/schema/entity/data/table.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
Due: google-style-java

Fix Profiler tests and validation errors (#6827)
  ingestion/src/metadata/ingestion/models/profile_data.py
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/orm_profiler/api/models.py
  ingestion/src/metadata/orm_profiler/api/workflow.py
  ingestion/src/metadata/orm_profiler/interfaces/interface_protocol.py
  ingestion/src/metadata/orm_profiler/interfaces/sqa_profiler_interface.py
  ingestion/src/metadata/orm_profiler/processor/orm_profiler.py
  ingestion/src/metadata/orm_profiler/profiler/core.py
  ingestion/src/metadata/orm_profiler/sink/metadata_rest.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler.py
  ingestion/tests/unit/profiler/test_profiler.py
  ingestion/tests/unit/profiler/test_session_validations.py
  ingestion/tests/unit/profiler/test_sqa_profiler_interface.py
  ingestion/tests/unit/profiler/test_validations.py
Due: none

add profilerSample field in TableProfile
  catalog-rest-service/src/main/resources/json/schema/entity/data/table.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
Due: google-style-java

add profilerSample field in TableProfile
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
Due: google-style-java

Fix#5917: Implementation of temp secret for testing connection (#6832)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSBasedSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/LocalSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerConfiguration.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManagerFactory.java
  catalog-rest-service/src/main/resources/json/schema/api/services/ingestionPipelines/testServiceConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/secretsManagerProvider.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceUnitTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSSMSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/ExternalSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/LocalSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/SecretsManagerFactoryTest.java
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/utils/secrets/aws_based_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_secrets_manager.py
  ingestion/src/metadata/utils/secrets/aws_ssm_secrets_manager.py
  ingestion/src/metadata/utils/secrets/local_secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager.py
  ingestion/src/metadata/utils/secrets/secrets_manager_factory.py
  ingestion/tests/integration/ometa/test_ometa_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_aws_based_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_aws_ssm_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_local_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager.py
  ingestion/tests/unit/metadata/utils/secrets/test_secrets_manager_factory.py
  openmetadata-airflow-apis/openmetadata_managed_apis/operations/test_connection.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/credentials_builder.py
  openmetadata-core/src/main/resources/json/schema/api/services/ingestionPipelines/testServiceConnection.json
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/openMetadataConnection.json
  openmetadata-core/src/main/resources/json/schema/entity/services/connections/metadata/secretsManagerProvider.json
Due: google-style-java

get columnProfile with field profile
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TableRepository.java
Due: google-style-java

Test versions on health endpoint
  catalog-rest-service/src/main/java/org/openmetadata/catalog/airflow/AirflowRESTClient.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/exception/PipelineServiceVersionException.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/PipelineServiceClient.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/pipelineService/MockPipelineServiceClient.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/pipelineService/PipelineServiceClientTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/pipelineService/airflow/AirflowRESTClientIntegrationTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/pipelineService/airflow/HttpServerExtension.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/pipelineService/airflow/JsonHandler.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/pipelineService/airflow/MockResponse.java
Due: google-style-java

Format
  catalog-rest-service/src/main/java/org/openmetadata/catalog/exception/PipelineServiceVersionException.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/PipelineServiceClient.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/pipelineService/MockPipelineServiceClient.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/pipelineService/PipelineServiceClientTest.java
Due: google-style-java

get columnProfile with field profile
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TableRepository.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
Due: google-style-java

Fixed sample data and python tests
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/src/metadata/orm_profiler/profiler/core.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler.py
Due: none

Modfied github workflow, fix antrl4 not found
  .github/workflows/maven-build.yml
Due: none

Fix #6780 : fixed the error occuring when dataTypeDisplay value is not present
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
Due: lint-staged

Modfied github workflow, fix antrl4 not found (#6839)
  .github/workflows/maven-build.yml
Due: none

Add troubleshooting section to Datalake
  openmetadata-docs/content/menu.md
  openmetadata-docs/content/openmetadata/connectors/database/datalake/index.md
  openmetadata-docs/content/openmetadata/connectors/database/datalake/troubleshooting.md
Due: none

Fix Entity Reference fqn
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/orm_profiler/processor/orm_profiler.py
Due: none

fixed date range filter change issue
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/ProfilerDashboard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
Due: lint-staged

Improvement #6656 : Edited the text in sample data tab when no data is available
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.tsx
Due: lint-staged

Fix #6780 : fixed the error occuring when dataTypeDisplay value is not present (#6840)
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
Due: lint-staged

handled empty profiler case
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
Due: lint-staged

FIle Formatting
  ingestion/src/metadata/orm_profiler/processor/orm_profiler.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler.py
  ingestion/tests/unit/profiler/test_workflow.py
Due: none

Used antd Empty component to show for no data
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTable/SampleDataTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SampleDataTopic/SampleDataTopic.tsx
Due: lint-staged

Added icons for dagster and fivetran service connections.
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-dagster.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-fivetran.png
  openmetadata-ui/src/main/resources/ui/src/constants/services.const.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Due: lint-staged

Added documentation for #6772
  openmetadata-docs/content/deployment/bare-metal/index.md
  openmetadata-docs/content/deployment/docker/index.md
  openmetadata-docs/content/deployment/kubernetes/index.md
Due: none

✨ Feat : Add New roles and policy UI - Part 4
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/rolesAPIV1.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
Due: lint-staged

Fixed progress bar not showing for ingestion deployment
  openmetadata-ui/src/main/resources/ui/src/styles/components/step.less
Due: none

Change form title font size
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/AddPolicyPage/AddPolicyPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddRolePage/AddRolePage.tsx
Due: lint-staged

Remove empty componet to table fallback no data
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
