Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Address review: delete persisted state directly from IndexedDB when logout cannot reach the service worker
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.ts
Due: lint-staged

fix(ui): fix empty certification-icon div when iconURL is unknown
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
Due: lint-staged

Address review: fail-fast logout when the SW verdict is broken; avoid phantom IndexedDB creation
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SwTokenStorageUtils.ts
Due: lint-staged

refactor(ui): address PR review comments on Icon component
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Icon/Icon.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Icon/Icon.tsx
Due: lint-staged

fix(metrics): bound catalog-wide scans
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/MetricResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricGroupRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/metrics/MetricResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/MetricGroupRepositoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/MetricRepositoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metrics/MetricResourceTest.java
Due: google-style-java

fix(ui): remove padding from .certification-icon
  openmetadata-ui/src/main/resources/ui/src/components/Certification/certification.less
Due: none

fix(ui): Fix lineage canvas scrolling when the filters panel is expanded (#32036)
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/entity-lineage.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Lineage/Lineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PlatformLineage/platform-lineage.less
Due: lint-staged

fix(ui): resolve cached-image race in Icon and move IconProps to interface file
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Icon/Icon.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Icon/Icon.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Icon/Icon.tsx
Due: lint-staged

fix(mcp): update patch_entity IT to the compacted flat response shape
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/mcp/McpToolsValidationIT.java
Due: google-style-java

fix(ui): match the legacy wrapper's fixed column layout, and let call sites opt out
  openmetadata-ui/src/main/resources/ui/jest.config.js
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/TableV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/__tests__/Table.parity.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/__tests__/TableV2.parity.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/__tests__/tableParity.shared.tsx
Due: lint-staged

fix(ui): forward everything onRow returns, and support bordered
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/TableV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/__tests__/Table.parity.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/__tests__/TableV2.parity.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/__tests__/tableParity.shared.tsx
Due: lint-staged

refactor(ui): bind onFilter before calling it
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/TableV2.tsx
Due: lint-staged

refactor(ingestion): factor schema-deletion skip into an overridable hook
  ingestion/src/metadata/ingestion/source/database/data360/metadata.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/tests/unit/topology/database/test_data360.py
Due: none

style(ui): prettier the parity suite
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/__tests__/Table.parity.test.tsx
Due: lint-staged

lint fix
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
Due: lint-staged

fix(ui-core): drop Typography's block wrapper for span and div
  openmetadata-ui-core-components/src/main/resources/ui/src/components/foundations/typography.test.tsx
  openmetadata-ui-core-components/src/main/resources/ui/src/components/foundations/typography.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreQueryFilterChips/ExploreQueryFilterChips.test.tsx
Due: lint-staged

feat(ui): add CodeMirror 6 deps and a v5-option adapter
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/interface/codemirror.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CodeMirror.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CodeMirror.utils.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

feat(ui): move the editors to CodeMirror 6
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/Profiler.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TableLevelTests.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permission.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SchemaDefinition.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/StorageMetadataAgentForm.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/CustomProperties.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/RedshiftWithDBTIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/codeEditor.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customMetric.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractYaml/contract-yaml.less
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/CustomMetricForm/CustomMetricForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/test-case-result-tab.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ProfilerSettingsModal/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/test-summary.less
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/CodeEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/CodeEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/entity-info-drawer.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/entity-summary-panel.less
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/ExpressionCodeCell/expression-code-cell.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/CodeWidget/code-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/ManifestJsonWidget/manifest-json-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryViewer/query-viewer.style.less
  openmetadata-ui/src/main/resources/ui/src/hooks/useCodeMirrorEditor.ts
  openmetadata-ui/src/main/resources/ui/src/interface/codemirror.interface.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/card.less
  openmetadata-ui/src/main/resources/ui/src/styles/components/code-mirror.less
  openmetadata-ui/src/main/resources/ui/src/utils/CodeMirror.utils.ts
  openmetadata-ui/src/main/resources/ui/tsconfig.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

fix: resolve metrics CI failures
  .github/scripts/build_playwright_shards.py
  .github/scripts/tests/test_playwright_ci_planning.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/semantic_view_metrics.py
  ingestion/tests/unit/topology/database/test_snowflake_semantic_view_metrics.py
  openmetadata-service/src/test/java/org/openmetadata/service/tasks/TaskWorkflowHandlerTest.java
  openmetadata-spec/src/main/resources/elasticsearch/en/metric_group_index_mapping.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VisualRegression/__snapshots__/metricDetails.spec.ts-snapshots/metric-activity-narrow.png
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VisualRegression/__snapshots__/metricDetails.spec.ts-snapshots/metric-overview-dark-desktop.png
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VisualRegression/__snapshots__/metricDetails.spec.ts-snapshots/metric-overview-desktop.png
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/AddMetricPage/AddMetricPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/AddMetricPage/AddMetricPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricDetailsPage/MetricDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricDetailsPage/MetricDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MetricsPage/MetricListPage/MetricListPage.tsx
Due: google-style-java, lint-staged

fix(ui): honour CodeMirror 5's readOnly: 'nocursor'
  openmetadata-ui/src/main/resources/ui/src/interface/codemirror.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CodeMirror.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CodeMirror.utils.ts
Due: lint-staged

fix(ui): stop a deferred external value from clobbering later edits
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useCodeMirrorEditor.ts
Due: lint-staged

fix checkstyle
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/ParameterForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ProfilerSettingsModal/ProfilerSettingsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useCodeMirrorEditor.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CodeMirror.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CodeMirror.utils.ts
Due: lint-staged

fix(ui): label the editor input in the SchemaEditor test stub
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaEditor/SchemaEditor.test.tsx
Due: lint-staged

fix(mlflow): use single-quoted filter for UC model version search (#31387)
  ingestion/src/metadata/ingestion/source/mlmodel/mlflow/metadata.py
  ingestion/tests/unit/source/mlmodel/mlflow/test_metadata.py
Due: none

fix(airflow-apis): unblock airflow-apis-tests on Airflow 3.3
  openmetadata-airflow-apis/tests/integration/operations/test_airflow_ops.py
Due: none

Fixes #32030: Look up Query entities by service-qualified FQN
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/tests/unit/ometa/test_query_mixin.py
Due: none

Add a two-table Query usage integration test for #32030.
  ingestion/tests/integration/ometa/test_ometa_table_api.py
Due: none

Tighten Query FQN tests and drop extra comments.
  ingestion/src/metadata/ingestion/ometa/mixins/query_mixin.py
  ingestion/tests/unit/ometa/test_query_mixin.py
Due: none

Match existing query mixin test setup helpers.
  ingestion/tests/unit/ometa/test_query_mixin.py
Due: none

fix(ingestion): detect missing Lake Formation grants in Athena test connection (#29515)
  ingestion/src/metadata/ingestion/source/database/athena/connection.py
  ingestion/tests/unit/source/database/athena/__init__.py
  ingestion/tests/unit/source/database/athena/test_connection.py
Due: none

Fix ontology inspector Playwright synchronization
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/OntologyExplorerE2E.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/ontologyExplorer.ts
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyGraphG6.tsx
Due: lint-staged

feat(bigquery): ingest table last-modified timestamp into lifeCycle.updated (#30316)
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/src/metadata/ingestion/source/database/bigquery/queries.py
  ingestion/src/metadata/ingestion/source/database/life_cycle_query_mixin.py
  ingestion/tests/unit/topology/database/test_bigquery.py
  ingestion/tests/unit/topology/database/test_life_cycle_query_mixin.py
Due: none

fix(db2): adapt sqlalchemy-ibmi dialect to SQLAlchemy 2.0 (#30731)
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/db2/connection.py
  ingestion/src/metadata/ingestion/source/database/db2/utils.py
  ingestion/tests/unit/source/database/db2/__init__.py
  ingestion/tests/unit/source/database/db2/test_connection.py
Due: none

fix(ingestion): prevent Airflow metadata loss on API failures (#31371)
  ingestion/src/metadata/ingestion/source/pipeline/airflow/api/client.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/api/exceptions.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/api/mwaa.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/api/source.py
  ingestion/tests/integration/airflow/test_airflow_api_connection.py
  ingestion/tests/unit/topology/pipeline/test_airflow_mwaa_client.py
  ingestion/tests/unit/topology/pipeline/test_airflowapi.py
Due: none

Fixes #28727: derive the highlight flag on read, not at seed time
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/search/HighlightFieldSaveValidationIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchSettings.spec.ts
Due: google-style-java, lint-staged

fix(metrics): resolve integration and UI regressions
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/MergedMetricMigrationTestSupport.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/MetricResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TaskResourceIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TestCaseResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricGroupRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/MetricRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/metrics/MetricResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/MetricGroupRepositoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/metrics/MetricResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/VisualRegression/__snapshots__/metricDetails.spec.ts-snapshots/metric-assets-desktop.png
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
Due: google-style-java, lint-staged

Fixes 31401: Handle unnamed and quoted ROW fields in Trino reflection (#31402)
  ingestion/src/metadata/ingestion/source/database/trino/metadata.py
  ingestion/tests/unit/source/database/trino/test_complex_types.py
  ingestion/tests/unit/test_trino_complex_types.py
Due: none

Migrate ontology studio controls to UntitledUI
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyAuthoringInspector.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyBulkAuthoring.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyBulkOperationFields.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyConceptAttributes.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyConceptRealization.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyDataGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyEditLeaseStatus.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyExplorer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyHealthPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyImportExportModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyLibrary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyLibraryCatalogue.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyModelingWorkbench.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyRelationDetailsPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyStudioQueryConsole.css
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyStudioQueryConsole.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyTreeView.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/OntologyVisualQueryBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/RelationshipTypePicker.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SparqlQueryConsole/SparqlQueryConsole.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/OntologyExplorerPage/OntologyExplorerPage.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
