Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Add Credentials with Oauth
  CREDENTIALS_ENTITY_DESIGN.md
  bootstrap/sql/migrations/native/1.10.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.10.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CredentialsRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/OAuthTokenRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/oauth/OAuthService.java
  openmetadata-service/src/main/java/org/openmetadata/service/oauth/OAuthState.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/credentials/CredentialsResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/oauth/OAuthResource.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createCredentials.json
  openmetadata-spec/src/main/resources/json/schema/entity/credentials.json
  openmetadata-spec/src/main/resources/json/schema/entity/oAuthToken.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/bigQueryConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databricksConnection.json
Due: google-style-java

fix(ui): settings icon for left sidebar
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-settings-gear.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-settings-v1.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.component.tsx
Due: lint-staged

Fix Test Cases
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Due: google-style-java

fix(ui): settings icon for left sidebar (#23713)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-settings-gear.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-settings-v1.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomControls.component.tsx
Due: lint-staged

fix service listing
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/serviceAPI.ts
Due: lint-staged

Add Audit Logs UI page
  bootstrap/sql/migrations/native/1.10.1/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.10.1/postgres/schemaChanges.sql
  bootstrap/sql/schema/mysql.sql
  bootstrap/sql/schema/postgres.sql
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/audit/AuditLogEntry.java
  openmetadata-service/src/main/java/org/openmetadata/service/audit/AuditLogEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/audit/AuditLogRecord.java
  openmetadata-service/src/main/java/org/openmetadata/service/audit/AuditLogRecordMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/audit/AuditLogRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/cache/CachedCollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/AuditEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/audit/AuditLogResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/policies/accessControl/resourceDescriptor.json
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/SettingsRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/context/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/policies/createPolicy.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/policies/accessControl/resourceDescriptor.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/policies/accessControl/resourcePermission.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/policies/accessControl/rule.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/policies/policy.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/AuditLogsPage/AuditLogsPage.less
  openmetadata-ui/src/main/resources/ui/src/pages/AuditLogsPage/AuditLogsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AuditLogsPage/AuditLogsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/auditLogAPI.ts
  openmetadata-ui/src/main/resources/ui/src/types/auditLogs.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsClassBase.ts
Due: google-style-java, lint-staged

Prevent Renaming the term to duplicates
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
Due: google-style-java

playwright: update loader and pagination size for CustomizeDetailPage spec
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.tsx
Due: lint-staged

exclude SearchDerivedFields from reindex
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

MINOR: iceberg load table retry backoff (#23579)
  ingestion/src/metadata/ingestion/source/database/iceberg/metadata.py
  ingestion/tests/unit/topology/database/test_iceberg.py
Due: none

sourceurl datamodel
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  openmetadata-spec/src/main/resources/json/schema/api/data/createDashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboardDataModel.ts
Due: lint-staged

Visited array in invalidate cache
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
Due: google-style-java

refactor fallback and have new field assetsCount
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/DefaultInheritedFieldEntitySearch.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/InheritedFieldEntitySearch.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DomainIndex.java
  openmetadata-spec/src/main/resources/json/schema/entity/domains/domain.json
Due: google-style-java

refactor: clean up groupEntitiesByType function
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/DefaultInheritedFieldEntitySearch.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/InheritedFieldEntitySearch.java
Due: google-style-java

add tests
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/InheritedFieldEntitySearch.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/domains/DomainResourceTest.java
Due: google-style-java

Update the tsconfig.json for core component
  openmetadata-ui-core-components/src/main/resources/ui/tsconfig.json
Due: none

fix(ui): Fix drawer body loading overlay scroll behavior (#23706)
  openmetadata-ui/src/main/resources/ui/src/components/Domain/AddDomainForm/AddDomainForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/MUIAsyncTreeSelect/MUIAsyncTreeSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/MUITagSuggestion/MUITagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/MUIUserTeamSelect/MUIUserTeamSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/drawer/useDrawerBody.tsx
Due: lint-staged

Fix type errors
  openmetadata-ui-core-components/src/main/resources/ui/tsconfig.json
Due: none

Fix json type check
  openmetadata-ui-core-components/src/main/resources/ui/tsconfig.json
Due: none

fix test
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraintsModal/TableConstraintsModal.component.tsx
Due: lint-staged

fix(playwright): improve response handling in Search Index Application installation step
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
Due: lint-staged

update the module resolution to nodenext
  openmetadata-ui-core-components/src/main/resources/ui/tsconfig.json
Due: none

Update the tsconfig
  openmetadata-ui-core-components/src/main/resources/ui/tsconfig.json
Due: none

Fix(UI): Type error in vite config for ui core components (#23718)
  openmetadata-ui-core-components/src/main/resources/ui/tsconfig.json
Due: none

update image extension (#23597)
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DataInsightsApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DataInsightsReportApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DataRetentionApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/HelloPipelines.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/McpApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/ApplicationsClassBase.ts
Due: lint-staged

Drop orphaned rebuild indexes from zero-downtime reindexing
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Due: google-style-java

fix(ui): Reduce Data Product icon stroke width in sidebar
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IconUtils.tsx
Due: lint-staged

chore(ui):fix the activity feed flaky playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
Due: lint-staged

Minor: fix the security select form dropdown in DataContract
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSecurityFormTab/ContractSecurityFormTab.tsx
Due: lint-staged

playwright: update loader and pagination size for CustomizeDetailPage spec (#23714)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/CustomizeDetailPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.tsx
Due: lint-staged

App Screenshots Migration queries
  bootstrap/sql/migrations/native/1.10.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.10.0/postgres/postDataMigrationSQLScript.sql
Due: none

Replace the png only in the appScreenshots
  bootstrap/sql/migrations/native/1.10.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.10.0/postgres/postDataMigrationSQLScript.sql
Due: none

Vulnerability fix for org.json
  openmetadata-sdk/pom.xml
Due: none

backend changes
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/datamodels/DashboardDataModelMapper.java
Due: google-style-java

chore(ui):fix the activity feed flaky playwright test (#23721)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
