Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Fixes #13987 database schema search pagination (#13989)
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
Due: lint-staged

fix(ui): #13963 glossary term custom property update (#14035)
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
Due: lint-staged

Fix #13954: Fix ParseException for older version of databricks (#14015)
  ingestion/src/metadata/ingestion/source/database/databricks/connection.py
  ingestion/src/metadata/ingestion/source/database/databricks/legacy/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/unity_catalog/metadata.py
  ingestion/tests/unit/topology/database/test_databricks.py
Due: none

fix(ui): supported test email button in email smtp page (#13998)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/EmailConfigSettingsPage/EmailConfigSettingsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/settingConfigAPI.ts
Due: lint-staged

fixed athena e2e (#14041)
  ingestion/tests/cli_e2e/test_cli_athena.py
Due: none

feat(ui): add support for callout in block editor (#13839)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/callout-danger.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/callout-info.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/callout-note.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/callout-warning.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-format-callout.svg
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/Callout/Callout.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/Callout/CalloutComponent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/index.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/slash-command/items.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/block-editor.less
  openmetadata-ui/src/main/resources/ui/src/constants/BlockEditor.constants.ts
Due: lint-staged

Add Custom metrics sample data (#14069)
  ingestion/examples/sample_data/datasets/tables.json
  ingestion/examples/sample_data/profiler/tableProfile.json
  ingestion/pyproject.toml
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Due: none

feat(ui): add RTL support in feed editor (#14052)
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/feed-editor.less
  openmetadata-ui/src/main/resources/ui/src/constants/Feeds.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QuillUtils.js
Due: lint-staged

fixed viewparsing query (#14076)
  bootstrap/sql/migrations/native/1.2.3/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.2.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.2.3/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.2.3/postgres/schemaChanges.sql
Due: none

cypress: fixed aut cypress part 2 (#14059)
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Service/MlFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/plugins/index.js
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
Due: lint-staged

fix: Remove the strategy block from CI to run only with 1 machine (#14032)
  .github/workflows/cypress-integration-tests-postgresql.yml
Due: none

Fix #12436 - Migrate to pyproject.toml (#14025)
  .github/workflows/openmetadata-airflow-apis.yml
  .github/workflows/py-ingestion-core-publish.yml
  .github/workflows/py-ingestion-publish.yml
  Makefile
  ingestion-core/README.md
  ingestion-core/setup.py
  ingestion-core/src/metadata/_version.py
  ingestion/.coveragerc
  ingestion/Makefile
  ingestion/pyproject.toml
  ingestion/setup.cfg
  ingestion/setup.py
  openmetadata-airflow-apis/.coveragerc
  openmetadata-airflow-apis/LICENSE
  openmetadata-airflow-apis/pyproject.toml
  openmetadata-airflow-apis/setup.py
Due: none

feat: db migration for custom metrics (#14036)
  bootstrap/sql/migrations/native/1.3.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.3.0/postgres/postDataMigrationSQLScript.sql
Due: none

fix: make ingestion build docker image using Dockerfile.ci (#14080)
  Makefile
Due: none

feat(ui): add RTL support in description editor (#14057)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-ltr.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-rtl.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/EditorToolBar.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: lint-staged

ui: fixed re-render issue in glossary term page (#14051)
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryOverviewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Due: lint-staged

Fix pyproject - TypeError: 'list' object is not a mapping (#14064)
  ingestion/pyproject.toml
  ingestion/setup.py
Due: none

chore(ui): add `tagType` prop in TagSuggestion component (#14066)
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.tsx
Due: lint-staged

fix glossary tags missing while edit operation (#14125)
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
Due: lint-staged

cypress: work on advance search skip test (#14074)
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AdvancedSearchQuickFilters.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/SearchIndexDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
Due: lint-staged

fix: pom.xml to reduce vulnerabilities (#14091)
  pom.xml
Due: none

feat: add support for doris datasource (#14087)
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/doris/__init__.py
  ingestion/src/metadata/ingestion/source/database/doris/connection.py
  ingestion/src/metadata/ingestion/source/database/doris/metadata.py
  ingestion/src/metadata/ingestion/source/database/doris/queries.py
  ingestion/src/metadata/ingestion/source/database/doris/utils.py
  openmetadata-service/src/main/resources/json/data/testConnections/database/doris.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/dorisConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-doris.png
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

fix: restrict multiple run now calls (#14119)
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppSchedule.component.tsx
Due: lint-staged

MINOR: fix path for cli e2e coverage configuration (#14078)
  .github/workflows/py-cli-e2e-tests.yml
Due: none

#14083: ui is breaking while updating test case and resolution status (#14088)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestCases/TestCases.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/TableProfilerV1.tsx
Due: lint-staged

fix(ui): support for code authflow in OIDC (#14120)
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Due: lint-staged

great-expectations~=0.18.0 (#14056)
  ingestion/setup.py
Due: none

fix(#14121): hive connection `metastoreConnection` field is not updating the value correctly (#14123)
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/hiveConnection.json
Due: none

Fix pipeline task filtering for failed status (#14093)
  openmetadata-ui/src/main/resources/ui/src/components/Execution/ListView/ListViewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/execution.constants.ts
Due: lint-staged

Issue #14117: ElasticSearch index creation error in JP (#14118)
  openmetadata-service/src/main/resources/elasticsearch/jp/dashboard_data_model_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/metadata_service_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/search_entity_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/classification_index_mapping.json
Due: none

fix: domain cypress (#14128)
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
Due: lint-staged

fix(ui): column name overlapping in entity table (#14086)
  openmetadata-ui/src/main/resources/ui/src/components/ContainerDetail/ContainerChildren/ContainerChildren.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseDetails.utils.tsx
Due: lint-staged

bump(ui): node version to fix node-gyp error (#14129)
  .github/workflows/cypress-integration-tests-mysql.yml
  openmetadata-ui/pom.xml
  openmetadata-ui/src/main/resources/ui/.nvmrc
Due: none

Fixed overwriting data for service entites (#14135)
  ingestion/src/metadata/ingestion/api/topology_runner.py
Due: none

fix unwanted scrollbar in explore page (#14097)
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/SummaryList/SummaryListItems/SummaryListItems.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/entity-summary-panel.less
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/exploreV1.less
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/position.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Due: lint-staged

Issue #14067: DatabaseSchema Restore operation throws error EntityNotFound, if a table that belongs to schema is already restored (#14112)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
Due: google-style-java

Fix #14100: mssql fix usage query, make table name lowercase (#14101)
  ingestion/src/metadata/ingestion/source/database/mssql/queries.py
Due: none

Minor: Fix maven profiles to run tests for MySQL and Postgres using maven profiles (#14094)
  openmetadata-service/pom.xml
Due: none

chore(ui): add `initialOptions` prop in tag suggestion component (#14085)
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/TagsSelectForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
