Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

ISSUE-20533: fetching tag field for table to not delete certification (#20534)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Due: google-style-java

MINOR: Fix workflow instance status (#20562)
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/CreateAndRunIngestionPipelineTask.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/runApp/RunAppImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowInstanceRepository.java
Due: google-style-java

Fixed UI feedback (#20517)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-inherit.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/CommonEntitySummaryInfo/CommonEntitySummaryInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/domain-select-dropdown.less
  openmetadata-ui/src/main/resources/ui/src/components/common/IconButtons/EditIconButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerAvtar/OwnerAvatar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerAvtar/owner-avtar.less
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerItem/OwnerItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RolesCard/RolesCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/SelectableList/SelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/table.less
  openmetadata-ui/src/main/resources/ui/src/components/common/UserTeamSelectableList/UserTeamSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/snowflakeConnection.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/NotificationListPage/NotificationListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ObservabilityAlertsPage/ObservabilityAlertsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/pagination.less
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Due: lint-staged

fix AUT failure for ingestion bot (#20561)
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Due: lint-staged

test: assert dangling db connections (#20458)
  ingestion/tests/integration/conftest.py
  ingestion/tests/integration/mysql/conftest.py
  ingestion/tests/integration/mysql/test_classifier.py
Due: none

fix: ui feedbacks and improvements (#20532)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/api-collection-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/api-endpoints-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/apis-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dashboard-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/dashboard-data-models-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-assets-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-product-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/database-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/database-schema-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/domain-colored.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/glossary-term-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/messaging-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/metadata-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/metric-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ml-models-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/pipelines-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/query-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/search-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/search-index-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/setting-data-observability.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/storage-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/stored-procedures-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/table-colored-new.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/tags-colored.svg
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationCard/ApplicationCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/ApplicationCard/application-card.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/SettingItemCard/setting-item-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsViewer/TagsViewer.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/OwnerLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Application/ApplicationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingCategory/GlobalSettingCategoryPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlobalSettingPage/GlobalSettingPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MarketPlacePage/MarketPlacePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchSettingsPage/SearchSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Due: lint-staged

MINOR - Remove airflow_lineage_operator from final ingestion image (#20551)
  ingestion/Dockerfile.ci
  ingestion/examples/airflow/test_dags/airflow_lineage_operator.py
Due: none

fix(test): apiContext socket hangup issue in AUTs (#20569)
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
Due: lint-staged

MINOR: Fix public schema lieage for postgres (#20548)
  ingestion/src/metadata/ingestion/source/database/postgres/lineage.py
  ingestion/src/metadata/utils/db_utils.py
Due: none

skip BulkEdit Entity Database playwright test (#20590)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
Due: lint-staged

fix the glossary-term loading and column size issue (#20536)
  openmetadata-ui/src/main/resources/ui/playwright/utils/glossary.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.tsx
Due: lint-staged

Fix : Feeds not getting updated on user profile change. (#20486)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ProfilerConfigurationPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/UserPage/UserPage.component.tsx
Due: lint-staged

Unpinned google-cloud-secret-manager version in ingestion dependencies (#19469)
  ingestion/setup.py
Due: none

Fix: dbt cloud latest run execution (#20573)
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/client.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/models.py
  ingestion/tests/unit/topology/pipeline/test_dbtcloud.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/dbtCloudConnection.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/dbtCloudConnection.ts
Due: lint-staged

Docs: Collate Mention in Table Data to Be Fresh (#20596)
  openmetadata-docs/content/v1.6.x/how-to-guides/data-quality-observability/quality/test.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-quality-observability/quality/test.md
Due: none

Docs: Troubleshoot Section Addition (#20607)
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/connectors/search/elasticsearch/index.md
  openmetadata-docs/content/v1.6.x/connectors/search/elasticsearch/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/storage/adls/index.md
  openmetadata-docs/content/v1.6.x/connectors/storage/adls/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/storage/gcs/index.md
  openmetadata-docs/content/v1.6.x/connectors/storage/gcs/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/storage/s3/index.md
  openmetadata-docs/content/v1.6.x/connectors/storage/s3/troubleshooting.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/search/elasticsearch/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/search/elasticsearch/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/search/opensearch/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/search/opensearch/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/storage/adls/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/storage/adls/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/storage/gcs/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/storage/gcs/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/storage/s3/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/storage/s3/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Due: none

Fix : User Profile Page Feedbacks (#20547)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/no-conversations.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ProfileEditModal/ProfileEditModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfileCard/ProfileSectionUserDetailsCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Users/UsersProfile/UserProfileRoles/UserProfileRoles.test.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: lint-staged

Docs: Connectors Troubleshooting addition for Dashboard (#20542)
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/qliksense/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/quicksight/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/redash/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/sigma/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/superset/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/dashboard/tableau/troubleshooting.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/qliksense/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/qliksense/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/quicksight/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/quicksight/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/redash/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/redash/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/sigma/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/sigma/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/superset/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/superset/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/tableau/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/dashboard/tableau/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Due: none

ws docs (#20606)
  openmetadata-docs/content/partials/v1.6/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/wherescape/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/wherescape/yaml.md
  openmetadata-docs/images/v1.6/connectors/wherescape/add-new-service.png
  openmetadata-docs/images/v1.6/connectors/wherescape/select-service.png
  openmetadata-docs/images/v1.6/connectors/wherescape/service-connection.png
Due: none

Docs: Note Updation in Mwaa (#20595)
  openmetadata-docs/content/v1.6.x/deployment/ingestion/external/mwaa.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/deployment/ingestion/external/mwaa.md
Due: none

Wherescape Documentation (#20579)
  openmetadata-docs/content/partials/v1.7/connectors/pipeline/connectors-list.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/wherescape/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/wherescape/yaml.md
  openmetadata-docs/images/connectors/wherescape.webp
  openmetadata-docs/images/v1.7/connectors/wherescape/add-new-service.png
  openmetadata-docs/images/v1.7/connectors/wherescape/select-service.png
  openmetadata-docs/images/v1.7/connectors/wherescape/service-connection.png
Due: none

Docs: Reverse Ingestion Documentation (#20591)
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/athena/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/athena/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigquery/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/bigquery/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/clickhouse/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/clickhouse/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/databricks/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/databricks/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mssql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mssql/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mysql/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/mysql/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/oracle/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/oracle/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/postgres/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/redshift/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/redshift/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/snowflake/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/unity-catalog/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/database/unity-catalog/yaml.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/ingestion/workflows/reverse-metadata.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Due: none

Update column config to store user preference in localStorage (#20531)
  openmetadata-ui/src/main/resources/ui/src/components/Container/ContainerDataModel/ContainerDataModel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ListView/ListView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTable/SearchIndexFieldsTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedureTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

made consistent owner (#20576)
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerItem/OwnerItem.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/UserAvatarGroup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePictureNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RemainingOwner/OwnerReveal.tsx
Due: lint-staged

Docs: Troubleshoot Section Addition in Pipeline till DBT Cloud (#20612)
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/airbyte/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/airflow/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/dagster/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/databricks-pipeline/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/datafactory/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/datafactory/troubleshooting.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/dbtcloud/index.md
  openmetadata-docs/content/v1.6.x/connectors/pipeline/dbtcloud/troubleshooting.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/airbyte/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/airflow/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/airflow/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/dagster/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/databricks-pipeline/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/datafactory/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/datafactory/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/dbtcloud/index.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/connectors/pipeline/dbtcloud/troubleshooting.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
Due: none

playwright: add debug log in case of ingestion pipeline failure. (#20600)
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
Due: lint-staged

ISSUE #20570: allow incident to be set to new from any points (#20585)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseResolutionStatusRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
Due: google-style-java

MINOR: move the export png logic to utils to work independently (#20601)
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/DailyActiveUsersChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/DataInsightChartCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModalProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonContentItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Export/ExportUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Export/ExportUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExportUtilClassBase.ts
Due: lint-staged

Fix: Improved test suite logging (#20635)
  ingestion/src/metadata/data_quality/source/test_suite.py
Due: none

Minor: Entity Header certificates Design changes (#20484)
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/data-asset-header.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CertificationTag/CertificationTag.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CertificationTag/certification-tag.less
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Due: lint-staged

Enhance: Add PATCH endpoint to update storage service by FQN in StorageServiceResource (#20598)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/storage/StorageServiceResource.java
Due: google-style-java

Update Profile Picture Default Stylings (#20589)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/ActivityFeedcardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/CommentCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardBody/OwnerFeed/OwnersFeed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardFooter/FeedCardFooterNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTabIncidentManagerHeader/TasktabIncidentManagerHeaderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfileCard/ProfileSectionUserDetailsCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerLabel/UserAvatarGroup.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePicture.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ProfilePicture/ProfilePictureNew.tsx
Due: lint-staged

fix glossary column shifting on some assertion (#20620)
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
