Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Fix: azure auth callback from UI
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Due: lint-staged

Fix #3041: Handled AttributeError (#3042)
  ingestion/src/metadata/ingestion/source/sql_source.py
Due: none

Fix: azure auth callback from UI (#3048)
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
Due: lint-staged

Fix #2989: Add delete API for tests
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
Due: google-style-java

Fix #2989: Add delete apis for tests (#3020)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TableRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/databases/TableResource.java
  catalog-rest-service/src/main/resources/json/schema/api/tests/createColumnTest.json
  catalog-rest-service/src/main/resources/json/schema/api/tests/createTableTest.json
  catalog-rest-service/src/main/resources/json/schema/tests/basic.json
  catalog-rest-service/src/main/resources/json/schema/tests/columnTest.json
  catalog-rest-service/src/main/resources/json/schema/tests/table/tableColumnCountToEqual.json
  catalog-rest-service/src/main/resources/json/schema/tests/table/tableRowCountToBeBetween.json
  catalog-rest-service/src/main/resources/json/schema/tests/tableTest.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
Due: google-style-java

Fix conflict
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Fix getting users list
  openmetadata-ui/src/main/resources/ui/src/auth-provider/AuthProvider.tsx
Due: lint-staged

Java checkstyle
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/pages/dashboardDetails/DashboardDetailsPageTest.java
Due: google-style-java

Fix #3047: OpenMetadata Server fails to run when updating config from Environment Variable
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/DefaultAuthorizer.java
Due: google-style-java

Fixed failing test
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
Due: lint-staged

Fix #3051: Glossary-term suggest api has fqdn same as name
  catalog-rest-service/src/main/java/org/openmetadata/catalog/elasticsearch/ElasticSearchIndexDefinition.java
  catalog-rest-service/src/main/resources/elasticsearch/glossary_index_mapping.json
  ingestion/src/metadata/ingestion/models/table_metadata.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_constants.py
Due: google-style-java

Fix #3047: OpenMetadata Server fails to run when updating config from Environment Variable (#3049)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/DefaultAuthorizer.java
Due: google-style-java

Fix #2866: Add support for PATCH to feed API to be able to resolve a thread (#3027)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/FeedRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/feeds/FeedResource.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/feeds/FeedResourceTest.java
Due: google-style-java

Fix #3051: Glossary-term suggest api has fqdn same as name (#3052)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/elasticsearch/ElasticSearchIndexDefinition.java
  catalog-rest-service/src/main/resources/elasticsearch/glossary_index_mapping.json
  ingestion/src/metadata/ingestion/models/table_metadata.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_constants.py
Due: google-style-java

Update FeedUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.ts
Due: lint-staged

minor code change
  openmetadata-ui/src/test/java/org/openmetadata/catalog/selenium/pages/topicDetails/TopicDetailsPageTest.java
Due: google-style-java

Feat: UI Add Support for @ and # in text editor (#3017)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/auth-provider/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/ActivityFeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.css
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ConfirmationModal/ConfirmationModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditorPreviewer.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/database-details/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/react-app-env.d.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/MarkdownUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/QuillUtils.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

Simplify default role allocation for users
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/RoleRepository.java
Due: google-style-java

Simplify default role allocation for users (#3061)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/RoleRepository.java
Due: google-style-java

addressing comment
  openmetadata-ui/pom.xml
Due: none

Addressing change requests
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTerm/AddGlossaryTerm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTermPage/AddGlossaryTermPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
Due: lint-staged

added skip config for ui build-check (#3030)
  openmetadata-ui/pom.xml
  openmetadata-ui/src/main/resources/ui/package.json
Due: none

Fix #3067: Service Creation/Update should only be done by Bots or admins
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/dashboard/DashboardServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/database/DatabaseServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/messaging/MessagingServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/pipeline/PipelineServiceResource.java
Due: google-style-java

Add validations and tests
  ingestion/src/metadata/orm_profiler/validations/column/column_values_to_be_unique.py
  ingestion/src/metadata/orm_profiler/validations/core.py
  ingestion/tests/unit/profiler/test_validations.py
Due: none

Format
  ingestion/src/metadata/orm_profiler/validations/column/column_values_to_be_unique.py
  ingestion/src/metadata/orm_profiler/validations/core.py
Due: none

Use new API naming
  ingestion/src/metadata/orm_profiler/processor/orm_profiler.py
  ingestion/src/metadata/orm_profiler/validations/column/column_values_to_be_between.py
  ingestion/src/metadata/orm_profiler/validations/column/column_values_to_be_unique.py
  ingestion/src/metadata/orm_profiler/validations/table/table_row_count_to_equal.py
  ingestion/tests/integration/ometa/test_ometa_table_api.py
  ingestion/tests/unit/profiler/test_validations.py
  ingestion/tests/unit/profiler/test_workflow.py
Due: none

Post merge updates
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Fixes #3069 - Add PATCH support Glossary and GlossaryTerms
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/EntityRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/GlossaryRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/GlossaryTermRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TeamRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/UserRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/glossary/GlossaryResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/UserResource.java
  catalog-rest-service/src/main/resources/json/schema/api/data/createGlossary.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/glossary.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/glossaryTerm.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/EntityResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/glossary/GlossaryResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/glossary/GlossaryTermResourceTest.java
Due: google-style-java

Fixes #3069 - Add PATCH support Glossary and GlossaryTerms (#3070)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/EntityRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/GlossaryRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/GlossaryTermRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TeamRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/UserRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/glossary/GlossaryResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/UserResource.java
  catalog-rest-service/src/main/resources/json/schema/api/data/createGlossary.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/glossary.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/glossaryTerm.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/EntityResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/glossary/GlossaryResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/glossary/GlossaryTermResourceTest.java
Due: google-style-java

Clean up System.out.println and bump up ingestion-core version
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/EntityRepository.java
  ingestion-core/src/metadata/_version.py
Due: google-style-java

Fix: restricted actions in insecure mode
  openmetadata-ui/src/main/resources/ui/src/auth-provider/AuthProvider.tsx
Due: lint-staged

Clean up System.out.println and bump up ingestion-core version (#3072)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/EntityRepository.java
  ingestion-core/src/metadata/_version.py
Due: google-style-java

Fix: restricted actions in insecure mode (#3073)
  openmetadata-ui/src/main/resources/ui/src/auth-provider/AuthProvider.tsx
Due: lint-staged

Use Create Tests
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/orm_profiler/processor/orm_profiler.py
  ingestion/src/metadata/orm_profiler/validations/models.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler.py
  ingestion/tests/unit/profiler/test_workflow.py
Due: none

Remove duplicated metric
  ingestion/src/metadata/orm_profiler/metrics/composed/duplicate_count.py
  ingestion/src/metadata/orm_profiler/metrics/registry.py
  ingestion/src/metadata/orm_profiler/metrics/static/distinct_count.py
  ingestion/src/metadata/orm_profiler/profiles/default.py
  ingestion/tests/unit/profiler/test_metrics.py
  ingestion/tests/unit/profiler/test_profiler.py
Due: none

Update tests for new APIs
  ingestion/tests/integration/ometa/test_ometa_table_api.py
Due: none

Format
  ingestion/src/metadata/ingestion/ometa/mixins/table_mixin.py
  ingestion/src/metadata/orm_profiler/metrics/composed/duplicate_count.py
  ingestion/src/metadata/orm_profiler/processor/orm_profiler.py
  ingestion/src/metadata/orm_profiler/validations/column/column_values_to_be_between.py
  ingestion/src/metadata/orm_profiler/validations/column/column_values_to_be_unique.py
  ingestion/src/metadata/orm_profiler/validations/table/table_row_count_to_equal.py
Due: none

Fix #3046 UI Add support for request description
  openmetadata-ui/src/main/resources/ui/src/assets/svg/paper-plane-primary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/paper-plane.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedEditor/ActivityFeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/RequestDescriptionModal/RequestDescriptionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedElementUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Due: lint-staged

Fix: asyncio coroutine error
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
Due: none

Add rqeuest description support for table entity.
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/RequestDescriptionModal/RequestDescriptionModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/description/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
