Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/hadialqattan/pycln
    rev: v1.2.4
    hooks:
      - id: pycln
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 100 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Revert "Reverted changes for Database Schema entity relationship"
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

address comments
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/customise-landing-page-header.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/customize-my-data.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/AdvancedAssetsFilterField/AdvancedAssetsFilterField.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/AdvancedAssetsFilterField/AdvancedAssetsFilterField.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsModal/CuratedAssetsModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsModal/CuratedAssetsModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/SelectAssetTypeField/SelectAssetTypeField.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/SelectAssetTypeField/SelectAssetTypeField.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/curated-assets-widget.less
  openmetadata-ui/src/main/resources/ui/src/utils/CuratedAssetsUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CuratedAssetsUtils.tsx
Due: lint-staged

Minor: Reverted changes for Database Schema entity relationship - Fixed Build
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseSchemaResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

fix username issue
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/CommentCard.component.tsx
Due: lint-staged

fix(ui): alphabetical sort order support for display name (#21745)
  openmetadata-ui/src/main/resources/ui/playwright/constant/explore.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreSortOrderFilter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/EntityDataClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/explore.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
Due: lint-staged

rules
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/LogicOps.java
  openmetadata-service/src/main/java/org/openmetadata/service/rules/RuleEngine.java
  openmetadata-service/src/main/resources/json/data/settings/entityRulesSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
Due: google-style-java

added test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
Due: lint-staged

Refactor code: Fix Unnecessary functions, corrected imports
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ESEntityRelationshipGraphBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/EsUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OSEntityRelationshipGraphBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OsUtils.java
Due: google-style-java

Fix tests
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
Due: none

fix(ui): Update bg color for the tab components (#21976)
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/table-profiler.less
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/SampleDataTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SampleDataTable/sample-data-table.less
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/custom-property-table.less
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/AssignErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/CreateErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/FilterErrorPlaceHolder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/PermissionErrorPlaceholder.tsx
Due: lint-staged

feat: implement tags and glossary terms functionality in test case forms and enhance related tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.tsx
Due: lint-staged

fixed failing unit test
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/EditTestCaseModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/TestCaseClassBase.test.ts
Due: lint-staged

fix the more count mismatched after user specific suggestion is clicked
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsSlider/SuggestionsSlider.tsx
Due: lint-staged

fix column dropdown css
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/DraggableMenu/draggable-menu-item.less
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/Table.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/table.less
Due: lint-staged

minor unit test fix
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsProvider/SuggestionsProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Suggestions/SuggestionsSlider/SuggestionsSlider.test.tsx
Due: lint-staged

Fix(ui): Reply count being shown as 0 in task feed card (#21952)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/TaskFeedCard/TaskFeedCardNew.component.tsx
Due: lint-staged

Fix #21569 : Pagination state lost after multiple back navigations in table list view (#21973)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/TestSuite/TestSuitePipelineTab/TestSuitePipelineTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/paging/usePaging.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useTableFilters.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/Ingestion.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/IngestionListTable.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
Due: lint-staged

merging errors solved
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/dataRetention/DataRetention.java
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/DataRetentionApplication.md
Due: google-style-java

Addressed changes
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/connection.py
  ingestion/tests/unit/topology/pipeline/test_databricks_pipeline.py
  openmetadata-service/src/main/resources/json/data/testConnections/pipeline/databrickspipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/databricksPipelineConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/DatabricksPipeline.md
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/pipeline/databricksPipelineConnection.ts
Due: lint-staged

remove unused variables
  ingestion/src/metadata/ingestion/source/database/databricks/client.py
Due: none

fix merge error
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
Due: google-style-java

fix styling
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
Due: google-style-java

Minor Fix : query_cost_record_search_index Search exception for elasticsearch instance (#21985)
  ingestion/examples/sample_data/datasets/query_log
  ingestion/tests/unit/test_sample_usage.py
  openmetadata-spec/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Due: none

Refactor code: Resolve Conflicts
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
Due: google-style-java

minor fix for display name
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/CommentCard.component.tsx
Due: lint-staged

Minor Fix : query_cost_record_search_index Search exception for elasticsearch instance (#21985)
  ingestion/examples/sample_data/datasets/query_log
  ingestion/tests/unit/test_sample_usage.py
  openmetadata-service/src/main/resources/elasticsearch/en/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/query_cost_record_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/query_cost_record_index_mapping.json
Due: none

fix python & snowflake
  ingestion/pyproject.toml
  ingestion/tests/cli_e2e/database/snowflake/snowflake.yaml
Due: none

fix snowflake and tableau
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/tests/cli_e2e/common/test_cli_dashboard.py
  ingestion/tests/cli_e2e/database/snowflake/snowflake.yaml
Due: none

fix snowflake and powerbi
  ingestion/tests/cli_e2e/common/test_cli_dashboard.py
Due: none

fix snowflake
  .github/workflows/py-cli-e2e-tests.yml
Due: none

fix snowflake file
  ingestion/tests/cli_e2e/database/snowflake/snowflake.yaml
Due: none

fix dashboard test
  ingestion/tests/cli_e2e/common/test_cli_dashboard.py
Due: none

Minor: Python E2E Fixes
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
  ingestion/tests/cli_e2e/common/test_cli_dashboard.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/database/oracle/oracle.yaml
  ingestion/tests/cli_e2e/database/snowflake/snowflake.yaml
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_oracle.py
Due: none

Refactor: Clean up imports in E2E test files for Metabase and Snowflake connectors
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
Due: none

Refactor code: Improve Test cases , fixed addNode to fqn hash inconsistency, Added Extra test cases for multihop and multi parent use case
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ESEntityRelationshipGraphBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/EsUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OSEntityRelationshipGraphBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OsUtils.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Due: google-style-java

trying to fix schema search
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SchemaSearch.spec.ts
Due: lint-staged

Minor: Python E2E Fixes (#21959)
  .github/workflows/py-cli-e2e-tests.yml
  ingestion/pyproject.toml
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
  ingestion/tests/cli_e2e/common/test_cli_dashboard.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
  ingestion/tests/cli_e2e/database/oracle/oracle.yaml
  ingestion/tests/cli_e2e/database/snowflake/snowflake.yaml
  ingestion/tests/cli_e2e/test_cli_metabase.py
  ingestion/tests/cli_e2e/test_cli_oracle.py
  ingestion/tests/cli_e2e/test_cli_snowflake.py
Due: none

Refactor code: Make tests run in the same thread to not collide with other entity relationship tests
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
Due: google-style-java
