Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Delete old docs
  .github/workflows/sync-docs-v1.yml
  .github/workflows/sync-docs.yml
Due: none

optimize code
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
Due: lint-staged

Revert to previous logic for extracting change event
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/util/FormatterUtil.java
Due: google-style-java

Restructure PII processor (#11640)
  ingestion/src/metadata/ingestion/processor/pii.py
  ingestion/src/metadata/pii/__init__.py
  ingestion/src/metadata/pii/column_name_scanner.py
  ingestion/src/metadata/pii/models.py
  ingestion/src/metadata/pii/ner_scanner.py
  ingestion/src/metadata/pii/processor.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/src/metadata/utils/logger.py
  ingestion/tests/integration/orm_profiler/test_pii_processor.py
  ingestion/tests/integration/utils/test_processor.py
  ingestion/tests/unit/pii/__init__.py
  ingestion/tests/unit/pii/test_column_name_scanner.py
  ingestion/tests/unit/pii/test_ner_scanner.py
Due: none

fix cypress for big query
  openmetadata-spec/src/main/resources/json/schema/entity/utils/supersetApiConnection.json
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/bigquery.spec.js
Due: lint-staged

Fix a typo
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
Due: none

Fix Descriptor File in Pom
  openmetadata-service/pom.xml
Due: none

feat: fetch metrics from system tables
  ingestion/src/metadata/profiler/interface/sqlalchemy/sqa_profiler_interface.py
  ingestion/src/metadata/profiler/orm/functions/table_metric_construct.py
  ingestion/src/metadata/profiler/processor/core.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
  ingestion/tests/unit/profiler/test_metrics.py
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
Due: none

Fix get columns
  ingestion/src/metadata/ingestion/source/database/datalake/metadata.py
Due: none

feat: add permission doc for fetching metrics from system tables
  openmetadata-docs/content/v1.0.0/connectors/ingestion/workflows/profiler/metrics.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/BigQuery.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Clickhouse.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Mysql.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Oracle.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Redshift.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Snowflake.md
Due: none

feat(ui): supported separate tags for mlmodel entity (#11641)
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableTags/TableTags.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/Tags/tags.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.component.tsx
Due: lint-staged

feat(#11608): show email in teams page (#11642)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
Due: lint-staged

Fix ingestion bot initialization, create jwt token if there is no authMechanism pre-configured
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
Due: google-style-java

fix: openmetadata-ui/src/main/resources/ui/package.json & openmetadata-ui/src/main/resources/ui/yarn.lock to reduce vulnerabilities
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Fix Docker Image Java Vulnerabilities (#11623)
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataInsightChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  pom.xml
Due: google-style-java

Fix data insights pipeline deploy docs
  openmetadata-docs/content/v1.0.0/features/data-insight/index.md
  openmetadata-docs/images/v1.0.0/features/data-insight/metadata-nav.png
Due: none

fix: openmetadata-ui/src/main/resources/ui/package.json & openmetadata-ui/src/main/resources/ui/yarn.lock to reduce vulnerabilities (#11646)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Fixes: 11540 Added api_version and domain fields to Salesforce (#11618)
  ingestion/src/metadata/examples/workflows/salesforce.yaml
  ingestion/src/metadata/ingestion/source/database/salesforce/connection.py
  openmetadata-docs/content/v1.0.0/connectors/database/salesforce/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/database/salesforce/cli.md
  openmetadata-docs/content/v1.0.0/connectors/database/salesforce/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/salesforce/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/salesforce/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/salesforce/index.md
  openmetadata-docs/images/v0.13.3/openmetadata/connectors/salesforce/service-connection.png
  openmetadata-docs/images/v1.0.0/connectors/salesforce/service-connection.png
  openmetadata-docs/images/v1.1.0/connectors/salesforce/service-connection.png
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/CompiledRuleTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/salesforceConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Salesforce.md
Due: google-style-java

Update ingestion/src/metadata/ingestion/source/pipeline/spline/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/spline/metadata.py
Due: none

Update Chinese and French Localizations (#11595)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

feat: add mentions and task tab content
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/assets/svg/bank.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/classification.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/globalsearch.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/glossary.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-quality-v1.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-settings-v1.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/lampcharge.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/logout.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/medalstar.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/thread.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCardV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBodyV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/feed-card-header-v1.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/activity-feed-card.style.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/FeedsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Widgets/FeedsWidget/feeds-widget.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Due: lint-staged

Fix view lineage not generated for oracle
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
Due: none

Fix Azure Blob
  ingestion/src/metadata/utils/datalake_utils.py
Due: none

Removed the log statements in the cypress
  openmetadata-ui/src/main/resources/ui/cypress/common/advancedSearch.js
Due: lint-staged

feat(ui): added update displayName functionality for datamodel entity and updated breadcrumb with displayName for version page
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

logged the Email Messages which are not sent as smpt settings is not enabled
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
Due: google-style-java

Fix #11571: Support custom database name for glue
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/tests/unit/topology/database/test_glue.py
  openmetadata-docs/content/v1.0.0/connectors/database/glue/airflow.md
  openmetadata-docs/content/v1.0.0/connectors/database/glue/cli.md
  openmetadata-docs/content/v1.0.0/connectors/database/glue/index.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/glue/airflow.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/glue/cli.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/database/glue/index.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/glueConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Glue.md
Due: none

modified change event message
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
Due: google-style-java

Modify kwargs as argument
  ingestion/src/metadata/utils/datalake_utils.py
Due: none

fix: jest test
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.test.tsx
Due: lint-staged

rename cypress file
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/DeleteServiceFlow.spec.js
Due: lint-staged

cypress for datamodel
  openmetadata-ui/src/main/resources/ui/cypress/common/serviceUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/updateDisplayName.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/updateDisplayName.spec.js
Due: lint-staged

Cypress: Added cypress test for update display name feature and delete service issue
  openmetadata-ui/src/main/resources/ui/cypress/common/serviceUtils.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/constants/updateDisplayName.constant.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/updateDisplayName.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/deleteServiceFlow.js
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.component.tsx
Due: lint-staged

Fixed failing cypress tests
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddAndRemoveTierAndOwner.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/TierCard/TierCard.tsx
Due: lint-staged

fix failures
  ingestion/src/metadata/ingestion/source/dashboard/superset/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/superset/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/connectionBasicType.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/supersetConnection.json
  openmetadata-ui/src/main/resources/ui/parseConnectionSchema.js
  openmetadata-ui/src/main/resources/ui/src/utils/ConnectionSchema/SupersetConnection.json
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

used a genric message for all
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
Due: google-style-java

logs a genric message with email id
  openmetadata-service/src/main/java/org/openmetadata/service/util/EmailUtil.java
Due: google-style-java
