Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

refactor(ui): DatabaseSchemaVersionPage onto useEntityPermissions
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaVersionPage/DatabaseSchemaVersionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaVersionPage/DatabaseSchemaVersionPage.tsx
Due: lint-staged

refactor(ui): EntityVersionPage onto useEntityPermissions
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
Due: lint-staged

test(ui): fix EntityVersionPage.test.tsx mock for useEntityPermissions
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.test.tsx
Due: lint-staged

test(playwright): page to the app card; anchor the steward switch (#32295)
  openmetadata-ui/src/main/resources/ui/eslint-suppressions.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TestDefinitionPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LiveIndexingTab.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/tests/corpus.test.mjs
  openmetadata-ui/src/main/resources/ui/playwright/utils/applications.ts
Due: lint-staged

refactor(ui): fold useAgentPermissions onto useBulkEntityPermissions
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/hooks/useAgentPermissions.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/hooks/useAgentPermissions.ts
Due: lint-staged

Fix SQL injection, TLS, and XSS findings
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/ingestion/source/database/databricks/queries.py
  ingestion/src/metadata/ingestion/source/database/doris/metadata.py
  ingestion/src/metadata/ingestion/source/database/doris/queries.py
  ingestion/src/metadata/ingestion/source/database/hive/queries.py
  ingestion/src/metadata/ingestion/source/database/hive/utils.py
  ingestion/src/metadata/ingestion/source/database/oracle/metadata.py
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/questdb/queries.py
  ingestion/src/metadata/ingestion/source/database/questdb/utils.py
  ingestion/src/metadata/ingestion/source/database/redshift/incremental_table_processor.py
  ingestion/src/metadata/ingestion/source/database/redshift/metadata.py
  ingestion/src/metadata/ingestion/source/database/redshift/queries.py
  ingestion/src/metadata/ingestion/source/database/redshift/utils.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/src/metadata/ingestion/source/database/snowflake/utils.py
  ingestion/src/metadata/ingestion/source/search/elasticsearch/connection.py
  ingestion/tests/unit/source/database/snowflake/test_queries.py
  ingestion/tests/unit/source/search/elasticsearch/test_connection.py
  ingestion/tests/unit/topology/database/test_databricks_query_reduction.py
  ingestion/tests/unit/topology/database/test_doris.py
  ingestion/tests/unit/topology/database/test_hive.py
  ingestion/tests/unit/topology/database/test_oracle.py
  ingestion/tests/unit/topology/database/test_questdb.py
  ingestion/tests/unit/topology/database/test_redshift_incremental_table_processor.py
  ingestion/tests/unit/topology/database/test_redshift_utils.py
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/FeedEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchPureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.tsx
Due: lint-staged

Avoid leaking React roots in feed mentions
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/FeedEditor.tsx
Due: lint-staged

ci(playwright): backport 2 per-test retries for nightly E2E to 2.0 (#32298)
  .github/workflows/mysql-nightly-e2e.yml
  .github/workflows/postgresql-nightly-e2e.yml
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
Due: lint-staged

refactor(ui): fold useTestDefinitionRowPermissions onto useBulkEntityPermissions
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionList/TestDefinitionList.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionList/useTestDefinitionListPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionList/useTestDefinitionRowPermissions.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionList/useTestDefinitionRowPermissions.ts
Due: lint-staged

fix(security): backport httpclient5 5.6.4 + jsoup 1.23.2 to 2.0 (#32293)
  pom.xml
Due: none

Fixes #32002: persist active persona across page refresh via sessionStorage (1.13 backport) (#32268)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/PersonaSessionPersistence.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Users.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/persona.ts
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PersonaSessionUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/PersonaSessionUtils.ts
Due: lint-staged

refactor(ui): fold useAlertDetailsPermissions onto useEntityPermissions
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/hooks/useAlertDetailsPermissions.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/hooks/useAlertDetailsPermissions.ts
Due: lint-staged

test(ui): pin SSE-tick guard + dedup assertions, document imperative-bridge contract
  openmetadata-ui/src/main/resources/ui/src/components/ServiceAgents/hooks/useAgentPermissions.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionList/useTestDefinitionListPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TestLibrary/TestDefinitionList/useTestDefinitionRowPermissions.ts
Due: lint-staged

fix(security): backport httpclient5 5.6.4 + jsoup 1.23.2 to 1.13 (#32294)
  pom.xml
Due: none

test(ui): align app-mode settings label, drop unsupported live-refresh e2e
  .github/playwright/timing-baseline.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AppMode/AppModeLiveRefresh.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AppMode/AppModeSettings.spec.ts
Due: lint-staged

swap hybrid default values keyword vs semantic (#31968) [2.0 backport]
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v201/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v201/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v201/MigrationUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/migration/utils/v201/HybridSearchWeightSwapTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchRepositoryBehaviorTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/searchSettings.json
Due: google-style-java

fix(tableau): collapse auto-titled mirror columns and clear stored children
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
Due: none

perf(ui): cache user profile pics in localStorage for 24h
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/user-profile/userProfileCache.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/user-profile/userProfileCache.utils.ts
Due: lint-staged

fix(grafana): finalize collapsed-row fix (ruff, pytest, parse coverage)
  ingestion/src/metadata/ingestion/source/dashboard/grafana/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/grafana/models.py
  ingestion/tests/unit/topology/dashboard/test_grafana.py
  ingestion/tests/unit/topology/dashboard/test_grafana_simple.py
Due: none

refactor(ingestion): extract PgMatviewMixin to eliminate duplicated query_view_names_and_types
  ingestion/src/metadata/ingestion/source/database/common_pg_mappings.py
  ingestion/src/metadata/ingestion/source/database/greenplum/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
Due: none

feat(rdf): report translation time as processTimeMs on both indexing paths
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/RdfIndexAppScaleIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/RdfBatchProcessor.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/RdfIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/distributed/RdfPartitionWorker.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/rdf/sink/RdfBulkSink.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/rdf/sink/RdfBulkSinkTest.java
Due: google-style-java

refactor(ui): use a single 24h window for the profile cache
  openmetadata-ui/src/main/resources/ui/src/hooks/user-profile/userProfileCache.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/user-profile/userProfileCache.utils.ts
Due: lint-staged

fix(ingestion): tell an empty KafkaConnect topic answer apart from no answer
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/models.py
  ingestion/tests/unit/topology/pipeline/test_kafkaconnect.py
Due: none

fix(ui): full-width ER diagram drawer and column panel double-close
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericProvider/GenericProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/entity-summary-panel.less
Due: lint-staged

Fixes #18576: keep Oracle CHAR length semantics in the reflected column type
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
  ingestion/tests/unit/topology/database/test_oracle_char_semantics.py
Due: none

feat(skills): add openmetadata-pr-review skill
  .agents/skills/openmetadata-pr-review
  .claude/skills/openmetadata-pr-review
  skills/README.md
  skills/openmetadata-pr-review/SKILL.md
  skills/openmetadata-pr-review/agents/openai.yaml
  skills/openmetadata-pr-review/scripts/pr_triage.py
Due: none

fix(ui): harden profile cache — validate shape, single flush, clear on logout
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useApplicationStore.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/user-profile/userProfileCache.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/hooks/user-profile/userProfileCache.utils.ts
  openmetadata-ui/src/main/resources/ui/src/interface/store.interface.ts
Due: lint-staged

fix(playwright): use positive toHaveURL assertion in closeColumnDetailPanel
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

docs(rdf): partition size decides read concurrency, with measured numbers
  docs/rdf-production-setup.md
Due: none

chore: fix Python checkstyle
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
Due: none

fix(ingestion): key KafkaConnect topic inference on None, not falsiness
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
  ingestion/tests/unit/topology/pipeline/test_kafkaconnect.py
Due: none

test: cover Prefect connection converter registration
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/converter/ClassConverterFactoryTest.java
Due: google-style-java

Remove dead childrenRefreshTrigger, restore real-time badge update
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Glossary/GlossaryTermClassBase.ts
Due: lint-staged

docs(ingestion): state the None and empty-list contract on get_connector_topics
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
Due: none

refactor(databricks): drop the glob machinery Databricks cannot produce
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/kafka_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/models.py
  ingestion/tests/unit/topology/pipeline/test_databricks_dlt_sql_lineage.py
Due: none

fix(ingestion): guard the optional connector type before lowercasing it
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/client.py
Due: none

fix(databricks): describe library discovery as it behaves and lift the depth cap
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/kafka_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/metadata.py
  ingestion/tests/unit/topology/pipeline/test_databricks_dlt_sql_lineage.py
Due: none

fix(rdf): survive Jena 6.2.0's vocabulary-first bootstrap defect
  openmetadata-service/src/main/java/org/openmetadata/service/rdf/translator/RdfPropertyMapper.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/translator/JenaFirstTouchProbe.java
  openmetadata-service/src/test/java/org/openmetadata/service/rdf/translator/RdfJenaBootstrapTest.java
Due: google-style-java

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
