Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

feat(governance): exclude bot changes from workflows, gate custom properties per property
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ChangeRequestAdmissionIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/WorkflowDefinitionResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ApprovalGate.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/approval/GovernanceApprovalRegistryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/WorkflowEventConsumerTest.java
Due: google-style-java

fix(sdk): stop verify_ssl=True from disabling certificate verification (#34016) (#34188)
  ingestion/src/metadata/sdk/README.md
  ingestion/src/metadata/sdk/client.py
  ingestion/src/metadata/sdk/config.py
  ingestion/src/metadata/sdk/examples/builder_end_to_end.py
  ingestion/tests/unit/sdk/test_config.py
Due: none

fix(ui): keep a pending list search across URL changes, add submit-only mode
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/navigation/useListSearchInput.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/navigation/useListSearchInput.tsx
Due: lint-staged

refactor(ui): dedupe marketplace search and header, run NLQ only on Enter
  openmetadata-ui/src/main/resources/ui/src/components/DataMarketplace/MarketplaceSearchBar/MarketplaceSearchBar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataMarketplace/MarketplaceSearchBar/MarketplaceSearchBar.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataMarketplace/MarketplaceSearchInput/MarketplaceSearchInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataMarketplace/MarketplaceSearchInput/MarketplaceSearchInput.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataMarketplace/MarketplaceSearchResults/MarketplaceSearchResults.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataMarketplace/MarketplaceSearchResults/useMarketplaceEntitySearch.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataProduct/DataProductListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DomainListing/DomainListPage.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ListPageHeader/ListPageHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ListPageHeader/ListPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/compositions/useListingData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/compositions/useListingData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/governance/marketplace/MarketplaceOverviewHeader/MarketplaceOverviewHeader.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/governance/marketplace/MarketplaceOverviewHeader/MarketplaceOverviewHeader.tsx
Due: lint-staged

fix(snowflake): read DESC procedure body property and skip quoted tag values (#34146) (#34180)
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/tests/unit/topology/database/test_snowflake.py
Due: none

queries and a cap for the chat's guardrails on uploaded files
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/config/ObjectStorageConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContextFileRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/KnowledgeAssetDAOs.java
Due: google-style-java

fix(ingestion): fail Databend test without user schema
  ingestion/src/metadata/ingestion/source/database/databend/connection.py
  ingestion/tests/unit/source/database/databend/test_connection.py
Due: none

test(ingestion): pin Databend test image and surface container logs
  ingestion/tests/integration/databend/conftest.py
Due: none

fix(ui): commit dereferenced Databend connection schemas
  ingestion/src/metadata/ingestion/source/database/databend/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/databendConnection.json
  openmetadata-ui/src/main/resources/ui/public/jsons/connectionSchemas/connections/database/databendConnection.json
  openmetadata-ui/src/main/resources/ui/public/jsons/connectionSchemas/connections/serviceConnection.json
  openmetadata-ui/src/main/resources/ui/src/jsons/ingestionSchemas/testSuitePipeline.json
  openmetadata-ui/src/main/resources/ui/src/jsons/ingestionSchemas/workflow.json
Due: none

fix(ingestion): preserve inaccessible Databend catalogs
  ingestion/src/metadata/ingestion/source/database/databend/metadata.py
  ingestion/tests/unit/topology/database/test_databend.py
Due: none

fix(ui): ship the Databend service icon as webp
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-databend.svg
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-databend.webp
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceIconUtils.ts
Due: lint-staged

refactor(ingestion): simplify Databend catalog selection and exception tests
  ingestion/src/metadata/ingestion/source/database/databend/connection.py
  ingestion/tests/unit/source/database/databend/test_connection.py
  ingestion/tests/unit/topology/database/test_databend.py
Due: none

fix(ui): refresh Databend dereferenced connection schemas after main merge
  openmetadata-ui/src/main/resources/ui/public/jsons/connectionSchemas/connections/database/databendConnection.json
  openmetadata-ui/src/main/resources/ui/public/jsons/connectionSchemas/connections/serviceConnection.json
Due: none

Fixes #32936: Preserve JSON types in scripted upserts
  openmetadata-service/src/test/java/org/openmetadata/service/search/elasticsearch/ElasticSearchEntityManagerUpsertTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/opensearch/OpenSearchEntityManagerUpsertTest.java
Due: google-style-java

feat(ingestion): Add Neo4j database connector
  ingestion/setup.py
  ingestion/src/metadata/examples/workflows/neo4j.yaml
  ingestion/src/metadata/ingestion/source/database/neo4j/__init__.py
  ingestion/src/metadata/ingestion/source/database/neo4j/connection.py
  ingestion/src/metadata/ingestion/source/database/neo4j/metadata.py
  ingestion/src/metadata/ingestion/source/database/neo4j/models.py
  ingestion/src/metadata/ingestion/source/database/neo4j/queries.py
  ingestion/src/metadata/ingestion/source/database/neo4j/service_spec.py
  ingestion/src/metadata/ingestion/source/database/neo4j/utils.py
  ingestion/src/metadata/utils/constants.py
  ingestion/src/metadata/utils/filters.py
  ingestion/tests/unit/topology/database/test_neo4j.py
  openmetadata-service/src/main/resources/json/data/testConnections/database/neo4j.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/neo4jConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-ui/src/main/resources/ui/public/jsons/connectionSchemas/connections/database/neo4jConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/Neo4j.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-neo4j.svg
  openmetadata-ui/src/main/resources/ui/src/constants/ServiceType.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDatabaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/database.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/databaseSchema.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/storedProcedure.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/table.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/database/neo4jConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/databaseService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/serviceProgressEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DatabaseServicePureUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceIconUtils.ts
Due: lint-staged

test(playwright): expect the translated duplicate-term message in glossary specs
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
Due: lint-staged

fix: fail closed when matchAnyDomain/matchAnyCertification have no arguments
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/RBACConditionEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/security/ElasticSearchRBACConditionEvaluatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/security/OpenSearchRBACConditionEvaluatorTest.java
Due: google-style-java

style(ui): match App Layout page typography to the 1a design
  openmetadata-ui-core-components/src/main/resources/ui/src/components/base/button-group/button-group.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/platform/persona/PersonaAppLayoutPage/PersonaAppLayoutPage.tsx
Due: lint-staged

revert(playwright): drop Data Insight serialization for KPI Widget
  openmetadata-ui/src/main/resources/ui/playwright.config.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/CustomizeWidgets.spec.ts
Due: lint-staged

ci(playwright): quarantine inventory, queue shard coverage and gate, artifact integrity
  .github/playwright/impact-map.json
  .github/workflows/playwright-e2e-reusable.yml
  .github/workflows/playwright-postgresql-e2e.yml
Due: none

ci(playwright): measure first attempts; normalize run-attempt artifacts
  .github/scripts/classify_playwright_outcome.py
  .github/scripts/normalize_playwright_artifacts.cjs
  .github/scripts/tests/test_playwright_artifact_recovery.py
  .github/scripts/tests/test_playwright_merge_group_validation.py
Due: none

Fixes #26521: Decouple Incident Manager Permissions from Test Case Edit Permissions (#32074)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TaskRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestCaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/TaskRepositoryIncidentAuthRequestsTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResolutionStatusAuthRequestsTest.java
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManagerTable.component.tsx
Due: google-style-java, lint-staged

fix(ui): render Explore column card table link with core Button
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedApp.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
Due: lint-staged

ci(playwright): merge groups upload no reports; shards verify locally
  .github/scripts/tests/test_playwright_merge_group_validation.py
  .github/workflows/playwright-e2e-reusable.yml
  .github/workflows/playwright-postgresql-e2e.yml
Due: none

fix(ui): stop the card grid clipping cards in AI mode
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityCardView/EntityCardView.component.tsx
Due: lint-staged

fix(ui): dark-mode polish for Explore Browse Estate, tag borders and glossary show-more
  openmetadata-ui-core-components/src/main/resources/ui/src/styles/globals.css
  openmetadata-ui/src/main/resources/ui/src/components/Explore/ExploreTree/explore-tree.less
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/exploreV1.less
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermsSection/GlossaryTermsSection.less
  openmetadata-ui/src/main/resources/ui/src/components/common/GlossaryTermsSection/GlossaryTermsSection.tsx
Due: lint-staged

fix(ui): fix DomainScopeControl test mock at new path (Globe01)
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainScopeControl/DomainScopeControl.test.tsx
Due: lint-staged

fix(ui): match Explore card footer table link to footer text size
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
Due: lint-staged

test(ui): certify the table at create so its columns deterministically inherit it
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ExploreFilterComposition.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
Due: lint-staged

Fixes #33485: cache dialects without a system metrics implementation (#34050)
  ingestion/.ruff-g004-baseline.json
  ingestion/src/metadata/profiler/metrics/system/system.py
  ingestion/tests/unit/profiler/test_system_metrics_registry.py
Due: none

Trim the boot bundle and fold lazy-only enum modules into one chunk
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/BasicAuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Certification/Certification.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContextCenter/MemoriesView/MemoriesView.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/ColumnDetailPanel/ColumnDetailPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCard/KnowledgeCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KnowledgeCenter/KnowledgeCard/KnowledgeCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/LineageTable/LineageTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricDefinitionCard/MetricDefinitionCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotListV1/BotListV1.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamHierarchy.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamsHeaderSection/TeamHierarchyNameCell.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SsoTestLogin/candidateUserManagerConfig.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SsoTestLogin/candidateUserManagerConfig.ts
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SsoTestLogin/ssoTestCallbackBootstrap.ts
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SsoTestLogin/useSsoTestLogin.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SsoTestLogin/useSsoTestLogin.ts
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityTitleSection/EntityTitleSection.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContextCenterPage/ContextCenterAIContextPage/ContextCenterAIContextPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/AddAttributeModal/AddAttributeModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexFieldsTab/SearchIndexFieldsTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AuthProvider.util.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsVersionHeaderUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySearchUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntitySearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionListTableUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RichTextStringUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/StringUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/StringUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsSessionUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/WebAnalyticsUtils.ts
  openmetadata-ui/src/main/resources/ui/vite.config.ts
Due: lint-staged

chore(ci): seed Playwright timing baseline from main 6a0067a7517
  README.md
  timing-baseline.json
Due: none

fix(ui): move Mutually Exclusive to the end of the glossary and term forms
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
Due: lint-staged

ci(playwright): keep the timing baseline on ci/playwright-timing, refreshed daily
  .github/scripts/tests/test_playwright_merge_group_validation.py
  .github/workflows/playwright-e2e-reusable.yml
  .github/workflows/playwright-postgresql-e2e.yml
Due: none

refactor(data-quality): share the Rule Library SQL expression renderer
  ingestion/src/metadata/data_quality/validations/column/base/columnRuleLibrarySqlExpressionValidator.py
  ingestion/src/metadata/data_quality/validations/table/base/tableRuleLibrarySqlExpressionValidator.py
  ingestion/src/metadata/data_quality/validations/utils.py
Due: none

fix(data-quality): render Rule Library SQL expressions in a Jinja sandbox (#34015) (#34187)
  ingestion/setup.py
  ingestion/src/metadata/data_quality/validations/column/base/columnRuleLibrarySqlExpressionValidator.py
  ingestion/src/metadata/data_quality/validations/column/sqlalchemy/columnRuleLibrarySqlExpressionValidator.py
  ingestion/src/metadata/data_quality/validations/table/base/tableRuleLibrarySqlExpressionValidator.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableRuleLibrarySqlExpressionValidator.py
  ingestion/tests/unit/observability/data_quality/validations/test_rule_library_sql_expression_validator.py
Due: none

chore(playwright): refresh timing baseline from run 36544402544
  timing-baseline.json
Due: none

fix(playwright): clean up runtime-built shared chains; no double rebuild
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SharedInfra.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/parentResolver.test.ts
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
