Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

fix(ingestion): resolve a static outbox route.topic.replacement from config
  ingestion/src/metadata/ingestion/source/pipeline/kafkaconnect/metadata.py
  ingestion/tests/unit/topology/pipeline/test_kafkaconnect.py
Due: none

Fix user patch permissions
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/UserResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/DefaultAuthorizerTest.java
Due: google-style-java

fix: preserve ingestion action compatibility
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/IngestionPipelineOwnerInheritanceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActions.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActionsDropdown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionListTable/PipelineActions/PipelineActionsDropdown.tsx
Due: google-style-java, lint-staged

fix(security): validate follower user IDs
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DataProductResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java
Due: google-style-java

fix(ui): restroke the Ontology Studio nav glyph in the govern module
  openmetadata-ui/src/main/resources/ui/src/components/governance/govern/govern.module.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IconUtils.tsx
Due: lint-staged

fix(ui): full-width ER diagram drawer and column panel double-close (#32305)
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericProvider/GenericProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/entity-summary-panel.less
Due: lint-staged

Fixes #28591: Airbyte lineage for S3 (container) and API entities
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/constants.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/models.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/utils.py
  ingestion/src/metadata/ingestion/source/pipeline/pipeline_service.py
  ingestion/tests/unit/source/pipeline/airbyte/test_lineage_storage.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/pipelineServiceMetadataPipeline.json
Due: none

Render plain text instead of BlockEditor while clamped and collapsed in clampByLines mode
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewNew.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewNew.tsx
Due: lint-staged

Fixes 31278: Extract lineage from SQL-defined Databricks DLT pipelines (#31654)
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/dlt_parsers.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/kafka_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/databrickspipeline/models.py
  ingestion/tests/unit/topology/pipeline/test_databricks_dlt_sql_lineage.py
  ingestion/tests/unit/topology/pipeline/test_databricks_kafka_lineage.py
  ingestion/tests/unit/topology/pipeline/test_databricks_kafka_parser.py
  ingestion/tests/unit/topology/pipeline/test_databricks_self_referencing_lineage.py
Due: none

style(ui): satisfy the UI checkstyle gate
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/table/table.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Table/TableV2.tsx
Due: lint-staged

Decode HTML entities and separate block boundaries in the clamped plain-text preview
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewNew.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditorPreviewNew.tsx
Due: lint-staged

Address review: enforce impersonation on all authorizer paths, fix role elevation
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/BotImpersonationIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/UserResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/ImpersonationContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/DefaultAuthorizerTest.java
Due: google-style-java

test(ui): restore AppMode timing-baseline seeds dropped in merge
  .github/playwright/timing-baseline.json
Due: none

Potential fix for pull request finding
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
Due: none

fix(governance): validate workflow edge conditions and node references
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowExpressionValidator.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/Edge.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowDefinitionRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/WorkflowExpressionValidatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/EdgeTest.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/edge.json
Due: google-style-java

Playwright burn-down 1: eliminate no-wait-for-timeout and no-force-option (#32283)
  openmetadata-ui/src/main/resources/ui/eslint-suppressions.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Auth/SSOAuthentication.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ContextCenterArticles.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/KnowledgeCenterTextEditor.common.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/nightly/ContextCenter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/tests/corpus.test.mjs
  openmetadata-ui/src/main/resources/ui/playwright/utils/ContextCenterUtil.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/KnowledgeCenter.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeLandingPage.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/logsViewer.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/taskWorkflow.ts
Due: lint-staged

fix(migration): simplify entity usage index creation
  bootstrap/sql/migrations/native/2.1.0/mysql/schemaChanges.sql
Due: none

fix(security): bump Apache Jena and Fuseki to 6.2.0 (CVE-2026-61372) (#32274)
  docker/development/docker-compose-fuseki.yml
  docker/development/docker-compose-postgres-fuseki.yml
  docker/docker-compose-quickstart/Dockerfile.fuseki-alpine
  docker/docker-compose-quickstart/Dockerfile.fuseki-arm64
  docker/docker-compose-quickstart/Dockerfile.fuseki-multiarch
  docker/docker-compose-quickstart/Dockerfile.fuseki-simple
  docker/docker-compose-quickstart/Dockerfile.fuseki-working
  docker/docker-compose-quickstart/docker-compose-fuseki-rosetta.yml
  docker/docker-compose-quickstart/docker-compose-fuseki-standalone.yml
  docker/docker-compose-quickstart/docker-compose-rdf.yml
  docker/rdf-store/Dockerfile
  docs/rdf-local-development.md
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  pom.xml
Due: google-style-java

fix: validate bulk pipeline deployment IDs
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/IngestionPipelineOwnerInheritanceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Due: google-style-java

Scope null-entity owner short-circuit to list requests; cover per-entity denial
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ResourceContextInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RuleEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryOwnerDenyPolicy.spec.ts
Due: google-style-java, lint-staged

test(ui): harden no-raw-permission-access rule (alias, destructuring, bracket)
  openmetadata-ui/src/main/resources/ui/eslint-rules/openmetadata-permissions.mjs
  openmetadata-ui/src/main/resources/ui/eslint-rules/openmetadata-permissions.test.mjs
Due: none

refactor(ui): QueryCardExtraOption — drop raw EditAll destructuring
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryCardExtraOption/QueryCardExtraOption.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryCardExtraOption/QueryCardExtraOption.test.tsx
Due: lint-staged

refactor(ui): TableQueryRightPanel — drop raw EditAll destructuring
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
Due: lint-staged

Handle roles as admin-only input on user create
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/BotImpersonationIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/UserResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/DefaultAuthorizer.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/ImpersonationContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/DefaultAuthorizerTest.java
Due: google-style-java

chore(ui): promote no-raw-permission-access to error; ban raw permission-priority imports
  openmetadata-ui/src/main/resources/ui/eslint.config.mjs
Due: none

fix(mcp): protect task patch lifecycle
  openmetadata-mcp/src/main/java/org/openmetadata/mcp/tools/PatchEntityTool.java
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/PatchEntityToolTest.java
Due: google-style-java

fix(search): recurse into nested columns for columnDescriptionStatus (#32173) (#32202)
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ColumnIndex.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/indexes/ColumnIndexLimitTest.java
Due: google-style-java

feat(ui): move toOwnerRef/toOwnerRefs into core-components
  openmetadata-ui-core-components/src/main/resources/ui/src/components/application/owner/owner-utils.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/components/index.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Owner/ownerConversionUtils.ts
Due: lint-staged

Simplify isOwner() list handling to match hasDomain()'s no-entity check
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ResourceContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/ResourceContextInterface.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/RuleEvaluator.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/policyevaluator/RuleEvaluatorTest.java
Due: google-style-java

fix(ui): fix StatItem and CoreArrayField test failures
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/StatItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilderV1/fields/CoreArrayField.test.tsx
Due: lint-staged

Reset local status filter selection when the active glossary/term changes
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.test.tsx
Due: lint-staged

docs(ui): document permission-rule prop and glob scope limitations
  openmetadata-ui/src/main/resources/ui/eslint-rules/openmetadata-permissions.mjs
Due: none

refactor(governance): scope edge expression validation to conditional edges
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowExpressionValidator.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowDefinitionRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/WorkflowExpressionValidatorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/EdgeTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/WorkflowDefinitionRepositoryEdgeSafetyTest.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/edge.json
Due: google-style-java

test(ui): un-stub permission derivation in useTestCaseIncidentHeader tests
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/IncidentManagerPageHeader/useTestCaseIncidentHeader.test.tsx
Due: lint-staged

fix(ui): keep rename ungated on soft-deleted entities in DataAssetsHeader
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DataAssetsHeader/DataAssetsHeader.test.tsx
Due: lint-staged

docs(ui): note deny-wins conversions at remaining sites
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/QueryCardExtraOption/QueryCardExtraOption.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelFeaturesList.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/useTestCaseDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaDetailsPage/PersonaDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/hooks/useTestSuiteDetailsPage.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
