Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

style(ui): organise imports in CustomizeMyDataPageImageUtils
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizeMyDataPageImageUtils.ts
Due: lint-staged

Fixes #29959: don't fail pipeline listing/redeploy on soft-deleted services
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/IngestionPipelineResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/OpenMetadataOperationsDeployPipelinesTest.java
Due: google-style-java

Fixes 34011: Reuse the dbt upstream table already fetched during parse (#34012)
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_utils.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/dbt/models.py
  ingestion/tests/unit/resources/datasets/manifest_upstream_lineage.json
  ingestion/tests/unit/test_dbt.py
Due: none

fix(pii): name predefined recognizers after their config instead of suffix matching
  ingestion/src/metadata/pii/algorithms/presidio_recognizer_factory.py
  ingestion/src/metadata/pii/algorithms/tag_scoring.py
  ingestion/tests/unit/metadata/pii/test_tag_scoring.py
Due: none

ci: cancel the Collate build when its dispatching job is cancelled
  .github/workflows/maven-build-collate.yml
Due: none

fix(ui): match the AI sidebar profile card to the Collate design
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainScopeControl/DomainScopeControl.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainScopeControl/DomainScopeControl.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelect/DomainSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelect/DomainSelect.types.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/AIUserMenu/AIUserMenu.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/AIUserMenu/AIUserMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/platform/ai-shell/Sidebar/UserProfileCard.tsx
Due: lint-staged

Fixes #34928: measure the Overview card drag drop point after hover scrolls the page (#34929)
  .github/playwright/impact-map.generated.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/PersonaOverviewCardWidgets.spec.ts
Due: lint-staged

refactor(ui): move ConfirmationModal onto core Dialog (#34161)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ActivityAPI.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/activityFeed.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/ConfirmationModal/ConfirmationModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/settings-sso.less
Due: lint-staged

lint fix
  openmetadata-ui/src/main/resources/ui/playwright/utils/storageStateRecovery.ts
Due: lint-staged

fix(ingestion): match FK referred columns to the parent table's column case
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/utils/constraints.py
  ingestion/tests/integration/mysql/test_foreign_key_case.py
  ingestion/tests/unit/topology/database/test_common_db_source.py
Due: none

Fixes #34270: State that the 80,000-byte sparql_query body cap is the default and an administrator can lower it
  docs/adr/2026-09-16-agent-sparql-execution.md
  docs/rdf-ontology-contract.md
  openmetadata-mcp/src/main/resources/json/data/mcp/tools.json
Due: none

Fixes #34870: Platform Settings part 4 — Search (#34896)
  .github/playwright/impact-map.generated.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ProfilePlatformSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/ConfirmDialog.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettings.types.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettings.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettings.utils.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettingsPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettingsPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/EntitySearchSettings.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/EntitySearchSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/FieldValueBoostDialog.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/FieldValueBoostTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/GlobalSearchSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/HybridWeightsSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/MatchingFieldCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/NumberSettingRow.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/RankingSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchEntityCards.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchPreviewPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchPreviewPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSettings.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSettings.utils.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSettingsView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSettingsView.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/TermBoostCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/TermBoostCard.tsx
Due: lint-staged

Fixes #34869: Platform Settings part 3 — Data Asset Rules, Learning Resources (#34888)
  .github/playwright/impact-map.generated.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ProfilePlatformSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/ConfirmDialog.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/DataAssetRulesSettings.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/DataAssetRulesSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/DimensionSettingsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/EmailSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/LearningResourceSettings.utils.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/LearningResourceSettingsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/LearningResourcesSettings.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/LearningResourcesSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettings.types.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettings.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettings.utils.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettingsLanding.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettingsPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/PlatformSettingsPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/SettingsFormLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/EntitySearchSettings.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/EntitySearchSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/FieldValueBoostDialog.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/FieldValueBoostTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/GlobalSearchSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/HybridWeightsSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/MatchingFieldCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/NumberSettingRow.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/RankingSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchEntityCards.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchPreviewPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchPreviewPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSection.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSettings.utils.test.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSettings.utils.ts
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSettingsView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSettingsView.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/TermBoostCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/TermBoostCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/useSettingsFetch.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LearningResourcesPage/hooks/useLearningResourceFilters.tsx
Due: lint-staged

Keep busy Platform Settings dialogs open until their request finishes
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/ConfirmDialog.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/DataQualitySettings.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/DimensionDeleteDialog.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/TestEmailModal.tsx
Due: lint-staged

Decide a change request change by change
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/WorkflowDefinitionResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ApprovalDecisionService.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeApplyService.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeRequestReview.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/ChangeSelection.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/approval/MutationPlanner.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TaskRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tasks/TaskResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/tasks/TaskWorkflowHandler.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/approval/ChangeSelectionTest.java
  openmetadata-spec/src/main/resources/json/schema/api/tasks/resolveTask.json
  openmetadata-spec/src/main/resources/json/schema/governance/changeRequest/approvalDecision.json
  openmetadata-spec/src/main/resources/json/schema/governance/changeRequest/changeLifecycleEvent.json
Due: google-style-java

Fix column padding utilities and core Box test mocks
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreSearchCard/ExploreSearchCard.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/IncidentManager/IncidentManager.test.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/layout.less
Due: lint-staged

test(ui): choose the incident root cause from the core Select
  openmetadata-ui/src/main/resources/ui/eslint-suppressions.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/IncidentManager.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/eslint-rules/tests/corpus.test.mjs
Due: lint-staged

fix: restore missing closing brace before matchAnyDomain in RBACConditionEvaluator
  openmetadata-service/src/main/java/org/openmetadata/service/search/security/RBACConditionEvaluator.java
Due: google-style-java

fix(playwright): select Airflow Backend Connection oneOf option reliably on 2.0
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/AirflowIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceFormUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilderV1/formBuilderV1LabelUtils.test.ts
Due: lint-staged

test: stub Entity.getEntityFields so QueryRepository can be constructed
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/QueryRepositoryParentEntityTest.java
Due: google-style-java

chore(docs): drop the Delta Lake detection spike notes
  docs/delta-lake-detection-decision.md
  docs/delta-lake-detection-evidence/README.md
  docs/delta-lake-detection-evidence/audit-A-deltalake-impact.md
  docs/delta-lake-detection-evidence/audit-B-lake-engines.md
  docs/delta-lake-detection-evidence/audit-C-warehouses.md
  docs/delta-lake-detection-evidence/audit-D-sweep.md
  docs/delta-lake-detection-evidence/delta-metadata-fidelity.md
  docs/delta-lake-detection-evidence/live-glue-delta-detection.md
  docs/delta-lake-detection-evidence/live-hive-delta-detection.md
  docs/delta-lake-detection-evidence/live-presto-delta-detection.md
  docs/delta-lake-detection-evidence/live-starrocks-delta-detection.md
  docs/delta-lake-detection-evidence/live-trino-delta-detection.md
  ingestion/tests/unit/topology/database/test_glue.py
Due: none

test: drop the getFormDisplayLabel unit test from the 2.0 backport
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceFormUtils.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/FormBuilderV1/formBuilderV1LabelUtils.test.ts
Due: lint-staged

fix(alerts): start a re-enabled alert from now and run the backlog skip once (#34845)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/alerts/AlertBacklogMigrationIT.java
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/alerts/AlertDeliveryIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EventSubscriptionRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v210/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v210/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v210/AlertBacklogMigration.java
Due: google-style-java

Restore main layout parity for migrated columns
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/KPIChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/CustomiseHomeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetHeader/WidgetHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/EntitySeachSettings/EntitySearchSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/TermBoost/TermBoost.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Skeleton/CommonSkeletons/LabelCountSkeleton/LabelCountSkeleton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Skeleton/SummaryPanelSkeleton/SummaryPanelSkeleton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/TableDataCardV2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightHeader/DataInsightHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchSettingsPage/SearchSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/antd-master.less
  openmetadata-ui/src/main/resources/ui/src/styles/layout.less
Due: lint-staged

chore(playwright): prune the stale serviceFormUtils positional-locator suppression
  openmetadata-ui/src/main/resources/ui/eslint-suppressions.json
Due: none

fix(#33434): add single-column index on entity_usage.id
  bootstrap/sql/migrations/native/2.1.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/2.1.0/postgres/schemaChanges.sql
Due: none

fix: keep ALTER DATABASE as the last statement in 2.1.0 mysql migration
  bootstrap/sql/migrations/native/2.1.0/mysql/schemaChanges.sql
Due: none

fix(glue): keep a Delta-marked view typed as View
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/tests/unit/topology/database/test_glue.py
Due: none

feat(ui): let a query builder caller allow removing its last condition
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryBuilder/QueryBuilder.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryBuilder/QueryBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryBuilder/QueryBuilder.types.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryBuilder/QueryBuilderCanvas/QueryBuilderCanvas.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryBuilder/QueryBuilderCanvas/QueryBuilderCanvas.types.ts
Due: lint-staged

fix(ui): offer data contract conditions only on fields contracts populate
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
Due: lint-staged

style(ui): even out the AI profile menu corners, type and colours
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainScopeControl/DomainScopeControl.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/AIUserMenu/AIUserMenu.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/AIUserMenu/AIUserMenu.tsx
  openmetadata-ui/src/main/resources/ui/src/components/platform/ai-shell/Sidebar/UserProfileCard.tsx
Due: lint-staged

perf: match the navbar domain filter on resolved domain ids and the listed type
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DomainNavFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GovernanceDAOs.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ListFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/DomainNavFilterTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/ListFilterTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/EntityUtilTest.java
Due: google-style-java

Report a Search reset as successful only when the reload works
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/EntitySearchSettings.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/EntitySearchSettings.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSettingsView.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/discovery/personal-space/Profile/tabs/platform-settings/search/SearchSettingsView.tsx
Due: lint-staged

ci(collate): dispatch the Collate build without idling a runner on it
  .github/workflows/maven-build-collate.yml
Due: none

Add Box to TableQueries core-components test mock
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueries.test.tsx
Due: lint-staged

ci: pin jlumbroso/free-disk-space to a commit SHA everywhere
  .github/actions/validate-omd-docker-compose/action.yml
  .github/workflows/airflow-apis-tests.yml
  .github/workflows/docker-openmetadata-ingestion-base.yml
  .github/workflows/docker-openmetadata-ingestion.yml
  .github/workflows/integration-tests-mysql-elasticsearch.yml
  .github/workflows/integration-tests-postgres-elasticsearch-redis.yml
  .github/workflows/integration-tests-postgres-opensearch.yml
  .github/workflows/java-checkstyle.yml
  .github/workflows/java-playwright-nightly.yml
  .github/workflows/playwright-e2e-reusable.yml
  .github/workflows/playwright-knowledge-graph-postgresql-e2e.yml
  .github/workflows/playwright-search-nightly.yml
  .github/workflows/playwright-sso-login-nightly.yml
  .github/workflows/publish-maven-package.yml
  .github/workflows/py-cli-e2e-tests-v2.yml
  .github/workflows/py-cli-e2e-tests.yml
  .github/workflows/py-operator-build-test.yml
  .github/workflows/py-sonarcloud-nightly.yml
  .github/workflows/py-tests-shared.yml
  .github/workflows/security-scan.yml
  .github/workflows/ui-sonarcloud-nightly.yml
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
