Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

uriinfo
  openmetadata-service/src/main/java/org/openmetadata/service/resources/scim/ScimResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/scim/ScimProvisioningService.java
  openmetadata-service/src/main/java/org/openmetadata/service/scim/impl/DefaultScimProvisioningService.java
Due: google-style-java

Fix wrong path
  .github/workflows/py-nox-ci.yml
Due: none

patch request
  openmetadata-service/src/main/java/org/openmetadata/service/resources/scim/ScimResource.java
Due: google-style-java

fix the last failing unit test
  openmetadata-ui/src/main/resources/ui/src/utils/mocks/EntitySummaryPanelUtils.mock.tsx
Due: lint-staged

Use working-directory for gha
  .github/workflows/py-nox-ci.yml
Due: none

Fix wrong section in gha yml
  .github/workflows/py-nox-ci.yml
Due: none

Fix #21226: External ingestion not visible on UI without Airflow
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Due: google-style-java

Diable some lint to diagnose failures
  ingestion/noxfile.py
Due: none

Rm version matrix for debugging
  .github/workflows/py-nox-ci.yml
Due: none

Fix type in nox invocation
  .github/workflows/py-nox-ci.yml
Due: none

Fix style
  ingestion/noxfile.py
Due: none

Add version and update checkout version
  .github/workflows/py-nox-ci.yml
Due: none

update to use util
  openmetadata-ui/src/main/resources/ui/src/App.tsx
Due: lint-staged

Add required system dependencies
  .github/workflows/py-nox-ci.yml
Due: none

fix the entityRightPanel and serviceEntity playwright spec (#21352)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/EntityRightCollapsablePanel.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DatabaseClass.ts
Due: lint-staged

svg icon
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-unitycatalog.png
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-unitycatalog.svg
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Due: lint-staged

fix table widgets overflow issue for persona customization
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericWidget/generic-widget.less
Due: none

fix widget header border radius
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizeDetailsPage/customize-details-page.less
Due: none

fix tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/CustomPropertyTable/CustomPropertyTable.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

MINOR - fix test suite migration (#21320)
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v110/MigrationUtil.java
Due: google-style-java

moved constent to different file
  openmetadata-ui/src/main/resources/ui/src/constants/CustomizeWidgets.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GenericWidget/GenericWidgetUtils.tsx
Due: lint-staged

fix query builder widget any and not operations
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/query-builder-widget.less
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderUtils.tsx
Due: lint-staged

fix playwright for entity announcement
  openmetadata-ui/src/main/resources/ui/playwright/utils/entity.ts
Due: lint-staged

MINOR: PBI dataset expressions empty value fix (#21409)
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/powerbi/models.py
  ingestion/tests/unit/topology/dashboard/test_powerbi.py
Due: none

fix data products widget style for persona customization
  openmetadata-ui/src/main/resources/ui/src/utils/GenericWidget/GenericWidgetUtils.tsx
Due: lint-staged

temp checks with logs
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppAuthenticators/OktaAuthenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/Auth/TokenService/TokenServiceUtil.ts
Due: lint-staged

Make presidio_analyzer a lazy import in the PII processor (#21408)
  ingestion/src/metadata/pii/processor.py
Due: none

chore(docker-compose): Bump `indices.query.bool.max_clause_count=4096` (#21301)
  docker/development/docker-compose-postgres.yml
Due: none

fix: failing test case
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
Due: google-style-java

service provider config
  openmetadata-service/src/main/java/org/openmetadata/service/resources/scim/ScimResource.java
Due: google-style-java

Doc: Lineage Images Updation
  openmetadata-docs/content/v1.7.x/how-to-guides/data-lineage/workflow.md
  openmetadata-docs/content/v1.8.x-SNAPSHOT/how-to-guides/data-lineage/workflow.md
  openmetadata-docs/images/v1.7/how-to-guides/lineage/edge.png
  openmetadata-docs/images/v1.7/how-to-guides/lineage/lineage1.png
  openmetadata-docs/images/v1.7/how-to-guides/lineage/lineage2.png
  openmetadata-docs/images/v1.7/how-to-guides/lineage/wkf2.png
  openmetadata-docs/images/v1.7/how-to-guides/lineage/wkf3.png
  openmetadata-docs/images/v1.7/how-to-guides/lineage/wkf4.png
  openmetadata-docs/images/v1.8/how-to-guides/lineage/edge.png
  openmetadata-docs/images/v1.8/how-to-guides/lineage/lineage1.png
  openmetadata-docs/images/v1.8/how-to-guides/lineage/lineage2.png
  openmetadata-docs/images/v1.8/how-to-guides/lineage/wkf2.png
  openmetadata-docs/images/v1.8/how-to-guides/lineage/wkf3.png
  openmetadata-docs/images/v1.8/how-to-guides/lineage/wkf4.png
Due: none

Fix #17799: Doris ingestion failed
  ingestion/src/metadata/ingestion/source/database/doris/metadata.py
Due: none

Register auditing subtypes in OpenmeteadataOperations
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Due: google-style-java

MINOR: unity catalog separate icon (#21384)
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-unitycatalog.svg
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Due: lint-staged

WIP
  .github/workflows/py-nox-ci.yml
Due: none

added playwright test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Entity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ContainerClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/DashboardClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/SearchIndexClass.ts
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardChartTable/DashboardChartTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
