Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Address review comments
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/client.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/models.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/client.py
  ingestion/src/metadata/utils/constants.py
Due: none

added api integrations
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
Due: lint-staged

sync translation
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

fix: cypress/java test failures
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
Due: google-style-java, lint-staged

Reverted the changes for reindex in SearchFlow spec
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/SearchFlow.spec.js
Due: lint-staged

Add Error handling on ometa_df_sampled
  ingestion/src/metadata/mixins/pandas/pandas_mixin.py
Due: none

localization
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
Due: lint-staged

Added logic for deleting schemas
  ingestion/src/metadata/ingestion/models/delete_entity.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
Due: none

Doc update for Data-insight (#10985)
  openmetadata-docs/content/openmetadata/data-insight/index.md
Due: none

updating ingestion check
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
Due: lint-staged

chore: add info popover
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/FilterPattern.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InfoPopover/InfoPopover.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

updated footer size for query card
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/QueryCard.tsx
Due: lint-staged

fix#10859: permission issue in test suite details page (#10997)
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/DataQualityTab.tsx
Due: lint-staged

Fix Tests
  ingestion/tests/unit/test_ometa_to_dataframe.py
Due: none

fix: unit test
  openmetadata-ui/src/main/resources/ui/src/components/common/FilterPattern/FilterPattern.test.tsx
Due: lint-staged

chore(ui) #10886 : Add version page for container (#10988)
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/objectStoreAPI.ts
Due: lint-staged

revert changes related cypress.config
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
Due: lint-staged

fix: glossary route path for add term
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Glossary.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTermReferencesModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryOverviewTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermReferences.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/GlossaryTermSynonyms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/tabs/RelatedTerms.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryVersion/GlossaryVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainer/tags-container.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagButton/TagButton.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TagsInput/TagsInput.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/glossary.less
Due: lint-staged

fix: jest test
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryDetailsRightPanel/GlossaryDetailsRightPanel.test.tsx
Due: lint-staged

fix: mocked URL intercept for cypress test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
Due: lint-staged

Resolve comments
  ingestion/src/metadata/mixins/pandas/pandas_mixin.py
  ingestion/tests/unit/test_ometa_to_dataframe.py
Due: none

added UI changes to allow soft deletion and restoration of database schemas
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/databaseAPI.ts
Due: lint-staged

Use metabase models in client (#10995)
  ingestion/src/metadata/ingestion/ometa/client.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/client.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/metabase/models.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/client.py
  ingestion/src/metadata/utils/constants.py
Due: none

chore: generate metadata workflow fields dynamically
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

airflow support for higher versions
  ingestion/src/metadata/ingestion/source/pipeline/airflow/lineage_parser.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow/models.py
Due: none

Add multiple checks
  ingestion/src/metadata/mixins/pandas/pandas_mixin.py
Due: none

Fixes #10854 - Create/Update Chart Not working as Expected (#10991)
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  ingestion/tests/unit/topology/dashboard/test_domodashboard.py
  ingestion/tests/unit/topology/dashboard/test_quicksight.py
  ingestion/tests/unit/topology/dashboard/test_tableau.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ChartRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/charts/ChartResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/charts/ChartResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/data/createChart.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
Due: google-style-java

Format
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v009__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v009__create_db_connection_info.sql
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/glueConnection.json
Due: none

Fix test
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
Due: google-style-java

Refactor
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/resources/json/data/testConnections/storage/s3.json
Due: google-style-java

Clean location
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/main/resources/json/data/ResourceDescriptors.json
Due: google-style-java

Added Version Page in DataModel entity
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModels/ModelTab/ModelTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomNode.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/dataModelsAPI.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/DataModelsUtils.ts
Due: lint-staged

minor changes
  openmetadata-ui/src/main/resources/ui/src/pages/DataModelPage/DataModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
Due: lint-staged

chore: generate other workflow fields dynamically
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

Rename object store to storage
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ContainerRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DatabaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/DatabaseResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/StorageServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/storages/ContainerResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityInfoDrawer/EntityInfoDrawer.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PermissionProvider/PermissionProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ConnectionConfigForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Services/Services.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DeleteWidget/DeleteWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/GlobalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/PageHeaders.constant.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/enums/service.enum.ts
  openmetadata-ui/src/main/resources/ui/src/interface/service.interface.ts
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/mocks/Permissions.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/service/mocks/servicePage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/rest/storageAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Assets/AssetsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ObjectStoreServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtils.tsx
Due: google-style-java, lint-staged

integrated permission for add action and added basic unit test for add query
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableQueries/TableQueries.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddQueryPage/AddQueryPage.test.tsx
Due: lint-staged

changed the edit icon to use the newly added icon
  openmetadata-ui/src/main/resources/ui/src/pages/EmailConfigSettingsPage/EmailConfigSettingsPage.component.tsx
Due: lint-staged

fix(ui): remove all option from activity feed for my-data
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedList.tsx
Due: lint-staged

Fix#10584: Add filters for data models
  ingestion/src/metadata/ingestion/source/dashboard/looker/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/models.py
  ingestion/src/metadata/ingestion/source/dashboard/tableau/queries.py
  ingestion/src/metadata/utils/filters.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dashboardServiceMetadataPipeline.json
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/enums/filterPattern.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
