Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

add import
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
Due: google-style-java

fix(ui): upgrade axios to 1.15.2 to resolve security vulnerabilities
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Upvote/Downvote Icon Loses Primary Color on Blur After Liking Entity Page
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Voting/Voting.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Voting/voting.less
Due: lint-staged

Increase the max width for nodes in ontology
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphBuilders.ts
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphConfig.ts
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphStyles.ts
Due: lint-staged

fix lint issue
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphConfig.ts
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphStyles.ts
Due: lint-staged

Drop children from ContainerResource FIELDS to match PR intent
  openmetadata-service/src/main/java/org/openmetadata/service/resources/storages/ContainerResource.java
Due: google-style-java

fix(tagLabel): preserve ms in appliedAt round-trip
  openmetadata-service/src/test/java/org/openmetadata/service/util/JsonUtilsTest.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/utils/JsonUtils.java
Due: google-style-java

Fix typo in tablecolumnCount
  ingestion/src/metadata/data_quality/validations/table/base/tableColumnCountToBeBetween.py
Due: none

fix(ui): add childrenCount to ContainerPage tabs useMemo deps
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
Due: lint-staged

fix(governance): address review comments on batch workflow improvements
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/TriggerFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/SetEntityAttributeImpl.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/TriggerFactoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/createAndRunIngestionPipeline/RunIngestionPipelineImplTest.java
  openmetadata-spec/src/main/resources/json/schema/governance/workflows/elements/nodes/automatedTask/checkEntityAttributesTask.json
Due: google-style-java

fix lint issue
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphConfig.ts
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphStyles.ts
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/textMeasure.ts
Due: lint-staged

Fix GlossaryTags
  openmetadata-service/src/test/java/org/openmetadata/service/search/IndexMappingNestedFieldConsistencyTest.java
  openmetadata-spec/src/main/resources/elasticsearch/en/knowledge_page_search_index.json
  openmetadata-spec/src/main/resources/elasticsearch/jp/knowledge_page_search_index.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/knowledge_page_search_index.json
  openmetadata-spec/src/main/resources/elasticsearch/zh/knowledge_page_search_index.json
Due: google-style-java

clearing double space
  ingestion/src/metadata/data_quality/validations/table/base/tableColumnCountToBeBetween.py
Due: none

fix type error
  openmetadata-ui-core-components/src/main/resources/ui/src/components/base/autocomplete/autocomplete.tsx
Due: lint-staged

UI fails to display custom properties with dots in property name (#27390)
  openmetadata-service/src/main/java/org/openmetadata/service/TypeRegistry.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/TypeRegistryTest.java
  openmetadata-ui/src/main/resources/ui/playwright/constant/customProperty.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/advancedSearch.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customProperty.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/CustomProperty/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/regex.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderElasticsearchFormatUtils.js
Due: google-style-java, lint-staged

fix(governance): address blocking review comments on inclusive gateway PR
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/DataCompletenessImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/MainWorkflow.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/flowable/builders/InclusiveGatewayBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/nodes/automatedTask/impl/DataCompletenessImplTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/flowable/MainWorkflowInclusiveGatewayTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/flowable/builders/InclusiveGatewayBuilderTest.java
Due: google-style-java

fixed issue 27433
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.test.tsx
Due: lint-staged

Fix: Add missing markdown files for connectors
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/MicrosoftFabric.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Drive/GoogleDrive.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/MicrosoftFabricPipeline.md
Due: none

fix(search): treat stale parentOf as warning during time-series reindex (#27417) (#27800)
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/EntityReader.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ReindexingOrchestrator.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/distributed/DistributedJobStatsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/distributed/PartitionWorker.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/listeners/QuartzProgressListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/OmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntityTimeSeriesSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/searchIndex/EntityReaderLifecycleTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchIndexReindexFieldsParityTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntityTimeSeriesSourceStaleRelationshipTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtilStaleRelationshipTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtilTest.java
Due: google-style-java

fix java lint checks and fix test cases
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/DataAccessRequestIT.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tasks.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TaskClass.ts
Due: google-style-java, lint-staged

fix(workflows): address PR #27081 review comments
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/WorkflowInstanceStageListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/ChangeEventOffsetUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/CommitChangeEventOffsetImpl.java
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FetchChangeEventsImpl.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/TriggerFactoryTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/CommitChangeEventOffsetImplTest.java
Due: google-style-java

fix(search): treat stale parentOf as warning during time-series reindex (#27417) (#27800)
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/EntityReader.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/ReindexingOrchestrator.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/distributed/DistributedJobStatsAggregator.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/distributed/PartitionWorker.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/listeners/QuartzProgressListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/OmAppJobListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/EntityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntitiesSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntityTimeSeriesSource.java
  openmetadata-service/src/main/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/SearchIndexReindexFieldsParityTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/workflows/searchIndex/PaginatedEntityTimeSeriesSourceStaleRelationshipTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/workflows/searchIndex/ReindexingUtilStaleRelationshipTest.java
Due: google-style-java

Disallow & < > in custom property names; align IT cases
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TypeResourceIT.java
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-spec/src/main/resources/json/schema/type/customProperty.json
Due: google-style-java

fix(grid): export GridItem component for external usage [skip-ci]
  openmetadata-ui-core-components/src/main/resources/ui/src/components/base/grid/grid.tsx
Due: lint-staged

updated code as per GitAR comments
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.component.tsx
Due: lint-staged

updated code for UI check fails
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/NotificationBox/NotificationFeedCard.test.tsx
Due: lint-staged

fix(ui): upgrade axios to 1.15.2 to resolve security vulnerabilities (#27897)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

fix(it): isolate IndexTemplateIT tag test to avoid wiping production search index
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/IndexTemplateIT.java
Due: google-style-java

fix(migration): correct wrong table name in postgres scheduleRunId DDL; apply spotless
  bootstrap/sql/migrations/native/2.0.0/postgres/schemaChanges.sql
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/TriggerFactoryTest.java
Due: google-style-java

Close PATCH bypass for custom property name validation on Type
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TypeResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TypeRepository.java
Due: google-style-java

Increase the max width for nodes in ontology (#27899)
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphBuilders.ts
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphConfig.ts
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/graphStyles.ts
  openmetadata-ui/src/main/resources/ui/src/components/OntologyExplorer/utils/textMeasure.ts
Due: lint-staged

nit
  openmetadata-ui/src/main/resources/ui/src/rest/tasksAPI.ts
Due: lint-staged

fix(governance): guard against empty entityList in FetchChangeEventsImpl to prevent NoSuchElementException
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FetchChangeEventsImpl.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FetchChangeEventsImplTest.java
Due: google-style-java

fix(governance): guard empty entityList in FetchChangeEventsImpl — prevents NoSuchElementException
  openmetadata-service/src/main/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FetchChangeEventsImpl.java
  openmetadata-service/src/test/java/org/openmetadata/service/governance/workflows/elements/triggers/impl/FetchChangeEventsImplTest.java
Due: google-style-java

Refactor DataQualityTab table to ui-core components (#27695)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/BundleSuiteBulkOperations.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataQuality.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/DataQualityTab/DataQualityTab.tsx
Due: lint-staged

test(playwright): extend verifyDataProductsCount poll timeout to 2m
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Due: lint-staged
