Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

fixed breaking changes
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/JsonUtils.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/databases/TableResourceTest.java
Due: google-style-java

Fixing AzureSQL broken reference
  README.md
Due: none

minor change
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/JsonUtils.java
Due: google-style-java

added filter to get only root level glossary terms
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/ListFilter.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/glossary/GlossaryTermResource.java
Due: google-style-java

[BUG] - Not able to set request body for the creation of Tags #2624 Fixed it the API endpoint consumes application/json
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/tags/TagResource.java
Due: google-style-java

[BUG] - Not able to set request body for the creation of Tags #2624 Remove wildcard import
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/tags/TagResource.java
Due: google-style-java

GitBook: [#52] remove openmetadata-security.yaml references
  docs/deploy/secure-openmetadata/auth0-sso/configure-openmetadata/configure-openmetadata-server.md
  docs/deploy/secure-openmetadata/azure-sso/configure-openmetadata/configure-openmetadata-server.md
  docs/deploy/secure-openmetadata/google-sso-1/configure-openmetadata/configure-openmetadata-server.md
  docs/deploy/secure-openmetadata/google-sso/configure-openmetadata/configure-openmetadata-server.md
  docs/deploy/secure-openmetadata/okta-sso/configure-openmetadata/configure-openmetadata-server.md
  docs/integrations/airflow/configure-airflow-in-the-openmetadata-server.md
Due: none

[BUG] - Not able to set request body for the creation of Tags #2624 (#5067)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/tags/TagResource.java
Due: google-style-java

added patch api to update webhook (#4319)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/events/WebhookResource.java
Due: google-style-java

GitBook: [#53] update openmetadata-security.yaml to openmetadata.yaml
  docs/developer/architecture/quick-start-guide.md
  docs/developer/build-code-and-run-tests/ui.md
Due: none

UI : Add mlModel Entity Page
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/mlModelAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/MlModelDetailsUtils.ts
Due: lint-staged

GitBook: [#54] OpenMetadata SSO update Helm Values
  docs/deploy/secure-openmetadata/auth0-sso/configure-openmetadata/configure-openmetadata-helm.md
  docs/deploy/secure-openmetadata/azure-sso/configure-openmetadata/configure-openmetadata-helm.md
  docs/deploy/secure-openmetadata/google-sso-1/configure-openmetadata/configure-openmetadata-helm.md
  docs/deploy/secure-openmetadata/google-sso/configure-openmetadata/configure-openmetadata-helm.md
  docs/deploy/secure-openmetadata/okta-sso/configure-openmetadata/configure-openmetadata-helm.md
Due: none

build FQN with ES as fallback
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/bulksink/migrate.py
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/lineage_mixin.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/ingestion/source/amundsen.py
  ingestion/src/metadata/ingestion/source/athena.py
  ingestion/src/metadata/ingestion/source/mysql.py
  ingestion/src/metadata/ingestion/source/presto.py
  ingestion/src/metadata/ingestion/source/snowflake.py
  ingestion/src/metadata/ingestion/source/sql_source.py
  ingestion/src/metadata/ingestion/source/trino.py
  ingestion/src/metadata/utils/elasticsearch.py
  ingestion/src/metadata/utils/fqn.py
  ingestion/src/metadata/utils/sql_lineage.py
  ingestion/tests/integration/ometa/test_ometa_es_api.py
  ingestion/tests/integration/utils/__init__.py
  ingestion/tests/integration/utils/test_fqn.py
Due: none

Update condition
  ingestion/src/metadata/utils/fqn.py
Due: none

Fix #5066: Modified get view names
  ingestion/src/metadata/ingestion/source/hive.py
Due: none

Fixes #5068 Child Glossary Terms have null in fullyQualifiedName
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/GlossaryTermRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/tags/TagResource.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/glossary/GlossaryTermResourceTest.java
Due: google-style-java

UI : Add emoji support for feed editor
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.css
  openmetadata-ui/src/main/resources/ui/src/components/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/feed.constants.ts
  openmetadata-ui/src/main/resources/ui/src/react-app-env.d.ts
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

fix failing cypress test
  .github/workflows/cypress-integration-tests.yml
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
Due: lint-staged

Fixes #5068 Child Glossary Terms have null in fullyQualifiedName (#5075)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/GlossaryTermRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/tags/TagResource.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/glossary/GlossaryTermResourceTest.java
Due: google-style-java

Upgrade dependencies
  catalog-rest-service/pom.xml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/TypeRegistry.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TypeRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/tags/TagResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/JsonUtils.java
  openmetadata-ui/pom.xml
  pom.xml
Due: google-style-java

Fix: UI Should show other tags if the glossary search index fails.
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/EntityPageInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/axios.enum.ts
Due: lint-staged

Fix checkstyle
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/tags/TagResource.java
Due: google-style-java

Fix: Cypress failing tests (#5078)
  .github/workflows/cypress-integration-tests.yml
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePage.component.tsx
Due: lint-staged

Upgrade dependencies (#5079)
  catalog-rest-service/pom.xml
  catalog-rest-service/src/main/java/org/openmetadata/catalog/TypeRegistry.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TypeRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/JsonUtils.java
  openmetadata-ui/pom.xml
  pom.xml
Due: google-style-java

Cypress: Skip flaky tests
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
Due: lint-staged

Cypress: Enable chrome browser
  .github/workflows/cypress-integration-tests.yml
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
Due: lint-staged

install pip
  .github/workflows/cypress-integration-tests.yml
Due: none

Cypress: Skip flaky tests (#5080)
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/myData.spec.js
Due: lint-staged

install dependencies
  .github/workflows/cypress-integration-tests.yml
Due: none

update image
  .github/workflows/cypress-integration-tests.yml
Due: none

update alternatives
  .github/workflows/cypress-integration-tests.yml
Due: none

Fix: Adding Glossary Term into Parent Glossary Term redirects to blank(null) UI
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlossaryTerms/GlossaryTerms.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/glossary-data-card/GlossaryDataCard.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossary/AddGlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossaryTermPage/AddGlossaryTermPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddGlossaryTermPage/AddGlossaryTermPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/RouterUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

setup mvn and docker
  .github/workflows/cypress-integration-tests.yml
Due: none

setup sudo
  .github/workflows/cypress-integration-tests.yml
Due: none

lsb release
  .github/workflows/cypress-integration-tests.yml
Due: none

docker
  .github/workflows/cypress-integration-tests.yml
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
