Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Add pagination, remove local var
  ingestion/src/metadata/ingestion/source/database/datalake.py
  ingestion/src/metadata/utils/s3_utils.py
Due: none

Added input field for workflow profiler config
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/AddIngestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/addIngestion.interface.ts
Due: lint-staged

Add jsonl parser
  ingestion/src/metadata/utils/s3_utils.py
Due: none

Fix curl vulnerability (#6311)
  ingestion/Dockerfile
Due: none

Fix #6280 - Bump DeltaLake version, tests and docs (#6307)
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v004__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v004__create_db_connection_info.sql
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/database/deltaLakeConnection.json
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
  ingestion/src/metadata/ingestion/source/database/database_service.py
  ingestion/src/metadata/ingestion/source/database/deltalake.py
  ingestion/src/metadata/utils/connections.py
  ingestion/tests/integration/lineage/airflow/requirements.txt
  ingestion/tests/integration/ometa/test_ometa_chart_api.py
  ingestion/tests/unit/metadata/__init__.py
  ingestion/tests/unit/topology/database/__init__.py
  ingestion/tests/unit/topology/database/test_deltalake.py
  ingestion/tests/unit/topology/pipeline/__init__.py
  ingestion/tests/unit/topology/pipeline/test_airbyte.py
  openmetadata-docs/content/openmetadata/connectors/database/deltalake/airflow.md
  openmetadata-docs/content/openmetadata/connectors/database/deltalake/cli.md
  openmetadata-docs/content/openmetadata/connectors/database/deltalake/index.md
Due: none

refactored-atlas-schema
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/atlasConnection.json
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
  ingestion/src/metadata/utils/atlas_client.py
Due: none

atlas-source-connector-fixed
  catalog-rest-service/src/main/resources/json/schema/entity/services/databaseService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/metadataService.json
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
  ingestion/src/metadata/utils/atlas_client.py
Due: none

atlas-removed-from-database-service
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/atlasConnection.json
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
Due: none

atlas-json-updated
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/atlasConnection.json
Due: none

code-formatted
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
Due: none

updated-service-creation
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
Due: none

code-smell-removed
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
Due: none

atlas-connector-fixed
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/atlasConnection.json
  ingestion/examples/workflows/atlas.yaml
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
Due: none

code-cleanup
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
Due: none

atlas--amundsen-removed-from-db-service
  catalog-rest-service/src/main/resources/json/schema/entity/services/databaseService.json
Due: none

removed-unused-codes
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
Due: none

code-smelled
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
  ingestion/src/metadata/utils/atlas_client.py
Due: none

atlas-fqn-and-execution-flow-updated
  ingestion/examples/workflows/atlas.yaml
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
Due: none

Fix#5918: Save Airflow config credentials in secrets manager when bootstrapping (#6270)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplication.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplicationConfig.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/AWSSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/LocalSecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/secrets/SecretsManager.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/OpenMetadataClientSecurityUtil.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/validators/AirflowConfigValidation.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/validators/AirflowConfigValidationImpl.java
  catalog-rest-service/src/main/resources/json/schema/configuration/airflowConfiguration.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/fixtures/ConfigurationFixtures.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/AWSSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/secrets/LocalSecretsManagerTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/util/OpenMetadataClientSecurityUtilTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/validators/AirflowConfigValidationTest.java
  openmetadata-core/src/main/java/org/openmetadata/core/exception/OpenMetadataClientSecurityConfigException.java
Due: google-style-java

Create Messaging Topology (#6201)
  catalog-rest-service/src/main/resources/json/schema/api/data/createTopic.json
  ingestion/src/metadata/ingestion/source/messaging/kafka.py
  ingestion/src/metadata/ingestion/source/messaging/messaging_service.py
Due: none

Cypress: Add E2E test for delete service work flow (#6150)
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/bigquery.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/glue.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/kafka.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/metabase.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/mysql.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/redshift.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/snowflake.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/AddNewService/superset.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/integration/Pages/TeamsAndUsers.spec.js
  openmetadata-ui/src/main/resources/ui/src/styles/index.js
Due: lint-staged

[TASK-6295] Reduce memory footprint for S3 ingestion (#6308)
  ingestion/src/metadata/ingestion/source/database/datalake.py
  ingestion/src/metadata/utils/s3_utils.py
Due: none

somplified error handling
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
Due: lint-staged

Fix failing test due to missing parameter in IngestionPipelineResource constructor
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceUnitTest.java
Due: google-style-java

Fix failing test due to missing parameter in IngestionPipelineResource constructor (#6317)
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/ingestionpipelines/IngestionPipelineResourceUnitTest.java
Due: google-style-java

Fix #6313: Add om-comment to entities
  catalog-rest-service/src/main/resources/json/schema/entity/data/dashboard.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/mlmodel.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/pipeline.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/topic.json
Due: none

Fix #6313: Add om-comment to entities
  ingestion-core/src/metadata/_version.py
Due: none

Atlas connector fix (#4112)
  catalog-rest-service/src/main/resources/json/schema/entity/services/connections/metadata/atlasConnection.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/metadataService.json
  ingestion/examples/workflows/atlas.yaml
  ingestion/src/metadata/ingestion/source/metadata/atlas.py
  ingestion/src/metadata/utils/atlas_client.py
Due: none

addressing comment
  openmetadata-ui/src/main/resources/ui/src/components/AddWebhook/WebhookConstants.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSetting.tsx
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSetting/GlobalSettingLeftPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/WebhooksV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Webhooks/webhookV1.less
  openmetadata-ui/src/main/resources/ui/src/constants/globalSettings.constants.ts
  openmetadata-ui/src/main/resources/ui/src/router/GlobalSettingRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Due: lint-staged

fix: upgrade mobx from 6.0.1 to 6.6.1 (#6301)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

GitBook: [#45] One Login links
  SUMMARY.md
  deploy/secure-openmetadata/README.md
  deploy/secure-openmetadata/one-login/README.md
  deploy/secure-openmetadata/one-login/configure-openmetadata/README.md
  deploy/secure-openmetadata/one-login/create-server-credentials.md
Due: none

fix(ui): infinite load over login first time
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
Due: lint-staged

Fix #6313: Add om-comment to entities (#6315)
  catalog-rest-service/src/main/resources/json/schema/entity/data/dashboard.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/mlmodel.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/pipeline.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/topic.json
  ingestion-core/src/metadata/_version.py
Due: none

fix(ui): infinite load for first login
  openmetadata-ui/src/main/resources/ui/src/App.tsx
Due: lint-staged

fix(ui): infinite load over login first time (#6319)
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/AuthProvider.tsx
Due: lint-staged

Re run tests
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
Due: lint-staged

Fixed stylying
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
Due: lint-staged

Fixed#6002: Added developer documentation for Java SDK.
  openmetadata-docs/content/sdk/java/index.md
Due: none

revert polling transport changes
  openmetadata-ui/src/main/resources/ui/src/components/web-scoket/web-scoket.provider.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
