Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Search Settings with Ranking config
  openmetadata-service/src/main/java/org/openmetadata/service/exception/SystemSettingsException.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/APIEndpointIndex.java
  openmetadata-service/src/main/resources/json/data/searchSettings/searchSettings.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/TestUtils.java
  openmetadata-spec/src/main/resources/json/schema/configuration/searchSettings.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/searchSettings.ts
Due: google-style-java, lint-staged

Fix #19103: Search Settings with Ranking config
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/SystemResourceTest.java
Due: google-style-java

Updated trivy scan for running on changes in .java extension files and Dockerfile
  .github/workflows/trivy-scan-openmetadta-server.yml
Due: none

Updated trivy scan for running on changes in .py extension files and Dockerfile
  .github/workflows/trivy-scan-ingestion-base-slim-image.yml
  .github/workflows/trivy-scan-ingestion-image.yml
Due: none

ui fixes
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardV2/FeedCardFooter/FeedCardFooterNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/DescriptionTaskNew.tsx
Due: lint-staged

added test for service type filter
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceListing.spec.ts
Due: lint-staged

fix findByIds return both id and json (#19761)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityDAO.java
Due: google-style-java

improve code
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
Due: lint-staged

Add ko-kr language support (#19923)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/i18nextUtil.ts
Due: lint-staged

added threadCount
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionScheduler.java
Due: google-style-java

throw error if ServicesStatusJobHandler fails to start
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/ServicesStatusJobHandler.java
Due: google-style-java

domain mixin
  ingestion/src/metadata/ingestion/ometa/mixins/domain_mixin.py
Due: none

Fix: Update summary and description for addCustomMetric operation
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
Due: google-style-java

build ref
  ingestion/src/metadata/ingestion/ometa/utils.py
  ingestion/tests/unit/test_ometa_utils.py
Due: none

Minor : get domain deletion activity feed update (#19961)
  openmetadata-service/src/main/java/org/openmetadata/service/formatter/field/DomainFormatter.java
Due: google-style-java

fix the scroll issue for action button in Glossary import
  openmetadata-ui/src/main/resources/ui/src/components/BulkImport/BulkEntityImport.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryDetails/GlossaryDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/import-glossary.less
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
Due: lint-staged

minor translation fix
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.tsx
Due: lint-staged

update lineage
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/CustomNodeV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityLineage/NodeSuggestions.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Lineage/Lineage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/context/LineageProvider/LineageProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Due: lint-staged

Docs: Metrics Addition in Governance
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/metrics.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-governance/metrics.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.6/how-to-guides/governance/metrics/metrics-1.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/metrics/metrics-2.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/metrics/metrics-3.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/metrics/metrics-4.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/metrics/metrics-1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/metrics/metrics-2.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/metrics/metrics-3.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/metrics/metrics-4.png
Due: none

feat(schedule-application): enable scheduling application using config file (#19470)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/AbstractNativeApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/ApplicationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/scheduler/AppScheduler.java
  openmetadata-spec/src/main/resources/json/schema/configuration/appsPrivateConfiguration.json
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/appsPrivateConfiguration.ts
Due: google-style-java, lint-staged

build ref
  ingestion/src/metadata/ingestion/ometa/mixins/domain_mixin.py
Due: none

Docs: Metrics Addition in Governance (#19966)
  openmetadata-docs/content/v1.6.x/collate-menu.md
  openmetadata-docs/content/v1.6.x/how-to-guides/data-governance/metrics.md
  openmetadata-docs/content/v1.6.x/menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/how-to-guides/data-governance/metrics.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/menu.md
  openmetadata-docs/images/v1.6/how-to-guides/governance/metrics/metrics-1.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/metrics/metrics-2.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/metrics/metrics-3.png
  openmetadata-docs/images/v1.6/how-to-guides/governance/metrics/metrics-4.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/metrics/metrics-1.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/metrics/metrics-2.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/metrics/metrics-3.png
  openmetadata-docs/images/v1.7/how-to-guides/governance/metrics/metrics-4.png
Due: none

ui fixes for placeholders
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-no-records.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-task-empty.svg
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCardNew/ActivityFeedcardNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/ActivityFeedListV1New.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedPanel/FeedPanelBodyV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/ActivityFeedTabNew.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab-new.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTab.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/CustomNoDataPlaceHolderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/ErrorPlaceHolderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ErrorWithPlaceholder/NoDataPlaceholderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: lint-staged

fix sonar issue
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/ImportGlossary.test.tsx
Due: lint-staged

remove unwanted code from the service ingestion page for 1.6.5
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Due: lint-staged

Hide one configuration from DataInsights App
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/ApplicationsClassBase.ts
Due: lint-staged

Fix: Update summary and description for addCustomMetric operation (#19964)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
Due: google-style-java

fix(ui): service type filter for multiple selections (#19941)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ServiceListing.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
Due: lint-staged

fix: Trigger workflow on Pull Requests
  .github/workflows/maven-build-collate.yml
Due: none

chore: Use the latest action step for workflow dispatch
  .github/workflows/maven-build-collate.yml
Due: none

remove unwanted code from the service ingestion page for 1.6.5 (#19968)
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.tsx
Due: lint-staged

Docs: Code Layout Updation
  openmetadata-docs/content/v1.6.x/developers/architecture/code-layout.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/developers/architecture/code-layout.md
Due: none

Feature: Generate TS From JSON (#19823)
  generate_ts.sh
  openmetadata-docs/content/v1.7.x-SNAPSHOT/developers/contribute/build-code-and-run-tests/generate-typescript-types-from-json-schema.md
Due: none

MINOR: Fix Certification Comparisson (#19947)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedTab/activity-feed-tab-new.less
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTab/TaskTabNew.component.tsx
Due: lint-staged

Feature: Reverse Metadata Ingestion (#19723)
  ingestion/operators/docker/run_automation.py
  ingestion/src/metadata/automations/execute_runner.py
  ingestion/src/metadata/automations/extended_runner.py
  ingestion/src/metadata/automations/runner.py
  ingestion/src/metadata/ingestion/ometa/mixins/patch_mixin.py
  ingestion/src/metadata/ingestion/source/database/bigquery/helper.py
  ingestion/src/metadata/ingestion/source/database/mysql/utils.py
  ingestion/src/metadata/ingestion/source/database/unitycatalog/connection.py
  ingestion/src/metadata/utils/logger.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/routes/run_automation.py
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/WorkflowClassConverter.java
  openmetadata-spec/src/main/resources/json/schema/api/automations/createWorkflow.json
  openmetadata-spec/src/main/resources/json/schema/entity/automations/workflow.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/reverseIngestionResponse.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/reverseIngestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/reverseingestionconfig/descriptionConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/reverseingestionconfig/ownerConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/reverseingestionconfig/tagsConfig.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/reverseIngestionResponse.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/reverseingestionconfig/descriptionConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/reverseingestionconfig/ownerConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/reverseingestionconfig/tagsConfig.ts
Due: google-style-java, lint-staged

Docs: Code Layout Updation (#19971)
  openmetadata-docs/content/v1.6.x/developers/architecture/code-layout.md
  openmetadata-docs/content/v1.7.x-SNAPSHOT/developers/architecture/code-layout.md
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
