Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

fix glossary default item after clicking from list to navigation
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: lint-staged

Fixed issue Spaces in test suite name should not be allowed #7872
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/SelectTestSuite.tsx
Due: lint-staged

Fixed redirection issue in click of view test suite
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
Due: lint-staged

fix maven ci
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Due: google-style-java

addressing comments
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/SelectTestSuite.tsx
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
Due: lint-staged

fix cypress failure
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/index.tsx
Due: lint-staged

Fixed Dalalake & Deltalake docs
  openmetadata-docs/content/openmetadata/connectors/database/databricks/airflow.md
  openmetadata-docs/content/openmetadata/connectors/database/deltalake/airflow.md
Due: none

changes as per comments
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
Due: lint-staged

Fixed issue with no permissions placeholder showing before the data is displayed on teams page
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
Due: lint-staged

fix(ui): show actual count for index requests (#7871)
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-ui/src/main/resources/ui/src/pages/ElasticSearchIndexPage/elastic-search-index.page.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EventPublisherUtils.ts
Due: google-style-java, lint-staged

addressing comment
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/SelectTestSuite.tsx
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
Due: lint-staged

Fix #7868 UI: Auth0 SSO is redirecting to logout page on Signin (#7869)
  openmetadata-ui/src/main/resources/ui/src/authentication/authenticators/Auth0Authenticator.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AppRouter.tsx
Due: lint-staged

test(ui): login tests fixed (#7874)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Login.spec.js
  openmetadata-ui/src/main/resources/ui/src/authentication/auth-provider/basic-auth.provider.tsx
Due: lint-staged

feat(ui): update what's new content for 0.12.1 (#7873)
  openmetadata-ui/src/main/resources/ui/cypress/support/commands.js
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/index.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

UI Fixed issue Spaces in test suite name should not be allowed #7872 (#7876)
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/AddDataQualityTestV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddDataQualityTest/components/SelectTestSuite.tsx
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
Due: lint-staged

Add: Doc for atlas
  openmetadata-docs/content/menu.md
  openmetadata-docs/content/openmetadata/connectors/index.md
  openmetadata-docs/content/openmetadata/connectors/metadata/atlas/index.md
  openmetadata-docs/content/openmetadata/connectors/metadata/index.md
Due: none

Added util command to overwrite dag_generated_config path in DAG file (#7831)
  ingestion/src/metadata/cli/openmetadata_imports_migration.py
  ingestion/src/metadata/cmd.py
  ingestion/tests/unit/metadata/cli/test_openmetadata_imports_migration.py
Due: none

Fix #7881 Tag page throws 404 for tierTag when upgrading from 0.11.5 to 0.12.1
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Due: lint-staged

Fix UI :- Glossary default item after clicking from list to navigation (#7875)
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: lint-staged

fix(ui-test): flaky failure for custom properties
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/e2e.js
  openmetadata-ui/src/main/resources/ui/cypress/support/get-search-query.command.js
Due: lint-staged

Fixed failing cypress tests for teams page
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Teams.spec.js
Due: lint-staged

Fix #7881 Tag page throws 404 for tierTag when upgrading from 0.11.5 to 0.12.1 (#7885)
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
Due: lint-staged

Fix ui of Dashboard request description form
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Due: lint-staged

Fix: Change based on comments
  openmetadata-docs/content/openmetadata/connectors/metadata/atlas/index.md
Due: none

fix(ui-test): flaky failure for custom (#7888)
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Customproperties.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/support/e2e.js
  openmetadata-ui/src/main/resources/ui/cypress/support/get-search-query.command.js
Due: lint-staged

datalake-gcs-performance-improved
  ingestion/setup.py
  ingestion/src/metadata/utils/gcs_utils.py
Due: none

prep op
  Makefile
  docker/local-metadata/docker-compose.yml
  ingestion/ingestion_dependency.sh
  ingestion/operators/README.md
  ingestion/operators/docker/Dockerfile-dev
  ingestion/operators/docker/README.md
  ingestion/operators/docker/examples/ingestion-dag.py
  ingestion/operators/docker/main.py
Due: none

Update Docker upgrade doc
  openmetadata-docs/content/deployment/docker/index.md
  openmetadata-docs/content/deployment/docker/volumes.md
  openmetadata-docs/content/deployment/upgrade/docker.md
  openmetadata-docs/content/deployment/upgrade/versions/011-to-012.md
Due: none

Glue Pipeline Name Fix
  ingestion/src/metadata/examples/workflows/gluepipeline.yaml
  ingestion/src/metadata/ingestion/source/pipeline/gluepipeline.py
Due: none

Fix ui of Explorer Request and Update tags form
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestTagPage/RequestTagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateTagPage/UpdateTagPage.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
