Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Tags page test fix
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
Due: lint-staged

fix test
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
Due: google-style-java

test: enhance CSV and entity import/export utilities with comprehensive test cases
  openmetadata-ui/src/main/resources/ui/src/utils/CSV/CSVUtilsClassBase.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityBulkEdit/EntityBulkEditUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityImport/EntityImportUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TestCaseUtils.test.tsx
Due: lint-staged

fix(mcp): update SearchMetadataToolTest mocks
  openmetadata-mcp/src/test/java/org/openmetadata/mcp/tools/SearchMetadataToolTest.java
Due: google-style-java

Enhance domain renaming functionality by adding page reload and loader wait after saving changes
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Due: lint-staged

Fix Sonar Coverage
  .github/workflows/py-sonarcloud-nightly.yml
  .github/workflows/py-tests.yml
Due: none

refactor: Add `pkgutil.extend_path` to `__init__.py` for improved package path handling.
  ingestion/src/metadata/__init__.py
Due: none

Chore(U): Updated Timezone With Date and Time (#25292)
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/TopActiveUsers.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/date-time/DateTimeUtils.ts
Due: lint-staged

added localisation
  openmetadata-ui/src/main/resources/ui/src/utils/executionUtils.tsx
Due: lint-staged

Add ordinal position sorting in API & Backend
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TableResourceIT.java
  openmetadata-sdk/src/main/java/org/openmetadata/sdk/services/dataassets/TableService.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ColumnSorting.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/TableKeys.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/rest/tableAPI.ts
Due: google-style-java, lint-staged

Addressed PR comments
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/ColumnSorting.spec.ts
Due: lint-staged

fixed unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Database/SchemaTable/SchemaTable.test.tsx
Due: lint-staged

Add ordinal position sorting in API & Backend
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
Due: none

fix(security): update react-router-dom to fix XSS and redirect vulnerabilities (#25237)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Revert "fix: use DBMS_METADATA.GET_DDL for oracle views and support schema filtering (issues #23387, #14238)"
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
  ingestion/tests/unit/topology/database/test_oracle_views.py
Due: none

fix: oracle view definition fallback as get_ddl
  ingestion/src/metadata/ingestion/source/database/oracle/queries.py
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
  ingestion/tests/unit/topology/database/test_oracle.py
Due: none

Refactor bulk column update page
  openmetadata-ui/src/main/resources/ui/COLUMN_BULK_OPERATIONS_I18N_KEYS.md
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-occurences.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-pending-changes.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/ic-unique-column.svg
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/atoms/pagination/usePaginationControls.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/LeftSidebar.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnBulkOperations.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnBulkOperations.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnBulkOperations.less
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGrid.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGrid.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGrid.less
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGridFilters.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/ColumnGridIcons.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/components/ColumnGridTableRow.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/constants/ColumnGrid.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/hooks/useColumnGridColumns.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/hooks/useColumnGridFilters.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/hooks/useColumnGridListingData.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ColumnBulkOperations/ColumnGrid/hooks/useColumnGridRenderers.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/columnAPI.ts
Due: lint-staged

fix: view definition ddl for uppercase
  ingestion/src/metadata/ingestion/source/database/oracle/utils.py
  ingestion/tests/unit/topology/database/test_oracle.py
Due: none

fix: update service type handling in EntityPopoverCard tests
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.test.tsx
Due: lint-staged

Refine documentation categorization and update tags
  openmetadata-ui/src/main/resources/ui/playwright/docs/Discovery.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/Governance.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/Observability.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/Platform.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/README.md
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/AddTestCaseNewFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/Dimensionality.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/RulesLibrary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TestDefinitionPermissions.spec.ts
Due: lint-staged

style: ram python linting
  ingestion/src/metadata/great_expectations/action1xx.py
  ingestion/src/metadata/utils/time_utils.py
Due: none

MINOR: Enhance Azure Blob Client: Add support for testing access to specific containers (#25254)
  ingestion/src/metadata/ingestion/source/database/datalake/clients/azure_blob.py
  ingestion/tests/unit/topology/database/test_datalake_azure_blob_client.py
Due: none

fix(dq): psql migration for row insert test parameters
  bootstrap/sql/migrations/native/1.12.0/postgres/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.4.0/postgres/postDataMigrationSQLScript.sql
  scripts/validate_change.sh
Due: none

fix(dq): use name and add trailing new line
  bootstrap/sql/migrations/native/1.12.0/postgres/postDataMigrationSQLScript.sql
Due: none

style: fix linitng errors
  ingestion/src/metadata/great_expectations/action1xx.py
Due: none

test: added transient table test in snowflake e2e
  ingestion/tests/cli_e2e/test_cli_snowflake.py
Due: none

Add task.description field to Task entity mapping
  ingestion/src/airflow_provider_openmetadata/lineage/runner.py
Due: none

fixed failing unit tests
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/Execution/ListView/ListViewTab.component.test.tsx
Due: lint-staged

fix: uniform delta table ingestion in databricks
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/tests/unit/topology/database/test_databricks.py
Due: none

Fix code stying
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FileRepository.java
Due: google-style-java

Improve EventSubscription database connection usage (#25250)
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/EventSubscriptionBatchProcessingIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/changeEvent/AbstractEventConsumer.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/EventSubscriptionScheduler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/SubscriptionUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/apps/bundles/changeEvent/AbstractEventConsumerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/CollectionDAOBatchInsertTest.java
Due: google-style-java

Improve Slow request metric calculation; Add bulkSync config to fine-tune (#25275)
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/cache/CacheWarmupApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/config/BulkOperationConfiguration.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BulkExecutor.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/RequestLatencyContext.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchAggregationManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchDataInsightAggregatorManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchSearchManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/EsUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/lineage/GuavaLineageGraphCache.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchAggregationManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchDataInsightAggregatorManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchSearchManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OsUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/jdbi/OMSqlLogger.java
  openmetadata-service/src/test/java/org/openmetadata/service/jdbi3/BulkExecutorTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyContextTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/CachedPermissionPerformanceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/util/jdbi/OMSqlLoggerTest.java
Due: google-style-java

Add JWT/SAML team claim mapping for automatic team assignment during SSO login (#25108)
  openmetadata-service/src/main/java/org/openmetadata/service/security/AuthenticationCodeFlowHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/SecurityUtil.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/auth/SamlAuthServletHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/saml/SamlAssertionConsumerServlet.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/UserUtil.java
  openmetadata-service/src/test/java/org/openmetadata/service/security/SecurityUtilTest.java
  openmetadata-spec/src/main/resources/json/schema/configuration/authenticationConfiguration.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/auth0SSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/awsCognitoSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/azureSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/customOidcSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/googleSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/oktaSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/samlSSOClientConfig.md
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/authenticationConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/securityConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/settings/settings.ts
Due: google-style-java, lint-staged

playwright: fix rules library and test definition permission test
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/RulesLibrary.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TestDefinitionPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/testCases.ts
Due: lint-staged

fix: update selector for first grid cell click in Bulk Edit Entity tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
Due: lint-staged
