Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

MINOR - Bump postgresql version (#15406)
  pom.xml
Due: none

doc: add whats new for 1.3.1
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

Fix typos and improve Slack notifications format
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

#15403 Team filter on the Data Insights page doesn't work as expected
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightProvider.tsx
Due: lint-staged

fix: type errors for pr #15297
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionWorkflowForm/IngestionWorkflowForm.tsx
Due: lint-staged

- Fix User Instance not found - Fix Not Authorized Token Non Present
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
Due: google-style-java

- Fix User Instance not found (#15412)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
Due: google-style-java

Add support for enum type in custom properties
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

fix url malformed issue in entity popover and data insight detail page (#15402)
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/EntityPopOverCard.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.tsx
Due: lint-staged

doc: add whats new for 1.3.1 (#15407)
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/whatsNewData.ts
Due: lint-staged

fix: type errors for pr #15297 (#15411)
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Ingestion/IngestionWorkflowForm/IngestionWorkflowForm.tsx
Due: lint-staged

test: added unit test case
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityInfoDrawer/EdgeInfoDrawer.test.tsx
Due: lint-staged

Make Recreate Index Default as true
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Due: none

Make Recreate Index Default as true (#15413)
  openmetadata-service/src/main/resources/json/data/app/SearchIndexingApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
Due: none

#15403 Team filter on the Data Insights page doesn't work as expected (#15410)
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightProvider.tsx
Due: lint-staged

update the docs content to fix broken anchors
  openmetadata-docs/content/v1.3.x/connectors/database/azuresql/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/clickhouse/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/couchbase/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/domo-database/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/druid/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/greenplum/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/impala/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/pinotdb/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/sqlite/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/unity-catalog/index.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/lineage/index.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/atlas/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.3.x/deployment/backup-restore-metadata.md
  openmetadata-docs/content/v1.3.x/deployment/docker/index.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/how-does-it-work.md
  openmetadata-docs/content/v1.3.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.3.x/sdk/java/index.md
  openmetadata-docs/content/v1.3.x/sdk/python/entities/ml-model.md
Due: none

ui: replace description comp with descriptionv1 comp (#15370)
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueryRightPanel/TableQueryRightPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/TableQueries/TableQueryRightPanel/TableQueryRightPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/BotDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/BotDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/Description.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/Description.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/DescriptionV1.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesDetailPage/RolesDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuiteDetailsPage/TestSuiteDetailsPage.test.tsx
Due: lint-staged

update the docs content to fix broken anchors (#15415)
  openmetadata-docs/content/v1.3.x/connectors/database/azuresql/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/clickhouse/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/couchbase/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/domo-database/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/druid/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/greenplum/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/impala/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/pinotdb/index.md
  openmetadata-docs/content/v1.3.x/connectors/database/sqlite/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/database/unity-catalog/index.md
  openmetadata-docs/content/v1.3.x/connectors/ingestion/lineage/index.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/atlas/yaml.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/airbyte/index.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/dagster/index.md
  openmetadata-docs/content/v1.3.x/connectors/pipeline/databricks-pipeline/index.md
  openmetadata-docs/content/v1.3.x/deployment/backup-restore-metadata.md
  openmetadata-docs/content/v1.3.x/deployment/docker/index.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/how-does-it-work.md
  openmetadata-docs/content/v1.3.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.3.x/sdk/java/index.md
  openmetadata-docs/content/v1.3.x/sdk/python/entities/ml-model.md
Due: none

fix tests
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/EntityRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtilClassBase.test.ts
Due: lint-staged

MINOR - Update ES translation
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
Due: none

Fix some links on ingestion docs
  openmetadata-docs/content/v1.3.x/connectors/database/iceberg/index.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/amundsen/yaml.md
  openmetadata-docs/content/v1.3.x/deployment/ingestion/openmetadata.md
  openmetadata-docs/content/v1.3.x/menu.md
Due: none

Fix some links on ingestion docs (#15417)
  openmetadata-docs/content/v1.3.x/connectors/database/iceberg/index.md
  openmetadata-docs/content/v1.3.x/connectors/metadata/amundsen/yaml.md
  openmetadata-docs/content/v1.3.x/deployment/ingestion/openmetadata.md
  openmetadata-docs/content/v1.3.x/menu.md
Due: none

MINOR - Update ES translation (#15416)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
Due: none

Minor: fixing link on devOps docs
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/kubernetes.md
Due: none

applying
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/kubernetes.md
Due: none

Minor: Fix dockerfile release version
  docker/docker-compose-quickstart/Dockerfile
Due: none

Minor: Fix dockerfile release version (#15418)
  docker/docker-compose-quickstart/Dockerfile
Due: none

fix path for table then other type
  openmetadata-ui/src/main/resources/ui/src/components/AppRouter/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityDetails/EntityDetails.component.tsx
Due: lint-staged

supported unit test for email conifugration form
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Email/EmailConfigForm/EmailConfigForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Email/EmailConfigForm/EmailConfigForm.test.tsx
Due: lint-staged

updating doc with new release and links
  openmetadata-docs/content/v1.3.x/deployment/docker/index.md
  openmetadata-docs/content/v1.3.x/deployment/ingestion/external/gcs-composer.md
  openmetadata-docs/content/v1.3.x/deployment/ingestion/external/mwaa.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/faqs.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/values.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/kubernetes.md
  openmetadata-docs/content/v1.3.x/quick-start/local-docker-deployment.md
Due: none

updating upgrade doc
  openmetadata-docs/content/v1.3.x/deployment/upgrade/kubernetes.md
Due: none

Minor: Fix and update docs with links and new release 1.3.1 (#15422)
  openmetadata-docs/content/v1.3.x/deployment/docker/index.md
  openmetadata-docs/content/v1.3.x/deployment/ingestion/external/gcs-composer.md
  openmetadata-docs/content/v1.3.x/deployment/ingestion/external/mwaa.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/eks.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/faqs.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/gke.md
  openmetadata-docs/content/v1.3.x/deployment/kubernetes/values.md
  openmetadata-docs/content/v1.3.x/deployment/upgrade/kubernetes.md
  openmetadata-docs/content/v1.3.x/quick-start/local-docker-deployment.md
Due: none

ISSUE #15381 - Fix execution summary timeout (#15378)
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/dqtests/TestSuiteResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/test_suite_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/test_suite_index_mapping.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestSuiteResourceTest.java
Due: google-style-java

Add Dao Get Call based on type
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
Due: google-style-java

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
