Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Remove JDBI Unit of Work transactions
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/events/ChangeEventHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiTransactionManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiUnitOfWorkApplicationEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/JdbiUnitOfWorkProvider.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/LinkedRequestScopedJdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/ManagedHandleInvocationHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/NonHttpGetRequestJdbiUnitOfWorkEventListener.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/unitofwork/RequestScopedJdbiHandleManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/NotificationHandler.java
Due: google-style-java

Remove JDBI Unit of Work transactions
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Due: google-style-java

Add Glossary Migration (#13485)
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v120/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v120/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v120/MigrationUtil.java
Due: google-style-java

Fix Crentials issue on Elastic Search
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
Due: google-style-java

checkstyle
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
Due: google-style-java

Fix credentials issue elastic search (#13552)
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
Due: google-style-java

Application UI part2 (#13544)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DataInsightsApplication.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/SearchIndexingApplication.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/application.svg
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/app-details.less
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppSchedule/AppSchedule.component.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/Application/ApplicationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/SearchIndexingApplication.json
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Due: lint-staged

Disable tags when the classification is disabled (#13532)
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/indexMapping.json
Due: google-style-java

updated the reset button reordered customize page option on setting page
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/utils/GlobalSettingsUtils.tsx
Due: lint-staged

localization change for other languages
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

fixed ES Indexing for very large S3 Storage Service buckets fails (#13507)
  ingestion/examples/sample_data/storage/containers.json
  openmetadata-service/src/main/resources/elasticsearch/en/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/container_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/container_index_mapping.json
Due: none

fix: explore loading issue
  openmetadata-ui/src/main/resources/ui/src/components/Explore/exlore.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.ts
Due: lint-staged

remove log from initializeRepositories
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Due: google-style-java

remove log from initializeRepositories
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Due: google-style-java

remove log from initializeRepositories (#13558)
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
Due: google-style-java

fix escape sequence for ES search
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/UserProfileIcon/UserProfileIcon.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Due: lint-staged

chore(ui): add base class for left sidebar (#13548)
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ApplicationConfigProvider/ApplicationConfigProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/LeftSidebarClassBase.ts
Due: lint-staged

fix: add custom properties in advanced filter
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/advanced-search-modal.less
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomProperties/CustomProperty.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Due: lint-staged

fix: revert compose changes
  docker/development/docker-compose.yml
Due: none

fix: revert compose changes (#13560)
  docker/development/docker-compose.yml
Due: none

exclude services tests
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Due: lint-staged

feat(ui): support table partitioned details (#13294)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/PartitionedKeys/PartitionedKeys.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Due: lint-staged

fix: pass rnd table bound columns to sample query
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
Due: none

ui: glossary badge feature feedback
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeader/EntityHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/TagsSelectForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/tag-select-fom.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Color.constants.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

fix: pass rnd table bound columns to sample query (#13561)
  ingestion/src/metadata/profiler/processor/sampler/sqlalchemy/sampler.py
  ingestion/tests/integration/orm_profiler/test_orm_profiler_e2e.py
Due: none

Maven-sonarcloud ci (#13545)
  .github/workflows/maven-sonar-build.yml
Due: none

fix: add data insights report application
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DataInsightsReportApplication.json
  openmetadata-ui/src/main/resources/ui/src/assets/svg/DataInsightsReportApplication.svg
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/DataInsightsReportApplication.json
Due: none

revert cypress config
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
Due: lint-staged

changes made as per comments
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsDetailsPage/DataProductsDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailsPage/DomainDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/assets-tabs.less
  openmetadata-ui/src/main/resources/ui/src/components/Team/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Assets.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

Fix checkstlye
  ingestion/src/metadata/ingestion/source/pipeline/nifi/client.py
Due: none

fix: upgrade reactflow from 11.1.1 to 11.8.3 (#13483)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

ui: glossary badge feature feedback (#13562)
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/AsyncSelectList/AsyncSelectList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeader/EntityHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityHeaderTitle/EntityHeaderTitle.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryHeader/GlossaryHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsContainerV2/TagsContainerV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/TagsSelectForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsSelectForm/tag-select-fom.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Tag/TagsV1/TagsV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/Color.constants.ts
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

feat: add custom property filter in advanced search modal (#13559)
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/AdvanceSearchProvider/AdvanceSearchProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/advanced-search-modal.less
  openmetadata-ui/src/main/resources/ui/src/components/Explore/exlore.mock.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/explore.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ExploreV1/ExploreV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/AdvancedSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/explore/ExplorePageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomProperties/CustomProperty.utils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ExplorePage/ExplorePageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/SearchUtils.tsx
Due: lint-staged

use only name in arr field
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/main/resources/elasticsearch/en/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/en/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/jp/topic_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/table_index_mapping.json
  openmetadata-service/src/main/resources/elasticsearch/zh/topic_index_mapping.json
Due: google-style-java

added functionality to choose the widget size and updated widget content according to the sizes
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/AddWidgetModal/AddWidgetModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/AddWidgetModal/AddWidgetModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/AddWidgetModal/AddWidgetTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/AnnouncementsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/right-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizePageClassBase.ts
Due: lint-staged

disabled logs on running and minor fixes
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Applications/AppRunsHistory/AppRunsHistory.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/components/size.less
Due: lint-staged

fix popup issue
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
Due: lint-staged

Fix Nifi test connection (#13528)
  ingestion/src/metadata/ingestion/source/pipeline/nifi/client.py
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
