Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Fix #3152 Restrict some teams from being displayed during sign up process (#3613)
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.test.tsx
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/signup/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/index.tsx
Due: lint-staged

Fix #3626 Add a config API for sandbox mode (#3627)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplicationConfig.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/config/ConfigResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/sandbox/SandboxConfiguration.java
Due: google-style-java

Support wix for x86_64 and testcontainers for the rest.
  catalog-rest-service/pom.xml
  catalog-rest-service/src/test/java/org/openmetadata/catalog/CatalogApplicationTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/MySqlSupport.java
  pom.xml
Due: google-style-java

Adapt for airflow 1.10.15
  ingestion/setup.py
  ingestion/src/airflow_provider_openmetadata/lineage/openmetadata.py
  ingestion/src/airflow_provider_openmetadata/lineage/utils.py
Due: none

Format
  ingestion/setup.py
  ingestion/src/airflow_provider_openmetadata/lineage/utils.py
Due: none

check if step is informed
  ingestion/src/metadata/orm_profiler/metrics/static/histogram.py
Due: none

Fix dadhboard page issue
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
Due: lint-staged

Simplify order by to not reference the CTE
  ingestion/src/metadata/orm_profiler/metrics/static/histogram.py
Due: none

Addressing review comments
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
Due: lint-staged

Addressing review comments
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Due: lint-staged

first .dockerignore that works
  .dockerignore
  docker/compose/Dockerfile
  docker/compose/docker-compose.yml
  docker/compose/patches/fix-python.patch
  docker/compose/scripts/airflow/run.sh
  docker/compose/scripts/metadata/mysql.json
  docker/compose/scripts/metadata/run.sh
  docker/compose/scripts/metadata/starburst.json
  docker/compose/scripts/openmetadata/run.sh
Due: none

Run pytests
  .github/workflows/cd.yml
Due: none

compose WIP
  .dockerignore
  docker/compose/Dockerfile
  docker/compose/docker-compose.yml
  docker/compose/scripts/mysql/init.sql
Due: none

Working version
  .dockerignore
  docker/compose/Dockerfile
Due: none

Add continous delivery
  .github/workflows/cd.yml
Due: none

add pytests service
  .github/workflows/cd.yml
  docker/compose/Dockerfile
  docker/compose/docker-compose.yml
  docker/compose/scripts/pytests/run.sh
Due: none

Fix #3528: ingest sql queries
  ingestion/src/metadata/ingestion/models/table_queries.py
  ingestion/src/metadata/ingestion/source/snowflake_usage.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
Due: none

use make coverage
  .dockerignore
  docker/compose/scripts/pytests/run.sh
Due: none

ingested sql queries and fixed incorrect query count
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
  ingestion/src/metadata/ingestion/models/table_queries.py
  ingestion/src/metadata/ingestion/stage/table_usage.py
Due: none

fixed log messages
  ingestion/src/metadata/ingestion/bulksink/metadata_usage.py
Due: none

Addressing review comments
  openmetadata-ui/src/main/resources/ui/src/pages/PipelineDetails/PipelineDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/StringsUtils.ts
Due: lint-staged

Change teams manage tab isjoinable text
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
Due: lint-staged

Adding changes to support sandbox mode from config yaml
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

Reverting multiple DB from Snowflake
  ingestion/src/metadata/ingestion/source/snowflake.py
Due: none

Adding unit test to test Github star button on my-data page
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
Due: lint-staged

Simplify order by to not reference the CTE (#3662)
  ingestion/src/metadata/orm_profiler/metrics/static/histogram.py
Due: none

Add ENV variable support for sandbox mode enabled config
  conf/openmetadata-security.yaml
  conf/openmetadata.yaml
Due: none

Use common entityName and fullyQualifiedEntityName type definition with DOT allowed
  catalog-rest-service/src/main/resources/json/schema/api/services/createDashboardService.json
  catalog-rest-service/src/main/resources/json/schema/api/services/createDatabaseService.json
  catalog-rest-service/src/main/resources/json/schema/api/services/createMessagingService.json
  catalog-rest-service/src/main/resources/json/schema/api/services/createPipelineService.json
  catalog-rest-service/src/main/resources/json/schema/api/services/createStorageService.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/chart.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/dashboard.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/glossaryTerm.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/metrics.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/mlmodel.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/report.json
  catalog-rest-service/src/main/resources/json/schema/entity/data/table.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/dashboardService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/databaseService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/messagingService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/pipelineService.json
  catalog-rest-service/src/main/resources/json/schema/entity/services/storageService.json
  catalog-rest-service/src/main/resources/json/schema/operations/pipelines/airflowPipeline.json
  catalog-rest-service/src/main/resources/json/schema/type/basic.json
Due: none

Make EntityInterface abstract class and move building entity reference to the base class
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/AirflowPipelineRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/BotsRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/ChartRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DashboardRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DashboardServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DatabaseRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DatabaseServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/GlossaryRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/GlossaryTermRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/LocationRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/MessagingServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/MetricsRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/MlModelRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/PipelineRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/PipelineServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/PolicyRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/ReportRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/RoleRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/StorageServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TableRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TeamRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/TopicRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/UserRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/WebhookRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/util/EntityInterface.java
Due: google-style-java

fix: ingestion/tests/integration/lineage/airflow/requirements.txt to reduce vulnerabilities
  ingestion/tests/integration/lineage/airflow/requirements.txt
Due: none

Simplify ListAfter code for reducing code verbosity
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogHealthCheck.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/Entity.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DatabaseServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/ListFilter.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/PolicyRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/RoleRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/UserRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/charts/ChartResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/dashboards/DashboardResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/databases/DatabaseResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/databases/TableResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/events/WebhookResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/glossary/GlossaryResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/glossary/GlossaryTermResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/locations/LocationResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/mlmodels/MlModelResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/operations/AirflowPipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/pipelines/PipelineResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/policies/PolicyResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/dashboard/DashboardServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/database/DatabaseServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/messaging/MessagingServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/pipeline/PipelineServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/storage/StorageServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/RoleResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/TeamResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/teams/UserResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/topics/TopicResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/security/DefaultAuthorizer.java
Due: google-style-java

Add ENV variable support for sandbox mode enabled config (#3687)
  conf/openmetadata-security.yaml
  conf/openmetadata.yaml
Due: none

fix: pom.xml to reduce vulnerabilities
  pom.xml
Due: none

Fix #3443: Add GitHub star button to sandbox (#3597)
  openmetadata-ui/src/main/resources/ui/src/assets/svg/external-link-grey.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/github-star.svg
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/GithubStarButton/GithubStarButton.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/popover/PopOver.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/popover/PopOverTypes.ts
  openmetadata-ui/src/main/resources/ui/src/jsons/en.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/src/utils/SvgUtils.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
