Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Add support for translations in multi lang
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java.orig
  openmetadata-service/src/main/java/org/openmetadata/service/resources/EntityResource.java.orig
  openmetadata-service/src/main/java/org/openmetadata/service/resources/search/SearchResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/MultiLanguageSearchIndexing.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/MultiLanguageSearchQueryBuilder.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/ContainerIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/DashboardDataModelIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/SearchEntityIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TableIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TopicIndex.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/search/MultiLanguageSearchTest.java
  openmetadata-spec/src/main/resources/json/schema/search/searchRequest.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Applications/McpApplication.md
Due: google-style-java

Added entityStatus and reviewers property in ru index mappings (#23286)
  openmetadata-spec/src/main/resources/elasticsearch/ru/api_collection_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/api_endpoint_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/chart_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/classification_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/container_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/dashboard_data_model_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/dashboard_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/data_products_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/database_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/database_schema_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/directory_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/file_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/glossary_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/glossary_term_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/metric_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/mlmodel_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/pipeline_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/query_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/search_entity_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/spreadsheet_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/stored_procedure_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/table_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/tag_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/topic_index_mapping.json
  openmetadata-spec/src/main/resources/elasticsearch/ru/worksheet_index_mapping.json
Due: none

create logs mixin, use clients to stream logs
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
  ingestion/src/metadata/ingestion/ometa/mixins/logs_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  ingestion/src/metadata/utils/streamable_logger.py
Due: none

Patch operation issue fixed
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/SystemResource.java
Due: google-style-java

Fix tableau e2e count error
  ingestion/tests/cli_e2e/test_cli_tableau.py
Due: none

ISSUE #2031 - Add App Runner to Application Entity (#23259)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppMarketPlaceMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
  openmetadata-spec/src/main/java/org/openmetadata/schema/ServiceEntityInterface.java
  openmetadata-spec/src/main/resources/json/schema/entity/applications/app.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/createAppRequest.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/appMarketPlaceDefinition.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createEntityProfile.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/app.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterConnectors/bigQueryConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterConnectors/databricksConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterConnectors/redshiftConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/metadataExporterConnectors/snowflakeConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/createAppRequest.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/appMarketPlaceDefinition.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/marketplace/createAppMarketPlaceDefinitionReq.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testCase.ts
  openmetadata-ui/src/main/resources/ui/src/generated/tests/testSuite.ts
  openmetadata-ui/src/main/resources/ui/src/generated/type/entityProfile.ts
Due: google-style-java, lint-staged

Update service util class base for drive service
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceUtilClassBase.ts
Due: lint-staged

move from dataAssetHeader to the dbt tab itself
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeader.utils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

fix APIs
  openmetadata-ui/src/main/resources/ui/playwright/utils/widgetFilters.ts
Due: lint-staged

fix scroll issue for entity search settings (#23283)
  openmetadata-ui/src/main/resources/ui/src/components/SearchSettings/EntitySeachSettings/entity-search-settings.less
Due: none

Add support for translations in multi lang
  ingestion/src/metadata/pii/algorithms/custom_recognizer_factory.py
  ingestion/src/metadata/pii/scanners/custom_ner_scanner.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/ClassificationResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagMapper.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/tags/TagResource.java
  openmetadata-service/src/main/resources/json/data/tags/piiTagsWithRecognizers.json
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/TagResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/api/classification/createClassification.json
  openmetadata-spec/src/main/resources/json/schema/api/classification/createTag.json
  openmetadata-spec/src/main/resources/json/schema/api/classification/createTagWithRecognizers.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/classification.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/type/contextRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/customRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/denyListRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/patternRecognizer.json
  openmetadata-spec/src/main/resources/json/schema/type/recognizer.json
  openmetadata-ui/src/main/resources/ui/src/components/Classification/RecognizerEditor/RecognizerEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Classifications/ClassificationDetails/ClassificationDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ClassificationUtils.tsx
Due: google-style-java, lint-staged

update patch call
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SSOConfigurationForm.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/securityConfigAPI.ts
Due: lint-staged

patch call update for enable self signup
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SettingsSso.tsx
Due: lint-staged

refactor searchQuery to avoid AND and OR operators
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AuthProviders/AuthProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyDataWidget/MyDataWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableConstraints/TableConstraintsModal/TableConstraintsModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/serviceAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/Query/QueryUtils.ts
Due: lint-staged

Add version support for directory
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Directory/DirectoryVersion/DirectoryVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Directory/DirectoryVersion/DirectoryVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/driveAPI.ts
Due: lint-staged

remove enable selfsignup from then form since its present in the toggle
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
Due: lint-staged

Lineage dialect postgres added to greenplum
  ingestion/src/metadata/ingestion/lineage/models.py
Due: none

MINOR - Handle chart for Data Contract and add schema validations (#23242)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Due: google-style-java

MINOR - Update contract security schema (#23274)
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
  openmetadata-spec/src/main/resources/json/schema/entity/data/dataContract.json
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDataContract.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dataContract.ts
Due: google-style-java, lint-staged

Revert "fix cache response"
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

Revert "fix search cache"
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

Revert "try search cache"
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

feat(ui): support custom operator for array object contains (#23248)
  openmetadata-service/src/main/java/org/openmetadata/service/rules/LogicOps.java
  openmetadata-service/src/test/java/org/openmetadata/service/rules/RuleEngineTests.java
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataContracts.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContracts.spec.ts
  openmetadata-ui/src/main/resources/ui/src/constants/DataContract.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/DataContract/DataContractUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/JSONLogicSearchClassBase.ts
Due: google-style-java, lint-staged

clean commits
  conf/openmetadata-cache-sample.yaml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/HikariCPDataSourceFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/locator/ConnectionType.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/MigrationFile.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
  pom.xml
Due: google-style-java

fix tests
  openmetadata-ui/src/main/resources/ui/src/components/Auth/AppCallbacks/Auth0Callback/Auth0Callback.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/Extensions/BlockAndDragDrop/BlockAndDragDrop.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/CommonWidgets/CommonWidgets.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/AddDataQualityTest/components/TestCaseFormV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/BundleSuiteForm/BundleSuiteForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/TableProfilerChart/TableProfilerChart.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/GlossaryTermsV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermReferences.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/GlossaryTermSynonyms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/RelatedTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryUpdateConfirmationModal/GlossaryUpdateConfirmationModal.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/CopyToClipboardButton/CopyToClipboardButton.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/EntityImport.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/FileUploadWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/InlineAlert/InlineAlert.test.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/pages/AddServicePage/AddServicePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Application/ApplicationPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ResetPassword/ResetPassword.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchSettingsPage/SearchSettingsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.test.tsx
Due: lint-staged

clean drops
  bootstrap/sql/migrations/native/1.10.0/postgres/schemaChanges.sql
Due: none

clean
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/MigrationFile.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/MetricsExample.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Due: google-style-java

added enable self signup field for non existing sso form
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SSOConfigurationForm.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
Due: lint-staged

clean
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/MigrationFile.java
Due: google-style-java

Add version pages for File, Spreadsheet and Worksheet
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/File/FileVersion/FileVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/File/FileVersion/FileVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Spreadsheet/SpreadsheetVersion/SpreadsheetVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Spreadsheet/SpreadsheetVersion/SpreadsheetVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Worksheet/WorksheetVersion/WorksheetVersion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Worksheet/WorksheetVersion/WorksheetVersion.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EntityVersionPage/EntityVersionPage.component.tsx
Due: lint-staged

clean
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

remove hosts array for ES
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
Due: google-style-java

remove hosts array for ES
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Due: google-style-java

format
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/elasticsearch/ElasticSearchClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/opensearch/OpenSearchClient.java
Due: google-style-java

add e2e tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SettingsNavigationPage.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Modals/UnsavedChangesModal/UnsavedChangesModal.component.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/CustomizablePage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/mocks/MyDataPage.mock.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SettingsNavigationPage/SettingsNavigationPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.tsx
Due: lint-staged

minor code revert for enabling fields
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm/SSOConfigurationForm.tsx
Due: lint-staged

Drop Insights Indexes
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Due: google-style-java

Drop Insights Indexes (#23294)
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/insights/DataInsightsApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/util/OpenMetadataOperations.java
Due: google-style-java

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
