Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Update GID used in ingestion docker images
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
Due: none

Cypress: Fixed failing cypress for role page (#8381)
  openmetadata-ui/src/main/resources/ui/cypress.config.ts
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/AddRoleAndAssignToUser.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/Roles.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/common/facetfilter/FacetFilter.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/table-data-card-v2/TableDataCardV2.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/RolesPage/RolesListPage/RolesList.tsx
Due: lint-staged

AzureSQL troubleshooting (#8427)
  openmetadata-docs/content/connectors/database/azuresql/troubleshooting.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/openmetadata/connectors/azuresql/autocommit.png
Due: none

feat: add sagemaker connector
  ingestion/setup.py
  ingestion/src/metadata/clients/aws_client.py
  ingestion/src/metadata/clients/connection_clients.py
  ingestion/src/metadata/examples/workflows/sagemaker.yaml
  ingestion/src/metadata/ingestion/source/mlmodel/sagemaker.py
  ingestion/src/metadata/utils/connections.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/mlmodel/sageMakerConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/mlmodelService.json
Due: none

fix: fix linting errors and update imports
  ingestion/src/metadata/clients/aws_client.py
  ingestion/src/metadata/clients/connection_clients.py
  ingestion/src/metadata/examples/workflows/sagemaker.yaml
  ingestion/src/metadata/ingestion/source/mlmodel/sagemaker.py
  ingestion/src/metadata/utils/connections.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/mlmodel/sageMakerConnection.json
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Create SECURITY.md (#8437)
  SECURITY.md
Due: none

Update GID used in ingestion docker images (#8434)
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
Due: none

Update Okta documentation (#8433)
  openmetadata-docs/content/deployment/security/okta/index.md
Due: none

Change parameter in match_regex_count.py and not_match_regex_count.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_match_regex.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_not_match_regex.py
Due: none

Fix 2 wring in pylint
  ingestion/src/metadata/orm_profiler/orm/functions/regex_match.py
Due: none

Use py format for tidy the code
  ingestion/src/metadata/orm_profiler/metrics/static/match_regex_count.py
  ingestion/src/metadata/orm_profiler/metrics/static/not_match_regex_count.py
  ingestion/src/metadata/orm_profiler/orm/functions/regex_match.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_match_regex.py
  ingestion/src/metadata/test_suite/validations/column/column_values_to_not_match_regex.py
Due: none

refactor regex_match.py to use compiler process clauses
  ingestion/src/metadata/orm_profiler/orm/functions/regex_match.py
Due: none

fixing orm_profiler/metrics/registry.py:73: in Metrics NameError: name 'MatchRegexCount' is not defined
  ingestion/src/metadata/orm_profiler/metrics/registry.py
  ingestion/src/metadata/orm_profiler/orm/functions/regex_match.py
Due: none

Fix sonar issues (#8421)
  openmetadata-clients/openmetadata-java-client/src/main/java/org/openmetadata/client/gateway/OpenMetadata.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchEventPublisher.java
  openmetadata-service/src/main/java/org/openmetadata/service/elasticsearch/ElasticSearchIndexDefinition.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/BotRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/FeedRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SettingsRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
Due: google-style-java

Updated the volume document and one community user ticket
  openmetadata-docs/content/deployment/docker/volumes.md
  openmetadata-docs/content/deployment/kubernetes/index.md
Due: none

test: add unit tests for sagemake source
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/mlmodel/sagemaker.py
  ingestion/tests/unit/source/test_sagemaker.py
Due: none

Upgrade maven plugins
  pom.xml
Due: none

Upgrade maven plugins (#8441)
  pom.xml
Due: none

Fix error casuing import not successful
  ingestion/src/metadata/orm_profiler/metrics/registry.py
Due: none

added primary color for the icons
  openmetadata-ui/src/main/resources/ui/src/assets/svg/fitview.svg
  openmetadata-ui/src/main/resources/ui/src/assets/svg/full-screen.svg
Due: none

Updated the volume document and one community user ticket (#8440)
  openmetadata-docs/content/deployment/docker/volumes.md
  openmetadata-docs/content/deployment/kubernetes/index.md
Due: none

fix(ui): show full content for ellipsis column names
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityTable/EntityTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SchemaTab/SchemaTab.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/VersionTable/VersionTable.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
Due: lint-staged

addressing comments
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/lineagePage.style.less
Due: lint-staged

Addressing review comments
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightSummary.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DescriptionInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/OwnerInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TierInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TopActiveUsers.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TopViewEntities.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsight.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsight.mock.ts
Due: lint-staged

Updated the volume document and one community user ticket
  openmetadata-docs/content/deployment/docker/index.md
Due: none

Fix/volume docs (#8444)
  openmetadata-docs/content/deployment/docker/index.md
Due: none

Update openmetadata-server.md
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/openmetadata-server.md
Due: none

Address comment
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Due: none

Address comment
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Due: lint-staged

Address comment
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/DataInsightDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DataInsightPage/DataInsightPage.component.tsx
Due: lint-staged

Remove expat version
  ingestion/Dockerfile
Due: none

Removed unnecessary docker-compose files (#8085)
  docker/local-metadata/docker-compose-dev-postgres.yml
  docker/local-metadata/docker-compose-dev.yml
  openmetadata-docs/content/developers/contribute/build-code-and-run-tests/openmetadata-server.md
Due: none

Fix #6141: Ingestion Pipeline Status Updates
  ingestion/src/metadata/ingestion/api/workflow.py
  ingestion/src/metadata/ingestion/ometa/mixins/ingestion_pipeline_mixin.py
  ingestion/src/metadata/ingestion/ometa/ometa_api.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/metadata.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/workflow.json
Due: google-style-java

List Pipeline Status API & Improvements
  ingestion/src/metadata/ingestion/api/workflow.py
  openmetadata-airflow-apis/openmetadata_managed_apis/api/response.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/common.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/lineage.py
  openmetadata-airflow-apis/openmetadata_managed_apis/workflows/ingestion/usage.py
  openmetadata-airflow-apis/tests/integration/operations/test_airflow_ops.py
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
Due: google-style-java

Rename State field to PipelineState in UI
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/Ingestion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Ingestion/ingestion.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

Convert Pipeline Status array to single object
  openmetadata-service/src/main/java/org/openmetadata/service/Entity.java
  openmetadata-service/src/main/java/org/openmetadata/service/airflow/AirflowRESTClient.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/ingestionPipelines/ingestionPipeline.json
Due: google-style-java

changed constant to upper case
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomControls.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/CustomEdge.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Lineage.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityLineageUtils.tsx
Due: lint-staged

Remove expat version (#8445)
  ingestion/Dockerfile
Due: none

Remove expat version
  ingestion/Dockerfile.ci
Due: none
