Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

fix dbt files class 2
  ingestion/src/metadata/ingestion/source/database/dbt/models.py
Due: none

Fix the sonar errors
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
Due: lint-staged

fix: show duration based on current time if endTime is not there (#18799)
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppRunsHistory/AppRunsHistory.component.tsx
Due: lint-staged

fix: openmetadata-ui/src/main/resources/ui/package.json & openmetadata-ui/src/main/resources/ui/yarn.lock to reduce vulnerabilities
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Feat: Support for Emoji Option in Feed Editor (#18772)
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/FeedEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/feed-editor.less
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/FeedEditor/quill-emoji.css
  openmetadata-ui/src/main/resources/ui/src/constants/Feeds.constants.ts
  openmetadata-ui/src/main/resources/ui/webpack.config.dev.js
  openmetadata-ui/src/main/resources/ui/webpack.config.prod.js
Due: lint-staged

Added dbt cloud multi project and jobs filter
  ingestion/src/metadata/examples/workflows/dbtcloud.yaml
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/client.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/connection.py
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/models.py
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/dbtcloud/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/dbtcloud/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/dbtCloudConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/DBTCloud.md
Due: none

fix: Minus sign correction.
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightDescriptionAndOwnerTemplate.java
Due: google-style-java

update alert test selectors
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/src/components/AlertBar/AlertBar.tsx
Due: lint-staged

added tests
  ingestion/tests/unit/topology/pipeline/test_dbtcloud.py
Due: none

style: remove inline styles and update hover effect
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.tsx
Due: lint-staged

update test
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
Due: lint-staged

fix: Minus sign correction. (#18802)
  openmetadata-service/src/main/java/org/openmetadata/service/events/scheduled/template/DataInsightDescriptionAndOwnerTemplate.java
Due: google-style-java

Docs: Release Doc Updation
  openmetadata-docs/content/partials/v1.5/releases/latest.md
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/releases/releases/index.md
Due: none

Fix Colors in Custom Charts
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/DataInsightChartCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/PageViewsByEntitiesChart.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsight/TotalEntityInsightSummary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/CustomMetricGraphs/CustomMetricGraphs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/TotalDataAssetsWidget/TotalDataAssetsWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/DataInsight.constants.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataInsightUtils.tsx
Due: lint-staged

fix dbt objects class
  ingestion/src/metadata/ingestion/source/database/dbt/models.py
Due: none

Docs: Release Doc Updation (#18807)
  openmetadata-docs/content/partials/v1.5/releases/latest.md
  openmetadata-docs/content/v1.5.x/collate-menu.md
  openmetadata-docs/content/v1.5.x/menu.md
  openmetadata-docs/content/v1.5.x/releases/releases/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/menu.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/releases/releases/index.md
Due: none

fix linting
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Due: none

Docs: 1.5.12 Updation
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/v1.5.x/deployment/ingestion/external/airflow.md
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.5.x/sdk/python/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/ingestion/external/airflow.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/sdk/python/index.md
Due: none

Docs: Fixing Broken Menu
  openmetadata-docs/content/v1.5.x/menu.md
Due: none

Docs: 1.5.12 Updation (#18808)
  openmetadata-docs/content/partials/v1.6/releases/latest.md
  openmetadata-docs/content/v1.5.x/deployment/ingestion/external/airflow.md
  openmetadata-docs/content/v1.5.x/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.5.x/sdk/python/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/ingestion/external/airflow.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/quick-start/local-docker-deployment.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/sdk/python/index.md
Due: none

fix the button not visible for the non admin user
  openmetadata-ui/src/main/resources/ui/src/pages/TagPage/TagPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/PermissionsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TagsUtils.tsx
Due: lint-staged

fix pylint
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
Due: none

fix linting once and for all
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
Due: none

Docs: Fixing Broken Menu (#18809)
  openmetadata-docs/content/v1.5.x/menu.md
Due: none

Fix the vulnerability issue for 'cross-spawn' library
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

update the cross-spawn resolution version to 7.0.5
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Improvement : Teams api to update and remove users (#18729)
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
Due: google-style-java

Minor: Auto classification UI (#18785)
  openmetadata-spec/src/main/java/org/openmetadata/sdk/PipelineServiceClientInterface.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/AutoClassification.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/MySqlIngestionClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/ingestion/ServiceBaseClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/autoClassification.ts
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/workflows/autoClassification.md
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.interfaces.ts
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/IngestionWorkflowUtils.ts
Due: google-style-java, lint-staged

fixed conflicts
  ingestion/src/metadata/examples/workflows/microstrategy.yaml
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/client.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/microstrategy/models.py
  openmetadata-docs/content/v1.5.x/connectors/dashboard/microstrategy/index.md
  openmetadata-docs/content/v1.5.x/connectors/dashboard/microstrategy/yaml.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/microstrategy/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/dashboard/microstrategy/yaml.md
Due: none

update the missing key translation
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
Due: none

feat: added getLatestRecord for extension (#18797)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityTimeSeriesRepository.java
Due: google-style-java

Improvement : GET team/{teamName}/users api for paginated user listing
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
Due: google-style-java

change to array type
  ingestion/src/metadata/ingestion/source/pipeline/dbtcloud/client.py
  ingestion/tests/unit/topology/pipeline/test_dbtcloud.py
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/dbtcloud/index.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/connectors/pipeline/dbtcloud/yaml.md
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/pipeline/dbtCloudConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Pipeline/DBTCloud.md
Due: none

fix: mask slack user and bot token.
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/AppRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Due: google-style-java

MINOR: Databricks LocationPath Update Fix
  ingestion/src/metadata/ingestion/models/patch_request.py
  ingestion/src/metadata/ingestion/source/database/databricks/metadata.py
  ingestion/src/metadata/utils/sqlalchemy_utils.py
Due: none

updated yaml config
  ingestion/src/metadata/examples/workflows/dbtcloud.yaml
Due: none

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
