Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Apply suggestions from code review
  ingestion/src/metadata/examples/workflows/postgres.yaml
Due: none

playwright: add playwright coverage for test cases (#24937)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkEditEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/ColumnLevelTests.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TableLevelTests.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DescriptionSuggestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Table.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TagsSuggestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/TestCases.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/entity/TableClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/dataQuality.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/permission.ts
Due: lint-staged

Update Data Insights Retention to 30 days
  .gitignore
  openmetadata-service/src/main/resources/json/data/app/DataInsightsApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DataInsightsApplication.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/dataInsightsAppConfig.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/DataInsightsApplication.json
Due: none

Add unit tests for the changes
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointDetails/APIEndpointDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Chart/ChartDetails/ChartDetails.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DashboardDetails/DashboardDetails.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsPage/DataProductsPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailPage/DomainDetailPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Directory/DirectoryDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/File/FileDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Spreadsheet/SpreadsheetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DriveService/Worksheet/WorksheetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Metric/MetricDetails/MetricDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/APICollectionPage/APICollectionPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AlertDetailsPage/AlertDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/StoredProcedure/StoredProcedurePage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsPage.test.tsx
Due: lint-staged

fix: added cachetools library in sample-data
  ingestion/setup.py
Due: none

Enhance TestDefinitionForm and TestDefinitionList components with improved UI and pagination handling
  openmetadata-ui/src/main/resources/ui/src/components/RulesLibrary/TestDefinitionForm/TestDefinitionForm.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/RulesLibrary/TestDefinitionList/TestDefinitionList.component.tsx
Due: lint-staged

fix glossary tests (#25078)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryAdvancedOperations.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryP3Tests.spec.ts
Due: lint-staged

Update Data Insights Retention to 90 days
  openmetadata-service/src/main/resources/json/data/app/DataInsightsApplication.json
  openmetadata-service/src/main/resources/json/data/appMarketPlaceDefinition/DataInsightsApplication.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/internal/dataInsightsAppConfig.json
  openmetadata-ui/src/main/resources/ui/src/utils/ApplicationSchemas/DataInsightsApplication.json
Due: none

remove unwanted code
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
Due: lint-staged

Docs: Postgres YAML Updation (#24549)
  ingestion/src/metadata/examples/workflows/postgres.yaml
Due: none

code refactor
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Persona/PersonaSelectableList/PersonaSelectableList.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DomainSelectableList/DomainSelectableListNew.component.tsx
Due: lint-staged

fix: parquet and datalake tests
  ingestion/tests/unit/readers/test_parquet_batches.py
  ingestion/tests/unit/topology/database/test_datalake.py
Due: none

fix(ui): ensure search bar remains visible when no results in AssetsTabs (#25041)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/UserDetails.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Explore/EntitySummaryPanel/EntitySummaryPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/AssetsTabs.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DomainUtils.tsx
Due: lint-staged

AI #200 - Add TRIGGER permission to application bots
  bootstrap/sql/migrations/native/1.12.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.12.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/resources/json/data/policy/ApplicationBotPolicy.json
Due: none

fix test
  ingestion/tests/unit/test_lineage_empty_result.py
Due: none

Fix #18424: Fix invalid task issue airflow (#24978)
  ingestion/src/metadata/ingestion/source/pipeline/airflow/metadata.py
  ingestion/tests/unit/topology/pipeline/test_airflow.py
Due: none

fix(ui): update token expiry to unlimited for SCIM (#25026)
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/AuthMechanismForm.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Bot/BotDetails/AuthMechanismForm.tsx
Due: lint-staged

fix extension transformation not being applied on column level custom properties
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/ColumnCustomPropertiesIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ColumnRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

fix: Passing onFocus props in the BlockEditor (#25109)
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/BlockEditor/BlockEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ChipSelect/ChipSelect.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/ChipSelect/ChipSelect.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ChipSelect/ChipSelect.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ChipSelect/index.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditor.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditor.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/RichTextEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

Fix BulkImport spec failure
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/BulkImport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/importUtils.ts
Due: lint-staged

Fix Column patching and test cases
  openmetadata-service/src/main/java/org/openmetadata/csv/EntityCsv.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/csv/EntityCsvTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/DatabaseSchemaResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/dqtests/TestCaseResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/UserResourceTest.java
Due: google-style-java

THE REAL FIX
  ingestion/src/metadata/ingestion/source/database/mongodb/connection.py
  ingestion/src/metadata/ingestion/source/database/mongodb/metadata.py
  ingestion/tests/unit/connections/test_mongodb_connection.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/mongoDBConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Database/MongoDB.md
Due: none

Fix failing unit tests
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductsPage/DataProductsPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Domain/DomainDetailPage/DomainDetailPage.test.tsx
Due: lint-staged

major code refactoring
  openmetadata-ui/src/main/resources/ui/src/components/APIEndpoint/APIEndpointDetails/APIEndpointDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericProvider/GenericProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Customization/GenericProvider/GenericProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Dashboard/DataModel/DataModels/DataModelDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/ColumnDetailPanel/ColumnDetailPanel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModel/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Pipeline/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/SearchIndexDetailsPage/SearchIndexDetailsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TableDetailsPageV1/TableDetailsPageV1.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

Add missing Arabic translations for audit logs, certification, and additional UI elements (#25102)
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
Due: none

fix test
  ingestion/tests/unit/topology/pipeline/test_dagster.py
Due: none

playwright docs update
  openmetadata-ui/src/main/resources/ui/playwright/doc-generator/README.md
  openmetadata-ui/src/main/resources/ui/playwright/doc-generator/generate.js
  openmetadata-ui/src/main/resources/ui/playwright/docs/Discovery.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/Governance.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/Observability.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/Platform.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/README.md
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/ColumnLevelTests.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TableLevelTests.spec.ts
Due: lint-staged

playwright docs update (#25117)
  openmetadata-ui/src/main/resources/ui/playwright/doc-generator/README.md
  openmetadata-ui/src/main/resources/ui/playwright/doc-generator/generate.js
  openmetadata-ui/src/main/resources/ui/playwright/docs/Discovery.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/Governance.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/Observability.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/Platform.md
  openmetadata-ui/src/main/resources/ui/playwright/docs/README.md
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/ColumnLevelTests.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/TableLevelTests.spec.ts
Due: lint-staged

chore(ui): Revamp Test case details page
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/TestCaseResultTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/TestCaseResultTab/test-case-result-tab.style.less
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/IncidentManager/incident-manager.style.less
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/test-summary-custom-tooltip.less
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityDescription/description-v1.less
  openmetadata-ui/src/main/resources/ui/src/utils/EntityVersionUtils.tsx
Due: lint-staged

fix failing tests
  openmetadata-ui/src/main/resources/ui/src/components/Database/ColumnDetailPanel/ColumnDetailPanel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseDetailsPage/DatabaseDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/DatabaseSchemaPage.test.tsx
Due: lint-staged

Fix(UI): Hover Color And Selected Color Customization (#24901)
  openmetadata-spec/src/main/resources/json/schema/configuration/themeConfiguration.json
  openmetadata-ui-core-components/src/main/resources/ui/src/colors/generateMuiPalettes.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/theme/createMuiTheme.ts
  openmetadata-ui-core-components/src/main/resources/ui/src/types.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/CustomThemeConfig.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/MyData/LeftSidebar/LeftSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/Appearance.constants.ts
  openmetadata-ui/src/main/resources/ui/src/context/AntDConfigProvider/AntDConfigProvider.tsx
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/themeConfiguration.ts
  openmetadata-ui/src/main/resources/ui/src/generated/configuration/uiThemePreference.ts
  openmetadata-ui/src/main/resources/ui/src/pages/AppearanceConfigSettingsPage/AppearanceConfigSettingsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AppearanceConfigSettingsPage/AppearanceConfigSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ThemeUtils.ts
Due: lint-staged

commit progress
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataProductDomainMigration.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataProductPersonaCustomization.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataProductRename.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataProductRenameConsolidation.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LandingPageWidgets/DomainDataProductsWidgets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/DataProductPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProductAndSubdomains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Due: lint-staged

Fix Playwright test patterns in data product and entity rename tests (#25114)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataProductDomainMigration.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataProductPersonaCustomization.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataProductRename.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataProductRenameConsolidation.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/EntityRenameConsolidation.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/LandingPageWidgets/DomainDataProductsWidgets.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/DataProductPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProductAndSubdomains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
Due: lint-staged

Same Glossary Term Restriction for Dotted Glossary
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/GlossaryTermResourceIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
Due: google-style-java
