Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

fix java checkstyle
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/KubernetesSecretsManagerTest.java
Due: google-style-java

fix user popover card team redirection issue
  openmetadata-ui/src/main/resources/ui/src/components/Entity/Task/TaskTabIncidentManagerHeader/TasktabIncidentManagerHeaderNew.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.tsx
Due: lint-staged

improve inCluster description in schema
  openmetadata-spec/src/main/resources/json/schema/security/credentials/kubernetesCredentials.json
Due: none

Fix the logs viewer 'Jump to End' button not working.
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LogsViewerPage/LogsViewerPage.tsx
Due: lint-staged

refactor: added doc file, oneOf java changes for ranger
  openmetadata-docs/content/partials/v1.8/connectors/security/connectors-list.md
  openmetadata-docs/content/partials/v1.9/connectors/security/connectors-list.md
  openmetadata-docs/content/v1.8.x/collate-menu.md
  openmetadata-docs/content/v1.8.x/connectors/security/index.md
  openmetadata-docs/content/v1.8.x/connectors/security/ranger/index.md
  openmetadata-docs/content/v1.8.x/connectors/security/ranger/yaml.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/collate-menu.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/security/connectors-list.md
  openmetadata-docs/content/v1.9.x-SNAPSHOT/connectors/security/ranger/yaml.md
  openmetadata-docs/images/connectors/ranger.webp
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/ClassConverterFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/converter/RangerConnectionClassConverter.java
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/security/rangerConnection.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Security/Ranger.md
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Due: google-style-java, lint-staged

fix failing tests
  ingestion/tests/unit/metadata/utils/secrets/test_kubernetes_secrets_manager.py
Due: none

Add ReindexHandler
  openmetadata-service/src/main/java/org/openmetadata/service/apps/bundles/searchIndex/SearchIndexApp.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/DefaultRecreateHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/RecreateIndexHandler.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/SearchRepository.java
Due: google-style-java

Add logging endpoint into S3
  conf/openmetadata-s3-logs.yaml
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/DefaultLogStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/LogStorageFactory.java
  openmetadata-service/src/main/java/org/openmetadata/service/logstorage/S3LogStorage.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/LogStorageTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/MinioLogStorageIntegrationTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/logstorage/S3LogStorageTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogApiTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineLogStorageTest.java
  openmetadata-spec/src/main/java/org/openmetadata/service/logstorage/LogStorageInterface.java
  openmetadata-spec/src/main/resources/json/schema/configuration/logStorageConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/configuration/pipelineServiceClientConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/system/validationResponse.json
Due: google-style-java

Feat(ui): contract withing table entity
  openmetadata-ui/src/main/resources/ui/src/assets/svg/empty-contract.svg
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

MINOR: Fix mysql pytest version
  ingestion/tests/integration/mysql/conftest.py
Due: none

Fix Metrics Buckets and Url Normalization
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/MetricUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/MicrometerBundle.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/OpenMetadataMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/RequestLatencyContext.java
Due: google-style-java

Add more uri to normalization
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/OpenMetadataMetrics.java
Due: google-style-java

fix the query pagination playwright tes
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
Due: lint-staged

fixed nested columns dropdown
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.tsx
Due: lint-staged

addressed comments and sonar issues
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseHomeModal/CustomiseHomeModal.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseLandingPageHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomizeMyData/CustomizeMyData.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/Common/WidgetMoreOptions/WidgetMoreOptions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/CuratedAssetsWidget/CuratedAssetsWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/Widgets/MyTaskWidget/MyTaskWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/CustomizablePage/CustomizablePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizeMyDataPageClassBase.ts
  openmetadata-ui/src/main/resources/ui/src/utils/LandingPageWidget/WidgetsUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/LandingPageWidget/WidgetsUtils.ts
Due: lint-staged

Fix explore count mismatch - 2 (#22525)
  openmetadata-service/src/main/resources/json/data/settings/searchSettings.json
  openmetadata-ui/src/main/resources/ui/playwright/utils/searchSettingUtils.ts
Due: lint-staged

Fix explore count mismatch - 2 (#22525)
  openmetadata-service/src/main/resources/json/data/searchSettings/searchSettings.json
  openmetadata-ui/src/main/resources/ui/playwright/utils/searchSettingUtils.ts
Due: lint-staged

fix the query pagination playwright tes (#22537)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
Due: lint-staged

addressed comments
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.tsx
Due: lint-staged

fix failing test
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/FeedWidget/FeedWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/mocks/CustomizablePage.mock.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CustomizableLandingPageUtils.test.tsx
Due: lint-staged

Maintain Normalized Endpoints
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/MetricUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/OpenMetadataMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/RequestLatencyContext.java
Due: google-style-java

Fix more tags
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/RequestLatencyContext.java
Due: google-style-java

get last result
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DataContractRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/data/DataContractResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/data/DataContractResourceTest.java
Due: google-style-java

Feat(ui): contracts UI
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/AddDataContract.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/AddDataContract/add-data-contract.less
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailFormTab/ContractDetailFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractDetailTab/ContractDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractQualityFormTab/ContractQualityFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSchemaFormTab/ContractScehmaFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractSemanticFormTab/ContractSemanticFormTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataContract/ContractTab/ContractTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Form/JSONSchema/JsonSchemaWidgets/QueryBuilderWidget/QueryBuilderWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/rest/contractAPI.ts
  openmetadata-ui/src/main/resources/ui/src/rest/testAPI.ts
Due: lint-staged

Fix Tests
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyContextTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyTrackingSimpleTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyTrackingTest.java
Due: google-style-java

Fix customize landing page widget feedbacks
  openmetadata-ui/src/main/resources/ui/src/components/GlobalSearchBar/global-search-bar.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/CustomiseSearchBar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/CustomizableComponents/CustomiseLandingPageHeader/customise-search-bar.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Due: lint-staged

added test
  openmetadata-ui/src/main/resources/ui/src/components/common/PopOverCard/UserPopOverCard.test.tsx
Due: lint-staged

Fix Metrics Buckets and Url Normalization (#22536)
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/MetricUtils.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/MicrometerBundle.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/OpenMetadataMetrics.java
  openmetadata-service/src/main/java/org/openmetadata/service/monitoring/RequestLatencyContext.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyContextTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyTrackingSimpleTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/monitoring/RequestLatencyTrackingTest.java
Due: google-style-java

Fix: Support Domains (multiple)
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/addDomainAction.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/lineagePropagationAction.json
  openmetadata-spec/src/main/resources/json/schema/entity/applications/configuration/external/automator/removeDomainAction.json
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/addDomainAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automator/lineagePropagationAction.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/applications/configuration/external/automatorAppConfig.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
Due: lint-staged

MINOR: Fix mysql pytest version (#22535)
  ingestion/tests/integration/mysql/conftest.py
Due: none

Minor(ui): Fixed Nested Columns dropdown (#22538)
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.tsx
Due: lint-staged

Add support service account in Synapse
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/synapseConnection.json
Due: none

Fix #22422: Classification term count showing 0 in UI … (#22470)
  bootstrap/sql/migrations/native/1.9.0/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.0/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ClassificationRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TagRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/tags/ClassificationResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tags.spec.ts
Due: google-style-java, lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
