Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Add different styles for task thread
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/ActivityFeedCard.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/Shared/TaskBadge.tsx
Due: lint-staged

[issues-5528] UI improvemnets
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ServiceConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
Due: lint-staged

styles update
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListSeparator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/tailwind.config.js
Due: lint-staged

Fix task header text
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardHeader/FeedCardHeader.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/FeedUtils.tsx
Due: lint-staged

textual updates
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
Due: lint-staged

[issues-5528] UI improvements (#5629)
  openmetadata-ui/src/main/resources/ui/src/components/AddService/AddService.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConfig/ServiceConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamsAndUsers/TeamsAndUsers.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AddIngestionPage/AddIngestionPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/EditIngestionPage/EditIngestionPage.component.tsx
Due: lint-staged

Fix #5613: python tests
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/dashboard/DashboardServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/database/DatabaseServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/pipeline/PipelineServiceResource.java
  conf/openmetadata.yaml
  ingestion/tests/integration/ometa/test_ometa_chart_api.py
  ingestion/tests/integration/ometa/test_ometa_dashboard_api.py
Due: google-style-java

feat(ui): support web socket based feeds page (#5612)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedList/FeedListSeparator.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/MyData.interface.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/tailwind.css
  openmetadata-ui/src/main/resources/ui/tailwind.config.js
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: lint-staged

backend conn
  ingestion/examples/airflow/dags/airflow_metadata_extraction.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow.py
  ingestion/src/metadata/utils/connections.py
Due: none

hide webhook page for non-admin user
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Due: lint-staged

fix style check
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
Due: lint-staged

Fix issue:- #5617 Only owner and admin should allow to make changes in entity and service (#5625)
  openmetadata-ui/src/main/resources/ui/src/components/MyAssetStats/MyAssetStats.component.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/ingestion.constant.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsAndUsersPage/TeamsAndUsersPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/router/AuthenticatedAppRouter.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/APIUtils.js
Due: lint-staged

Fix #5516: Refactor elasticsearch indexes to be same as entity specifications
  ingestion/src/metadata/ingestion/ometa/mixins/es_mixin.py
  ingestion/src/metadata/utils/elasticsearch.py
Due: none

Add backend connection for airflow dag extraction
  ingestion/examples/airflow/dags/airflow_metadata_extraction.py
  ingestion/src/metadata/ingestion/source/pipeline/airflow.py
  ingestion/src/metadata/utils/connections.py
Due: none

Fix UI changes for Explore page, filters and advanced search
  openmetadata-ui/src/main/resources/ui/src/components/Explore/Explore.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Explore/SortingDropDown.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Suggestions.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/searched-data/SearchedData.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/advanceSearch.constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/constants/explore.constants.ts
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/APIUtils.js
  openmetadata-ui/src/main/resources/ui/src/utils/AdvancedSearchUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/FilterUtils.js
Due: lint-staged

Fix #5613: pipeline tests
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/pipeline/PipelineServiceResource.java
Due: google-style-java

Fix cypress failing
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/feedsAPI.ts
Due: lint-staged

Fixed UI for Glossary search
  openmetadata-ui/src/main/resources/ui/src/interface/types.d.ts
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/APIUtils.js
  openmetadata-ui/src/main/resources/ui/src/utils/GlossaryUtils.ts
Due: lint-staged

Fix view connection layout
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
Due: lint-staged

Fix view connection layout (#5632)
  openmetadata-ui/src/main/resources/ui/src/components/ServiceConnectionDetails/ServiceConnectionDetails.component.tsx
Due: lint-staged

Fix #5516: Refactor elasticsearch indexes to be same as entity specifications
  catalog-rest-service/src/main/java/org/openmetadata/catalog/elasticsearch/ElasticSearchEventPublisher.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/elasticsearch/ElasticSearchIndexDefinition.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/elasticsearch/GlossaryTermIndex.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/elasticsearch/TagIndex.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/search/SearchResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/tags/TagResource.java
  catalog-rest-service/src/main/resources/elasticsearch/tag_index_mapping.json
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/tags/TagResourceTest.java
  ingestion/src/metadata/ingestion/models/table_metadata.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/tag_search_index_mapping.py
Due: google-style-java

Fix #5613: Add fernet encryption and remove connection details for non admin users (#5614)
  catalog-rest-service/src/main/java/org/openmetadata/catalog/fernet/Fernet.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DashboardServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/DatabaseServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/jdbi3/PipelineServiceRepository.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/dashboard/DashboardServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/database/DatabaseServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/messaging/MessagingServiceResource.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/resources/services/pipeline/PipelineServiceResource.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/DashboardServiceResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/DatabaseServiceResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/MessagingServiceResourceTest.java
  catalog-rest-service/src/test/java/org/openmetadata/catalog/resources/services/PipelineServiceResourceTest.java
  conf/openmetadata.yaml
  ingestion/tests/integration/ometa/test_ometa_chart_api.py
  ingestion/tests/integration/ometa/test_ometa_dashboard_api.py
Due: google-style-java

Fix #5455: Ingestion from a kafka topic fails when sample data is enabled
  ingestion/src/metadata/ingestion/source/messaging/kafka.py
Due: none

py_format
  ingestion/setup.py
Due: none

Fix #5455: Ingestion from a kafka topic fails when sample data is enabled (#5536)
  ingestion/setup.py
  ingestion/src/metadata/ingestion/source/messaging/kafka.py
  ingestion/src/metadata/utils/connections.py
Due: none

FIX Mssql ingestion Fail (#5627)
  ingestion/src/metadata/ingestion/source/database/common_db_source.py
Due: none

added custom oidc to airflow provider (#5598)
  ingestion/src/airflow_provider_openmetadata/lineage/config/providers.py
Due: none

Fix #5235: AIRFLOW_AUTH_PROVIDER value to be custom-oidc instead of customOidc (#5537)
  conf/openmetadata.yaml
Due: none

restricted normal user to claim ownership for team and service
  openmetadata-ui/src/main/resources/ui/src/components/ManageTab/ManageTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetails.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidget.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/common.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/service/index.tsx
Due: lint-staged

Add mappings
  ingestion/src/metadata/ingestion/sink/elasticsearch_constants.py
Due: none

Fix ML mapping
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
Due: none

miner fix
  openmetadata-ui/src/main/resources/ui/src/components/common/OwnerWidget/OwnerWidget.tsx
Due: lint-staged

Add tag support for tag suggestion
  openmetadata-ui/src/main/resources/ui/src/axiosAPIs/miscAPI.ts
  openmetadata-ui/src/main/resources/ui/src/components/AdvancedSearch/AdvancedField.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/search.enum.ts
Due: lint-staged

Fixing Glossary Cypress Tests
  openmetadata-ui/src/main/resources/ui/src/utils/APIUtils.js
Due: lint-staged

Add mappings for table ES index ingestion (#5635)
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_constants.py
Due: none

Revamp ✨ : Request/update description should be created as a task #5321
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityThreadPanel/ActivityThreadPanelBody.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/rich-text-editor/RichTextEditor.tsx
  openmetadata-ui/src/main/resources/ui/src/hooks/useAfterMount.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskDetailPage/TaskDetailPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/TaskPage.styles.ts
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TaskPageLayout.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/x-master.css
Due: lint-staged

Fixed failing glossary cypress tests
  openmetadata-ui/src/main/resources/ui/src/pages/GlossaryPage/GlossaryPageV1.component.tsx
Due: lint-staged

[Backend][WebSocket] Add taskNotifications #5638[WIP for team assigned a task]
  catalog-rest-service/src/main/java/org/openmetadata/catalog/CatalogApplication.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/events/ChangeEventHandler.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/socket/SocketAddressFilter.java
  catalog-rest-service/src/main/java/org/openmetadata/catalog/socket/WebSocketManager.java
Due: google-style-java
