Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

Update Pom Version to 1.0.2.0
  common/pom.xml
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Due: none

Merge RestHighLevelClient configs
  openmetadata-service/src/main/java/org/openmetadata/service/util/ElasticSearchClientUtils.java
Due: google-style-java

fixed failing unit test and broken tour page
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Due: lint-staged

fixed broken tour
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Due: lint-staged

Change combined EncryptDecrypt methods to separate Encrypt and Decrpyt methods (#11755)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/IngestionPipelineRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/ServiceEntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/UserRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/WorkflowRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/automations/WorkflowResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ServiceEntityResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/UserResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManager.java
  openmetadata-service/src/main/java/org/openmetadata/service/secrets/SecretsManagerUpdateService.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/EntityResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DashboardServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/DatabaseServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/MetadataServiceResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/ExternalSecretsManagerTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/secrets/NoopSecretsManagerTest.java
Due: google-style-java

updated server binary file name
  docker/docker-compose-quickstart/Dockerfile
Due: none

Add Table Sample Data During Sample Data ingestion
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Due: none

reverted the version change back to 1.0.2
  common/pom.xml
  docker/docker-compose-quickstart/Dockerfile
  openmetadata-clients/openmetadata-java-client/pom.xml
  openmetadata-clients/pom.xml
  openmetadata-dist/pom.xml
  openmetadata-service/pom.xml
  openmetadata-spec/pom.xml
  openmetadata-ui/pom.xml
  pom.xml
Due: none

Fix circular Dependency python
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
  ingestion/src/metadata/ingestion/models/es_documents.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/tests/unit/data_insight/test_entity_report_processor.py
  ingestion/tests/unit/test_usage_filter.py
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/api/feed/createThread.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/mlmodel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/topic.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/thread.json
  openmetadata-spec/src/main/resources/json/schema/entity/policies/policy.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/messagingService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/mlmodelService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/storageService.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/role.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/team.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-spec/src/main/resources/json/schema/type/entityReferenceList.json
  openmetadata-spec/src/main/resources/json/schema/type/votes.json
Due: none

fix(ui): circular deps for entityReference.json
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/api/feed/createThread.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/mlmodel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/topic.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/thread.json
  openmetadata-spec/src/main/resources/json/schema/entity/policies/policy.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/messagingService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/mlmodelService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/storageService.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/role.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/team.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-spec/src/main/resources/json/schema/type/basic.json
  openmetadata-spec/src/main/resources/json/schema/type/entityReference.json
  openmetadata-spec/src/main/resources/json/schema/type/votes.json
Due: none

Fix #11572: Glue Support Partition Columns & Use Pydentic Models
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/models.py
Due: none

Cap Delta Spark version
  ingestion/setup.py
Due: none

Fix types
  ingestion/src/metadata/ingestion/source/database/glue/metadata.py
  ingestion/src/metadata/ingestion/source/database/glue/models.py
Due: none

make catalog id optional
  ingestion/src/metadata/ingestion/source/database/glue/models.py
Due: none

default table list
  ingestion/src/metadata/ingestion/source/database/glue/models.py
Due: none

refactor(ui): replace custom tabs component with ANTD component for dataset details page (#11751)
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/AppState.ts
  openmetadata-ui/src/main/resources/ui/src/components/ContainerVersion/ContainerVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardVersion/DashboardVersion.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataModelVersion/DataModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetVersion/DatasetVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelVersion/MlModelVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineVersion/PipelineVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TabsLabel/TabsLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TabsLabel/TabsLabel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TabsLabel/TabsLabel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicVersion/TopicVersion.component.tsx
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatasetDetailsPage/DatasetDetailsPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tour-page/TourPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Due: lint-staged

updated the doc release section
  openmetadata-docs/content/v1.0.0/releases/releases/index.md
  openmetadata-docs/content/v1.0.0/releases/releases/latest.md
Due: none

refactor: glossary and glossary terms form
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossary/AddGlossary.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/TagSuggestion.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

fix tests
  ingestion/tests/unit/topology/database/test_glue.py
Due: none

chore(ui): move form util types to separate interface file
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ConfigureService.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCommonFields.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTHttpConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTLocalConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/genericForm.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EditCustomLogoConfig/EditCustomLogoConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

fix: ui feedbacks
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBodyV1.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/ActivityFeed/ActivityFeedCard/FeedCardBody/FeedCardBodyV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/KPIChartV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataInsightDetail/TotalEntityInsightV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KPIWidget/KPIWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/KPIWidget/kpi-widget.less
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewAlert/WhatsNewAlert.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/WhatsNewModal/WhatsNewModal.styles.less
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/RightSidebar.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MyData/RightSidebar/right-sidebar.less
  openmetadata-ui/src/main/resources/ui/src/components/TotalDataAssetsWidget/total-data-assets.less
  openmetadata-ui/src/main/resources/ui/src/components/recently-viewed/RecentlyViewed.tsx
  openmetadata-ui/src/main/resources/ui/src/components/recently-viewed/recently-viewed.less
  openmetadata-ui/src/main/resources/ui/src/constants/constants.ts
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/pages/MyDataPage/MyDataPageV1.component.tsx
Due: lint-staged

fix: add missing localization
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
Due: none

refactor(ui): assets details page, replace custom tab with antd tabs
  openmetadata-ui/src/main/resources/ui/cypress/common/common.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Features/DataConsumerRole.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EditEntityLineage.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/DataQualityAndProfiler.spec.js
  openmetadata-ui/src/main/resources/ui/src/AppState.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/MlModelDetail/MlModelDetail.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TabsLabel/TabsLabel.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TabsLabel/TabsLabel.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TabsLabel/TabsLabel.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/pipeline.constants.ts
  openmetadata-ui/src/main/resources/ui/src/enums/entity.enum.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DashboardDetailsPage/DashboardDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/LineagePage/LineagePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/MlModelPage/MlModelPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TopicDetails/TopicDetailsPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/MlModelDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TopicDetailsUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/TourUtils.tsx
Due: lint-staged

refactor glossary term form
  openmetadata-ui/src/main/resources/ui/src/components/AddGlossaryTermForm/AddGlossaryTermForm.component.tsx
Due: lint-staged

fix(ui): circular deps for entityReference.json (#11760)
  ingestion/setup.py
  ingestion/src/metadata/data_insight/processor/entity_report_data_processor.py
  ingestion/src/metadata/ingestion/models/es_documents.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/tests/unit/data_insight/test_entity_report_processor.py
  ingestion/tests/unit/test_usage_filter.py
  openmetadata-spec/src/main/resources/json/schema/api/data/createQuery.json
  openmetadata-spec/src/main/resources/json/schema/api/feed/createThread.json
  openmetadata-spec/src/main/resources/json/schema/entity/classification/tag.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/chart.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/container.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboard.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/database.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/databaseSchema.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/glossaryTerm.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/mlmodel.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/pipeline.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/query.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/table.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/topic.json
  openmetadata-spec/src/main/resources/json/schema/entity/feed/thread.json
  openmetadata-spec/src/main/resources/json/schema/entity/policies/policy.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/databaseService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/messagingService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/metadataService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/mlmodelService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/pipelineService.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/storageService.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/role.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/team.json
  openmetadata-spec/src/main/resources/json/schema/entity/teams/user.json
  openmetadata-spec/src/main/resources/json/schema/tests/testSuite.json
  openmetadata-spec/src/main/resources/json/schema/type/entityReference.json
  openmetadata-spec/src/main/resources/json/schema/type/entityReferenceList.json
  openmetadata-spec/src/main/resources/json/schema/type/votes.json
Due: none

feat(ui): export modal for all the entities
  openmetadata-ui/src/main/resources/ui/src/App.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModelProvider.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Entity/EntityExportModalProvider/EntityExportModelProvider.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryV1.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonContentItem.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/ManageButtonContentItem/ManageButtonItemLabel.interface.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/entityPageInfo/ManageButton/ManageButton.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/rest/teamsAPI.ts
Due: lint-staged

address comments
  openmetadata-ui/src/main/resources/ui/src/components/AddIngestion/Steps/ConfigureIngestion.tsx
  openmetadata-ui/src/main/resources/ui/src/components/AddService/Steps/ConfigureService.tsx
  openmetadata-ui/src/main/resources/ui/src/components/CustomEntityDetail/AddCustomProperty/AddCustomProperty.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCloudConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTCommonFields.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTConfigFormBuilder.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTFormConstants.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTGCSConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTHttpConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTLocalConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DBTConfigFormBuilder/DBTS3Config.tsx
  openmetadata-ui/src/main/resources/ui/src/interface/FormUtils.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/EditCustomLogoConfig/EditCustomLogoConfig.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TagsPage/TagsForm.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DBTConfigFormUtil.ts
  openmetadata-ui/src/main/resources/ui/src/utils/formUtils.tsx
Due: lint-staged

Airflow lineage docs
  openmetadata-docs/content/v1.0.0/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.0.0/menu.md
  openmetadata-docs/content/v1.1.0-snapshot/connectors/pipeline/airflow/configuring-lineage.md
  openmetadata-docs/content/v1.1.0-snapshot/menu.md
Due: none

updated the doc release section (#11779)
  openmetadata-docs/content/v1.0.0/releases/releases/index.md
  openmetadata-docs/content/v1.0.0/releases/releases/latest.md
Due: none

fixed failed unit test and cypress test
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/postgres.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/AddNewService/redshiftWithDBT.spec.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Pages/EntityDetails.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DatasetDetails/DatasetDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ContainerPage/ContainerPage.test.tsx
Due: lint-staged

Add extension to OpenMetadata
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/extension/NoOpExtension.java
  openmetadata-service/src/main/java/org/openmetadata/service/extension/OpenMetadataExtension.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
  openmetadata-spec/src/main/resources/json/schema/configuration/extensionConfiguration.json
Due: google-style-java

Typo Comment
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Due: google-style-java

Add ES RestHighLevelClient TCP keep alive timeout (#11731)
  conf/openmetadata.yaml
  docker/openmetadata.yaml
  openmetadata-docs/content/v1.1.0-snapshot/deployment/kubernetes/index.md
  openmetadata-service/src/main/java/org/openmetadata/service/util/ElasticSearchClientUtils.java
  openmetadata-spec/src/main/resources/json/schema/configuration/elasticSearchConfiguration.json
Due: google-style-java

fix: upgrade software.amazon.awssdk:cloudwatch from 2.20.53 to 2.20.56 (#11698)
  openmetadata-service/pom.xml
Due: none

remove log
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
Due: google-style-java

Add extension to OpenMetadata (#11786)
  conf/openmetadata.yaml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplicationConfig.java
  openmetadata-service/src/main/java/org/openmetadata/service/extension/NoOpExtension.java
  openmetadata-service/src/main/java/org/openmetadata/service/extension/OpenMetadataExtension.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/CollectionRegistry.java
  openmetadata-spec/src/main/resources/json/schema/configuration/extensionConfiguration.json
Due: google-style-java

Remove Unnecessary fields from GET and DELETE (#11745)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/databases/TableResource.java
Due: google-style-java

Added Support for Slack Related Configuration , Added Slack Bot , Slack Installer and Slack Application Configuration
  openmetadata-service/pom.xml
  openmetadata-service/src/main/java/org/openmetadata/service/OpenMetadataApplication.java
  openmetadata-service/src/main/java/org/openmetadata/service/extension/NoOpExtension.java
  openmetadata-service/src/main/java/org/openmetadata/service/extension/OpenMetadataExtension.java
  openmetadata-service/src/main/java/org/openmetadata/service/fernet/Fernet.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/SystemRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
  openmetadata-spec/src/main/resources/json/schema/configuration/slackAppConfiguration.json
  openmetadata-spec/src/main/resources/json/schema/settings/settings.json
Due: google-style-java

comment
  openmetadata-service/src/main/java/org/openmetadata/service/resources/settings/SettingsCache.java
Due: google-style-java

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
