Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 21.12b0
    hooks:
      - id: black
        language_version: python3.8
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ingestion/src/metadata/generated
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^catalog-rest-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Add docs images
  openmetadata-docs/images/sdk/python/ingestion/lineage/lineage-col.png
  openmetadata-docs/images/sdk/python/ingestion/lineage/simple-lineage.png
Due: none

Fix param name for median test (#7942)
  ingestion/src/metadata/test_suite/validations/column/column_value_median_to_be_between.py
  ingestion/tests/unit/test_suite/test_validations.py
Due: none

Fix: connector for hive has double dash
  ingestion/src/metadata/utils/source_connections.py
  ingestion/tests/unit/test_source_connection.py
Due: none

Fix broken links
  openmetadata-docs/content/connectors/database/dynamodb/airflow.md
  openmetadata-docs/content/connectors/database/dynamodb/cli.md
  openmetadata-docs/content/connectors/database/singlestore/cli.md
  openmetadata-docs/content/connectors/index.md
  openmetadata-docs/content/connectors/pipeline/glue-pipeline/airflow.md
  openmetadata-docs/content/connectors/pipeline/glue-pipeline/cli.md
  openmetadata-docs/content/connectors/pipeline/glue-pipeline/index.md
  openmetadata-docs/content/deployment/upgrade/bare-metal.md
  openmetadata-docs/content/deployment/upgrade/versions/010-to-011.md
  openmetadata-docs/content/ingestion/workflows/metadata/dbt/index.md
  openmetadata-docs/content/sdk/java/index.md
  openmetadata-docs/content/sdk/python/build-connector/index.md
  openmetadata-docs/content/sdk/python/entities/index.md
  openmetadata-docs/content/sdk/python/index.md
  openmetadata-docs/images/deployment/security/google/ingestion-bot-edit.png
  openmetadata-docs/images/deployment/upgrade/elasticsearch-re-index.png
  openmetadata-docs/images/developers/contribute/build-code-and-run-tests/intellij-openmetadata-service.png
  openmetadata-docs/images/developers/contribute/build-code-and-run-tests/intellij-runtime-config.png
Due: none

Docs - Add lineage docs missing images (#7951)
  openmetadata-docs/images/sdk/python/ingestion/lineage/lineage-col.png
  openmetadata-docs/images/sdk/python/ingestion/lineage/simple-lineage.png
Due: none

Fixed pylint
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
Due: none

Fixed python formating
  ingestion/src/metadata/ingestion/lineage/parser.py
  ingestion/src/metadata/ingestion/lineage/sql_lineage.py
Due: none

Fix: connector for hive has double dash (#7953)
  ingestion/src/metadata/utils/source_connections.py
  ingestion/tests/unit/test_source_connection.py
Due: none

Add missing docs for Bots configuration
  .github/workflows/sync-docs.yml
  openmetadata-docs/content/deployment/security/auth0/bare-metal.md
  openmetadata-docs/content/deployment/security/auth0/docker.md
  openmetadata-docs/content/deployment/security/auth0/kubernetes.md
  openmetadata-docs/content/deployment/security/azure/bare-metal.md
  openmetadata-docs/content/deployment/security/azure/docker.md
  openmetadata-docs/content/deployment/security/azure/kubernetes.md
  openmetadata-docs/content/deployment/security/custom-oidc/bare-metal.md
  openmetadata-docs/content/deployment/security/custom-oidc/docker.md
  openmetadata-docs/content/deployment/security/custom-oidc/kubernetes.md
  openmetadata-docs/content/deployment/security/google/bare-metal.md
  openmetadata-docs/content/deployment/security/google/docker.md
  openmetadata-docs/content/deployment/security/google/kubernetes.md
  openmetadata-docs/content/deployment/security/keycloak/bare-metal.md
  openmetadata-docs/content/deployment/security/keycloak/docker.md
  openmetadata-docs/content/deployment/security/keycloak/kubernetes.md
  openmetadata-docs/content/deployment/security/okta/bare-metal.md
  openmetadata-docs/content/deployment/security/okta/docker.md
  openmetadata-docs/content/deployment/security/okta/kubernetes.md
  openmetadata-docs/content/deployment/security/one-login/bare-metal.md
  openmetadata-docs/content/deployment/security/one-login/docker.md
  openmetadata-docs/content/deployment/security/one-login/kubernetes.md
  openmetadata-docs/content/how-to-guides/feature-configurations/bots.md
  openmetadata-docs/content/how-to-guides/feature-configurations/index.md
  openmetadata-docs/content/menu.md
  openmetadata-docs/images/deployment/security/keycloak/click-bot.png
  openmetadata-docs/images/deployment/security/keycloak/configure-bot.png
  openmetadata-docs/images/how-to-guides/feature-configurations/bots/click-bot.png
  openmetadata-docs/images/how-to-guides/feature-configurations/bots/configure-bot.png
  openmetadata-docs/images/how-to-guides/feature-configurations/bots/select-google-sso.png
Due: none

added logic to clean up quotes from table constraints
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/test_helpers.py
Due: none

added logic to clean up quotes from table constraints (#7959)
  ingestion/src/metadata/ingestion/source/database/sql_column_handler.py
  ingestion/src/metadata/utils/helpers.py
  ingestion/tests/unit/test_helpers.py
Due: none

pylint on sink
  .pylintrc
  ingestion/src/metadata/ingestion/models/table_metadata.py
  ingestion/src/metadata/ingestion/sink/elasticsearch.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/dashboard_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/glossary_term_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/mlmodel_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/pipeline_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/table_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/tag_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/team_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/topic_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/elasticsearch_mapping/user_search_index_mapping.py
  ingestion/src/metadata/ingestion/sink/file.py
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
  ingestion/src/metadata/utils/constants.py
  ingestion/src/metadata/utils/helpers.py
Due: none

java checkstyle compliance changes
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
Due: google-style-java

Update IngestionPipelineResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/services/ingestionpipelines/IngestionPipelineResourceTest.java
Due: google-style-java

Fix config values
  openmetadata-docs/content/connectors/ingestion/workflows/profiler/metrics.md
Due: none

Fix Bullet point
  openmetadata-docs/content/connectors/index.md
Due: none

Fix Bullet point (#7966)
  openmetadata-docs/content/connectors/index.md
Due: none

Fix #7967: Entity timeseries table missing index on entityFQN causing slower queries
  bootstrap/sql/org.postgresql.Driver/v004__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v005__create_db_connection_info.sql
Due: none

Remove ellipses component
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/ProfilerDashboard/component/ProfilerTab.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TableProfiler/Component/ColumnProfileTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TeamDetails/TeamDetailsV1.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Users/Users.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/Ellipses/Ellipses.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/shared/ColumnDetail.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TestSuitePage/TestSuitePage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddUsersModal.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/AddUsersModalV1.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/teams/UserCard.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: lint-staged

Fix #7911 -- Trino profiler query (#7920)
  ingestion/src/metadata/orm_profiler/orm/functions/median.py
  ingestion/src/metadata/orm_profiler/orm/functions/modulo.py
Due: none

Revert to Sysout
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
Due: google-style-java

changes as per comments
  openmetadata-ui/src/main/resources/ui/src/components/EntityList/EntityList.tsx
  openmetadata-ui/src/main/resources/ui/src/components/app-bar/Appbar.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/tags/index.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
Due: lint-staged

Fix the changes for sql files
  bootstrap/sql/com.mysql.cj.jdbc.Driver/v005__create_db_connection_info.sql
  bootstrap/sql/org.postgresql.Driver/v004__create_db_connection_info.sql
Due: none

Removes support database for Trino Connection
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
Due: none

Fix for es-migrateoption failed with : org.jdbi.v3.core.extension.NoSuchExtensionException: Extension not found: interface org.openmetadata.service.jdbi3.CollectionDAO
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
Due: google-style-java

Fix UI : Dashboard request description form (#7889)
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/RequestDescriptionPage/RequestDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/TasksPage/UpdateDescriptionPage/UpdateDescriptionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Due: lint-staged

checkstyle fix
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
Due: google-style-java

[ESReindexing] Fixed slowness in ES write + added controlling params
  openmetadata-service/src/main/java/org/openmetadata/service/resources/elasticSearch/BuildSearchIndexResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/elasticSearch/BulkProcessorListener.java
  openmetadata-spec/src/main/resources/json/schema/api/createEventPublisherJob.json
Due: google-style-java

Added logic to set catalog or database attribute for connection if not already set
  ingestion/src/metadata/test_suite/api/workflow.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/database/trinoConnection.json
Due: none

migrate-all failure fix during script run
  openmetadata-service/src/main/java/org/openmetadata/service/util/TablesInitializer.java
Due: google-style-java

revert a space
  bootstrap/sql/org.postgresql.Driver/v004__create_db_connection_info.sql
Due: none

Add missing registration
  ingestion/src/metadata/ingestion/sink/metadata_rest.py
Due: none

Fix #7510 UI permission denied to edit lineage on Topics
  openmetadata-ui/src/main/resources/ui/cypress/constants/constants.js
  openmetadata-ui/src/main/resources/ui/cypress/e2e/Flow/EditEntityLineage.spec.js
  openmetadata-ui/src/main/resources/ui/src/components/DashboardDetails/DashboardDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/EntityLineage/EntityLineage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PipelineDetails/PipelineDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/TopicDetails/TopicDetails.component.tsx
Due: lint-staged

Removes support database for Trino Connection (#7973)
  ingestion/src/metadata/test_suite/api/workflow.py
Due: none
