Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
        exclude: vscode
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--settings-file", "ingestion/pyproject.toml" ]
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        files: ^(ingestion|openmetadata-airflow-apis)/
        args: [ "--config", "ingestion/pyproject.toml" ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: ^openmetadata-service/src/main/resources/json/schema/
  - repo: local
    hooks:
      - id: google-style-java
        name: Google Java Code Style for Java
        description: Formats code in Google's Java codestyle with 120 line length.
        entry: scripts/format-code.sh
        language: script
        files: \.java$
        require_serial: true
  - repo: local
    hooks:
      - id: lint-staged
        name: lint-staged
        description: Formats TS and JS code.
        entry: scripts/lint-staged.sh
        language: script
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

Npm cache update
  .github/workflows/yarn-coverage.yml
Due: none

handle variable not set
  ingestion/src/airflow_provider_openmetadata/lineage/config/loader.py
Due: none

Lint fixes
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
Due: none

added content for docs in md files
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/auth0.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/aws-cognito.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/azure.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/ldap.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/okta.md
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/SSO/saml.md
Due: none

Seperate path for rdf config which doesnt need auth
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-ui/src/main/resources/ui/src/rest/settingConfigAPI.ts
Due: google-style-java, lint-staged

unskip: Profiler matrix playwright test (#22990)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataQualityAndProfiler.spec.ts
Due: lint-staged

Fix incorrect condition in getDomains() method (#22983)
  openmetadata-service/src/main/java/org/openmetadata/service/security/policyevaluator/CreateResourceContext.java
Due: google-style-java

implement new design
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/ProviderSelector.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/ProviderSelector.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSODocPanel.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSODocPanel.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOGroupedFieldTemplate.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOGroupedFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOObjectFieldTemplate.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOObjectFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SettingsSso.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SettingsSso.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/RichTextEditor/CustomHtmlRederer/CustomHtmlRederer.tsx
  openmetadata-ui/src/main/resources/ui/src/constants/SSO.constant.ts
Due: lint-staged

Added support for sources key metadata fetch in dbt
  ingestion/src/metadata/ingestion/source/database/dbt/constants.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/test_dbt.py
Due: none

Update updateFrom and updateTo relationship to be able to just delete a relationship if we update it to null
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
Due: google-style-java

Seperate path for rdf config which doesnt need auth (#22995)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/main/java/org/openmetadata/service/security/JwtFilter.java
  openmetadata-ui/src/main/resources/ui/src/rest/settingConfigAPI.ts
Due: google-style-java, lint-staged

Upgrade @windmillcode/quill-emoji
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

Remove configuration for APIs for auth or authorizer
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/ConfigResourceTest.java
Due: google-style-java

Node upgrade (#23000)
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

form style updates
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOConfigurationForm.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOGroupedFieldTemplate.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SSOObjectFieldTemplate.less
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/SsoConfigurationFormArrayFieldTemplate.tsx
  openmetadata-ui/src/main/resources/ui/src/components/SettingsSso/sso-configuration-form-array-field-template.less
  openmetadata-ui/src/main/resources/ui/src/styles/variables.less
Due: lint-staged

add: migration files for separate tags and terms
  openmetadata-service/src/main/java/org/openmetadata/service/migration/mysql/v193/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/postgres/v193/Migration.java
  openmetadata-service/src/main/java/org/openmetadata/service/migration/utils/v193/MigrationUtil.java
Due: google-style-java

Remove configuration for APIs for auth or authorizer (#23001)
  openmetadata-service/src/main/java/org/openmetadata/service/resources/system/ConfigResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/system/ConfigResourceTest.java
Due: google-style-java

Fix Soft Deleted Table don't shows the Columns Data (#22991)
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResourceTest.java
Due: google-style-java

Fix pagination for Persona listing (#22975)
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Persona/PersonaListPage/PersonaPage.tsx
Due: lint-staged

Fixes #22112: Snowflake schema tags inheritance (#22979)
  ingestion/src/metadata/ingestion/source/database/snowflake/constants.py
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
  ingestion/src/metadata/ingestion/source/database/snowflake/queries.py
  ingestion/tests/unit/topology/database/test_snowflake.py
Due: none

Cherry pick - Fix Soft Deleted Table don't shows the Columns Data
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/DashboardDataModelRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/databases/TableResourceTest.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/datamodels/DashboardDataModelResourceTest.java
Due: google-style-java

Cleanup: remove unused documentation workflows and scripts
  .github/labeler.yml
  .github/workflows/docs-tests.yml
  .github/workflows/playwright-integration-tests-mysql.yml
  .github/workflows/playwright-integration-tests-postgres.yml
  .github/workflows/playwright-mysql-e2e-skip.yml
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e-skip.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/sync-docs-v1.yml
  Makefile
  ingestion/README.md
  ingestion/src/metadata/profiler/README.md
  ingestion/src/metadata/workflow/README.md
  openmetadata-docs/content/v1.10.x-SNAPSHOT/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.10.x-SNAPSHOT/developers/contribute/developing-a-new-connector/update-documentation.md
  openmetadata-docs/content/v1.10.x-SNAPSHOT/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.8.x/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.8.x/getting-started/day-1/hybrid-saas/index.md
  openmetadata-docs/content/v1.9.x/deployment/ingestion/external/index.md
  openmetadata-docs/content/v1.9.x/developers/contribute/developing-a-new-connector/update-documentation.md
  openmetadata-docs/content/v1.9.x/getting-started/day-1/hybrid-saas/index.md
  scripts/generate_docs_schemas.py
  scripts/prepare_new_docs.sh
Due: none

pyformat
  ingestion/src/airflow_provider_openmetadata/lineage/config/loader.py
Due: none

Minor: Add workflow_dispatch option in yarn-coverage.yml workflow
  .github/workflows/yarn-coverage.yml
Due: none

fix(ui): UI lag when viewing kafka topics with large nested schemas (#22988)
  openmetadata-ui/src/main/resources/ui/src/components/Topic/TopicSchema/TopicSchema.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.test.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/TableUtils.tsx
Due: lint-staged

Add search endpoint to support glossary term search
  bootstrap/sql/migrations/native/1.9.3/mysql/schemaChanges.sql
  bootstrap/sql/migrations/native/1.9.3/postgres/schemaChanges.sql
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/GlossaryTermRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/glossary/GlossaryTermResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/glossary/GlossaryTermResourceTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/GlossaryPagination.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTermTab/GlossaryTermTab.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/glossaryV1.less
  openmetadata-ui/src/main/resources/ui/src/rest/glossaryAPI.ts
Due: google-style-java, lint-staged

Add search endpoint to support glossary term search
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/useGlossary.store.ts
Due: lint-staged

Add node setup in workflow instead of relying on runners default node
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/yarn-coverage.yml
Due: none

Node upgrade (#23006)
  .github/workflows/playwright-mysql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/yarn-coverage.yml
Due: none

address comments
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Due: none

Minor: Add workflow_dispatch option in yarn-coverage.yml workflow (#23004)
  .github/workflows/yarn-coverage.yml
Due: none
