Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 120 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

ci(playwright): run the postgres E2E suite on same-repo PRs to 1.13
  .github/workflows/playwright-postgresql-e2e.yml
Due: none

fix(ui): stop glossary left panel duplicating the last page
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryMiscOperations.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.test.tsx
Due: lint-staged

fix(ui): Data Product domain widget shows singular "Domain" label
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductDomainWidget/DataProductDomainWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataProducts/DataProductDomainWidget/DataProductDomainWidget.tsx
Due: lint-staged

fix(playwright): use url predicate in visitClassificationPage to avoid flaky glob matching
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Due: lint-staged

fix(playwright): encode classificationName in waitForResponse predicate
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Due: lint-staged

fix(tests): stop the Glue pipeline unit test calling the real AWS API (#30952)
  ingestion/tests/unit/topology/pipeline/test_gluepipeline.py
Due: none

fix(security): allow pip 26.x patch releases instead of pinning 26.2 exactly
  ingestion/Dockerfile
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile
  ingestion/operators/docker/Dockerfile.ci
Due: none

fix(ingestion): decode Kafka sample data per topic and exclude internal topics (#30897)
  ingestion/src/metadata/ingestion/source/messaging/common_broker_source.py
  ingestion/src/metadata/ingestion/source/messaging/kafka/connection.py
  ingestion/src/metadata/ingestion/source/messaging/redpanda/connection.py
  ingestion/tests/unit/source/messaging/kafka/test_connection.py
  ingestion/tests/unit/source/messaging/test_common_broker_source.py
  ingestion/tests/unit/test_ssl_manager.py
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/kafkaConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/messaging/redpandaConnection.json
Due: none

Fixes 30715: reject bodiless clauses in persona AI context rule filters (#30716)
  openmetadata-service/src/main/java/org/openmetadata/service/aicontext/PersonaContextBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/aicontext/PersonaContextBuilderTest.java
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/PersonaAIContext.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Persona/PersonaAIContext/ContextRuleEditor/ContextRuleEditor.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Persona/PersonaAIContext/ContextRuleEditor/RuleQueryBuilderField.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/QueryBuilderWidgetV1/QueryBuilderWidgetV1.tsx
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ar-sa.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/de-de.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/en-us.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/es-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/fr-fr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/gl-es.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/he-he.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ja-jp.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ko-kr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/mr-in.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/nl-nl.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pr-pr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-br.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/pt-pt.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/ru-ru.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/sv-se.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/th-th.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/tr-tr.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-cn.json
  openmetadata-ui/src/main/resources/ui/src/locale/languages/zh-tw.json
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderElasticsearchFormatUtils.js
  openmetadata-ui/src/main/resources/ui/src/utils/QueryBuilderElasticsearchFormatUtils.test.js
Due: google-style-java, lint-staged

Suppress basedpyright errors surfaced by the reworked get_dataset_obj
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
Due: none

fix(app): move initCoreI18n call out of LocalUtil.tsx to unblock Playwright plan
  openmetadata-ui/src/main/resources/ui/src/index.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/i18next/LocalUtil.tsx
Due: lint-staged

chore(ui): remove four unreferenced modules (263 lines)
  openmetadata-ui/src/main/resources/ui/src/rest/queries/glossaryQuery.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeaderExtraInfo.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/DataAssetsHeaderTypeUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/EntityTagUtils.ts
Due: lint-staged

fix(search): scope the KNN leg by dataProducts (#30962)
  openmetadata-service/src/main/java/org/openmetadata/service/search/vector/VectorSearchQueryBuilder.java
  openmetadata-service/src/test/java/org/openmetadata/service/search/vector/VectorSearchQueryBuilderTest.java
Due: google-style-java

perf(ui): memoize handleSave so DataAssetRules columns memo is effective
  openmetadata-ui/src/main/resources/ui/src/components/DataAssetRules/DataAssetRules.component.tsx
Due: lint-staged

fix(ui): bound data dimension card widths
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/StatusByDimensionCardWidget/StatusByDimensionCardWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/StatusByDimensionCardWidget/StatusByDimensionCardWidget.test.tsx
Due: lint-staged

fix(ui): stop glossary left panel duplicating the last page (#30975)
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryMiscOperations.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/common.ts
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/Glossary/GlossaryPage/GlossaryPage.test.tsx
Due: lint-staged

perf(ui-build): cache openmetadata-ui dist across workflows (#30700)
  .github/actions/cache-ui-dist/action.yml
  .github/workflows/docker-openmetadata-server.yml
  .github/workflows/java-playwright-nightly.yml
  .github/workflows/maven-sonar-build.yml
  .github/workflows/playwright-knowledge-graph-postgresql-e2e.yml
  .github/workflows/playwright-postgresql-e2e.yml
  .github/workflows/security-scan.yml
  openmetadata-ui-core-components/pom.xml
  openmetadata-ui/pom.xml
  openmetadata-ui/src/main/resources/ui/vite.config.ts
Due: lint-staged

Fixes #29629: Add Omni dashboard connector (#29630)
  ingestion/.basedpyright/baseline.json
  ingestion/src/metadata/examples/workflows/omni.yaml
  ingestion/src/metadata/ingestion/source/dashboard/omni/__init__.py
  ingestion/src/metadata/ingestion/source/dashboard/omni/client.py
  ingestion/src/metadata/ingestion/source/dashboard/omni/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/omni/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/omni/models.py
  ingestion/src/metadata/ingestion/source/dashboard/omni/service_spec.py
  ingestion/tests/unit/topology/dashboard/test_omni.py
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/omni.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/omniConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/Omni.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-omni.webp
  openmetadata-ui/src/main/resources/ui/src/constants/ServiceType.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/chart.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboard.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/omniConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/serviceProgressEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceIconUtils.ts
Due: lint-staged

fix(snowflake): correct _semantic_rows return type for static checks (#23680)
  ingestion/src/metadata/ingestion/source/database/snowflake/metadata.py
Due: none

fix checkstyle
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Services/Services.tsx
Due: lint-staged

Fixes 30868: stop Auto Classification tagging plain code columns as PII (#30869)
  bootstrap/sql/migrations/native/2.0.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/2.0.0/postgres/postDataMigrationSQLScript.sql
  ingestion/src/metadata/pii/algorithms/presidio_utils.py
  ingestion/tests/unit/pii/algorithms/test_presidio_utils.py
  openmetadata-service/src/main/resources/json/data/tags/piiTagsWithRecognizers.json
Due: none

Fixes #29629: Add Omni dashboard connector (#29630) (#31005)
  ingestion/.basedpyright/baseline.json
  ingestion/src/metadata/examples/workflows/omni.yaml
  ingestion/src/metadata/ingestion/source/dashboard/omni/__init__.py
  ingestion/src/metadata/ingestion/source/dashboard/omni/client.py
  ingestion/src/metadata/ingestion/source/dashboard/omni/connection.py
  ingestion/src/metadata/ingestion/source/dashboard/omni/metadata.py
  ingestion/src/metadata/ingestion/source/dashboard/omni/models.py
  ingestion/src/metadata/ingestion/source/dashboard/omni/service_spec.py
  ingestion/tests/unit/topology/dashboard/test_omni.py
  openmetadata-service/src/main/resources/json/data/testConnections/dashboard/omni.json
  openmetadata-spec/src/main/resources/json/schema/entity/data/dashboardDataModel.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/connections/dashboard/omniConnection.json
  openmetadata-spec/src/main/resources/json/schema/entity/services/dashboardService.json
  openmetadata-ui/src/main/resources/ui/public/locales/en-US/Dashboard/Omni.md
  openmetadata-ui/src/main/resources/ui/src/assets/img/service-icon-omni.webp
  openmetadata-ui/src/main/resources/ui/src/constants/ServiceType.constant.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/automations/createWorkflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/data/createDashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/createDashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/api/services/ingestionPipelines/createIngestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/testServiceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/automations/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/chart.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboard.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/data/dashboardDataModel.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/dashboard/omniConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/connections/serviceConnection.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/dashboardService.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/ingestionPipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/entity/services/ingestionPipelines/serviceProgressEvent.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/testSuitePipeline.ts
  openmetadata-ui/src/main/resources/ui/src/generated/metadataIngestion/workflow.ts
  openmetadata-ui/src/main/resources/ui/src/utils/DashboardServiceUtils.ts
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceIconUtils.ts
Due: lint-staged

fix(playwright): use url predicate instead of glob in visitClassificationPage (#30988)
  openmetadata-ui/src/main/resources/ui/playwright/utils/tag.ts
Due: lint-staged

fix playwright
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataMarketplace.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/IntakeForm.spec.ts
Due: lint-staged

fix(ingestion): resolve Airbyte source/destination config from public API for lineage (#30426)
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/constants.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/models.py
  ingestion/src/metadata/ingestion/source/pipeline/airbyte/utils.py
  ingestion/tests/unit/topology/pipeline/test_airbyte.py
Due: none

Fixes #30545: stop addDataModel from wiping asset certification
  openmetadata-integration-tests/src/test/java/org/openmetadata/it/tests/TableDataModelCertificationIT.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TableRepository.java
Due: google-style-java

Read the BigQuery object caches in a single locked operation
  ingestion/src/metadata/ingestion/source/database/bigquery/metadata.py
  ingestion/tests/unit/topology/database/test_bigquery.py
Due: none

fix(dbt): handle nanosecond-precision timestamps from dbt-fusion in test results (#30481)
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/tests/unit/test_dbt.py
Due: none

fix(playwright): burn down no-positional-locator batch 2b (31 files, 100 sites)
  openmetadata-ui/src/main/resources/ui/eslint-suppressions.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/DataProductPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/DomainPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Permissions/GlossaryPermissions.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/QueryEntity.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SampleDataTableOperations.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/SearchExport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Tasks.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Tasks/ActivityFeed.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Tasks/TaskAssigneeManagement.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Tasks/TaskResolution.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuiteMultiPipeline.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/TestSuitePipelineRedeploy.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Topic.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/ConnectionConfigLayout.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/PersonaFlow.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Flow/SchemaTable.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/AppRunsHistoryLogs.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/CSVImportWithQuotesAndCommas.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ClassificationConditionalRendering.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/CustomProperties.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataContractInheritance.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataMarketplace.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProductAndSubdomains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DataProducts.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/DomainAdvanced.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Domains.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreBrowse.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ExploreTree.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/GlossaryFormValidation.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/GlossaryImportExport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/GlossaryTermRelationSettings.spec.ts
Due: lint-staged

fix(ui): stop Playwright importing app code from src/
  openmetadata-ui/src/main/resources/ui/eslint.config.mjs
  openmetadata-ui/src/main/resources/ui/playwright/constant/dataQualityPermissions.ts
  openmetadata-ui/src/main/resources/ui/playwright/constant/permission.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/DataObservabilityGovernanceTab.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/DataQuality/DataQualityDashboard.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/incidentManager.ts
Due: lint-staged

Fixes #31009: make the related-terms "+N" badge expandable
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Features/Glossary/GlossaryTermRelatedTerms.spec.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/RelatedTerms.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/RelatedTerms.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/GlossaryTerms/tabs/RelatedTerms.tsx
Due: lint-staged

fix(dar): keep expirationDate as JSON-schema type=number
  openmetadata-service/src/main/resources/json/data/taskFormSchemas/DataAccessRequest.json
Due: none

chore(deps): fix UI dependency vulnerabilities (socket.io-parser, postcss, undici) (#30970)
  openmetadata-ui-core-components/src/main/resources/ui/package.json
  openmetadata-ui-core-components/src/main/resources/ui/yarn.lock
  openmetadata-ui/src/main/resources/ui/package.json
  openmetadata-ui/src/main/resources/ui/yarn.lock
Due: none

fix(playwright): fix flaky resetTokenFromBotPage due to non-waiting isVisible() check
  openmetadata-ui/src/main/resources/ui/playwright/utils/bot.ts
Due: lint-staged

Preserve the ERROR-level usage log and add service and query-source context
  ingestion/src/metadata/ingestion/source/database/postgres/usage.py
Due: none

fix(ui): include domainLabel in DomainLabelV2 memo deps
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataAssets/DomainLabelV2/DomainLabelV2.tsx
Due: lint-staged

fix(ingestion): accept an absent processor block on the whole classification path
  ingestion/src/metadata/profiler/api/models.py
  ingestion/src/metadata/profiler/source/database/base/profiler_source.py
  ingestion/src/metadata/sampler/processor.py
  ingestion/src/metadata/workflow/ingestion.py
  ingestion/tests/unit/sampler/test_sampler_processor_config.py
Due: none

Use bind parameters for the policy query to address review
  ingestion/src/metadata/ingestion/source/database/postgres/metadata.py
  ingestion/src/metadata/ingestion/source/database/postgres/queries.py
  ingestion/tests/integration/postgres/test_information_schema_privileges.py
Due: none

fix(security): bump datamodel-code-generator to 0.64.0
  ingestion/Dockerfile.ci
  ingestion/operators/docker/Dockerfile.ci
  ingestion/setup.py
  ingestion/src/metadata/ingestion/connections/builders.py
  scripts/datamodel_generation.py
Due: none

fix(playwright): burn down no-positional-locator batch 2c (30 files, 85 sites)
  openmetadata-ui/src/main/resources/ui/eslint-suppressions.json
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Lineage/LineageInteraction.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LiveIndexingTab.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/LogsViewer.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ODCSImportExport.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/ProfilerConfigurationPage.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Roles.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchIndexApplication.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/SearchSettings.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Tag.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Search/SearchRelevance.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/nightly/ContextCenter.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/e2e/nightly/ServiceIngestion.spec.ts
  openmetadata-ui/src/main/resources/ui/playwright/support/user/UserClass.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/activityFeed.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/addTestCaseList.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customPropertyAdvancedSearchUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/customizeNavigation.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/domain.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/entityPanel.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/logsViewer.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/metric.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/navbar.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/observabilityAlert.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/serviceFormUtils.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/sidebar.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/sso-providers/keycloak-saml.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/task.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/team.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/user.ts
  openmetadata-ui/src/main/resources/ui/playwright/utils/userDetails.ts
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
