Repository open-metadata/OpenMetadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, lint-staged

google-style-java:
  name: Google Java Code Style for Java
  description: Formats code in Google's Java codestyle with 100 line length.
  entry: scripts/format-code.sh
  language: script
  require_serial: true

lint-staged:
  name: lint-staged
  description: Formats TS and JS code.
  entry: scripts/lint-staged.sh
  language: script
  require_serial: true

[GEN-970] feat(data-quality): support multiple runtime parameter types (#18588)
  ingestion/src/metadata/data_quality/builders/i_validator_builder.py
  ingestion/src/metadata/data_quality/interface/test_suite_interface.py
  ingestion/src/metadata/data_quality/validations/base_test_handler.py
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/param_setter_factory.py
  ingestion/src/metadata/data_quality/validations/table/sqlalchemy/tableDiff.py
Due: none

minor fix
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/IncidentTypeAreaChartWidget/IncidentTypeAreaChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/StatusByDimensionCardWidget/StatusByDimensionCardWidget.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/TestCaseStatusAreaChartWidget/TestCaseStatusAreaChartWidget.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/IncidentManager/IncidentManagerDetailPage/IncidentManagerDetailPage.test.tsx
Due: lint-staged

format
  ingestion/src/metadata/data_quality/builders/i_validator_builder.py
Due: none

updated icon
  openmetadata-ui/src/main/resources/ui/src/assets/svg/incident-icon.svg
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TableProfiler/ProfilerClassBase.ts
Due: lint-staged

update tests
  openmetadata-ui/src/main/resources/ui/playwright/e2e/Pages/Glossary.spec.ts
Due: lint-staged

minor: improve rule card actions dropdown
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
Due: lint-staged

shown NoDataPlaceholder if no search result found in glossary
  openmetadata-ui/src/main/resources/ui/src/assets/svg/data-type-icon/string.svg
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Due: lint-staged

minor label change
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Due: lint-staged

fix: modify fqn to allow quotes with dots
  ingestion/src/metadata/ingestion/source/database/sample_data.py
  ingestion/tests/unit/test_fqn.py
  openmetadata-spec/src/main/antlr4/org/openmetadata/schema/Fqn.g4
Due: none

added loader, while search response pending
  openmetadata-ui/src/main/resources/ui/src/components/common/AsyncSelectList/TreeAsyncSelectList.tsx
Due: lint-staged

fix: lint
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Due: none

feat: edit display name
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/Database/DatabaseSchema/DatabaseSchemaTable/DatabaseSchemaTable.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Modals/EntityNameModal/EntityNameModal.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.test.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/DisplayName/DisplayName.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseSchemaPage/SchemaTablesTab.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/DatabaseVersionPage/DatabaseVersionPage.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceDetailsPage/ServiceMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/ServiceVersionPage/ServiceVersionMainTabContent.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/ServiceMainTabContentUtils.tsx
Due: lint-staged

MINOR - Fix import
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/param_setter_factory.py
Due: none

fixed failing unit test
  openmetadata-ui/src/main/resources/ui/src/components/DataQuality/ChartWidgets/TestCaseStatusAreaChartWidget/TestCaseStatusAreaChartWidget.test.tsx
Due: lint-staged

fix: test case reindex performance
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestCaseRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TestSuiteRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/search/indexes/TestCaseResultIndex.java
Due: google-style-java

TEST - Add autoClassification for e2e
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/param_setter_factory.py
  ingestion/tests/cli_e2e/base/config_builders/builders.py
  ingestion/tests/cli_e2e/base/e2e_types.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
Due: none

Fixed: GEN-1984 Hide Support field from service form
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Due: lint-staged

minor: improve rule card actions dropdown (#18717)
  openmetadata-ui/src/main/resources/ui/src/pages/PoliciesPage/PoliciesDetailPage/PoliciesDetailPage.tsx
Due: lint-staged

Docs: Airflow Doc Updation
  openmetadata-docs/content/v1.5.x/deployment/ingestion/external/airflow.md
  openmetadata-docs/content/v1.5.x/deployment/ingestion/openmetadata.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/ingestion/external/airflow.md
  openmetadata-docs/content/v1.6.x-SNAPSHOT/deployment/ingestion/openmetadata.md
Due: none

fix: remove callback url from the config.
  openmetadata-spec/src/main/resources/json/schema/configuration/slackAppConfiguration.json
Due: none

ui: improve the import page layout
  openmetadata-ui/src/main/resources/ui/src/components/BulkImport/BulkEntityImport.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Glossary/ImportGlossary/import-glossary.less
Due: lint-staged

MINOR - Fix import (#18721)
  ingestion/src/metadata/data_quality/validations/runtime_param_setter/param_setter_factory.py
Due: none

fix the switch placement and added beta tag
  openmetadata-ui/src/main/resources/ui/src/components/PageHeader/PageHeader.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/PageHeader/PageHeader.interface.ts
  openmetadata-ui/src/main/resources/ui/src/pages/SearchRBACSettingsPage/SearchRBACSettingsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/styles/app.less
  openmetadata-ui/src/main/resources/ui/src/styles/spacing.less
Due: lint-staged

Update airflow.md
  openmetadata-docs/content/v1.5.x/deployment/ingestion/external/airflow.md
Due: none

Fixed: GEN-1984 Hide Support field from service form (#18724)
  openmetadata-ui/src/main/resources/ui/src/constants/Services.constant.ts
Due: lint-staged

no render of schedule for noSchedule type
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Settings/Applications/AppDetails/AppDetails.test.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.component.tsx
  openmetadata-ui/src/main/resources/ui/src/pages/AppInstall/AppInstall.test.tsx
Due: lint-staged

Docs: Private key note added
  openmetadata-docs/content/v1.5.x/deployment/security/saml/index.md
Due: none

supported wildcard search in global search
  openmetadata-ui/src/main/resources/ui/src/components/AppBar/Suggestions.tsx
Due: lint-staged

fix: Migrations and add ScheduleType.NoSchedule
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
  openmetadata-service/src/main/java/org/openmetadata/service/resources/apps/AppResource.java
Due: google-style-java

Improvement : Teams api to update and remove users
  openmetadata-service/src/main/java/org/openmetadata/service/exception/CatalogExceptionMessage.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/CollectionDAO.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/EntityRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/jdbi3/TeamRepository.java
  openmetadata-service/src/main/java/org/openmetadata/service/resources/teams/TeamResource.java
  openmetadata-service/src/test/java/org/openmetadata/service/resources/teams/TeamResourceTest.java
Due: google-style-java

fix: Migrations
  bootstrap/sql/migrations/native/1.6.0/mysql/postDataMigrationSQLScript.sql
  bootstrap/sql/migrations/native/1.6.0/postgres/postDataMigrationSQLScript.sql
Due: none

ui: add async import support for teams and users
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/EntityImport.component.tsx
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/EntityImport.interface.ts
  openmetadata-ui/src/main/resources/ui/src/components/common/EntityImport/entity-import.style.less
  openmetadata-ui/src/main/resources/ui/src/pages/TeamsPage/ImportTeamsPage/ImportTeamsPage.tsx
  openmetadata-ui/src/main/resources/ui/src/rest/teamsAPI.ts
Due: lint-staged

fix: modify sample_data
  ingestion/examples/sample_data/looker/dashboardDataModels.json
  ingestion/src/metadata/ingestion/source/database/sample_data.py
Due: none

TEST - Add autoClassification for e2e (#18722)
  ingestion/tests/cli_e2e/base/config_builders/builders.py
  ingestion/tests/cli_e2e/base/e2e_types.py
  ingestion/tests/cli_e2e/base/test_cli_db.py
  ingestion/tests/cli_e2e/common/test_cli_db.py
Due: none

add dbt freshness check
  ingestion/src/metadata/ingestion/source/database/dbt/constants.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
  ingestion/src/metadata/ingestion/source/database/dbt/models.py
  ingestion/tests/unit/test_dbt.py
  openmetadata-spec/src/main/resources/json/schema/metadataIngestion/dbtconfig/dbtLocalConfig.json
Due: none

docs
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Due: none

run linting
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_config.py
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_service.py
  ingestion/src/metadata/ingestion/source/database/dbt/metadata.py
Due: none

add test case param definition
  ingestion/src/metadata/ingestion/source/database/dbt/dbt_utils.py
Due: none

Fix: time series of conversion of y-Axis in test case graph
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummary/TestSummaryGraph.tsx
  openmetadata-ui/src/main/resources/ui/src/components/Database/Profiler/TestSummaryCustomTooltip/TestSummaryCustomTooltip.component.tsx
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.test.ts
  openmetadata-ui/src/main/resources/ui/src/utils/CommonUtils.tsx
Due: lint-staged

Path conditions:
  google-style-java: any of: \.java$
  lint-staged: any of: \.(js|jsx|ts|tsx)$
